// EVENTS 1

.c-content-events-1{

	.c-content-events-1-item{
		background-color:transparent;

		&.c-events-1-featured{
			background-color: #fff;
			box-shadow: 0 0 30px 0 #eee;
			padding:40px 35px;
			border-radius: 15px;

			>.c-content-events-1-content-container{

				>.c-content-events-1-link{
					font-size: 12px;
					font-weight: 600;
					color:#fff;
					padding: 15px 30px;
				}
			}
		}

		>.c-content-events-1-img-container{
			margin: 0 0 30px 0;
			
			>.c-content-events-1-img{
				width:100%;
				height: auto;
			}
		}

		>.c-content-events-1-content-container{

			>.c-content-events-1-cat{
				color:#aaa;
				font-size: 15px;
				font-weight: 300;
				margin:0 0 20px 0;
			}

			>.c-content-events-1-title{
				font-size: 20px;
				color:#181816;
				letter-spacing: 0.5px;
				font-weight: 500;
				margin: 0 0 30px 0;
			}

			>.c-content-events-1-desc{
				font-weight: 300;
				color:#7c8387;
				letter-spacing: 0.5px;
				line-height: 1.7em;
				margin: 0 0 35px 0;
			}

			>.c-content-events-1-link{
				color:#6aaaf4;
				font-weight: 400;

				&:hover{
					border-bottom: 1px solid #eee;
				}
			}

			>.c-content-events-1-list{
				line-height: 1.7em;
				margin: -10px 0 30px 0;
				padding-left:1.3em;

				>.c-content-events-1-list-item{
					list-style-type: disc;
					color:#428de4;

					> span{
						color:#7c8387;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) { /* 991px */
	.c-content-events-1{
		.c-content-events-1-item{
			margin-bottom: 40px;

			&.c-events-1-featured{
				margin-bottom: 0;
			}
		}
	}
}