{% extends 'base_approvals.html' %}{% load i18n %}

{% block title %}طلبات الأنشطة{% endblock %}

{% block content %}
  <div class="panel panel-default panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->
    <!-- panel head -->
    <div class="panel-heading">
      <div class="panel-title">{% trans "طلبات الأنشطة" %}</div>
    </div>

    <table class="table">
      <tbody>
        {% for thread in request_threads %}
          <tr>
            <td><a href="{% url 'approvals:requestthread-detail' thread.id %}">{{ thread.name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}