{% extends 'academy/base.html' %}{% load staticfiles %}
{% block title %}عن الأكاديمية{% endblock %}
{% block content %}

<div class="container" align="right">
    <div id="header">
        <h2>عن الأكاديمية وأسئلة شائعة</h2>
    </div>
        <h4>أسئلة شائعة</h4>
        <ul>
            <li>متى تأسست الأكاديمية؟ ولماذا؟ </li>
            تأسست الأكاديمية في العام الدراسي ٢٠١٥-٢٠١٦، كتلبية لحاجة النادي لطلاب وطالبات مهرة في مجالات تقنيّة مختلفة، بدأت الدورة بدورتي التصميم والبرمجة، ثم توسّعت في الأعوام التالية لتقدم ٦ دورات مختلفة. تهدف الأكاديميّة لتمكين الطلاب والطالبات وتنمية مهاراتهم، ثم استثمارها في مشاريع حقيقية داخل نادي الطلاب والجامعة وخارجها.
            <li>من يقدم هذه الدورات التي تطرحها الأكاديميّة؟</li>
            <li>من يمكنه التسجيل بالدورات التي تقدمها الأكاديميّة؟</li>
            يمكن لجميع طلاب وطالبات الجامعة التسجيل في الدورات.
            <li>متى يمكن التسجيل في الدورات؟</li>
            تطرح كل دورة مواعيد التسجيل بشكل مستقل عن الدورات الأخرى، لاختلاف مدّة الدورات والتنسيق المطلوب لإقامتها. لذا فكل دورة لها مواعيد مختلفة يمكن من خلالها التسجيل فيها، يمكن متابعة حساب نادي الطلاب عبر تويتر وتيليغرام لمعرفة مواعيد التسجيل في كل دورة.
            <li>كيف يمكنني التسجيل في الدورات؟ </li>
            يمكن التسجيل عن طريق رابط التسجيل لكل دورة في صفحة الأكاديمية في إنجاز.
            <li>كيف يمكنني التعرف على محتوى الدورة؟ </li>
            هناك ملف مفصّل لمحتويات كل دورة، يمكن تحميله عن طريق صفحات الدورات والتعرف أكثر على كل دورة.
            <li>هل هناك تكاليف للتسجيل في الدورات؟</li>
            لا! تقدم جميع الدورات بالمجّان وبدون تكاليف.
            <li>هل هناك وسيلة للتواصل معكم؟</li>
            نعم، يمكنك التواصل معنا عبر البريد الالكتروني، وكذلك عبر تطبيق تيليغرام.
        </ul>
</div>
{% endblock %}