<div class="container">
                    <div class="row text-center">
                        <div class="col-md">
                        <div class="counter">
                  <i class="fa fa-graduation-cap fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="31" data-speed="1500"></h2>
                   <p class="count-text ">عدد الخريجين والخريجات</p>
                </div>
                        </div>
                          <div class="col-md">
                           <div class="counter">
                  <i class="fa fa-lightbulb-o fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="6" data-speed="1500"></h2>
                  <p class="count-text ">عدد الدورات</p>
                </div>
                          </div>
                          <div class="col-md">
                              <div class="counter">
                  <i class="fa fa-users fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="10" data-speed="1500"></h2>
                  <p class="count-text ">عدد المقدمين والمقدمات</p>
                </div></div>
                          <div class="col-md">
                          <div class="counter">
                  <i class="fa fa-cogs fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="119" data-speed="1500"></h2>
                  <p class="count-text ">عدد الجلسات التدريبية</p>
                </div>
                          </div>
                     </div>
</div>