{% extends 'academy/base.html' %}{% load staticfiles %}
{% block title %}الأسئلة الشائعة{% endblock %}
{% block style %}
    p{
        color: #30687F };
{% endblock %}

{% block content %}
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="height:120px; background-color:black"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="description text-center">
            <div class="container" align="right">
<div align="center">
    <h2 style="color: #48B382">أسئلة شائعة</h2>
</div>
<div align="right">
    <p>
    <br><br>
    * من يمكنه التسجيل بالدورات التي تقدمها الأكاديميّة؟
    <br>
    يمكن لجميع طلاب وطالبات الجامعة التسجيل في الدورات.
    <br><br>
    * متى يمكن التسجيل في الدورات؟
    <br>
    تطرح كل دورة مواعيد التسجيل بشكل مستقل عن الدورات الأخرى، لاختلاف مدّة الدورات والتنسيق المطلوب لإقامتها. لذا فكل دورة لها مواعيد مختلفة يمكن من خلالها التسجيل فيها، يمكن متابعة حساب نادي الطلاب عبر تويتر وتيليغرام لمعرفة مواعيد التسجيل في كل دورة.
    <br><br>
    * كيف يمكنني التسجيل في الدورات؟
    <br>
    يمكن التسجيل عن طريق رابط التسجيل لكل دورة في صفحة الأكاديمية في إنجاز.
    <br><br>
    * كيف يمكنني التعرف على محتوى الدورة؟
    <br>
    هناك ملف مفصّل لمحتويات كل دورة، يمكن تحميله عن طريق صفحات الدورات والتعرف أكثر على كل دورة.
    <br><br>
    * هل هناك تكاليف للتسجيل في الدورات؟
    <br>
    لا! تقدم جميع الدورات بالمجّان وبدون تكاليف.
    <br><br>
    * هل هناك وسيلة للتواصل معكم؟
    <br>
    نعم، يمكنك التواصل معنا عبر البريد الالكتروني، وكذلك عبر تطبيق تيليغرام.
    <br><br>
    </p>
</div>
</div></div></div></div></div></div></div>
{% endblock %}