{% extends 'academy/base.html' %}{% load staticfiles %}
{% block style %}
.header-filter::before {
    background: rgba(0, 0, 0, 0);
}
a{
    color: #3C4858;
}
.nav-item:hover,a:hover{
    color: {{parent_course.hex_colour}};
}

{% endblock %}
{% block title %}مشاريع {{ parent_course.name }}{% endblock %}
{% block content %}
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style=" {% if parent_course.background %} background-image: url({{parent_course.background.url}}) {% endif %}; background-color:#000000" "></div>
  <div class="main main-raised">
    <div class="profile-content">
        <div class="description text-center">
 <h2 align="right">مشاريع {{parent_course.name}}</h2>
        <div class="container" id="dynamic_info">
        <div class="row" id="project_list">
        <div align="right">
            {% for course in subcourses %}
                <h3>الدفعة {{course.batch_no}}</h3>
            {% for graduate in course.course_graduates.all %}
                {% for work in graduate.work_set.all %}
                    <h4>- {{ work.short_description }}</h4>
                        <p>{{ work.long_description|linebreaksbr }}</p>
                        {% for attachment in work.attachments.all %}
                        <div class="col-sm-12">
                            <a href="{{attachment.file.url}}"><img src="{{attachment.file.url}}" width="100%" style="padding:30px"></a>
                        </div>
                        {% endfor %}
                        <img src="{{work.attachment.file.url}}">
                {% endfor %}
            {% endfor %}
            {% endfor %}
        </div>
        </div>
      </div>
    </div>
     </div>
    </div>
    </div>
{% endblock %}

