{% extends 'academy/base.html' %}{% load staticfiles %}
{% block title %}التسجيل في {{ course.name }}{% endblock %}
{% block style %}
.header-filter::before {
    background: rgba(0, 0, 0, 0);
{% endblock %}
{% block content %}
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style=" {% if course.background %} background-image: url({{course.background.url}}) {% endif %}; background-color:#000000" "></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img style="background-color:#fff; padding:15px" src="{{course.logo.url}}" class="img-raised img-thumbnail img-fluid">
              </div>
              <div class="name">
                <h3 class="title">التسجيل في {{course.official_name}}</h3>
                {% if course.reg_close_date %}
                <h5 class="description text-center">تنتهي فترة التسجيل في يوم {{course.reg_close_date}}</h5>
                {% endif %}
              </div>
              <div align="center">
                <iframe src="{{ course.form_url }}" width="430" height="800" frameborder="0" marginheight="0" marginwidth="0">جاري التحميل</iframe>
                <div>
                  <a href="{% url 'academy:index' %}" class="btn btn-primary btn-link btn-wd btn-lg">العودة للصفحة الرئيسة</a>
                  <a href="{% url 'academy:show' course_name %}" class="btn btn-primary btn-link btn-wd btn-lg">العودة لصفحة الدورة</a>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customscript %}
  {% endblock %}