{% extends 'academy/base.html' %}{% load staticfiles %}
{% block title %}{{person.user.common_profile.get_ar_short_name}}{% endblock %}
{% block content %}

<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-color:#000000"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="name">
                <h3 style="color:white" class="title">{{person.user.common_profile.get_ar_short_name}}</h3>
              </div>
              <br><br><br><br><br><br><br><br><br><br><br><br>
              <!-- deal with this later-->
            </div>
          </div>
        </div>
      </div>

      <div class="container">

      </div>

    </div>
  </div>
  </div>
</div>
{% endblock %}

