{% extends 'academy/base.html' %}{% load staticfiles %}
{% block style %}
.header-filter::before {
    background: rgba(0, 0, 0, 0);
}
a{
    color: #3C4858;
}
.nav-item:hover,a:hover{
    color: {{parent_course.hex_colour}};
}

{% endblock %}
{% block title %}{{ parent_course.name }}{% endblock %}
{% block navbar %}
    <li class="dropdown nav-item">
              <a style="font-size:16px" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">الدفعات</a>
              <div class="dropdown-menu">
              {% for course in subcourses %}
                    <div class="text-center"><a href="{% url 'academy:show_subcourse' course_name course.batch_no %}" class="nav-link">الدفعة {{course.batch_no}}</a></div>
              {% endfor %}
              </div>
          </li>
{% endblock %}
{% block content %}
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style=" {% if parent_course.background %} background-image: url({{parent_course.background.url}}) {% endif %}; background-color:#000000" "></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img style="background-color:#fff; padding:15px" src="{{parent_course.logo.url}}" class="img-raised img-thumbnail img-fluid">
              </div>
              <div class="name">
                <h3 class="title">{{parent_course.name}}</h3>
              </div>
            </div>
          </div>
        </div>
          <div class="description text-center">
        {% if subcourses != 'none' %}
                    <div class="row text-center">
                        <div class="col-md">
                        <div class="counter">
                  <i class="fa fa-graduation-cap fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="{{grad_list|length}}" data-speed="1500"></h2>
                   <p class="count-text ">خريج وخريجة</p>
                </div>
                        </div>
                          <div class="col-md">
                           <div class="counter">
                  <i class="fa fa-lightbulb-o fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="{{subcourses.count}}" data-speed="1500"></h2>
                  <p class="count-text ">دفعة</p>
                </div>
                          </div>
                          <div class="col-md">
                              <div class="counter">
                  <i class="fa fa-users fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="{{instruct_list|length}}" data-speed="1500"></h2>
                  <p class="count-text ">مقدم ومقدمة</p>
                </div></div>
                          <div class="col-md">
                          <div class="counter">
                  <i class="fa fa-cogs fa-2x"></i>
                  <h2 class="timer count-title count-number" data-to="{{total_sessions}}" data-speed="1500"></h2>
                  <p class="count-text ">جلسة تدريبية</p>
                </div>
            </div>
            </div>
        {% endif %}
        <div class="row">
            <br><br>
            {{ parent_course.description|linebreaksbr }}
            <br><br><br>
            </div>
        {% if subcourses != 'none' %}
        <ul class="nav nav-justified" role="tablist">
                            <li class="nav-item">
                                <i class="material-icons" style="font-size:2em">wb_incandescent</i>
                                <a id="projects" class="nav-link" href="#dashboard-1" role="tab" data-toggle="tab" aria-selected="false">
                                    المشاريع
                                </a>
                            </li>
                            <li class="nav-item">
                                <i class="material-icons" style="font-size:2em">school</i>
                                <a id="graduates" class="nav-link" href="" role="tab" data-toggle="tab" aria-selected="false">
                                    الخريجون والخريجات
                                </a>
                            </li>
                            <li class="nav-item">
                                <i class="material-icons" style="font-size:2em">people</i>
                                <a id="instructors" class="nav-link" href="#tasks-1" role="tab" data-toggle="tab" aria-selected="true">
                                    مقدمو ومقدمات الدورة
                                </a>
                            </li>
                        </ul>
        <div class="container" id="dynamic_info">
        <div class="row" id="graduate_list">
          {% for course in subcourses %}
          <div class="col-lg-4" align="right">
          <ul>
            <li><a href="{% url 'academy:show_subcourse' course_name course.batch_no %}">الدورة {{course.batch_no}}</a>
              <ul>
              {% for graduate in course.course_graduates.all %}
              <li><a href="{% url 'academy:show_person' 'graduate' graduate.pk %}">{{ graduate.user.common_profile.get_ar_short_name }}</a></li>
              {% endfor %}
              {{ batch.batch_note }}
              </ul>
            </li>
          </ul>
          </div>
          {% endfor %}
        </div>

        <div class="row" id="project_list">
        <div class="col-lg-4" align="right">
            <ul>
            {% for course in subcourses %}
            {% for graduate in course.course_graduates.all %}
                {% for work in graduate.work_set.all %}
                    <li>{{ work.short_description }}</li>
                {% endfor %}
            {% endfor %}
            {% endfor %}
            </ul>
        </div>
        </div>

        <div class="row" id="instructor_list">
            {% for course in subcourses %}
          <div class="col-lg-4" align="right">
          <ul>
            <li><a href="{% url 'academy:show_subcourse' course_name course.batch_no %}">الدورة {{course.batch_no}}</a>
              <ul>
              {% for instructor in course.course_instructors.all %}
                    <li><a href="{% url 'academy:show_person' 'instructor' instructor.pk %}">{{ instructor.user.common_profile.get_ar_short_name }}</a></li>
              {% endfor %}
              </ul>
            </li>
          </ul>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

<br><br>
{% if last_subcourse %}
<div class="row">
          <div class="col-md-6 ml-auto mr-auto">
              <ul class="nav nav-justified" role="tablist">
                {% if last_subcourse.plan %}
                <li class="nav-item">
                    <i class="material-icons" style="font-size:2em">description</i>
                    <a  class="nav-link" href="{{ last_subcourse.plan.url }}">
                        الخطة
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <i class="material-icons" style="font-size:2em">add_circle</i>
                    <a  class="nav-link" href="{% url 'academy:register' course_name%}">
                        التسجيل
                    </a>
                </li>
              </ul>
          </div>
</div>
{% endif %}
          </div>

      </div>
      </div>


        </div>
        </div>
    </div>
{% endblock %}
{% block customscript %}
<script type="text/javascript">
$("#dynamic_info").hide();
$("#graduates").click(function(){
    $("#project_list").hide();
    $("#instructor_list").hide();
    $("#dynamic_info").show();
    $("#graduate_list").show();
    });
$("#projects").click(function(){
    $("#graduate_list").hide();
    $("#instructor_list").hide();
    $("#dynamic_info").show();
    $("#project_list").show();
    });
$("#instructors").click(function(){
    $("#graduate_list").hide();
    $("#project_list").hide();
    $("#dynamic_info").show();
    $("#instructor_list").show();
    });

<!--Counter-->
$(document).ready(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};

		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);

			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;

			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};

			$self.data('countTo', data);

			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);

			// initialize the element with the starting value
			render(value);

			function updateTimer() {
				value += increment;
				loopCount++;

				render(value);

				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}

				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;

					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}

			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};

	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};

	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });

  // start all the timers
  $('.timer').each(count);

  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
</script>
{% endblock %}
