{% extends 'front/front_base.html' %}{% load staticfiles %}
{% block title %}الصفحة الرئيسية{% endblock %}
{% block content %}
	<!-- Main Slider --><section class="slider-container" style="background-image: url({% static 'img/bg.jpg' %});">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-12">
				
				<img width="100%" src="{% static 'logo/enjaz_logo_shadow_full.png' %}">
				
			</div>
			
		</div>
		
	</div>
	
</section>

<div class="container">
    <div class="col-sm-6">


<section class="features-blocks">
	
	<div class="">
		
		<div class="row vspace">			
			<div class="col-sm-12">
				
				<div class="feature-block">
					<h2 class="dinar-medium">
						بوابة إنجاز
					</h2>
					<span class="description">
					<p class="dinar-light">
						بوابة إنجاز الإلكترونية هي بوابة المستقبل للأنشطة الطلابية في نادي الطلاب. من خلال تعزيز الاستفادة من الجانب الإلكتروني و التقني، يدخل نادي الطلاب مرحلة جديدة من عمره بقوة أكبر و أدوات أكثر تطورًا من أي وقت مضى!
					</p>
					</span>
				</div>
				
			</div>

		</div>
		
				<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		
	</div>
	
</section>

<!-- Call for Action Button --><div class="">
	<div class="row vspace">
		<div class="col-md-12">
			
			<div class="callout-action">
				<h2 class="dinar-medium">ماذا تنتظر؟!</h2>
				
				<div class="callout-button">
					<a href="{% url 'userena_signup' %}" class="btn btn-secondary dinar-light">سجل الآن!</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
    </div>
    <div class="col-sm-6">
        <h3>
            تابعنا على تويتر!
        </h3>
        <a class="twitter-timeline" href="https://twitter.com/StudentsofKSAUH" data-widget-id="514452453526216704">Tweets by @StudentsofKSAUH</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
{% endblock %}
