{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="ar" dir="rtl">
<!--
  ______         _               _   _                  _       __     __            _
 |  ____|       (_)             | \ | |                | |      \ \   / /           | |
 | |__    _ __   _   __ _  ____ |  \| |  ___   ___   __| | ___   \ \_/ /___   _   _ | |
 |  __|  | '_ \ | | / _` ||_  / | . ` | / _ \ / _ \ / _` |/ __|   \   // _ \ | | | || |
 | |____ | | | || || (_| | / /  | |\  ||  __/|  __/| (_| |\__ \    | || (_) || |_| ||_|
 |______||_| |_|| | \__,_|/___| |_| \_| \___| \___| \__,_||___/    |_| \___/  \__,_|(_)
               _/ |
              |__/

You must be so cool if you are reading this! Our Studnets' Club can
totally use your help! Drop us a line at hello@enjazportal.com, will
you?
-->
	<head>
		<title>إنجاز | الصفحة الرئيسية</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="بوابة إنجاز للنشاطات الطلابية" />
		<!--[if lte IE 8]><script src="{% static 'new_front/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'new_front/assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'new_front/assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'new_front/assets/css/ie8.css' %}" /><![endif]-->


	</head>

	<body class="landing">

	<style>

	.scrollable {
		width: auto;
		margin: 0 auto;
		padding: 0;
		background: #000;
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	img {
		max-width: auto;
		height:400px;
		margin: 0;
		float:left;

	}
	.items {
		width: auto;
		height:400px;
		-webkit-animation: hscroll 12s infinite;
		-moz-animation: hscroll 12s infinite;
		-ms-animation: hscroll 12s infinite;
	}

	@-webkit-keyframes hscroll {
	  0%   { margin-left: 0; }
	27.33%  { margin-left: 0 }
	  33.33%  { margin-left: -333px; }
	60.66% { margin-left: -333px; }
	66.66% { margin-left: -666px; }
	94.99% { margin-left: -666px; }
	  100%  { margin-left: 0 }
	}

	@-moz-keyframes hscroll {
	  0%   { margin-left: 0; }
	27.33%  { margin-left: 0 }
	  33.33%  { margin-left: -333px; }
	60.66% { margin-left: -333px; }
	66.66% { margin-left: -666px; }
	94.99% { margin-left: -666px; }
	  100%  { margin-left: 0 }
	}

	@-ms-keyframes hscroll {
	  0%   { margin-left: 0; }
	27.33%  { margin-left: 0 }
	  33.33%  { margin-left: -333px; }
	60.66% { margin-left: -333px; }
	66.66% { margin-left: -666px; }
	94.99% { margin-left: -666px; }
	  100%  { margin-left: 0 }
	}
	</style>

		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">بوابة إنجاز</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{% url 'new_home' %}"><span>الرئيسية</span></a></li>
							</li>
                            <li>
	                            <a href="{% url 'about_sc' %}">
                                <span>عن نادي الطلاب</span>
   	                            </a>
                            </li>
    	                    <li>
            	                <a href="{% url 'about' %}">
        	                    <span>عن إنجاز</span>
                                </a>
                            </li>
                            <li>
								<a href="{% url 'clubs:list' %}">
								<span>الأندية</span>
								</a>
							</li>
							<li>
							<a href="{% url 'activities:list' %}">
								<span>الأنشطة</span>
							</a>

						</li>
						<li>
							<a href="{% url 'niqati:index' %}">
								<span>نقاطي</span>
							</a>
						</li>
						<li>
							<a href="{% url 'researchhub:index' %}">
								<span class="english-field">ResearchHub</span>
							</a>
						</li>
                        <li>
							<a href="/programs/">
								<span>البرامج الكبرى</span>
							</a>
                        	<ul>
								<li><a href="">البرنامج الثقافي</a></li>
								<li><a href="">مؤتمر التخصصات الصحية</a></li>
								<li><a href="">TEDx KSAUHS</a></li>
								<li><a href="">الأولمبياد الجامعي</a></li>
							</ul>
						</li>

{% comment %}
						<li>
							<a href="{% url 'books:list' %}">
								<span>الكتب</span>
							</a>
						</li>
{% endcomment %}
{% comment %}
						<li>
							<a href="{% url 'about' %}">
								<span>عن إنجاز</span>
							</a>
						</li>
                        <li>
							<a href="{% url 'about_sc' %}">
								<span>عن نادي الطلاب</span>
							</a>
						</li>
{% endcomment %}
                        <span class="visible-xs">
                        {% if not user.is_authenticated %}
						<li>
							<a href="{% url 'userena_signin' %}">
								<span class="button special">ادخل</span>
							</a>
						</li>
						<li>
							<a href="{% url 'userena_signup' %}">
								<span class="button special">سجّل</span>
							</a>
						</li>
                        {% else %}
                        <li>
                            <a href="{% url 'userena_signout' %}">
                                <span class="button special">اخرج</span>
                            </a>
                        </li>
                        {% endif %}
                        </span>
						</ul>
					</nav>
				</header>


			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>The future has landed,<br>Enjaz has taken its first step!</h2>
							<p>And there are no hoverboards or flying cars.
							<br> I didn't write that last sentence ^_^ </p>
						</header>
						<span class="image"><img width="100%" src="{% static 'logo/enjaz_logo_shadow_no_text.png' %}"></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Odio faucibus ipsum integer consequat</h2>
										<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
									Blandit orci porttitor semper. Arcu phasellus tortor enim mi
									nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
									augue varius tempus lobortis porttitor accumsan consequat
									adipiscing lorem dolor.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum amet non magna accumsan</h2>
							<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum felis blandit praesent sed augue</h2>
							<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Accumsan sed tempus adipiscing blandit</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Ipsum sed commodo</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>



			<section>
				<div>
				  <div class="scrollable">
					<div class="items">
					  {% for slider in sliders %}
						<img src="{{ slider.image.url }}" alt="{{ slider.image.alt }}">
					  {% endfor %}
						</div>
				</div>
				</div>
			</section>






			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>


		</div>

		<!-- Scripts -->
			<script src="{% static 'new_front/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'new_front/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'new_front/assets/js/main.js' %}"></script>

	</body>
</html>