{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="ar" dir="rtl">
<!--
  ______         _               _   _                  _       __     __            _
 |  ____|       (_)             | \ | |                | |      \ \   / /           | |
 | |__    _ __   _   __ _  ____ |  \| |  ___   ___   __| | ___   \ \_/ /___   _   _ | |
 |  __|  | '_ \ | | / _` ||_  / | . ` | / _ \ / _ \ / _` |/ __|   \   // _ \ | | | || |
 | |____ | | | || || (_| | / /  | |\  ||  __/|  __/| (_| |\__ \    | || (_) || |_| ||_|
 |______||_| |_|| | \__,_|/___| |_| \_| \___| \___| \__,_||___/    |_| \___/  \__,_|(_)
               _/ |
              |__/

You must be so cool if you are reading this! Our Studnets' Club can
totally use your help! Drop us a line at hello@enjazportal.com, will
you?
-->
	<head>
		<title>إنجاز | الصفحة الرئيسية</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="بوابة إنجاز للنشاطات الطلابية" />
		<!--[if lte IE 8]><script src="{% static 'new_front/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'new_front/assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'new_front/assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'new_front/assets/css/ie8.css' %}" /><![endif]-->

		<!-- trying Flickity -->
		<link rel="stylesheet" href="{% static 'new_front/flickity/flickity.css' %}" media="screen">
	</head>

	<body class="landing">
	<style>
		* {
		  -webkit-box-sizing: border-box;
		  box-sizing: border-box;
		}

		body { font-family: sans-serif; }

		.gallery {
		  background: #EEE;
		}

		.gallery-cell {
		  width: 100%;
		  height: 400px;
		  background: #8C8;
		  counter-increment: gallery-cell;
		}
	</style>

		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><img height="50px" src="{% static 'logo/enjaz_logo_shadow.png' %}"></h1>
					<nav id="nav">
						<ul>
							<li><a href="{% url 'home' %}"><span>الرئيسية</span></a></li>
							</li>
                            <li>
	                            <a href="{% url 'about_sc' %}">
                                <span>عن نادي الطلاب</span>
   	                            </a>
                            </li>
    	                    <li>
            	                <a href="{% url 'about' %}">
        	                    <span>عن إنجاز</span>
                                </a>
                            </li>
                            <li>
								<a href="{% url 'clubs:list' %}">
								<span>الأندية</span>
								</a>
							</li>
							<li>
							<a href="{% url 'activities:list' %}">
								<span>الأنشطة</span>
							</a>

						</li>
						<li>
							<a href="{% url 'niqati:index' %}">
								<span>نقاطي</span>
							</a>
						</li>
						<li>
							<a href="{% url 'researchhub:index' %}">
								<span class="english-field">ResearchHub</span>
							</a>
						</li>
                        <li>
							<a href="/programs/">
								<span>البرامج الكبرى</span>
							</a>
                        	<ul>
								<li><a href="https://hpc.enjazportal.com/ar/home/">مؤتمر التخصصات الصحية</a></li>
								<li><a href="https://enjazportal.com/programs/cultural-program/">البرنامج الثقافي</a></li>
								<li><a href="https://enjazportal.com/programs/tedx/">TEDx KSAUHS</a></li>
								<li><a href="https://enjazportal.com/programs/olympiad/">الأولمبياد الجامعي</a></li>
							</ul>
						</li>

{% comment %}
						<li>
							<a href="{% url 'books:list' %}">
								<span>الكتب</span>
							</a>
						</li>
{% endcomment %}
{% comment %}
						<li>
							<a href="{% url 'about' %}">
								<span>عن إنجاز</span>
							</a>
						</li>
                        <li>
							<a href="{% url 'about_sc' %}">
								<span>عن نادي الطلاب</span>
							</a>
						</li>
{% endcomment %}
                        <span class="visible-xs">
                        {% if not user.is_authenticated %}
						<li>
							<a href="{% url 'userena_signin' %}">
								<span class="button special">ادخل</span>
							</a>
						</li>
						<li>
							<a href="{% url 'userena_signup' %}">
								<span class="button special">سجّل</span>
							</a>
						</li>
                        {% else %}
                        <li>
                            <a href="{% url 'userena_signout' %}">
                                <span class="button special">اخرج</span>
                            </a>
                        </li>
                        {% endif %}
                        </span>
						</ul>
					</nav>
				</header>

			{% if sliders %}
			<section id="flickity-carousel" style="margin-top:55px">
				<div class="main-gallery js-flickity"
				data-flickity-options='{ "cellAlign": "left", "contain": true, "wrapAround": true }'>
				{% for slider in sliders %}
			  	<div class="gallery-cell">
				<img height="400" width="100%" src="{{ slider.image.url }}" alt="{{ slider.image.alt }}">
			  	</div>
				{% endfor %}
				</div>
			</section>
			{% endif %}

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>بوابة إنجاز</h2>
							<p>بوابة إنجاز الإلكترونية هي بوابة المستقبل للأنشطة الطلابية في نادي الطلاب.<br> من خلال تعزيز الاستفادة من الجانب الإلكتروني و التقني، يدخل نادي الطلاب<br> مرحلة جديدة من عمره بقوة أكبر و أدوات أكثر تطورًا من أي وقت مضى! </p>
						</header>
						<span class="image"><img width="100%" src="{% static 'logo/enjaz_logo_shadow_no_text.png' %}"></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{% static 'new_front/images/bg2.png' %}" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>الرسالة</h2>
										<p>أن يستثمر طاقات الطلاب والطالبات وإبداعاتهم على المستوى الفردي وعلى مستوى الكلية ، كما يسعى النادي إلى الخروج بالطلاب من الجو الدراسي وتغييره بما يصقل مواهبهم وهواياتهم. </p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<h2>الرؤية</h2>
									<p>يسعى نادي الطلاب لأن يكون نموذجًا في التميز والريادة من خلال أنديته الرئيسية والفرعية.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<h2>نادي الطلاب</h2>
									<p>هو نادي طلابي تطوعي لجميع طلاب وطالبات جامعة الملك سعود بن عبدالعزيز للعلوم الصحية يقوم بترتيب وتنظيم الأنشطة الطلابية من خلال أنديته الرئيسية والفرعية. </p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!--******* TODO: change clubs to teams ********** -->
			<!-- Six | clubs' logos -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>أندية نادي الطلاب</h2>
						</header>
						<div class="box alt">
							<div class="row uniform">
							{% if teams %}
							{% for team in teams %}
								<section class="4u 6u(medium) 12u$(xsmall)">
								<span class="image"><img height="100px" src="{{ team.logo.url }}"></span>
									<h3>{{ team.ar_name }}</h3>
								</section>
							{% endfor %}

							{% elif clubs %}
							{% for club in clubs %}

								<section class="4u 6u(medium) 12u$(xsmall)">
								{% if club.logo %}
								<span class="image"><img height="100px" src="{{ club.logo.url }}"></span>
								{% endif %}
									<h3>{{ club.name}}</h3>
								</section>
							{% endfor %}
							{% endif %}
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="{% static 'new_front/images/hpc_bg_home.png' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>مؤتمر التخصصات الصحيّة</h2>
							<p>يعتبر مؤتمر التخصصات الصحيّة من أبرز وأندر المؤتمرات السنويّة التي تقام لطلاب وطالبات المجالات الصحية، هو أوّل مؤتمر طلابي معتمد من هيئة التخصصات الصحية بساعات تدريبية معتمدة، المؤتمر غنيّ بالبرامج المتنوّعة والدورات المختلفة، بالإضافة إلى معارض الأبحاث والتنافس فيها على جوائز مُعتمدة من الهيئة.</p>
						</header>
						<ul class="actions">
							<li><a href="https://hpc.enjazportal.com/ar/home/" class="button">اكتشف المزيد</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{% static 'new_front/images/cultural_bg_home.jpg' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>البرنامج الثقافي</h2>
							<p>يعتبر البرنامج الثقافي إحدى أكبر الفعاليات التي ينظّمها نادي الطلاب، ونريد في البرنامج الثقافي أن نفتح المدارك الثقافية والمعرفية للطالبات والطلاب، وأن نخلق منصة رحبة للإبداع والتعبير؛ وليس هذا فحسب بل إن البرنامج يشمل أيضًا دورات تدريبية في مجالات متخصصة يقدمها خبراء متخصصون! </p>
						</header>
						<ul class="actions">
							<li><a href="https://enjazportal.com/programs/cultural-program/" class="button">اكتشف المزيد</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="two-repeat" class="spotlight style2 right">
					<span class="image fit main"><img src="{% static 'new_front/images/tedx_bg_home.png' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>TED<sup>x</sup> KSAUHS</h2>
							<p>مهمتنا في TED<sup>x</sup>KSAUHS أن نصل إلى المجتمع لنتبادل الأفكار الفريدة ونناقشها! هدفنا خلط الحضور والمتحدثين والرعاة، لخلق بيئة مطوّرة للذات، بيئة مطوّرة للفرد، بيئة للتغير، بيئة ملهمة!</p>
						</header>
						<ul class="actions">
							<li><a href="https://enjazportal.com/programs/tedx/" class="button">اكتشف المزيد</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Five -->
				<section id="three-repeat" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{% static 'new_front/images/olympiad_bg_home.png' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>الأولمبياد الجامعي</h2>
							<p></p>
						</header>
						<ul class="actions">
							<li><a href="https://enjazportal.com/programs/olympiad/" class="button">اكتشف المزيد</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>


			<!-- Seven -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>ماذا تنتظر؟</h2>
						</header>
							<a href="{% url 'userena_signup' %}">
								<span class="button special">سجّل الآن!</span>
							</a>
					</div>
				</section>

			<section>
				<div style="margin-right:30px">
				  <h3 style="text-align:center">   تابعنا على تويتر!</h3>
				  <a class="twitter-timeline" data-lang="ar" data-height="400" href="https://twitter.com/StudentsofKSAUH">Tweets by StudentsofKSAUH</a>
				  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</section>


			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<!--Youtube : href="https://www.youtube.com/channel/UCQBBGI264nZhFqC4sh9L04w/"-->
						<!-- web globe href="http://www.ksau-hs.com"-->
						<li><a href="https://twitter.com/StudentsOfKSAUH" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://facebook.com/studentsofksauhs" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="http://www.instagram.com/studentsofksauhs" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/enjaz/enjaz/" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:studentsclub@ksau-hs.edu.sa" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul>
						<li>بُني بأيدٍ طلابيّة.<a target="_blank" href="https://github.com/enjaz/enjaz/"> حقّك في النسخ مكفول.</a></li>
					</ul>
				</footer>


		</div>

		<!-- Scripts -->
			<script src="{% static 'new_front/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'new_front/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'new_front/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'new_front/assets/js/main.js' %}"></script>

		<!-- trying Flickity -->
			<script src="{% static 'new_front/flickity/flickity.pkgd.min.js' %}"></script>

	</body>
</html>