<table class="table table-bordered">{% load events_tags %}
    <colgroup>
        <col class="col-xs-4">
        <col class="col-xs-8">
    </colgroup>
    <thead>
        <tr>
            <th colspan="2" class="text-center">{{ abstract.title }}</th>
        </tr>
    </thead>
    <tbody>
        {% if not user|can_evaluate_abstracts:event or user.is_superuser %}
        <tr>
            <th class="text-center">Presenting author</th>
            <td>{{ abstract.presenting_author }}</td>
        </tr>
        <tr>
            <th class="text-center">Principle Investigator</th>
            <td>{{ abstract.principle_investigator }}</td>
        </tr>
            <tr>
            <th class="text-center">Authors</th>
            <td class="activity-description">{% for author in abstract.author.all %}{{ author.name }} | {% endfor %} </td>
        </tr>
        <tr>
            <th class="text-center">Email</th>
            <td><a href="mailto:{{ abstract.email }}">{{ abstract.email }}</a></td>
        </tr>
        <tr>
            <th class="text-center">Phone</th>
            <td>{{ abstract.phone }}</td>
        </tr>
        <tr>
            <th class="text-center">University</th>
            <td>{{ abstract.university }}</td>
        </tr>
        {% endif %}
        <tr>
            <th class="text-center">College</th>
            <td>{{ abstract.college }}</td>
        </tr>
        <tr>
            <th class="text-center">Graduation year</th>
            <td>{{ abstract.graduation_year }}</td>
        </tr>
        <tr>
            <th class="text-center">Study field</th>
            <td>{{ abstract.study_field }}</td>
        </tr>
        <tr>
            <th class="text-center">Study Design</th>
            <td>{{ abstract.study_design }}</td>
        </tr>
        <tr>
            <th class="text-center">Data collection method</th>
            <td>{{ abstract.collection_method }}</td>
        </tr>
        <tr>
        <tr>
            <th class="text-center">Have you submitted the manuscript to a journal?</th>
            <td>{{ abstract.get_submitted_to_journal_display }}</td>
        </tr>
  					<th class="text-center">Do you have an IRB Approval?</th>
  					<td>{{ abstract.get_irb_approval_display }}</td>
  			</tr>
  			<tr>
  					<th class="text-center">Has the study been presented in a conference before?</th>
  					<td>{{ abstract.was_presented_at_conference|yesno:"Yes,No" }}</td>
  			</tr>
        {%  if abstract.status == 'A' %}
        <tr>
            <th class="text-center">Accepted Presentation</th>
            <td>{{ abstract.get_accepted_presentaion_preference_display }}</td>
        </tr>
        <tr>
            <th class="text-center">Presentation Date</th>
            <td>{{ abstract.presentaion_date|date:"Y-n-j" }}</td>
        </tr>
        {% endif %}
        {% if abstract.figures.exists  %}
        <tr>
            <th class="text-center">Attachment</th>
            <td>
              <ul>
                {% for figure in abstract.figures.all %}
                <li>
                <a href="{{ figure.figure.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ figure.figure.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
            </td>
        </tr>

        {% endif %}
        {% if abstract.accepted_presentaion_preference == 'P' %}
        {% if abstract.posters.exists %}
        <tr>
            <th class="text-center">Poster Image</th>
            <td>
              <ul>
                {% for poster in abstract.posters.all %}
                <li>
                <a href="{{ poster.first_image.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ poster.first_image.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
              <ul>
                {% for poster in abstract.posters.all %}
                <li>
                <a href="{{ poster.second_image.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ poster.second_image.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
            </td>
        </tr>

        <tr>
            <th class="text-center">Poster Powerpoint</th>
            <td>
              <ul>
                {% for poster_powerpoint in abstract.posters.all %}
                <li>
                <a href="{{  poster_powerpoint.poster_powerpoint.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ poster_powerpoint.poster_powerpoint.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% if abstract.accepted_presentaion_preference == 'O' %}
        {% if abstract.posters.exists %}
        <tr>
            <th class="text-center">Presentation</th>
            <td>
              <ul>
                {% for presentation in abstract.posters.all %}
                <li>
                <a href="{{  presentation.presentation_file.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ presentation.presentation_file.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
            </td>
        </tr>
        {% endif %}
        {% endif %}
    </tbody>
</table>

<h3>Background</h3>
{{ abstract.background|safe }}
<h3>Methods</h3>
{{ abstract.methods|safe }}
<h3>Results</h3>
{{ abstract.results|safe }}
<h3>Conclusion</h3>
{{ abstract.conclusion|safe }}
