<table class="table table-bordered">{% load events_tags %}
    <colgroup>
        <col class="col-xs-4">
        <col class="col-xs-8">
    </colgroup>
    <thead>
        <tr>
            <th colspan="2" class="text-center">{{ abstract.title }}</th>
        </tr>
    </thead>
    <tbody>
        {% if not user|can_evaluate_abstracts:event or user.is_superuser %}
        <tr>
            <th class="text-center">Authors</th>
            <td class="activity-description">{{ abstract.authors|linebreaksbr }}</td>
        </tr>
        <tr>
            <th class="text-center">Presenting author</th>
            <td>{{ abstract.presenting_author }}</td>
        </tr>
        <tr>
            <th class="text-center">Email</th>
            <td><a href="mailto:{{ abstract.email }}">{{ abstract.email }}</a></td>
        </tr>
        <tr>
            <th class="text-center">Phone</th>
            <td>{{ abstract.phone }}</td>
        </tr>
        <tr>
            <th class="text-center">University</th>
            <td>{{ abstract.university }}</td>
        </tr>
        {% endif %}
        <tr>
            <th class="text-center">College</th>
            <td>{{ abstract.college }}</td>
        </tr>
        <tr>
            <th class="text-center">Level</th>
            <td>{{ abstract.get_level_display }}</td>
        </tr>
        {% if abstract.figures.exists  %}
        <tr>
            <th class="text-center">Attachment</th>
            <td>
              <ul>
                {% for figure in abstract.figures.all %}
                <li>
                <a href="{{ figure.figure.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ figure.figure.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
            </td>
        </tr>

        {% endif %}
        {% if abstract.posters.exists %}
        <tr>
            <th class="text-center">Poster Image</th>
            <td>
              <ul>
                {% for poster in abstract.posters.all %}
                <li>
                <a href="{{ poster.poster.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ poster.poster.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
            </td>
        </tr>
        {% endif %}
        {% if abstract.posters.exists %}
        <tr>
            <th class="text-center">Poster Powerpoint</th>
            <td>
              <ul>
                {% for poster_powerpoint in abstract.posters.all %}
                <li>
                <a href="{{  poster_powerpoint.poster_powerpoint.url }}" class="english-field">
                    <i class="entypo-documents"></i> {{ poster_powerpoint.poster_powerpoint.name }}
                </a>
              </li>
              {% endfor %}
              </ul>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

<h3>Introduction</h3>
{{ abstract.introduction|safe }}
<h3>Methodology</h3>
{{ abstract.methodology|safe }}
<h3>Results</h3>
{{ abstract.results|safe }}
<h3>Discussion</h3>
{{ abstract.discussion|safe }}
<h3>Conclusion</h3>
{{ abstract.conclusion|safe }}
