<style>
.end-reader-profile-introduction{
    background: rgb(134, 213, 121);
}
.modal-footer{
    display: none;
}
</style>

<h2>سجّل نفسك قارئًا</h2>
<p>بادر وضُمّ اسمك إلى كوكبة من القراء والقارئات في سجل سِراج للقراءة، لتسنح الفرصة للجميع بالتعرّف على اهتماماتك في القراءة.</p>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="bulb-option end-reader-profile-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>