<style>
.end-reader-profile-introduction{
    border: 1px solid #ebebeb;
    position: relative;
    display: block;
    padding: 20px;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 25px;
    background: rgb(134, 213, 121);
    width: 100%;
}

.end-reader-profile-introduction p{
    color:  rgb(30, 71, 30);
    font-size: 16px;
    text-align: justify;
}
   
.end-reader-profile-introduction h3, .end-reader-profile-introduction p{
    margin-top: 5px;
    position: relative;
    z-index: 5;
    padding: 0;
}
    
.end-reader-profile-introduction .icon{
   font-size: 30px;
    color: white;
}

.end-reader-profile-introduction h3{
    font-size: 30px;
    color: white;
    text-align: center;
}
    
.end-reader-profile-introduction .icon {
    left: 5px;
    right: auto;   
    position: absolute;
    bottom: 5px;
    z-index: 1;
}

.modal-footer{
    display: none;
}
</style>

<h2>سجّل نفسك قارئًا</h2>
<p>بادر و ضُـمّ اسمك إلى كوكبة من القراء والقارئات في سجل سِراج للقراءة، لتسنح الفرصة للجميع بالتعرف على اهتماماتك في القراءة.</p>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="end-reader-profile-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>