{% extends "bulb_base.html" %}{% load staticfiles %}{% load bulb_tags %}
{% block title %}قارئات وقراء الجامعة{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-9">
        <h1>قارئات وقراء الجامعة</h1>
        {% include 'bulb/readers/components/search_form.html' %}
    </div>
    <div class="col-sm-3">
        {% if not user.reader_profile %}
        <button id="add-reader-profile" class="btn btn-block btn-icon btn-success">
            <i class="entypo-plus"></i>
            سجلني مع القارئات والقراء
        </button>
        {% endif %}
    </div>
</div>

<table class="datatable display dt-responsive">
    <thead>
        <th>الاسم</th>
        <th class="not-mobile">الكلية</th>
        <th>عدد الكتب المساهم بها</th>
    </thead>
    <tbody>
        {% for reader_profile in reader_profiles %}
        <tr>
            <td><a href="{% url 'bulb:show_reader_profile' reader_profile.pk %}">{{ reader_profile.user.common_profile.get_ar_full_name }}</a></td>
            <td>{{ reader_profile.user.common_profile.college.get_name_display }}</td>
            <td>{{ reader_profile.user.book_giveaways.undeleted.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>

<script type="text/javascript">
    $('.datatable').DataTable({
        bFilter: false,
        order: [[ 2, "desc" ]],
        language: {% include 'js/dataTables-arabic.json' %}
    });
    $(function () {
        // initialize reader profile edit modal
        $('#edit-reader-profile-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $("button#add-reader-profile").click(function () {
            $("#edit-reader-profile-modal").modal('show');

            $("#edit-reader-profile-modal .modal-title").html("سجّل نفسك قارئًا");
            $("#edit-reader-profile-modal .modal-body").load("{% url 'bulb:add_reader_profile_introduction' %}", function(){
                $('.end-reader-profile-introduction').click(function() {
                    $("#edit-reader-profile-modal .modal-body").load("{% url 'bulb:add_reader_profile' %}");
            });
            });

            var $submitButton = $("#edit-reader-profile-modal button.submit-button");
            // Unbind any handlers previously attached to the submit button
            // This is necessary to avoid multiple submissions of the form
            $submitButton.off('click');
            $submitButton.click(function () {
                $("form#edit-reader-profile-form").submit();
            });
        });
    });
{% include 'bulb/adjust_modal_size.js' %}
</script>

{% with modal_id='edit-reader-profile-modal' %}
    {% include "bulb/groups/common_edit_modal.html" %}
{% endwith %}

{% endblock %}