{% extends "bulb_base.html" %}{% load staticfiles %}
{% block title %}ابحث في القارءات والقراء{% if request.GET.q %}: {{ request.GET.q }}{% endif %}{% endblock %}
{% block content %}
<h1>ابحث في القارءات والقراء{% if request.GET.q %}: {{ request.GET.q }}{% endif %}</h1>
{% include 'bulb/readers/components/search_form.html' %}
{% if results.exists %}
<table class="datatable display dt-responsive">
    <thead>
        <th>الاسم</th>
        <th class="not-mobile">الكلية</th>
        <th>عدد الكتب المساهم بها</th>
        <th class="not-mobile">مجموعات القراءة</th>
    </thead>
    <tbody>
        {% for reader_profile in results %}
        <tr>
            <td><a href="{% url 'bulb:show_reader_profile' reader_profile.pk %}">{{ reader_profile.user.common_profile.get_ar_full_name }}</a></td>
            <td>{{ reader_profile.user.common_profile.college.get_name_display }}</td>
            <td>{{ reader_profile.user.book_giveaways.undeleted.count }}</td>
            <td>
                {% if reader_profile.user.reading_group_coordination.undeleted.exists or reader_profile.user.reading_group_memberships.active.exists  %}
                <ul>
                    {% for group in reader_profile.user.reading_group_coordination.undeleted %}
                    <li><a href="{% url 'bulb:show_group' group.pk %}">{{ group.name }}</a></li>
                    {% endfor %}
                    {% for membership in reader_profile.user.reading_group_memberships.active %}
                    <li><a href="{% url 'bulb:show_group' membership.group.pk %}">{{ membership.group.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif request.GET.q %}
<p>لا توجد نتائج هنا.</p>

{% endif %}

{% endblock %}

{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
{% include "bulb/components/connect_twitter.html" %}
<script type="text/javascript">
    $('.datatable').DataTable({
        bFilter: false,
        order: [[ 2, "desc" ]],
        language: {% include 'js/dataTables-arabic.json' %}
    });
</script>
{% endblock %}