{% extends 'media_base_nonmember.html' %}

{% block title %}مقال جديد{% endblock %}

{% block content %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}
<h3>مقال جديد</h3>
<hr>
<br>
<form method="post" enctype="multipart/form-data" action="{% if not article.pk %}{% url 'media:submit_article' %}{% else %}{% url 'media:edit_article' article.pk %}{% endif %}">
	{% csrf_token %}
	<!-- Title and Publish Buttons -->	<div class="row">
		<div class="col-sm-2 post-save-changes">
			<button type="submit" class="btn btn-green btn-lg btn-block btn-icon">
				أرســـــل
				<i class="entypo-check"></i>
			</button>
		</div>
		
		<div class="col-sm-10">
			{{ form.title }}
            {{ form.title.errors }}
			{#{% bootstrap_field form.title %}#}
			<!-- <input type="text" class="form-control input-lg" name="post_title" placeholder="Post title"> -->
		</div>
	</div>
	
	<br>
	
	<!-- WYSIWYG - Content Editor -->	<div class="row">
		<div class="col-sm-12">
			{{ form.text }}
            {{ form.text.errors }}
			{#{% bootstrap_field form.text %}#}
			<!-- <textarea class="form-control" rows="18" name="post_content" id="post_content"></textarea> -->
		</div>
	
	<br>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-6">
                {{ form.attachment.label }} {{ form.attachment }}
                {{ form.attachment.errors }}
            </div>

            <div class="col-sm-6">
                {% if form.author_photo.errors %}
                <div class="alert alert-danger">
                    {{ form.author_photo.label }} {{ form.author_photo }}
                    {#{{ form.author_photo.errors }}#}
                </div>
                {% else %}
                    {{ form.author_photo.label }} {{ form.author_photo }}
                {% endif %}
            </div>
        </div>
    </div>
    <br>

	<div class="row">
		<div class="col-sm-12">
			كتبه {{ user.student_profile.get_ar_full_name }}
			{% if article.date_submitted %}بتاريخ {{ article.date_submitted|date:"j F Y" }}{% endif %}
		</div>
	</div>
	
</form>
{% if review %}
<hr>
<br>
<blockquote class="blockquote-{% if review.approve %}green{% else %}gold{% endif %}">
	<p>
		<strong>الملاحظات</strong>
	</p>
	<p>
		{{ review.notes }}
	</p>
</blockquote>

{% endif %}
{% endblock %}
