{% extends 'media_base.html' %}{% load staticfiles %}

{% block content %}
<style>
	tr {
		height: 30px;
	}
</style>
<h2>التقارير و التغطيات
<a href="{% url 'media:list_reports' %}" class="btn btn-xs btn-default">
	استعرض جميع التقارير 
	<i class="entypo-left-bold"></i>
</a>
</h2>

<hr>

    {% comment %}
        <!-- TODO: add special table for new activities -->
        (those not considered as new are ones who already have a person to write a story or ones that have been marked
        for "no story" -- basically the ones that have been seen)

        <!-- TODO: add special table for activities with pending reports -->
        <hr>
    {% endcomment %}

<!--<h3>حسب النادي</h3>-->
<!--<br>-->
<div class="panel-group" id="accordion-test">

{% for club in clubs %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse{{ club.pk }}" data-target="#collapse{{ club.pk }}" class="collapsed">
                {{ club }}
            </a>
        </h4>
    </div>
    <div id="collapse{{ club.pk }}" class="panel-collapse collapse {% if clubs.count > 1 %}out{% else %}in{% endif %}">
        <div class="panel-body"><div class="row">
            <table class="display activity_list dt-responsive">
                <thead>
                    <tr>
                        <th>اسم النشاط</th>
                        <th class="not-mobile">تاريخ البداية</th>
                        <th class="not-mobile">تاريخ النهاية</th>
                        <th class="not-mobile">عدد المستفيدين</th>
                        <th class="not-mobile">عدد المنظّمين</th>
                        <th class="none">المرفقات</th>
                        <th>التقرير</th>
                        <th>التغطية</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in club.primary_activity.approved %}
                    {% for episode in activity.episode_set.all %}
                    <tr>
                        <td><a href="{% url 'activities:show' activity.pk %}">{{ activity.name }}</a></td>
                        <td data-order='{{ episode.start_date|date:"U" }}'>{{ episode.start_date|date:"j F" }}</td>
                        <td data-order='{{ episode.end_date|date:"U" }}'>{{ episode.end_date|date:"j F" }}</td>
                        <td>{{ episode.followupreport.participant_count }}</td>
                        <td>{{ episode.followupreport.organizer_count }}</td>
                        <td>
                        {% for image in report.images.all %}
                            {% if forloop.first %}<ul>{% endif %}
                                <li>
                                <a href="{{ image.image.url }}" class="english-field">
                                    <i class="entypo-picture"></i>
                                    {{ image.image.name }}
                                </a>
                                </li>
                            {% if forloop.last %}</ul>{% endif %}
                            {% empty %}
                                <p>لا يوجد.</p>
                        {% endfor %}
                        </td>
                        <td id="episode-{{ episode.pk }}-report-container">
                            {% include 'media/components/report_options.html' %}
                        </td>
                        <td>
                            {% include 'media/components/story_options.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    </div>
</div>
{% endfor %}
</div>

<link rel="stylesheet" href="{% static 'neon/assets/js/datatables/responsive/css/datatables.responsive.css' %}">
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/datatables/buttons/buttons.dataTables.min.css' %}">

	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/jszip.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/buttons.html5.min.js' %}"></script>
<script>
$(function () {
    attach_report_option_handler();
	attach_assign_task_to_click_event();
	$('.activity_list').dataTable({
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
        ],
		order: [[ 2, "desc" ]],
		language: {% include 'js/dataTables-arabic.json' %}
	});
	// Allow the dropdown menus to cross the border of the panel without being cropped
	$(".panel").css("overflow-x", "visible").css("overflow-y", "visible");
});
function attach_assign_task_to_click_event() {
	$(".assign_story_task_menu li a").click(function () {
		var data = {'assignee': $(this).attr('data-mc-member-pk'),
					'episode_pk': $(this).attr('data-episode-pk')};
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: "{% url 'media:assign_story_task' %}",
            cache: false,
            success: function(data){
                if (data['success'] == true){
                	var container = $('#episode-' + data['episode_pk'] + '-story-container');
                	var btn = container.find("div .btn-create-story");
                    var new_btn = $('<a class="btn btn-orange btn-xs"></a>');
                    
                    new_btn.attr("href", btn.attr("href"));
                    new_btn.html("معيّن ل" + data['assignee_name']);

                    container.append(new_btn);
                    container.find("div").remove();
                } else {
                    alert(data["message"]);
                }
            }
        });
	});
};
function attach_report_option_handler() {
    var $reportButton = $("a.btn-report-option");

    // first turn off all already attached handlers
    // this is important because this function will be called after each ajax call to update report options
    // the ajax call will return a button that needs handlers to be attached, so we have to avoid attaching multiple
    // handlers to the already existing buttons
    $reportButton.off('click');

    $reportButton.click(function (event) {

        event.preventDefault();

        var episode_pk = $(this).attr('data-episode-pk');
        var data = {'episode_pk': episode_pk,
                    'action'    : $(this).attr('data-action')};

        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: "{% url 'media:update_report_options' %}",
            cache: false,
            // for some reason the request is being regarded as failed (although status is 200),
            // that's why `complete` is used instead of `success`
            complete: function (data) {
                console.log("complete")
                if (data.status == 200) {
                    var container = $("td#episode-" + episode_pk + "-report-container");
                    container.html(data.responseText);
                    attach_report_option_handler();
                } else {
                    alert(data.statusText + "\n" + data.responseText);
                }

            },
        });
    });
}
</script>
{% endblock %}
