{% extends 'media_base.html' %}{% load staticfiles %}

{% block content %}
<style>
	tr {
		height: 30px;
	}
</style>
<h2>التقارير و التغطيات
<a href="{% url 'media:list_reports' %}" class="btn btn-xs btn-default">
	استعرض جميع التقارير 
	<i class="entypo-left-bold"></i>
</a>
</h2>

<hr>

    {% comment %}
        <!-- TODO: add special table for new activities -->
        (those not considered as new are ones who already have a person to write a story or ones that have been marked
        for "no story" -- basically the ones that have been seen)

        <!-- TODO: add special table for activities with pending reports -->
        <hr>
    {% endcomment %}

<!--<h3>حسب النادي</h3>-->
<!--<br>-->
<div class="panel-group" id="accordion-test">

{% for club in clubs %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapse{{ club.pk }}" class="collapsed">
                {{ club.name }}
            </a>
        </h4>
    </div>
    <div id="collapse{{ club.pk }}" class="panel-collapse collapse in">
        <div class="panel-body"><div class="row">
            <table class="display activity_list">
                <thead>
                    <tr>
                        <th>اسم النشاط</th>
                        <th>تاريخ البداية</th>
                        <th>تاريخ النهاية</th>
                        <th>التقرير</th>
                        <th>التغطية</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in club.primary_activity.approved %}
                    {% for episode in activity.episode_set.all %}
                    <tr>
                        <td><a href="{% url 'activities:show' activity.pk %}">{{ activity.name }}</a></td>
                        <td data-order='{{ episode.start_date|date:"U" }}'>{{ episode.start_date|date:"j F" }}</td>
                        <td data-order='{{ episode.end_date|date:"U" }}'>{{ episode.end_date|date:"j F" }}</td>
                        <td>
                            {% include 'media/components/report_options.html' %}
                        </td>
                        <td>
                            {% include 'media/components/story_options.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    </div>
</div>
{% endfor %}
</div>

<link rel="stylesheet" href="{% static 'neon/assets/js/datatables/responsive/css/datatables.responsive.css' %}">
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables.tableTools.min.js' %}"></script>
<script>
$(function () {
	attach_assign_task_to_click_event();
	$('.activity_list').dataTable({
		"order": [[ 3, "desc" ]],
		"language": {% include 'js/dataTables-arabic.json' %}
	});
});
function attach_assign_task_to_click_event() {
	$(".assign_story_task_menu li a").click(function () {
		console.log("hello")
		var data = {'assignee': $(this).attr('data-mc-member-pk'),
					'episode_pk': $(this).attr('data-episode-pk')};
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: "{% url 'media:assign_story_task' %}",
            cache: false,
            success: function(data){
                if (data['success'] == true){
                	var container = $('#episode-' + data['episode_pk'] + '-story-container');
                	var btn = container.find("div .btn-create-story");
                    var new_btn = $('<a class="btn btn-orange btn-xs"></a>');
                    
                    new_btn.attr("href", btn.attr("href"));
                    new_btn.html("معيّن ل" + data['assignee_name']);

                    container.append(new_btn);
                    container.find("div").remove();
                } else {
                    alert(data["message"]);
                }
            }
        });
	});
};
</script>
{% endblock %}
