{% extends 'media_base.html' %}{% load staticfiles %}

{% block title %}تقارير الأنشطة{% endblock %}

{% block content %}
<h3>تقارير الأنشطة</h3>
<table id="report_list" class="display">
	<thead>
		<th>#</th>
		<th>اسم النشاط</th>
		<th>الجهة المنظمة</th>
		<th>الموعد</th>
		<th>الوصف</th>
		<th>تاريخ البداية</th>
		<th>تاريخ النهاية</th>
		<th>وقت البداية</th>
		<th>وقت النهاية</th>
		<th>المكان</th>
		<th>عدد المنظمين</th>
		<th>عدد المشاركين</th>
        <th>أماكن النشر و الإعلان</th>
        <th>ملاحظات</th>
		<th>التقرير الكامل</th>
	</thead>
	<tbody>
		{% for report in reports %}
		<tr>
			<td>{{ report.pk }}</td>
			<td>{{ report.episode.activity.name }}</td>
			<td>{{ report.episode.activity.primary_club }}</td>
			<td>{{ report.episode.get_index }}</td>
			<td>{{ report.description }}</td>
			<td>{{ report.start_date }}</td>
			<td>{{ report.end_date }}</td>
			<td>{{ report.start_time }}</td>
			<td>{{ report.end_time }}</td>
			<td>{{ report.location }}</td>
			<td>{{ report.organizer_count }}</td>
			<td>{{ report.participant_count }}</td>
            <td>{{ report.announcement_sites }}</td>
            <td>{{ report.notes }}</td>
			<td><a href="{% url 'media:show_report' report.pk %}"
				class="btn btn-xs btn-green">
					<i class="entypo-left-bold"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/dataTables.colVis.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables.tableTools.min.js' %}"></script>
	<script src="{% static 'js/dataTables.colVis.min.js' %}"></script>
<script>
$(function () {
	$('#report_list').dataTable({
		"language": {% include 'js/dataTables-arabic.json' %},
		"dom": "R<'row'<'col-xs-12'C>><'row'<'col-xs-6 col-left'l><'col-xs-6 col-right'<'export-data'T>f>r>t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
		"oTableTools": {
			"sSwfPath": "{% static 'js/copy_csv_xls_pdf.swf' %}",
			"aButtons": [
			{
				"sExtends":     "print",
				"sButtonText":  "اطبع",
				"sButtonClass": "btn btn-default btn-xs"
			},
			{
				"sExtends":     "xls",
				"sButtonText":  "نزّل",
				"sButtonClass": "btn btn-white btn-xs"
			}
			]
		}
	});
});
</script>
{% endblock %}
