{% extends 'media_base.html' %}{% load bootstrap3 %}
{% block title %}رفع تقرير {{ episode.activity.name }}{% endblock %}
{% block content %}
<h3>تقرير {{ episode.activity.name }}</h3>
<p>التقرير التالي يحتوي معلومات النشاط الافتراضية كما تم رفعها في طلب النشاط؛ نرجو تحديث البيانات أو تعديلها حسب المعلومات و الإحصائيات الحقيقية.</p>
<hr>
<form action="{% url 'media:submit_report' episode.pk %}" method="post">
{% csrf_token %}
{% bootstrap_form form %}
<button class="btn btn-block btn-green" type="submit">
	<i class="glyphicon glyphicon-ok-sign"></i> 
	أرسل
</button>
</form>
{% endblock %}