{% extends 'media_base.html' %}{% load bootstrap3 %}{% load staticfiles %}
{% block title %}رفع تقرير {{ episode.activity.name }}{% endblock %}
{% block content %}
<h2>تقرير {{ episode.activity.name }}</h2>
<p>التقرير التالي يحتوي معلومات النشاط الافتراضية كما تم رفعها في طلب النشاط؛ نرجو تحديث البيانات أو تعديلها حسب المعلومات و الإحصائيات الحقيقية.</p>
<hr>
<form action="{% url 'media:submit_report' episode.pk %}" enctype="multipart/form-data" method="post">
    {# The enctype="multipart/form-data" attribute is required for uploading files via html forms in django. #}
    {# Also make sure you pass request.FILES to the django form. #}
    {# See: https://docs.djangoproject.com/en/dev/topics/http/file-uploads/#basic-file-uploads #}
{% csrf_token %}
{% bootstrap_form form %}
<button class="btn btn-block btn-green" type="submit">
	<i class="glyphicon glyphicon-ok-sign"></i> 
	أرسل
</button>
</form>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/bootstrap-timepicker.min.js' %}"></script>
<script>
	// Initialize date and time pickers
	$("input[name=start_date]").datepicker({isRTL: true});
	$("input[name=end_date]").datepicker({isRTL: true});
	
	$("input[name=start_time]").timepicker({showMeridian: false})
		.on('show.timepicker', function(e) {
	    $('.bootstrap-timepicker-widget').attr('dir', 'ltr'); // It appears reversed in rtl
	});
	
	$("input[name=end_time]").timepicker({showMeridian: false})
		.on('show.timepicker', function(e) {
	    $('.bootstrap-timepicker-widget').attr('dir', 'ltr'); // It appears reversed in rtl
	});
</script>
{% endblock %}
