{% extends 'media_base.html' %}{% load staticfiles %}
{% block title %}
تقرير {{ report.episode.activity.name }}
{% endblock %}

{% block content %}
<div class="invoice">

	<div class="row">
	
		<div class="col-sm-6 invoice-left">
		
			<a href="#">
				<img height="60px" src="{% static 'logo/enjaz_logo_shadow.png' %}">
			</a>
			
		</div>
		
		<div class="col-sm-6 invoice-right">
		
				<h3>تقرير #{{ report.episode.pk }}</h3>
				<span>{{ report.date_submitted }}</span>
		</div>
		
	</div>
	
	
	<hr class="margin">
	

	<div class="row">
	
		<div class="col-sm-3 invoice-left">
		
			<h4>الجهات المنظمة</h4>
			{{ report.episode.activity.primary_club.name }}
			{% for club in report.episode.activity.secondary_clubs.all %}
				<br>
				{{ club.name }}
			{% endfor %}
			
		</div>
	
		<div class="col-sm-3 invoice-left">
			 
			<h4>النشاط</h4>
			{{ report.episode.activity.name }}
			<br>
			الموعد #
			{% for e in report.episode.activity.episode_set.all %}
				{% if report.episode == e %}{{ forloop.counter }}{% endif %}
			{% endfor %}
		</div>
		
		<!--
		<div class="col-md-6 invoice-right">
		
			<h4>Payment Details:</h4>
			<strong>V.A.T Reg #:</strong> 542554(DEMO)78
			<br>
			<strong>Account Name:</strong> FoodMaster Ltd
			<br>
			<strong>SWIFT code:</strong> 45454DEMO545DEMO
			
		</div>-->
		
	</div>
	
	<div class="margin"></div>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="4" class="text-center">محتوى التقرير</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<th class="text-center">الوصف</th>
				<td colspan="3">{{ report.description|linebreaksbr }}</td>
			</tr>
			
			<tr>
				<th class="text-center">تاريخ البداية</th>
				<td>{{ report.start_date }}</td>
				<th class="text-center">تاريخ النهاية</th>
				<td>{{ report.end_date }}</td>
			</tr>
			
			<tr>
				<th class="text-center">وقت البداية</th>
				<td>{{ report.start_time }}</td>
				<th class="text-center">وقت النهاية</th>
				<td>{{ report.end_time }}</td>
			</tr>
			
			<tr>
				<th class="text-center">عدد المنظمين</th>
				<td>{{ report.organizer_count }}</td>
				<th class="text-center">عدد المشاركين</th>
				<td>{{ report.participant_count }}</td>
			</tr>

            <tr>
                <th class="text-center">أماكن النشر و الإعلان</th>
                <td colspan="3">{{ report.announcement_sites|linebreaksbr }}</td>
            </tr>

            <tr>
                <th class="text-center">ملاحظات</th>
                <td colspan="3">{{ report.notes|linebreaksbr }}</td>
            </tr>
		</tbody>
	</table>
	
	<div class="margin"></div>

	<div class="row">
		
		<div class="col-sm-12">
			
			<div class="invoice-right">
				
				<a href="javascript:window.print();" class="btn btn-primary btn-icon icon-left hidden-print">
					طباعة التقرير
					<i class="entypo-doc-text"></i>
				</a>
                {% if report.images.name %}
                <a href="{{ report.images.url }}" class="btn btn-primary btn-icon icon-left">
					تحميل المرفقات
					<i class="entypo-down-bold"></i>
				</a>
                {% endif %}
			</div>
			
		</div>
		
	</div>

</div>
{% endblock %}
