{% extends 'media_base.html' %}{% load staticfiles %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-offset-10 col-sm-2 pull-left">
            <h3>خبر #{{ story.episode.pk }}</h3>
            <span>{{ story.date_submitted }}</span>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1>{{ story.title }} 
			<small>{{ story.writer.common_profile.ar_first_name }} {{ story.writer.common_profile.ar_last_name }}</small>
			<a href="{% url 'media:edit_story' episode.pk %}" class="btn btn-xs btn-gold btn-icon">
				عدّل
				<i class="entypo-pencil"></i>
			</a>
		</h1>
	</div>
</div>
<hr>
<br>
<div class="row">
	<div class="col-md-12">
		<p>{{ story.text|linebreaksbr }}</p>
	</div>
</div>
{% if review %}
<hr>
<br>
<blockquote class="blockquote-{% if review.approve %}green{% else %}gold{% endif %}">
	<p>
		<strong>الملاحظات</strong>
	</p>
	<p>
		{{ review.notes|linebreaksbr }}
	</p>
</blockquote>

{% endif %}
{% endblock %}
