<!DOCTYPE html>{% load staticfiles %}
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ar" dir="rtl">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="shortcut icon" href="{% static 'newhpc/images/favicon2.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'newhpc/images/favicon2.ico' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Tajawal:300,400,700&display=swap&subset=arabic" rel="stylesheet">
        <link href="{% static 'newhpc/arabic/assets/plugins/socicon/socicon.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/animate/animate.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN: BASE PLUGINS  -->
        <link href="{% static 'newhpc/arabic/assets/plugins/revo-slider/css/settings.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/revo-slider/css/layers.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/revo-slider/css/navigation.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/plugins/slider-for-bootstrap/css/slider.css' %}" rel="stylesheet" type="text/css" />
        <!-- END: BASE PLUGINS -->
        <!-- BEGIN: PAGE STYLES -->
        <link href="{% static 'newhpc/arabic/assets/plugins/ilightbox/css/ilightbox.css' %}" rel="stylesheet" type="text/css" />
        <!-- END: PAGE STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link href="{% static 'newhpc/arabic/assets/demos/index/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/demos/index/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/demos/index/css/themes/hpc-colors-rtl.css' %}" rel="stylesheet" id="style_theme" type="text/css" />
        <link href="{% static 'newhpc/arabic/assets/demos/index/css/custom-rtl.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        <!-- Custom style to improve header on mobile and desktop -->
        <style>

            body {
                font-family: 'Tajawal', sans-serif !important;
            }
            #simple-footer {
            left: 0;
            bottom: 0;
            width: 100%;
        }
            .white-footer {
            color: #fafefe;
        }
            @media (max-width: 1199px) {
            #hpcnav {
            }
            .c-desktop-logo {
                height: 55px;
            }
            .c-layout-header .c-navbar .c-mega-menu.c-fonts-uppercase > .nav.navbar-nav > li > .c-link {
                font-size: 15px;
            }
            .c-layout-header .c-navbar .c-mega-menu.c-fonts-uppercase > .nav.navbar-nav > li .dropdown-menu > li > a {
                font-size: 13px;
            }}
            @media (max-width: 991px) {
            #hpcnav {
                margin-top: -13px;
            }
            }
            @media (max-width: 767px) {
            #hpcnav {

            }}
            @media (max-width: 370px) {
            #hpcnav {
            }}
            @media (min-width: 1200px) {
            #hpcnav {
            }
            .c-layout-header .c-navbar .c-mega-menu.c-fonts-uppercase > .nav.navbar-nav > li > .c-link {
                font-size: 18px;
                text-transform: uppercase;
                color: #242b2c;
            }
            .c-layout-header .c-navbar .c-mega-menu.c-fonts-uppercase > .nav.navbar-nav > li .dropdown-menu > li > a {
                font-size: 15px;
                text-transform: uppercase;
            }
            .c-desktop-logo {
                height: 55px;
            }
            }
            footer {
                color:#fafefe!important;
            }
            footer p {
                color:#fafefe!important;
            }
            .c-layout-footer.c-layout-footer-3 .c-prefooter .c-container .c-links > li {
                list-style: none;
                padding: 5px 0;
                border-bottom: 1px solid #515152;
            }
            .c-layout-footer.c-layout-footer-3 .c-prefooter .c-container .c-links > li > a {
                color: #b0b1b3;
            }
            .c-layout-footer.c-layout-footer-3 .c-prefooter .c-container .c-blog > .c-post > .c-post-content > .c-post-title a {
                color: #b0b1b3;
            }
            {% block style %}
            {% endblock %}
        </style>
    </head>

    <body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-topbar c-layout-header-topbar-collapse c-topbar-expanded">
	    <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
        <!-- BEGIN: HEADER -->
        <header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
		    <div class="c-topbar c-topbar-light">
		        <div class="container">
                    <!-- BEGIN: INLINE NAV -->
                    <nav class="c-top-menu c-pull-left">
                        <ul class="c-icons c-theme-ul">
                            <li><a href="https://twitter.com/ksau_events"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLxB3gOIBhiQFlBFMvE7N3B-oL78szNXje"><i class="icon-social-youtube"></i></a></li>
                        </ul>
                    </nav>
                    <!-- END: INLINE NAV -->
                    <!-- BEGIN: INLINE NAV -->
                    <nav class="c-top-menu c-pull-right">
                        <ul class="c-links c-theme-ul">
                            <li><a href="{% url 'newhpc:list_faqs' 'ar' %}">الأسئلة الشائعة</a></li>
                            <li class="c-divider">|</li>
                            <li><a href="mailto: HPC-notifications@enjazportal.com">تواصل معنا</a></li>
                        </ul>
                        <ul class="c-ext c-theme-ul">
                            <li class="c-lang dropdown c-last">
                                <a href="{% block lang %}{% endblock %}">EN</a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="active"><a href="{% url 'newhpc:riy_ar_index' %}">العربيّة</a></li>
                                    <li><a href="{% block lang2 %}{% endblock %}">English</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
			        <!-- END: INLINE NAV -->
		        </div>
	        </div>
            <div class="c-navbar">
                <div class="container">
                    <!-- BEGIN: BRAND -->
                    <div class="c-navbar-wrapper clearfix">
                        <div class="c-brand c-pull-left" style="">
                            <a href="{% url 'newhpc:riy_ar_index' %}" class="c-logo">
                                <img style="" src="{% static 'newhpc/arabic/assets/base/img/layout/logos/hpc-logo-3.png' %}" alt="مؤتمر التخصّصات الصحّية" class="c-desktop-logo">
                                <img style="height: 50px;margin-top: -15px;" src="{% static 'newhpc/arabic/assets/base/img/layout/logos/hpc-logo-3.png' %}" alt="مؤتمر التخصّصات الصحّية" class="c-desktop-logo-inverse">
                                <img style="height: 50px; margin-top: -12px" src="{% static 'newhpc/arabic/assets/base/img/layout/logos/hpc-logo-3.png' %}" alt="مؤتمر التخصّصات الصحّية" class="c-mobile-logo">
                            </a>
                            <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            </button>
                        </div>
                        <!-- END: BRAND -->

                        <!-- BEGIN: HOR NAV -->
                        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                        <!-- BEGIN: MEGA MENU -->
                        <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                        <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" id="hpcnav" style="">
                            <ul class="nav navbar-nav c-theme-nav">
                                <li class="c-onepage-link {% block active_register %}{% endblock %}">
                                    <a href="{% url 'newhpc:riy_ar_registration' event_city='riyadh' %}" class="c-link" >التسجيل</a>
                                </li>

                                <li class="c-onepage-link {% block active_exhib %}{% endblock %}">
                                    <a href="{% url 'newhpc:riy_ar_exhibition' %}" class="c-link" >المعرض</a>
                                </li>

                                <li class="c-onepage-link {% block active_research %}{% endblock %}">
                                    <a href="{% url 'newhpc:riy_en_research' %}" class="c-link ">مسار الأبحاث</a>
                                </li>

                                <li class="c-onepage-link {% block active_media %}{% endblock %}">
                                    <a href="{% url 'newhpc:riy_media' 'ar' %}" class="c-link" >المركز الإعلامي</a>
                                </li>

                                <li class="c-menu-type-classic {% block active_previous %}{% endblock %}">
                                    <a href="{% url 'newhpc:list_prev_versions' %}" class="c-link dropdown-toggle">النسخ السابقة<span class="c-arrow c-toggler"></span></a>
                                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                        <li>
                                            <a href="https://enjazportal.com/hpc/riyadh/ar/previous_versions/2016/">مؤتمر التخصصات الصحية 2016</a>
                                        </li>
                                        <li>
                                            <a href="https://enjazportal.com/hpc/riyadh/ar/previous_versions/2017/">مؤتمر التخصصات الصحية 2017</a>
                                        </li>
                                        <li>
                                            <a href="https://enjazportal.com/hpc/riyadh/ar/previous_versions/2018/">مؤتمر التخصصات الصحية 2018</a>
                                        </li>
                                        <li>
                                            <a href="https://enjazportal.com/hpc/riyadh/ar/previous_versions/2019/">مؤتمر التخصصات الصحية 2019</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="c-onepage-link {% block active_about %}{% endblock %}">
                                    <a href="{% url 'newhpc:riy_about' 'ar' %}" class="c-link ">عن المؤتمر</a>
                                </li>

                            </ul>
                        </nav>

                        <!-- END: MEGA MENU -->
                        <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                        <!-- END: HOR NAV -->
			        </div>
		        </div>
	        </div>
        </header>
        <!-- END: HEADER -->
        <!-- END: LAYOUT/HEADERS/HEADER-1 -->
        {% block content %}
        {% endblock %}
	<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-5 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
	<div class="c-prefooter">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="c-container c-first">
						<div class="c-content-title-1">
                            <img src="{% static 'newhpc/images/logos/hpc-logo-white2.png' %}"href="{% url 'newhpc:riy_ar_index' %}" style="width: 150px;">
							<div class="c-line-left hide"></div>
							<p class="c-text">
							جامعة الملك سعود بن عبدالعزيز للعلوم الصحّية, الرياض. 28 الى 30 يناير 2020</p>
						</div>
						<ul class="c-links">
							<li><a href="{% url 'newhpc:riy_ar_index' %}">الصفحة الرئيسة</a></li>
							<li><a href="{% url 'newhpc:riy_ar_registration' event_city='riyadh' %}">التسجيل</a></li>
							<li><a href="{% url 'newhpc:riy_en_research' %}">الأبحاث</a></li>
							<li><a href="{% url 'newhpc:riy_ar_index' %}">المعرض</a></li>
							<li><a href="{% url 'newhpc:list_prev_versions' %}">النسخ السابقة</a></li>
                            <li><a href="{% url 'newhpc:riy_about' 'ar' %}">عن المؤتمر</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="c-container">
						<div class="c-content-title-1">
							<h3 class="c-font-uppercase c-font-bold c-font-white">أخر الاخبار</h3>
							<div class="c-line-left hide"></div>
						</div>
						<div class="c-blog">
							<div class="c-post">
								<div class="c-post-img"><img src="https://enjazportal.com/media/files/newhpc/blog/arabic/_%D9%85%D8%B9%D8%AF%D9%84_-_%D8%A7%D9%86%D9%81%D9%88_%D8%A7%D9%84%D9%87%D9%88%D9%8A%D8%A9.png" alt="" class="img-responsive"/></div>
								<div class="c-post-content">
									<h4 class="c-post-title"><a href="https://enjazportal.com/hpc/riyadh/ar/media/show_post/2">مؤتمر التخصصات الصحية بحُلةٍ فريدة..</a></h4>
									<p class="c-text">‏تحت رعاية معالي مدير جامعة الملك سعود بن عبد العزيز للعلوم الصحية الدكتور بندر بن عبد المحسن القناوي، تُنظم عمادة شؤون الطلاب مؤتمر التخصصات الصحية في نسخته الخامسة لهذا العام 2020 بقيادة نخبة من الطلاب والطالبات، حيثُ تم إِطلاق الهوية الجديدة بشعارٍ مختلف عنوانُه " الماضي أساسُنا، والحاضِرُ ينيرُ مستقبلنا ".</p>
								</div>
							</div>
                            <!--
							<div class="c-post c-last">
								<div class="c-post-img"><img src="../../assets/base/img/content/stock/14.jpg" alt="" class="img-responsive"/></div>
								<div class="c-post-content">
									<h4 class="c-post-title"><a href="#" style="color: #b0b1b3">Dedicated Support</a></h4>
									<p class="c-text">Lorem ipsum dolor ipsum sit ipsum amet, consectetuer sit adipiscing elit ipsum elit elit ipsum elit</p>
								</div>
							</div>
							-->
							<a href="#" class="btn btn-md c-btn-border-1x c-theme-btn c-btn-uppercase c-btn-square c-btn-bold c-read-more hide">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="c-container">
						<div class="c-content-title-1">
							<h3 class="c-font-uppercase c-font-bold c-font-white">تابعنا على تويتر!</h3>
							<div class="c-line-left hide"></div>
						</div>
						<ul class="c-works">
                            <a class="twitter-timeline" data-width="450" data-height="500" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/ksau_events?ref_src=twsrc%5Etfw">Tweets by ksau_events</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="c-container c-last">
						<div class="c-content-title-1">
							<h3 class="c-font-uppercase c-font-bold c-font-white">تواصل معنا</h3>
							<div class="c-line-left hide"></div>
							<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy ad minim.</p>-->
						</div>
						<ul class="c-socials">
							<li><a href="https://twitter.com/ksau_events"><i class="icon-social-twitter"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCQBBGI264nZhFqC4sh9L04w"><i class="icon-social-youtube"></i></a></li>
                            <li><a href="mailto: HPC-notifications@enjazportal.com"><i class="icon-envelope"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer><!-- END: LAYOUT/FOOTERS/FOOTER-5 -->
	<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-1 -->
        <footer id="simple-footer" class="c-layout-footer c-layout-footer-1">
            <div class="c-postfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6" style="width: 100%;">
                            <p style="text-align: center" class=" white-footer c-font-15 c-font-bold">بني بأيدٍ طلابيّة.<br><a href="https://github.com/enjaz/enjaz" target="_blank" class="white-footer c-link c-font-bold c-font-15">&copy; فريق إنجاز 2020</a>
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </footer>
        <!-- END: LAYOUT/FOOTERS/FOOTER-1 -->

        <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
        <div class="c-layout-go2top">
            <i class="icon-arrow-up"></i>
        </div><!-- END: LAYOUT/FOOTERS/GO2TOP -->

        <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
        <!-- BEGIN: CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="{% static 'newhpc/arabic/assets/global/plugins/excanvas.min.js' %}"></script>
        <![endif]-->
        <script src="{% static 'newhpc/arabic/assets/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/jquery.easing.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/reveal-animate/wow.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/demos/index/js/scripts/reveal-animate/reveal-animate.js' %}" type="text/javascript"></script>
        <!-- END: CORE PLUGINS -->
        <!-- BEGIN: LAYOUT PLUGINS -->
        <script src="{% static 'newhpc/arabic/assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/fancybox/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/smooth-scroll/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/typed/typed.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/plugins/js-cookie/js.cookie.js' %}" type="text/javascript"></script>
        <!-- END: LAYOUT PLUGINS -->
        <!-- BEGIN: THEME SCRIPTS -->
        <script src="{% static 'newhpc/arabic/assets/base/js/components.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/base/js/components-shop.js' %}" type="text/javascript"></script>
        <script src="{% static 'newhpc/arabic/assets/base/js/app.js' %}" type="text/javascript"></script>
        <script src="{% static 'neon/assets/js/toastr.js' %}"></script>
        <script>
            $(document).ready(function()
            {
                App.init(); // init core
            });
        </script>
        <!-- END: THEME SCRIPTS -->
        <!-- BEGIN: PAGE SCRIPTS -->
        <script>
			$(document).ready(function() {

    var slider = $('.c-layout-revo-slider .tp-banner');
    var cont = $('.c-layout-revo-slider .tp-banner-container');
    var height = (App.getViewPort().width < App.getBreakpoint('md') ? 400 : 620);

    var api = slider.show().revolution({
        sliderType:"standard",
        sliderLayout:"fullwidth",
        delay: 15000,
        autoHeight: 'off',
        gridheight:500,

        navigation: {
            keyboardNavigation:"off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation:"off",
            onHoverStop:"on",
            arrows: {
                style:"circle",
                enable:true,
                hide_onmobile:false,
                hide_onleave:false,
                tmp:'',
                left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                },
                right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                }
            },
            touch:{
                touchenabled:"on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
            },
        },
        viewPort: {
            enable:true,
            outof:"pause",
            visible_area:"80%"
        },

        shadow: 0,

        spinner: "spinner2",

        disableProgressBar:"on",

        fullScreenOffsetContainer: '.tp-banner-container',

        hideThumbsOnMobile: "on",
        hideNavDelayOnMobile: 1500,
        hideBulletsOnMobile: "on",
        hideArrowsOnMobile: "on",
        hideThumbsUnderResolution: 0,

    });
}); //ready
        {% block script %}
        {% endblock %}
        </script>
        {% block customscript %}
        {% endblock %}

        <!-- END: PAGE SCRIPTS -->
        <!-- END: LAYOUT/BASE/BOTTOM -->
    </body>
</html>