{% extends 'newhpc/arabic/arabic_base.html' %}
{% load staticfiles %}
{% block title %}مؤتمر التخصّصات الصحّية 2020 | المركز الإعلامي{% endblock %}

{% block lang %}
{% url 'newhpc:riy_media' 'en' %}
{% endblock %}
{% block lang2 %}
{% url 'newhpc:riy_media' 'en' %}
{% endblock %}

{% block active_media %}
c-active
{% endblock %}

{% block content %}
<div class="c-content-box c-size-md" style="padding-top:200px">
	<div class="container">
        <div style="font-size:44px; padding-bottom:40px" class="c-center c-font-black c-font-bold">المركز الإعلامي</div>
		<div class="row">
			<div class="col-md-9">
				<div class="c-content-blog-post-1-list">
                {% if posts != none %}
                    {% for post in posts %}
					<div class="c-content-blog-post-1">
						<div class="c-media">
							<div class="c-content-media-2-slider" data-slider="owl">
									<div class="item">
										<img src="{% if post.image %}{{post.image.url}}{% endif %}" style="width:100%;">
									</div>
							</div>
						</div>

						<div class="c-title c-font-bold c-font-uppercase">
							<a href="{% url 'newhpc:riy_show_post' 'ar' post.pk %}">{{ post.title }}</a>
						</div>

						<div class="c-desc">
							{{ post.summary }}
							<a href="{% url 'newhpc:riy_show_post' 'ar' post.pk %}">اقرأ المزيد...</a>
						</div>

						<div class="c-panel">
							<div class="c-author"><a href="#">بقلم <span class="c-font-uppercase">{{ post.author }}</span></a></div>
							<div class="c-date"><span class="c-font-uppercase">{{ post.date_submitted }}</span></div>
							<!--<ul class="c-tags c-theme-ul-bg">-->
								<!--<li>ux</li>-->
								<!--<li>marketing</li>-->
								<!--<li>events</li>-->
							<!--</ul>-->
							<!--<div class="c-comments"><a href="#"><i class="icon-speech"></i> 30 comments</a></div>-->
						</div>
					</div>
					{% endfor %}
				{% endif %}
					<!--<div class="c-pagination">-->
						<!--<ul class="c-content-pagination c-theme">-->
							<!--<li class="c-prev"><a href="#"><i class="fa fa-angle-right"></i></a></li>-->
							<!--<li><a href="#">1</a></li>-->
							<!--<li class="c-active"><a href="#">2</a></li>-->
							<!--<li><a href="#">3</a></li>-->
							<!--<li><a href="#">4</a></li>-->
							<!--<li class="c-next"><a href="#"><i class="fa fa-angle-left"></i></a></li>-->
						<!--</ul>-->
					<!--</div>-->
				</div>
			</div>
			<div class="col-md-3">
			<!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
<!--<form action="#" method="post">-->
	<!--<div class="input-group">-->
      <!--<input type="text" class="form-control c-square c-theme-border" placeholder="Search blog...">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Go!</button>-->
      <!--</span>-->
    <!--</div>-->
<!--</form>-->

<!--<div class="c-content-ver-nav">-->
	<!--<div class="c-content-title-1 c-theme c-title-md c-margin-t-40">-->
		<!--<h3 class="c-font-bold c-font-uppercase">Categories</h3>-->
		<!--<div class="c-line-left c-theme-bg"></div>-->
	<!--</div>-->
	<!--<ul class="c-menu c-arrow-dot1 c-theme">-->
		<!--<li><a href="#">Web Development(2)</a></li>-->
		<!--<li><a href="#">UX Design(12)</a></li>-->
		<!--<li><a href="#">Mobile Development(5)</a></li>-->
		<!--<li><a href="#">Internet Marketing(7)</a></li>-->
		<!--<li><a href="#">Social Networks(11)</a></li>-->
		<!--<li><a href="#">Web Design(18)</a></li>-->
	<!--</ul>-->
<!--</div>-->

<!--<div class="c-content-tab-1 c-theme c-margin-t-30">-->
	<!--<div class="nav-justified">-->
		<!--<ul class="nav nav-tabs nav-justified">-->
		    <!--<li class="active"><a href="#blog_recent_posts" data-toggle="tab">آخر الأخبار</a></li>-->
		    <!--&lt;!&ndash;<li><a href="#blog_popular_posts" data-toggle="tab">Popular Posts</a></li>&ndash;&gt;-->
		<!--</ul>-->
		<!--<div class="tab-content">-->
	    	<!--<div class="tab-pane active" id="blog_recent_posts">-->
	    		<!--<ul class="c-content-recent-posts-1">-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/09.jpg" alt="" class="img-responsive">-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/08.jpg" alt="" class="img-responsive">-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/07.jpg" alt="" class="img-responsive">-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/32.jpg" alt="" class="img-responsive">-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    		<!--</ul>-->
	    	<!--</div>-->
	    	<!--<div class="tab-pane" id="blog_popular_posts">-->
	    		<!--<ul class="c-content-recent-posts-1">-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/34.jpg" class="img-responsive" alt=""/>-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/37.jpg" class="img-responsive" alt=""/>-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/32.jpg" class="img-responsive" alt=""/>-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    			<!--<li>-->
	    				<!--<div class="c-image">-->
	    					<!--<img src="../../assets/base/img/content/stock/54.jpg" class="img-responsive" alt=""/>-->
	    				<!--</div>-->
	    				<!--<div class="c-post">-->
	    					<!--<a href="" class="c-title">-->
	    					<!--UX Design Expo 2015...-->
	    					<!--</a>-->
	    					<!--<div class="c-date">27 Jan 2015</div>-->
	    				<!--</div>-->
	    			<!--</li>-->
	    		<!--</ul>-->
	    	<!--</div>-->
	  	<!--</div>-->
  	<!--</div>-->
<!--</div>-->

<!--<div class="c-content-ver-nav">-->
	<!--<div class="c-content-title-1 c-theme c-title-md c-margin-t-40">-->
		<!--<h3 class="c-font-bold c-font-uppercase">Blogs</h3>-->
		<!--<div class="c-line-left c-theme-bg"></div>-->
	<!--</div>-->
	<!--<ul class="c-menu c-arrow-dot c-theme">-->
		<!--<li><a href="#">Fasion & Arts</a></li>-->
		<!--<li><a href="#">UX & Web Design</a></li>-->
		<!--<li><a href="#">Mobile Development</a></li>-->
		<!--<li><a href="#">Internet Marketing</a></li>-->
		<!--<li><a href="#">Frontend Development</a></li>-->
	<!--</ul>-->
<!--</div>&lt;!&ndash; END: CONTENT/BLOG/BLOG-SIDEBAR-1 &ndash;&gt;-->
			</div>
		</div>
		<div class="row">
			<div style="font-size:30px" class="c-title c-font-bold c-font-uppercase">مقاطع الفيديو</div><br>
			{% for vid in videos %}
			<div class="col-lg-3">
				{% if vid.ar_title %} {{vid.ar_title }} {% endif %}
				<div class="c-media">
					<iframe src="{% if vid.external_link %} {{vid.external_link}}
					             {% elif vid.file %} {{vid.file.url}} {%endif%}"
							width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
					</iframe>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'newhpc/arabic/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'newhpc/arabic/assets/plugins/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'newhpc/arabic/assets/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'newhpc/arabic/assets/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'newhpc/arabic/assets/plugins/fancybox/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
    <script src="{% static 'newhpc/arabic/assets/plugins/smooth-scroll/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'newhpc/arabic/assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js' %}" type="text/javascript"></script>
    <script src="{% static 'newhpc/arabic/assets/plugins/js-cookie/js.cookie.js' %}" type="text/javascript"></script>
{% endblock %}