{% extends 'newhpc/arabic/arabic_base.html' %}
{% load staticfiles %}
{% block title %}مؤتمر التخصّصات الصحّية 2020 | الرياض{% endblock %}
{% block style %}
    @media (min-width: 992px) {
    #slide1h3 {
        margin-top:55px
    }
    #slide1p {
        margin:60px 0 30px 0;
    }
    #our-vision.c-feature-15-container {
        margin: 0 350px 0 -30px;
    }
    }

    @media (max-width: 991px) {
    #slide2h3.c-font-48 {
        font-size:19px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 25px !important;
    }
    #slide1p.c-font-40 {
        font-size: 14px !important;
    }
    #slide1p {
        margin:0 !important;
    }
    #slide1h3 {
        margin-top: 15px !important;
    }
    #our-vision.c-feature-15-container {
        margin: 0 !important;
    }
    #our-vision-des.c-font-20 {
        font-size:15px;
    }
    }
    @media (max-width: 415px) {
    #slide2h3.c-font-48 {
        font-size:16px !important;
    }
    }
    .listitem44 {
      display: inline-block;
      font-size: 1.5em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }

    .listitem44 span {
      display: block;
      font-size: 4.5rem;
    }
{% endblock %}
{% block lang %}{% url 'newhpc:riy_en_index' %}{% endblock %}
{% block lang2 %}{% url 'newhpc:riy_en_index' %}{% endblock %}
{% block content %}
    <!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-4" dir="ltr">
            <div class="tp-banner-container c-theme">
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!--BEGIN: SLIDE #1 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img
                                alt=""
                                src="{% static 'newhpc/images/slides/KSAUHS-TOWER4.jpg' %}"
                                data-bgposition="center bottom"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                >
                            <div class="tp-caption customin customout"
                                data-x="center"
                                data-y="center"
                                data-hoffset=""
                                data-voffset="-50"
                                data-speed="0"
                                data-start="0"
                                data-transform_idle="o:1;"
                                data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="600">
                                <h3 style="direction: rtl;" id="slide1h3" class="c-font-70 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                   مؤتمر التخصّصات الصحّية 2020
                                </h3>
                                <p style="direction: rtl;" id="slide1p" class="c-font-40 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                   جامعة الملك سعود بن عبدالعزيز للعلوم الصحّية, الرياض
                                </p>
                                <h2 style="direction: rtl" class="c-font-40 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                   28 الى 30 يناير 2020
                                </h2>
                            </div>
                        </li>
                        <!--END -->

                        <!--BEGIN: SLIDE #2 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img
                                alt=""
                                src="{% static 'newhpc/images/slides/hpc-students.jpg' %}"
                                data-bgposition="center center"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                >
                            <div class="tp-caption customin customout"
                                data-x="center"
                                data-y="center"
                                data-hoffset=""
                                data-voffset="-50"
                                data-speed="0"
                                data-start="0"
                                data-transform_idle="o:1;"
                                data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="600">
                                <h3 id="slide2h3" style="direction: rtl;line-height: 1.5" class="c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                    يسُر مؤتمر التخصصات الصحية ٢٠٢٠ أن يُعلن <br>عن فتح باب التقديم لاستقبال الملخصات البحثية.
                                </h3>
                            </div>
                            <div class="tp-caption lft"
                                data-x="center"
                                data-y="center"
                                data-voffset="110"
                                data-speed="1000"
                                data-start="1000"
                                data-transform_idle="o:1;"
                                data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;">
                                <a href="{% url 'newhpc:riy_en_research' %}" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">معرفة المزيد</a>
                            </div>
                        </li>
                        <!--END -->

                    </ul>
                </div>
            </div>
        </section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
    </div>

        <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-3 -->
    <div id="feature-15-1" class="c-bg-parallax c-content-feature-15 c-bg-img-center" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="c-feature-15-container c-bg-white">
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40">رؤيتنا</h2>
                        <p class="c-feature-15-desc c-font-20" style="margin-bottom:40px ">
                            الابتكار والتميز في طرق التبادل المعرفي التي يتبناها المؤتمر في مجال التعليم الصحي و البحث العلمي على الصعيد الوطني والدولي.
                        </p>
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40" style="margin-top: 130px;border-color: #9d0051 !important;">ما هو مؤتمر التخصّصات الصحّية؟</h2>
                        <p class="c-feature-15-desc c-font-20">
مؤتمر التخصصات الصحّية، هو أول مؤتمر طلابي اُعتمد من الهيئة السعودية للتخصصات الصحية. ويعد ضمن البرامج الكبرى السنوية لدى جامعة الملك سعود بن عبدالعزيز للعلوم الصحية  التي يقيمها نادي الطلاب تحت إشراف عمادة شؤون الطلاب. يتم في المؤتمر عرض محاضرات وورش عمل متنوعة تهم الممارسين الصحيين، كما يُعرض فيه نخبة من الأبحاث التي تنافس على المراكز الأولى في المؤتمر.                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-3 -->


    <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-1 -->
    <div id="feature-15-1" class="c-content-feature-15 c-bg-img-center" style="background-image: url({% static 'newhpc/images/backgrounds/king-vision.jpg' %});direction: rtl">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12" style="opacity: 0.97;">
                    <div class="c-feature-15-container c-bg-white" id="our-vision">
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40">المفهوم العام لمؤتمر التخصصات الصحية ٢٠٢٠</h2>
                        <p class="c-feature-15-desc c-font-20" style="direction: rtl" id="our-vision-des">
                            يسعى مؤتمر التخصصات الصحية بنسخته الخامسة لطرح ومناقشة برنامج التحول الوطني 2020. وضع برنامج التحول الوطني لتحديد التحديات التي تواجهها الجهات الحكومية وبناء القدرات المؤسسية لمواكبة أهداف رؤية 2030. نود في مؤتمر التخصصات الصحية 2020 تسليط الضوء على المحاور الرئيسية لبرنامج التحول الوطني في القطاع الصحي.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-1 -->
    <!-- BEGIN: CONTENT/SLIDERS/TEAM-1 -->
<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-person-1-slider" data-slider="owl">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">أبرز المتحدّثين</h3>
				<div class="c-line-center c-theme-bg"></div>
			</div>
			<!-- End-->

			<!-- Begin: Owlcarousel -->
			<div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-rtl="true" data-items="3" data-slide-speed="8000">


			  	<div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/Yaseen_Arabi.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
					  		<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. ياسين عرابي
                            </p>
		                </div>
	                </div>
			  	</div>

			  	<div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/BassemKurdi.png' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. باسم كردي
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/DrAhmedBalkhair.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. أحمد بالخير
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/DrMohamedalmoamary.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. محمد المعمري
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/DrZiadNakshabandi.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. زياد نقشبندي
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/DrRaedAlhazme.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. رائد الحازمي
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/DrKhalidAlodhaibi.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. خالد العضيبي
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/AbdulelahAlhawsawi.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. عبدالإله الهوساوي
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/AbdulhameedAlHabeeb.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. عبدالحميد الحبيب
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/DrMajdahShugdar.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. ماجدة شقدار
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/DrNezarBahabri.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. نزار باهبري
                            </p>
		                </div>
	                </div>
			  	</div>
                <div class="item">
			  		<div class="c-content-person-1">
			  			<div class="c-caption c-content-overlay">
			  				<div class="c-overlay-wrapper">
				  				<div class="c-overlay-content">
					  				<a href="{% url 'newhpc:riy_coming_soon' %}"><i class="icon-link"></i></a>
					  			</div>
			  				</div>
			  				<img src="{% static 'newhpc/images/speakerstop/new/AbdullaAASayyari.jpg' %}" class="img-responsive c-overlay-object" alt="">
			  			</div>
			  			<div class="c-body">
				  			<p style="text-align: center; font-size: 20px; font-weight: 700;">
                                د. عبدالله السياري
                            </p>
		                </div>
	                </div>
			  	</div>
			</div>
	        <!-- End-->
	    </div>
	    <!-- End-->
	</div>
</div><!-- END: CONTENT/SLIDERS/TEAM-1 -->
<!-- BEGIN: CONTENT/BARS/BAR-4 -->
<div class="c-content-box c-size-md c-bg-parallax" style="background-image: url({% static 'newhpc/images/slides/main-color.jpg' %});margin-top: -50px">
	<div class="container">
		<div class="c-content-bar-4">
			<div class="c-actions">
				<a href="{% url 'newhpc:riy_coming_soon' %}" class="btn btn-md c-btn-border-2x c-btn-square c-btn-white c-btn-uppercase c-btn-bold">اضغط هنا لمعرفة المزيد</a></div>
		</div>
	</div>
</div>
<!-- END: CONTENT/BARS/BAR-4 -->
<!-- BEGIN: CONTENT/BARS/BAR-4 -->
<div class="c-content-box c-size-md c-bg-parallax" style="background-color: #242b2c ">
	<div class="container">
		<div class="c-content-bar-4">
			<h3 class="c-font-uppercase c-font-bold" id="head" style="margin: 0px!important;border: 0px!important;">باقي على المؤتمر:</h3>
              <ul style="color: white!important;padding: 0px!important;font-weight: 700!important;margin-top: -15px!important;">
                <li class="listitem44"><span id="days"></span>يوم</li>
                <li class="listitem44"><span id="hours"></span>ساعة</li>
                <li class="listitem44"><span id="minutes"></span>دقيقة</li>
                <li class="listitem44"><span id="seconds"></span>ثانية</li>
              </ul>
		</div>
	</div>
</div>
<!-- END: CONTENT/BARS/BAR-4 -->

<!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
<div class="c-content-box c-size-sm c-bg-dark">
	<div class="container">
		<div class="c-content-subscribe-form-1">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="c-title c-font-30 c-font-uppercase c-font-bold">سجّل في نشرتنا البريدية</h3>
					<!--<div class="c-body c-font-16 c-font-uppercase c-font-sbold">For latest news and updates</div>-->
				</div>
            </div>
            <div class="row">
				<div class="col-sm-12">
					<form action="/create_post/" id="newsletter_signup">
						<div class="input-group input-group-lg">
                            <input id="email" type="text" class="form-control input-lg" placeholder="بريدك الإلكتروني">
							<span class="input-group-btn">
								<button id="signup_btn" type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">التسجيل</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!-- END: CONTENT/MISC/SUBSCRIBE-FORM-1 -->

{% endblock %}
{% block script %}
    const second = 1000,
    minute = second * 60,
    hour = minute * 60,
    day = hour * 24;

    let countDown = new Date('Jan 28, 2020 00:00:00').getTime(),
    x = setInterval(function() {

    let now = new Date().getTime(),
      distance = countDown - now;

    document.getElementById('days').innerText = Math.floor(distance / (day)),
    document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
    document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
    document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

    //do something later when date is reached
    //if (distance < 0) {
    //  clearInterval(x);
    //  'IT'S MY BIRTHDAY!;
    //}

    }, second)


// AJAX for posting
function create_post() {
    $.ajax({
        url : "{% url 'newhpc:handle_newsletter_signup' %}", // the endpoint
        type : "POST", // http method
        data : { email : $('#email').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#email').val(''); // remove the value from the input
            console.log(json.message)
            if (json.message == 'success') {
                alert("شكرا، لقد اشتركت في نشرتنا البريدية بنجاح.");
            } else if (json.message == 'previous'){
                alert("سبق أن سجلت في نشرتنا البريدية.");
            } else if(json.message == 'invalid'){
                alert("البريد الذي أُدخِل غير صحيح.");
            };

        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

// Submit post on submit
$('#newsletter_signup').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});


{% endblock %}