{% extends 'newhpc/arabic/arabic_base.html' %}
{% load staticfiles %}
{% block title %}مؤتمر التخصّصات الصحّية 2020 | الرياض{% endblock %}
{% block style %}
    @media (min-width: 992px) {
    #slide1h3 {
        margin-top:55px
    }
    #slide1p {
        margin:60px 0 30px 0;
    }
    #our-vision.c-feature-15-container {
        margin: 0 350px 0 -30px;
    }
    }

    @media (max-width: 991px) {
    #slide2h3.c-font-48 {
        font-size:19px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 25px !important;
    }
    #slide1p.c-font-40 {
        font-size: 14px !important;
    }
    #slide1p {
        margin:0 !important;
    }
    #slide1h3 {
        margin-top: 15px !important;
    }
    #our-vision.c-feature-15-container {
        margin: 0 !important;
    }
    #our-vision-des.c-font-20 {
        font-size:15px;
    }
    }
{% endblock %}
{% block content %}
    <!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-4" dir="ltr">
            <div class="tp-banner-container c-theme">
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!--BEGIN: SLIDE #1 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img
                                alt=""
                                src="{% static 'newhpc/images/slides/KSAUHS-TOWER4.jpg' %}"
                                data-bgposition="center bottom"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                >
                            <div class="tp-caption customin customout"
                                data-x="center"
                                data-y="center"
                                data-hoffset=""
                                data-voffset="-50"
                                data-speed="0"
                                data-start="0"
                                data-transform_idle="o:1;"
                                data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="600">
                                <h3 style="direction: rtl;" id="slide1h3" class="c-font-70 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                   مؤتمر التخصّصات الصحّية 2020
                                </h3>
                                <p style="direction: rtl;" id="slide1p" class="c-font-40 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                   جامعة الملك سعود بن عبدالعزيز للعلوم الصحّية, الرياض
                                </p>
                                <h2 style="direction: rtl" class="c-font-40 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                   28 الى 30 يناير 2020
                                </h2>
                            </div>
                        </li>
                        <!--END -->

                        <!--BEGIN: SLIDE #2 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img
                                alt=""
                                src="{% static 'newhpc/images/slides/hpc-students.jpg' %}"
                                data-bgposition="center center"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                >
                            <div class="tp-caption customin customout"
                                data-x="center"
                                data-y="center"
                                data-hoffset=""
                                data-voffset="-50"
                                data-speed="0"
                                data-start="0"
                                data-transform_idle="o:1;"
                                data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="600">
                                <h3 id="slide2h3" style="direction: rtl;line-height: 1.5" class="c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                    مؤتمر التخصّصات الصحّية هو مؤتمر طلّابي<br> مُعتمد من قبل هيئة التخصّصات الصحّية.
                                </h3>
                            </div>
                            <div class="tp-caption lft"
                                data-x="center"
                                data-y="center"
                                data-voffset="110"
                                data-speed="1000"
                                data-start="1000"
                                data-transform_idle="o:1;"
                                data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;">
                                <a href="#" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">عن المؤتمر</a>
                            </div>
                        </li>
                        <!--END -->

                    </ul>
                </div>
            </div>
        </section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
    </div>

        <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-3 -->
    <div id="feature-15-1" class="c-bg-parallax c-content-feature-15 c-bg-img-center" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="c-feature-15-container c-bg-white">
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40">رؤيتنا</h2>
                        <p class="c-feature-15-desc c-font-20" style="margin-bottom:40px ">
                            الابتكار والتميز في طرق التبادل المعرفي التي يتبناها المؤتمر في مجال التعليم الصحي و البحث العلمي على الصعيد الوطني والدولي.
                        </p>
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40" style="margin-top: 130px;border-color: #9d0051 !important;">مفهوم مؤتمر التخصّصات الصحّية</h2>
                        <p class="c-feature-15-desc c-font-20">
مؤتمر التخصصات الصحیّة، هو أول مؤتمر طلابي اُعتمد من الهيئة السعودية للتخصصات الصحية. ويعد ضمن البرامج الكبرى السنوية لدى جامعة الملك سعود بن عبدالعزيز للعلوم الصحية  التي يقيمها نادي الطلاب تحت إشراف عمادة شؤون الطلاب. يتم في المؤتمر عرض محاضرات وورش عمل متنوعة تهم الممارسين الصحيين، كما يُعرض فيه نخبة من الأبحاث التي تنافس على المراكز الأولى في المؤتمر.                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-3 -->


    <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-1 -->
    <div id="feature-15-1" class="c-content-feature-15 c-bg-img-center" style="background-image: url({% static 'newhpc/images/backgrounds/king-vision.jpg' %});direction: rtl">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12" style="opacity: 0.97;">
                    <div class="c-feature-15-container c-bg-white" id="our-vision">
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40">المفهوم العام لمؤتمر التخصصات الصحية ٢٠٢٠</h2>
                        <p class="c-feature-15-desc c-font-20" style="direction: rtl" id="our-vision-des">
                            يسعى مؤتمر التخصصات الصحية بنسخته الخامسة لطرح ومناقشة برنامج التحول الوطني 2020. وضع برنامج التحول الوطني لتحديد التحديات التي تواجهها الجهات الحكومية وبناء القدرات المؤسسية لمواكبة أهداف رؤية 2030. نود في مؤتمر التخصصات الصحية 2020 تسليط الضوء على المحاور الرئيسية لبرنامج التحول الوطني في القطاع الصحي.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-1 -->

{% endblock %}