{% extends 'newhpc/arabic/arabic_base.html' %}
{% load staticfiles %}
{% block title %}مؤتمر التخصّصات الصحّية 2020 | عن المؤتمر{% endblock %}

{% block content %}
<div align="center" style="padding-bottom:200px">
    <div class="row" style="width:80%; padding-top:150px"><h1>يقام مؤتمر التخصصات الصحية 2020 بجامعة الملك سعود بن عبدالعزيز للعلوم الصحية</h1></div>
<br>
    <div class="row" style="width:80%"><h2>وهو تحت إشراف عمادة شؤون الطلاب</h2></div>
<br>
<div class="row">
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Dr. Suliman eye.png' %}">
    <br>د. سليمان القويفلي<br>عميد شؤون الطلاب</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Dr. Bader eye.png' %}">
    <br>د. بدر المقبل<br>العميد المشارك بعمادة شؤون الطلاب</div>
</div>
<br><br><br>
    <div class="row"><h2>مؤتمر التخصصات الصحية 2020 تحت قيادة كل من</h2></div>
<br>
<div class="row">
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Nawaf Eye.png' %}">
    <br>نواف الغامدي<br>قائد مؤتمر التخصصات الصحية 2020</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br>لينه السعدون<br>قائدة مؤتمر التخصصات الصحية 2020</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br>منار المطيري<br> نائبة قادة مؤتمر التخصصات الصحية 2020</div>
</div>
<br><br><br>
    <div class="row"><h2>هيكلة مؤتمر التخصصات الصحية</h2></div>
    <br>
    <div class="col-xs-12"><img width="60%" src="{% static 'newhpc/images/logos/structure.png' %}"></div>
<div class="row" style="padding:40px"></div>
    <div class="row" style="width:80%; border-top:30px"><h2>قام بإنشاء الموقع والعمل عليه بالتعاون مع بوابة انجاز  الفريق التقني بمؤتمر التخصصات الصحية  2020 تحت قيادة كل من</h2></div>
<br>
<div class="row">
<div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Abdlurahman eye.png' %}">
    <br>عبدالرحمن القميزي<br>قائد الفريق التقني</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br>صالحة الخيري<br>قائدة الفريق التقني</div>
</div>
<br>
    <div class="row"><h2>وبإشراف من</h2></div>
<br>
<div class="col-xs-12"><img width="20%" src="{% static 'newhpc/images/people/Female eye.png' %}">
<br>زها الجمعان<br>قائدة بوابة إنجاز</div>
<br><br>
</div>
{% endblock %}
