{% extends 'newhpc/arabic/arabic_base.html' %}
{% load staticfiles %}
{% block title %}مؤتمر التخصّصات الصحّية 2020 | عن المؤتمر{% endblock %}

{% block lang %}{% url 'newhpc:riy_about' 'en' %}{% endblock %}

{% block content %}
<div align="center" style="padding-bottom:200px">

    <div style="padding-top:150px; padding-bottom:30px; font-size:44px; color:#000000 !important" class="c-center c-font-uppercase c-font-white c-font-bold">عن المؤتمر</div>

    <div class="row" style="width:80%"><h1>يقام مؤتمر التخصصات الصحية 2020 <br>بجامعة الملك سعود بن عبدالعزيز للعلوم الصحية</h1></div>

    <div class="row">
    <div class="col-xs-12"><img width="350px" style="margin:50px" src="{% static 'newhpc/images/logos/KSAUHS.png' %}">
    </div></div>

    <div class="row" style="width:80%"><h2 style="font-weight:bold">وهو تحت إشراف عمادة شؤون الطلاب</h2></div>
    <div class="row">
    <div class="col-xs-12"><img width="350px" src="{% static 'newhpc/images/logos/student_club.png' %}">
    </div></div>
<div class="row">
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Dr. Suliman eye.png' %}">
        <br><div style="font-weight:700; margin-bottom:-20px">د. سليمان القويفلي</div><br>عميد شؤون الطلاب</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Dr. Bader eye.png' %}">
        <br><div style="font-weight:700; margin-bottom:-20px">د. بدر المقبل</div><br>العميد المشارك بعمادة شؤون الطلاب</div>
</div>
<br><br><br>
<div class="row">
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Abdulelah eye.png' %}">
    <br><div style="font-weight:700; margin-bottom:-20px">أ. عبدالإله العليوه</div><br>مسؤول شؤون طلاب أول</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br><div style="font-weight:700; margin-bottom:-20px">أ. لمى العمرو</div><br>مساعد إداري ثالث</div>
</div>
<br><br><br>
    <div class="row"><h2 style="font-weight:bold">مؤتمر التخصصات الصحية 2020 تحت قيادة كل من</h2></div>
<br>
<div class="row">
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Nawaf Eye.png' %}">
        <br><div style="font-weight:700; margin-bottom:-20px">نواف الغامدي</div><br>قائد مؤتمر التخصصات الصحية 2020</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Female eye.png' %}">
        <br><div style="font-weight:700; margin-bottom:-20px">لينه السعدون</div><br>قائدة مؤتمر التخصصات الصحية 2020</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Female eye.png' %}">
        <br><div style="font-weight:700; margin-bottom:-20px">منار المطيري</div><br> نائبة قادة مؤتمر التخصصات الصحية 2020</div>
</div>
<br><br><br>
    <div class="row"><h2 style="font-weight:bold">هيكلة مؤتمر التخصصات الصحية</h2></div>
    <br>
    <div class="col-xs-12"><img width="60%" src="{% static 'newhpc/images/logos/structure.png' %}"></div>
<div class="row" style="padding:40px"></div>
    <div class="row" style="width:80%; border-top:30px"><h2 style="font-weight:bold">قام بإنشاء الموقع والعمل عليه بالتعاون مع بوابة انجاز  الفريق التقني بمؤتمر التخصصات الصحية  2020 تحت قيادة كل من</h2></div>
<br>
<div class="row">
<div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Abdlurahman eye.png' %}">
    <br><div style="font-weight:700; margin-bottom:-20px">عبدالرحمن القميزي</div><br>قائد الفريق التقني</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Female eye.png' %}">
        <br><div style="font-weight:700; margin-bottom:-20px">صالحة الخيري</div><br>قائدة الفريق التقني</div>
</div>
<br>
    <div class="row"><h2 style="font-weight:bold">وبإشراف من</h2></div>
<br>
<div class="col-xs-12"><img width="20%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br><div style="font-weight:700; margin-bottom:-20px">زها الجمعان</div><br>قائدة بوابة إنجاز</div>
<br><br>
</div>
{% endblock %}
