{% extends 'arshidni_base.html' %}{% load bootstrap3 %}
{% block title %}{% if edit %} تعديل تعليق على {{ question.get_title }} {% endblock %}
{% block content %}
<h2>تعديل تعليق على <a href="{% url 'arshidni:show_question' question.pk %}">{{ question.get_title }}</a></h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'arshidni:edit_answer' question.pk answer.pk %}" method="post" class="form">
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} عدّل
        </button>
    {% endbuttons %}
</form>
{% endblock %}


