{% extends 'arshidni_base.html' %}{% load bootstrap3 %}{% load arshidni_tags %}
{% block title %}تقديم طلب إرشاد ل{{ colleague_profile.user.common_profile.get_ar_full_name|default:colleague_profile.user.username }}{% endblock %}

{% block navbar %}
{% include 'arshidni/includes/colleague_nav.html' %}
{% endblock %}

{% block content %}
	<h2>تقديم طلب إرشاد ل{{ colleague_profile.user.common_profile.get_ar_full_name|default:colleague_profile.user.username }}</h2>
	{% if user.colleague_profile.pk == colleague_profile.pk %}
		<p class="alert alert-warning">
			لا يمكن أن تقدم طلبًا لنفسك!
		</p>
	{% elif error %}
		<p class="alert alert-danger">
        {% if error == 'already_supervisor' %}
            {{ colleague_profile.user.common_profile.ar_first_name|default:colleague_profile.user.username }} هو زميلك الطلابي المعتمد!
		{% elif error == 'accepted_supervision_requests' %}
			لديك إرشاد مقبول.  <a href="{% url 'arshidni:my_supervision_requests' %}">ألغِ ذلك الإرشاد أولا</a>!
		{% elif error == 'pending_supervision_requests' %}
			لديك طلبات معلقة.  <a href="{% url 'arshidni:my_supervision_requests' %}">ألغِ تلك الطلبات أولا</a>!
		{% elif error == 'colleague_supervision_limit' %}
            تجاوز هذا المرشد الحد المسموح به من زمالات الطلاب المستجدين. <a href="{% url 'arshidni:list_colleagues' %}">اختر زميلا آخرًا</a>.
		{% elif error == 'gender' %}
			يمكن {% if colleague_profile.user.common_profile.college.gender == 'F' %}للطالبات{% else %}للطلاب{% endif %} فقط أن يطلبوا من {{ colleague_profile.user.common_profile.ar_first_name }} الإرشاد.
		{% endif %}
		</p>
	{% else %}
<p class="alert alert-success"><i class="entypo-users"></i>عرّف بنفسك ل{{ colleague_profile.user.common_profile.ar_first_name|default:colleague_profile.user.username }}. أخبره ما دفعتك، وكيف تحب أن يتواصل معك، وما اهتمامتك داخل الجامعة أو خارجها.</p>
<form action="{% url 'arshidni:submit_supervision_request' colleague_profile.pk %}" method="post" class="form">
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} {% if edit %} عدّل {% else %} أنشئ {% endif %}
        </button>
    {% endbuttons %}
</form>
<script>
$(function(){
	$('#id_starting_date, #id_ending_date').datepicker({isRTL: true});
		$("#id_max_members").attr({
		"max" : 8,        // substitute your own
	       "min" : 3          // values (or variables) here
	});
});
</script>
	{% endif %}
{% endblock %}


