{% extends 'arshidni_base.html' %}{% load arshidni_tags %}
{% block title %}المرشدون الطلابيون{% endblock %}

{% block navbar %}
{% include 'arshidni/includes/colleague_nav.html' %}
{% endblock %}

{% block content %}

{% if colleague_profile.is_published == None %}
<p class="alert alert-warning">
هذه الملف لا يزال ينتظر المراجعة.
</p>
{% elif not colleague_profile.is_available %}
<p class="alert alert-warning">
هذا المرشد غير متاح.
</p>
{% endif %}

<h2>{{ colleague_profile.user.common_profile.get_ar_full_name|default:colleague_profile.user.username }}</h2>
<div class="row">
	{% if not user|has_current_colleague_profile and perms.arshidni.add_supervisionrequest and colleague_profile.is_available and not user|is_arshindi_coordinator_or_deputy %}
		<div class="col-md-3">
			<a href="{% url 'arshidni:submit_supervision_request' colleague_profile.pk %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> اختر</a>
		</div>
	{% endif %}
	<div >
	<table class="table-hover table">
		<colgroup>
			<col class="col-xs-2">
			<col class="col-xs-6">
		</colgroup>
		<tr>
			<th>الدفعة</th>
			<td>{{ colleague_profile.batch }}</td>
		</tr>
		<tr>
			<th>الكلية</th>
			<td>{{ colleague_profile.user.common_profile.college }}</td>
		</tr>
		<tr>
			<th>المدينة</th>
			<td>{{ colleague_profile.user.common_profile.college.get_city_display }}</td>
		</tr>
		<tr>
			<th>نبذة</th>
			<td>{{ colleague_profile.bio|linebreaksbr }}</td>
		</tr>
		<tr>
			<th>الاهتمامات</th>
			<td>{{ colleague_profile.interests|linebreaksbr }}</td>
		</tr>
		<tr>
			<th>تاريخ الإضافة</th>
			<td>{{ colleague_profile.submission_date|date:"j F Y" }}</td>
		</tr>
		<tr>
			<th>المرشدون الطلابيون</th>
			<td>
                {% if colleague_profile.supervision_requests.accepted.exists %}
                    <ul>
                    {% for supervision_request in colleague_profile.supervision_requests.accepted %}
                        <li>{{ supervision_request.user.common_profile.get_ar_full_name }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    لا طلاب مستجدين حتى الآن. {% if not user|has_current_colleague_profile %}كن أنت الأول!{% endif %}
                {% endif %}
            </td>
		</tr>
	</table>
	</div>
</div>
{% endblock %}

