{% extends 'arshidni_base.html' %}{% load staticfiles %}{% load arshidni_tags %}
{% block title %}المرشدون الطلابيون{% endblock %}

{% block navbar %}
{% include 'arshidni/includes/colleague_nav.html' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p class="alert  arshidni-intro">هذه حلقة التواصل بين الطلاب المستجدين والطلاب الأقدم في الجامعة. يقدم المرشد الطلابي المشورة للطالب المستجد بناء على تجربته الشخصية، كإعانته على الانتقال من النظام الدراسي المدرسي إلى النظام الدراسي الجامعي، ونقل خبراته في طرق الاستذكار المثلى لمختلف المواد والمواضيع، والمساعدة في حل الصعوبات الأكاديمية التي قد يواجهها الطالب المستجد.</p>
	</div>
</div>
<div class="panel-group" id="arshidni-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button"  aria-expanded="true" data-toggle="collapse" data-parent="#arshidni-accordion" href="#collapseOne">
                    المرشدون المتاحون ({{ available|length}} )
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" >
            <div class="panel-body">
                <div class="row">
                {% with colleague_profiles=available %}
                    {% include 'arshidni/includes/colleague_table.html' %}
                {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button"  data-toggle="collapse" data-parent="#arshidni-accordion" href="#collapseTwo" role="tabpanel" >
                    المرشدون غير المتاحون ({{ unavailable|length }})
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                {% with colleague_profiles=unavailable %}
                    {% include 'arshidni/includes/colleague_table.html' %}
                {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<script>
$(document).ready(function () {
	$('.datatable').dataTable({
		"order": [[ 3, "desc" ]],
		"language": {% include 'js/dataTables-arabic.json' %}
	});
});
</script>
{% endblock %}
