{% extends 'arshidni_base.html' %}{% load bootstrap3 %}{% load arshidni_tags %}
{% block title %}{% if edit %} تعديل ملف {{ colleague_profile.user.common_profile.get_ar_full_name|default:colleague_profile.user.username }}{% else %} تسجيل زميل طلابي{% endif %}{% endblock %}

{% block navbar %}
{% include 'arshidni/includes/colleague_nav.html' %}
{% endblock %}

{% block content %}
{% if not edit %}
<p class="alert arshidni-intro">من هنا تستطيع تسجيل نفسك مرشدا طلابيا لتعرض في قائمة المرشدين الطلابيين ليتعرف عليك الطلاب المستجدون. ستصلك تنبيهات بريدية عندما يطلب طالبٌ مستجد إرشادك.  اكتب معلومات تشرح اهتمامتك وما أنت قادر على تقديمه.</p>
{% endif %}
<h2>{% if edit %} تعديل ملف {{ colleague_profile.user.common_profile.get_ar_full_name|default:colleague_profile.user.username }} {% else %} تسجيل زميل طلابي{% endif %}</h2>

{% if error %}
	<p class="alter alter-danger">
	{% if error == 'notstudent' %}
		يمكن للطلاب فقط تسجيل أنفسهم مرشدين طلابيين.
	{% endif %}
	</p>
{% else %}
	<form action="{% if edit %}{% url 'arshidni:edit_colleague_profile' colleague_profile.pk %}{% else %}{% url 'arshidni:register_colleague_profile' %}{% endif %}" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
        	<button type="submit" class="btn btn-primary">
	        {% bootstrap_icon "ok-sign" %} {% if edit %} عدّل {% else %} أضف {% endif %}
	        </button>
		{% endbuttons %}
	</form>
{% endif %}
{% endblock %}


