{% extends 'arshidni_base.html' %}{% load staticfiles %}
{% block title %}المجموعات الدراسية{% endblock %}
{% block navbar %}
	<li><a href="{% url 'arshidni:list_groups' %}"><span class="entypo-users"></span> المجموعات الدراسية</a></li>
	{% if perms.arshidni.add_studygroup %}
		<li><a href="{% url 'arshidni:submit_group' %}"><span class="glyphicon glyphicon-plus"></span> أنشئ مجموعة</a></li>
	{% endif %}
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p class="alert alert-info arshidni-intro">اعثر على الطلاب الذين يشاركونك الاهتمامات الدراسية، وضع معهم جدولا يرتب الاستذكار ويعينك على التفوق!  سنوفر المكان المناسب للمجموعة، ونعلن عنها لينضم لها الطلاب المهتمون الذين يعينونك على تحقيق أهدافك.  يمكن للمجموعة أن تُعنى باستذكار مناهج الجامعة،  أو التحضير للاختبارات الصحية العالمية.</p>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">المجموعات الدراسية</h3>
	</div>
	 <div class="panel-body">

		<table id="group-table" class="display">
			<thead>
				<tr>
					<th>الاسم</th>
					<th>المدة (بالأسابيع)</th>
					<th>عدد المقاعد المتاحة</th>
					<th>تاريخ الإضافة</th>
				</tr>
			</thead>
			 <tbody>
				{% for g in page_groups %}
				<tr>
					<td><a href="{% url 'arshidni:show_group' g.pk %}">{{ g.name }}</a></td>
					<td>{{ g.get_period_in_weeks }}</td>
					<td>{{ g.get_remaining_members }}</td>
					<td data-order="{{ g.submission_date|date:"U" }}">{{ g.submission_date|date:"j F Y" }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(function () {
	$('#group-table').dataTable({
		"order": [[ 3, "desc" ]],
		"language": {% include 'js/dataTables-arabic.json' %}
	});
});
</script>
{% endblock %}
