{% extends 'arshidni_base.html' %}{% load staticfiles %}{% load arshidni_tags %}
{% block title %}المرشدون الطلابيون{% endblock %}

{% block navbar %}
{% include 'arshidni/includes/colleague_nav.html' %}
{% endblock %}

{% block content %}
<h2>طلبات الزمالة الطلابية</h2>
<div class="panel panel-primary">
	 <div class="panel-body">
	{% if user.supervision_requests.all %}
		<table id="request-table" class="display">
			<thead>
				<tr>
					<th>اسم المرشد</th>
					<th>معلومات التواصل</th>
					<th>تاريخ الطلب</th>
					<th>حالة الطلب</th>
					<th>إجراءات</th>
				</tr>
			</thead>
			 <tbody>
				{% for r in page_requests %}
				<tr id="request-{{ r.pk }}"{% if r.status == 'WN' or r.status == 'WC' or r.status == 'R' or r.status == 'D' %} class="deleted-request"{% endif %}>
					<td><a href="{% url 'arshidni:show_colleague_profile' r.colleague.pk %}">{{ r.colleague.user.common_profile.get_ar_full_name }}</a></td>
					<td>{% if r.status == 'A' or r.status == 'WN' %}{{ colleague_profile.contacts }}{% else %}-{% endif %}</td>
					<td data-order="{{ r.submission_date|date:"U" }}">{{ r.submission_date|date:"j F Y" }}</td>
					<td id="status-{{ r.pk }}">{{ r.get_status_display }}</td>
					<td id="actions-{{ r.pk }}">{% if r.status == 'P' or r.status == 'A' %}<i title="اسحب" data-id="{{ r.pk }}" class="delete-request glyphicon glyphicon-remove"></i>{% else %}-{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>لم تقدم أي طلبات زمالة حتى الآن. <a href="{% url 'arshidni:list_colleagues' %}">قدّم الآن</a>.</p>
	{% endif %}
</div>

<script>
$(function() {
    $('.delete-request').click(function(){
    if (confirm("هل أنت متأكد أنك تريد التخلي عن هذا الطلب؟") == true) {
        var supervision_request_id = $(this).data('id');
        var data = {'supervision_request_id': supervision_request_id, 'action': 'delete'};
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: '{% url 'arshidni:student_action' %}',
            cache: false,
            success: function(data){
                if (data['success'] == true){
                    $('#request-' + supervision_request_id).addClass('deleted-request');
                    $('#status-' + supervision_request_id).html(data['full_current_status']);
                    $('#actions-' + supervision_request_id).html('-');
                } else {
                    alert(data['message']);
                }
            }
        });
    }
    });
});
</script>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(function () {
	$('#request-table').dataTable({
		"order": [[ 2, "desc" ]],
		"language": {% include 'js/dataTables-arabic.json' %}
	});
});
</script>
{% endblock %}
