{% extends 'arshidni_base.html' %}{% load staticfiles %}
{% block title %}الزملاء الطلابيون{% endblock %}
{% block navbar %}
	<li><a href="{% url 'arshidni:list_colleagues' %}"><span class="entypo-users"></span> الزملاء الطلابيون</a></li>
	{% if not user.colleague_profile %}
		<li><a href="{% url 'arshidni:my_supervision_requests' %}"><span class="glyphicon glyphicon-star"></span> طلبات وجهتَها</a></li>
 	{% endif %}
{% endblock %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">طلبات الزمالة الطلابية</h3>
	</div>
	 <div class="panel-body">
	{% if user.supervision_requests.all %}
		<table id="request-table" class="table table-bordered datatable">
			<thead>
				<tr>
					<th>اسم الزميل</th>
					<th>معلومات التواصل</th>
					<th>تاريخ الطلب</th>
					<th>حالة الطلب</th>
					<th>إجراءات</th>
				</tr>
			</thead>
			 <tbody>
				{% for r in page_requests %}
				<tr id="request-{{ r.pk }}"{% if r.status == 'WN' or r.status == 'WC' or r.status == 'R' or r.status == 'D' %} class="deleted-request"{% endif %}>
					<td><a href="{% url 'arshidni:show_colleague_profile' r.colleague.pk %}">{{ r.colleague.user.student_profile.get_ar_full_name }}</a></td>
					<td>{% if r.status == 'A' or r.status == 'WN' %}{{ colleague_profile.contacts }}{% else %}-{% endif %}</td>
					<td>{{ r.submission_date|date:"j F Y" }}</td>
					<td id="status-{{ r.pk }}">{{ r.get_status_display }}</td>
					<td id="actions-{{ r.pk }}">{% if r.status == 'P' or r.status == 'A' %}<i title="اسحب" data-id="{{ r.pk }}" class="delete-request glyphicon glyphicon-remove"></i>{% else %}-{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>لم تقدم أي طلبات زمالة حتى الآن. <a href="{% url 'arshidni:list_colleagues' %}">قدّم الآن</a>.</p>
	{% endif %}
</div>

<script>
$(function() {
    $('.delete-request').click(function(){
    if (confirm("هل أنت متأكد أنك تريد التخلي عن هذا الطلب؟") == true) {
        var supervision_request_id = $(this).data('id');
        var data = {'supervision_request_id': supervision_request_id, 'action': 'delete'};
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: '{% url 'arshidni:student_action' %}',
            cache: false,
            success: function(data){
                if (data['success'] == true){
                    $('#request-' + supervision_request_id).addClass('deleted-request');
                    $('#status-' + supervision_request_id).html(data['full_current_status']);
                    $('#actions-' + supervision_request_id).html('-');
                } else {
                    alert(data['message']);
                }
            }
        });
    }
    });
});
</script>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'neon/assets/js/dataTables.bootstrap.js' %}"></script>
<script>
$(document).ready(function () {
	$('#request-table').DataTable();
});
</script>
{% endblock %}
