{% extends 'arshidni_base.html' %}{% load bootstrap3 %}
{% block title %}أسئلة{% endblock %}
{% block navbar %}
<li><a href="{% url 'arshidni:list_colleges' %}"><span class="glyphicon glyphicon-th"></span> استفسارات أكاديمية</a></li>
<li><a href="{% url 'arshidni:list_questions' college_name %}"><span class="glyphicon glyphicon-align-justify"></span> {{ college_full_name }}</a></li>
{% endblock %}
{% block content %}
<div id="ask" class="row">
<h2>اسأل</h2>
	<div class="col-md-12">
		<form action="{% url 'arshidni:submit_question' college_name %}" method="post" class="form">
			{% csrf_token %}
			{% bootstrap_form form %}
   			<div class="col-md-4 col-md-offset-8">
			{% buttons %}
				<button type="submit" class="form-control btn btn-primary">
					{% bootstrap_icon "ok-sign" %}  اسأل
				</button>
 			{% endbuttons %}
			</div>
		</form>
	</div>
</div>

<h2>الأسئلة السابقة</h2>

{% if page_questions %}
	{% for question in page_questions %}
	<div class="single-question panel panel-default">
	  <a href="{% url 'arshidni:show_question' question.pk %}" class="panel-body">
		<p>{{ question.text|linebreaksbr }}</p>
	  </a>
	</div>
	{% endfor %}

		<div style="text-align:center;">
		    <span class="step-links">
		        {% if page_questions.has_previous %}
		            <a href="?page={{ page_questions.previous_page_number }}">السابق</a>
		        {% endif %}

        		<span class="current">
		            الصفحة {{ page_questions.number }} من {{ page_questions.paginator.num_pages }}
		        </span>

        		{% if page_questions.has_next %}
		            <a href="?page={{ page_questions.next_page_number }}">التالي</a>
		        {% endif %}
		    </span>
		</div>


{% else %}
<p>لا توجد أسئلة</p>
{% endif %}
{% endblock %}
