{% extends 'arshidni_base.html' %}{% load bootstrap3 %}
{% block title %}{% if edit %} عدل السؤال {{ question.get_title }}{% else %} اسألأ سؤالا{% endif %}{% endblock %}
{% block content %}
<h2>{% if edit %} تعديل السؤال <a href="{% url 'arshidni:show_question' question.pk %}">{{ question.get_titlte }}</a> {% else %} اسألا سؤالا{% endif %}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% if edit %}{% url 'arshidni:edit_question' question.pk %}{% else %}{% url 'arshidni:submit_question' college_name %}{% endif %}" method="post" class="form">
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} {% if edit %} عدّل {% else %} اسأل {% endif %}
        </button>
    {% endbuttons %}
</form>
{% endblock %}


