{% extends 'arshidni_base.html' %}{% load staticfiles %}
{% block title %}الزملاء الطلابيون{% endblock %}
{% block navbar %}
	<li><a href="{% url 'arshidni:list_colleagues' %}"><span class="entypo-users"></span> الزملاء الطلابيون</a></li>
	{% if user.colleague_profile %}
		<li><a href="{% url 'arshidni:supervision_requests_to_me' %}"><span class="glyphicon glyphicon-star"></span> طلبات موجهة إليّ</a></li>
 	{% endif %}
{% endblock %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">طلبات الزمالة الطلابية</h3>
	</div>
	 <div class="panel-body">
	{% if user.colleague_profile %}
		<table id="request-table" class="display">
			<thead>
				<tr>
					<th>الاسم</th>
					<th>الاهتمامات الأكاديمية</th>
					<th>الدفعة</th>
					<th>معلومات التواصل</th>
					<th>تاريخ الطلب</th>
					<th>حالة الطلب</th>
					<th>الإجراءات</th>
				</tr>
			</thead>
			 <tbody>
				{% for r in page_requests %}
				<tr>
					<td><a href="{% url 'arshidni:show_group' r.pk %}">{{ r.user.student_profile.get_ar_full_name }}</a></td>
					<td>{{ r.interests|linebreaksbr }}</td>
					<td>{{ r.batch }}</td>
					<td id="contacts-{{ r.pk }}">{% if r.status == 'A' or r.status == 'WC' %}{{ r.contacts }}{% else %}-{% endif %}</td>
					<td data-order="{{ r.submission_date|date:"U" }}">{{ r.submission_date|date:"j F Y" }}</td>
					<td id="status-{{ r.pk }}">{{ r.get_status_display }}</td>
					<td id="actions-{{ r.pk }}">{% if r.status == 'P' %}<i title="اقبل" data-id="{{ r.pk }}" data-action="accept" class="accept-request glyphicon glyphicon-ok"></i>{% endif %} {% if r.status == 'P' or r.status == 'A' %}<i title="ارفض" data-id="{{ r.pk }}" data-action="reject" class="delete-request glyphicon glyphicon-remove"></i>{% endif %}{% if r.status == 'WN' or r.status == 'WC' or r.status == 'R' %}-{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>لا توجد أي طلبات لأنك لست زميلا طلابيا. <a href="{% url 'arshidni:register_colleague_profile' %}">كن زميلا طلابيا الآن</a>.</p>
	{% endif %}
</div>

<script>
$(function() {
    $('.delete-request, .accept-request').click(function(){
    var action = $(this).data('action');
    if (action == 'reject'){
	var confirm_msg = "هل أنت متأكد أنك تريد التخلي عن هذا الطلب؟";
	} else if (action == 'accept') {
	var confirm_msg = "هل أنت متأكد أنك تريد قبول هذا الطلب؟";
	}
    if (confirm(confirm_msg) == true) {
        var supervision_request_id = $(this).data('id');

        var data = {'supervision_request_id': supervision_request_id, 'action': action};
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: '{% url 'arshidni:colleague_action' %}',
            cache: false,
            success: function(data){
                if (data['success'] == true){
                    $('#request-' + supervision_request_id).addClass('deleted-request');
                    $('#status-' + supervision_request_id).html(data['full_current_status']);
                    $('#contacts-' + supervision_request_id).html(data['contacts']);
                    //$('#actions-' + supervision_request_id).html('');
                } else {
                    alert(data['message']);
                }
            }
        });
    }
    });
});
</script>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(function () {
	$('#request-table').dataTable({
		"order": [[ 4, "desc" ]],
		"language": {% include 'js/dataTables-arabic.json' %}
	});
});
</script>
{% endblock %}
