{% extends 'newhpc/english/english_base.html' %}
{% load staticfiles %}{% load events_tags %}
{% block title %}مؤتمر التخصّصات الصحّية 2020 | التسجيل{% endblock %}
{% block style %}
    #title {
        font-size: 32px;
        color: #9d0051;
    }
    .sub-title {
        font-size: 26px!important;
    }
    .hpc-text {
        color: #242b2c!important;
        margin-top: 30px;
        text-align: justify;
        text-align-last: center;
    }
    .listitem44 {
      display: inline-block;
      font-size: 1.5em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }

    .listitem44 span {
      display: block;
      font-size: 4.5rem;
    }
{% endblock %}
{% block lang %}
{% url 'newhpc:riy_en_registration' %}
{% endblock %}
{% block lang2 %}
{% url 'newhpc:riy_en_registration' %}
{% endblock %}
{% block active_register %}c-active{% endblock %}
{% block content %}
    {% include 'newhpc/partials/timeslot_detials.html' %}
        <!-- END: CONTENT/STATS/COUNTER-1 -->
        <!-- BEGIN: CONTENT/BARS/BAR-4 -->
        <div class="c-content-box c-size-md c-bg-parallax" style="background-color: #242b2c ">
            <div class="container">
                <div class="c-content-bar-4">
                    <h3 class="c-font-uppercase c-font-bold" id="head" style="margin: 0px!important;border: 0px!important;">باقي على المؤتمر:</h3>
                      <ul style="color: white!important;padding: 0px!important;font-weight: 700!important;margin-top: -15px!important;">
                        <li class="listitem44"><span id="days"></span>يوم</li>
                        <li class="listitem44"><span id="hours"></span>ساعة</li>
                        <li class="listitem44"><span id="minutes"></span>دقيقة</li>
                        <li class="listitem44"><span id="seconds"></span>ثانية</li>
                      </ul>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/BARS/BAR-4 -->
    </div>
{% endblock %}
{% block script %}


    const second = 1000,
    minute = second * 60,
    hour = minute * 60,
    day = hour * 24;

    let countDown = new Date('Jan 28, 2020 00:00:00').getTime(),
    x = setInterval(function() {

    let now = new Date().getTime(),
      distance = countDown - now;

    document.getElementById('days').innerText = Math.floor(distance / (day)),
    document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
    document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
    document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

    //do something later when date is reached
    //if (distance < 0) {
    //  clearInterval(x);
    //  'IT'S MY BIRTHDAY!;
    //}

    }, second);



    $(".signup, .cancel").click(function(){
        console.log('hello1');
        button = this;
            pk = $(this).data("pk");
            action = $(this).data("action");
        timeslot_pk = $(this).data("timeslot-pk");
            $.ajax("{% url 'events:handle_ajax' %}", {
                method: "POST",
                data: {pk: pk, action: action},
            success: function(data){
                if (data['success'] == 1){
                    $("#count-" + pk).html(data['remaining_seats']);
                      status_button = $("#status-" + pk);
                      timeslot_buttons = $("button[data-timeslot-pk=" + timeslot_pk + "]");
                        if (action == 'cancel'){
                        toastr.error("ألغي تسجيلك");

                          $(button).html('سجلني!');
                          $(button).data('action', 'signup');
                          $(button).addClass('btn-success');
                          $(button).removeClass('btn-danger');

                          timeslot_buttons.removeAttr("disabled", "disabled");
                          timeslot_buttons.removeClass('btn-warning');
                          timeslot_buttons.html('سجلني!');
                          timeslot_buttons.addClass('btn-success');


                          status_button.hide();

                      } else if (action == 'signup'){
                        toastr.success("تمّ تسجيلك!");
                          if (data['remaining'] == false) {
                                timeslot_buttons.attr("disabled", "disabled");
                                timeslot_buttons.removeClass('btn-success');
                                timeslot_buttons.addClass('btn-warning');
                                timeslot_buttons.html("وصلت الحد الأقصى للجلسات المسموح بها");


                          }

                          $(button).html('ألغِ تسجيلي!');
                          $(button).data('action', 'cancel');
                          $(button).addClass('btn-danger');
                          $(button).removeClass('btn-success');
                          $(button).removeAttr("disabled", "disabled");

                          status_button.show();
                          status_button.removeClass("btn-danger");
                          status_button.html(data['status']);
                          if (data['status'] == "معلق"){
                            status_button.addClass("btn-warning");
                          } else if (data['status'] == "معتمد"){
                            status_button.addClass("btn-success");
                          }
                      }
                } else if (data['success'] == 0){
                  toastr.error(data['message']);
                }
            }
        });
    });

    $('#session-details-modal').modal({
      keyboard: false,
      backdrop: 'static',
      show    : false,
    });
    $(".session-info").click(function () {
        url = $(this).data("url");
        name = $(this).data("name");

        $("#session-details-modal").modal('show');
        $("#session-details-modal .modal-title").html(name);
        $("#session-details-modal .modal-title").addClass('english-field');
            $("#session-details-modal .modal-body").load(url);
    });

{% endblock %}

{% block customscript %}
    {% with modal_id='session-details-modal' no_footer=True %}
        {% include "bulb/groups/common_edit_modal.html" %}
    {% endwith %}
{% endblock %}
