                <div class="col-sm-6 text-center">
                        <div class="book-image" style="background-image:url('{{ book_commitment.cover.url }}');"></div>
                        {{ book_commitment.user.common_profile.get_ar_short_name }}
                    {% if book_commitment.get_progress_percentage %}
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ book_commitment.get_progress_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ book_commitment.get_progress_percentage }}%">
                            {{ book_commitment.get_progress_percentage }}%
                          </div>
                        </div>
                    {% endif %}
                </div>
