
<style>
.modal-footer{
    display: none;
}
    
.end-readathon-introduction{
    background: rgb(134, 213, 121);
}
</style>

<h2>مرحبا بك في الريديثون!</h2>

<div class="row">
    <div class="col-xs-12">
        <p style="font-size: 1.1em;" class="modal-intro">يمكن أن يكون الكتاب عن أي مجال ثقافي أو معرفي أو فكري ينال اهتمامك: يمكن أن يكون رواية أو كتابًا تاريخيا أو سيرة ذاتية أو كتابًا علميًا، يمكن أيضا أن تشارك بأكثر من كتاب، شريطة أن تتمكن من إنجازها خلال فترة الريديثون.</p>
        <p style="font-size: 1.1em;" class="modal-intro">بنهاية الريديثون نريد أيضا أن نخرج من هذه التجربة بقيمة مجتمعية، وذلك من خلال <strong>منتج ثقافي</strong> يعمل كل منّا على تنفيذه بالطريقة التي يراها مبتكرًا.  يُشترط في العمل الثقافي فقط أن يكون منشورا ومتاحا للجميع أيًا يكن شكله ومحتواه.  مثلا: يمكن أن يكون العمل مراجعة للكتاب على موقع Goodreads ويمكن أن يكون تدوينة تلخص الكتاب، أو تسجيلا صوتيًا يُرفع على Soundcloud يحكي مراجعة للكتاب أو يُقرأ. يمكن أيضا أن يكون مقطًعا على يوتيوب.</p>
        <p style="font-size: 1.1em;" class="modal-intro">على هامش الريديثون نقيم أيضا <strong>جلسة نقاشية مُصغّرة</strong> تجمع أفضل 25 خُطّة تكون على شِقيّن: قبل الريديثون وبعده. في هذه الجلسة تُعرض الخطط ثم -بعد انتهاء الريديثون- تُعرض المنتجات الثقافية، وسيتم التواصل مع الأشخاص الذين يتيسر حضورهم، علما بأن حضور الجلسة ليس شرطا للحصول على الميدالية.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="bulb-option end-readathon-introduction">
            <h3>التالي</h3>
        </button>
    </div>
</div>