{% extends template %}{% load bootstrap3 %}
{% block title %}صوتك مسموع{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<section class="breadcrumb">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-sm-12">
				
				<h1 class="dinar-medium">صوتك مسموع</h1>
							
			</div>
			
		</div>
		
	</div>
	
</section>

{% endif %}
{% if not user.is_authenticated %}<div class="container">{% endif %}
<div class="row">
<form name="search" action="{% url 'studentvoice:search' %}" method="get" class="form-inline">
	{% if not user.is_authenticated %}
	<input type="text" class="form-control" name="q"/>
	<button type="submit" class="btn btn-primary">
        {% bootstrap_icon "search" %} ابحث
    </button>
    {% else %}
  	<div class="col-md-6">
    <div class="input-group">
		<input type="text" class="form-control" name="q">
		
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary">
			    <span class="glyphicon glyphicon-search"></span> ابحث
			</button>
		</span>
	</div>
	</div>
	{% endif %}
    
</form>
</div>
{% if not user.is_authenticated %}
	</div><!-- end .container -->
	<div class="container dinar-light">
{% endif %}
<br>
<div class="row">
	<div class="col-md-3">
	<div class="panel panel-primary" data-collapsed="0">
		<!-- panel head -->
		<div class="panel-heading">
			<div class="panel-title">خيارات</div>
		</div>
		
		<!-- panel body -->
		<div class="panel-body">
			<p style="font-size:1em;"><strong>رتّب الأصوات:</strong></p>
			<ul class="list-unstyled">
				<li><a href="{% url 'studentvoice:home' %}"><span class="glyphicon glyphicon-time"></span> التاريخ</a></li>
				<li><a href="{% url 'studentvoice:home' %}?order=score"><span class="glyphicon glyphicon-heart-empty"></span> التأييد</a></li>
				<li><a href="{% url 'studentvoice:home' %}?order=comments"><span class="glyphicon glyphicon-comment"></span> التعليقات</a></li>
				<li><a href="{% url 'studentvoice:home' %}?order=views"><span class="glyphicon glyphicon-signal"></span> المشاهدات</a></li>
</ul>



			<p style="font-size:1em;"><strong>رشّح الأصوات:</strong></p>
			<ul class="list-unstyled">
			<li><a href="{% url 'studentvoice:home' %}?filter=mine"><span class="glyphicon glyphicon-user"></span> أصواتي</a></li>
			<li><a href="{% url 'studentvoice:home' %}?filter=day"><span class="glyphicon glyphicon-calendar"></span> آخر يوم</a></li>
			<li><a href="{% url 'studentvoice:home' %}?filter=week"><span class="glyphicon glyphicon-calendar"></span> آخر أسبوع</a></li>
			<li><a href="{% url 'studentvoice:home' %}?filter=month"><span class="glyphicon glyphicon-calendar"></span> آخر شهر</a></li></ul>
		</div>
	</div>
	</div>
	<div class="col-md-9">
{% if page_voices %}
    {% for voice in page_voices %}

<div class="short-summary{% if extra_class %} {{extra_class}}{% endif %}{% if not voice.is_published %} unpublished{% endif %}" id="voice-{{voice.pk}}">
    <div class="counts">
        <div class="views
{% if voice.number_of_views == 0 %}
no-views
{% else %}
some-views
{% endif %}">
             <span class="item-count">{{ voice.number_of_views }}</span>
            <div>
            مشاهدة
            </div>
        </div>
        <div class="comments
{% if voice.number_of_comments == 0 %}
no-comments
{% else %}
{% if voice.response %}
accepted
{% else %}
some-comments
{% endif %}
{% endif %}">
            <span
                class="item-count"
            >{{ voice.number_of_comments }}</span>
            <div>
            تعليق
            </div>
        </div>
        <div class="votes
{% if voice.score == 0 %}
no-votes
{% else %}
some-votes
{% endif %}">
            <span class="item-count">{{voice.score}}</span>
            <div>
            تأييد
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="userinfo">
            {% comment %}{% {{ timeago(thread.last_activity_at) }}%}{% endcomment %}
            {% if not voice.submitter %}{# todo: here we need to look at the anonymity of the last edit instead #}
                <span class="anonymous">مجهول</span>
            {% else %}
                <a href="https://ar.wikipedia.org">{{ voice.sumbitter.student_profile.get_full_ar_name }}</a>
            {% endif %}
        </div>
    </div>
    <h2>{% if not voice.is_published %}<span class="unpublished">[غير منشور]</span> {% endif %}<a href="{% url 'studentvoice:show' voice.pk %}">{{ voice.title|escape }}</a></h2>
    {% comment %}{{ tag_list_widget(thread.get_tag_names(), search_state=search_state) }}{% endcomment %}
</div>


    {% endfor %}
<div style="text-align:center;">
    <span class="step-links">
        {% if page_voices.has_previous %}
            <a href="?page={{ page_voices.previous_page_number }}">السابق</a>
        {% endif %}

        <span class="current">
            الصفحة {{ page_voices.number }} من {{ page_voices.paginator.num_pages }}
        </span>

        {% if page_voices.has_next %}
            <a href="?page={{ page_voices.next_page_number }}">التالي</a>
        {% endif %}
    </span>
</div>
</div>
</div>
{% else %}
    <p>لا توجد أية أصوات.</p>
{% endif %}
{% if not user.is_authenticated %}
</div>
</div>

{% endif %}
{% endblock %}

