{% extends 'studentvoice_base.html' %}{% load bootstrap3 %}
{% block title %}{% if edit %} تعديل الإجابة على {{ voice.title }} {% else %} إجابة على {{ voice.title }} {% endif %}{% endblock %}
{% block content %}

<h2>{% if edit %} تعديل الإجابة على <a href="{% url 'studentvoice:show' voice.pk %}">{{ voice.title }}</a>  {% else %} إجابة على <a href="{% url 'studentvoice:show' voice.pk %}">{{ voice.title }}</a>  {% endif %}</h2>
<p class="alert alert-warning">من هنا يمكنك الاستجابة لأصوات الطلاب!  سوف تنشر الإجابات باسم <strong>{{ voice.recipient.name }}<strong>.</p>
<form action="{% if edit %}{% url 'studentvoice:edit_response' voice.pk %}{% else %}{% url 'studentvoice:respond' voice.pk %}{% endif %}" method="post" class="form">
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} {% if edit %} عدّل {% else %} أجب {% endif %}
        </button>
    {% endbuttons %}
</form>
{% endblock %}


