{% extends 'studentvoice_base.html' %}{% load bootstrap3 %}{% load voice_tags %}
{% block title %}{{ voice.title }}{% endblock %}

{% block content %}
<script>
$(function() {
    $('.upvote, .downvote').click(function(){
        var vote_id_regex = /question-img-(\w+)vote-(\d+)/;
        var voice_id = vote_id_regex.exec(this.id)[2];
        var id_type = vote_id_regex.exec(this.id)[1];
        if (id_type == 'up'){
           var vote_type='U';
           var opposite_id_type='down';}
        else if (id_type == 'down'){
           var vote_type='D';
           var opposite_id_type='up';}
        var data = {'voice_id': voice_id, 'vote_type': vote_type};
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: '{% url 'studentvoice:vote' %}',
            cache: false,
            success: function(data){
                if (data['success'] == true){
                    $('#question-vote-number-' + voice_id).fadeOut(300, function(){
                        $('#question-vote-number-' + voice_id).html(data['score']);
                        $('#question-vote-number-' + voice_id).fadeIn(300); 
                    });
                    $('#question-img-' + id_type + 'vote-' + voice_id).addClass('on');
                    $('#question-img-' + opposite_id_type + 'vote-' + voice_id).removeClass('on');
                } else {
                    alert(data['message']);
                }
            }
        });
    });
});


function showMessage(element, msg, where) {
    var div = $('<div class="vote-notification"><h3>' + msg + '</h3>(' +
    gettext('click to close') + ')</div>');

    div.click(function(event) {
        $(".vote-notification").fadeOut("fast", function() { $(this).remove(); });
    });

    var where = where || 'parent';

    if (where == 'parent'){
        element.parent().append(div);
    }
    else {
        element.after(div);
    }

    div.fadeIn("fast");
};

</script>
{% if message %}<p class="alert alert-danger">
{% if message == 'deleted' %}
لا يمكنك التعليق. هذا الصوت محذوف.
{% elif message == 'uneditable' %}
لا يمكنك التعليق. هذا الصوت مغلق.
{% elif message == 'commenterror' %}
حدث خطأ في تعليقك.
{% endif %}
</p>{%endif %}
<div id="voice-id-{{ voice.pk }}" class="row question-page post-content">
<div class="vote-buttons">
<div id="question-img-upvote-{{ voice.pk }}" class="question-img-upvote post-vote upvote {% has_voted user voice 'U' %}"> </div>
<div id="question-vote-number-{{ voice.pk }}" class="vote-number" title="current number of votes">{{ voice.score }}</div>
<div id="question-img-downvote-{{ voice.pk }}" class="question-img-downvote post-vote downvote {% has_voted user voice 'D' %}"> </div>
</div>
<h2><a href="{% url 'studentvoice:show' voice.pk %}">{% if not voice.is_published %}<span class="unpublished">[غير منشور]</span> {% endif %}{{ voice.title }} </a></h2>

<!--<div class="col-md-9">
<div class="clearfix"></div>
<div class="post-body">-->
<div class="voice-update-info-container">
<div class="voice-update-info"><p>كتبه {{ voice.submitter.student_profile.get_ar_full_name|default:voice.submitter.username }} في <strong><abbr class="timeago" title="{{ voice.submission_date|date:'c'}}">{{ voice.submission_date|date:'j F' }} </abbr></strong> {% if user == voice.submitter or perms.studentvoice.change_voice or perms.studentvoice.delete_voice %}({% if user == voice.submitter or perms.studentvoice.change_voice %}<a href="{% url 'studentvoice:edit' voice.pk %}"><span class="glyphicon glyphicon-pencil"></span> عدّل</a>{% endif %}{% if user == voice.submitter or perms.studentvoice.delete_voice %} <a href="{% url 'studentvoice:delete' voice.pk %}"><span class="glyphicon glyphicon-remove"></span> احذف</a>{% endif %}){% endif %}</p></div>
{% comment %}{% if voice.edit_date > voice.submission_date %}<div class="voice-update-info"> <p style="line-height:12px;"> <a href="/en/questions/10507/revisions/">عدله <strong><abbr class="timeago" title="{{ voice.submission_date|date:'c' }}">{{ voice.edit_date|date:'j F' }}</abbr></strong></a> </p></div>{% endif %}{% endcomment %}
</div>
<p>{{ voice.text|linebreaksbr }}</p> 

</div>
<div class="row voice-comments">
<h3>التعليقات</h3>
{% for comment in comments %}
<div class="single-comment{% if not comment.is_published %} unpublished{% endif %}" id="comment-{{ comment.pk }}">
<div class="vote-buttons">
<div id="question-img-upvote-{{ comment.pk }}" class="question-img-upvote post-vote upvote {% has_voted user comment 'U' %}"> </div>
<div id="question-vote-number-{{ comment.pk }}" class="vote-number" title="current number of votes">{{ comment.score }}</div>
<div id="question-img-downvote-{{ comment.pk }}" class="question-img-downvote post-vote downvote {% has_voted user comment 'D' %}"> </div>
</div>
<div class="voice-update-info-container">
<div class="voice-update-info"><p>كتبه {{ comment.submitter.student_profile.get_ar_full_name|default:comment.submitter.username }} في <strong><abbr class="timeago" title="{{ comment.submission_date|date:'c'}}">{{ comment.submission_date|date:'j F' }} </abbr></strong> {% if user == comment.submitter or perms.studentvoice.change_voice or perms.studentvoice.delete_voice %}({% if user == comment.submitter or perms.studentvoice.change_voice %}<a href="{% url 'studentvoice:edit' comment.pk %}"><span class="glyphicon glyphicon-pencil"></span> عدّل</a>{% endif %}{% if user == comment.submitter or perms.studentvoice.delete_voice %} <a href="{% url 'studentvoice:delete' comment.pk %}"><span class="glyphicon glyphicon-remove"></span> احذف</a>{% endif %}){% endif %}</p></div>
{% comment %}{% if comment.edit_date > comment.submission_date %}<div class="voice-update-info"> <p style="line-height:12px;"> <a href="/en/questions/10507/revisions/">عدله <strong><abbr class="timeago" title="{{ comment.submission_date|date:'c' }}">{{ comment.edit_date|date:'j F' }}</abbr></strong></a> </p></div>{% endif %}{% endcomment %}
</div>
<p>{{ comment.text }}</p>
<div class="answer-controls post-controls">
 {# TODO: links and actions #}
</div>
</div>
<div class="clean"></div>
<div class="clearfix"></div>
{% endfor %}
{% if comment_form and perms.studentvoice.add_voice %}
<form action="{% url 'studentvoice:create_comment' voice.pk %}" method="post" class="form">
{% csrf_token %}
    {% bootstrap_form comment_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} علّق
        </button>
    {% endbuttons %}
</form>
{% endif %}
</div><!--/question-page post-content-->
{% endblock %}
