<!doctype html>{% load i18n %}
<head>
    <meta charset="utf-8">
    <title>{% trans "Forms" %}</title>
    <style>
        body {font-family:sans-serif; padding:1em 2em;}
        p {width:50em;}
        label {display:block; float:left; width:10em;}
        .errorlist {color:#f00;}
    </style>
</head>
<body>
    <h1>{% trans "Forms" %}</h1>
    <hr>
    {% for form in forms %}
    <p><a href="{% url 'forms:form_detail' object_id form.get_url_attr %}">{{ form.title }}</a></p>
    {% empty %}
    <p>{% trans "No forms to display." %}</p>
    {% endfor %}
</body>
</html>