{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load events_tags %}

{% block title %}شهادات أبحاث {{ event.official_name }}{% endblock %}
{% block pageheaderurl %}{% url 'events:list_barcodes' event.code_name %}{% endblock %}

{% block content %}
<h1>شهادات أبحاث {{ event.get_html_name|safe }}</h1>
<table id="users" class="display datatable db-responsive">
    <thead>
        <tr>
            <th>رقم البحث</th>
            <th>البحث</th>
            <th>وصف الشهادة</th>
            <th>البريد الإلكتروني</th>
            <th>الشهادة</th>
        </tr>
    </thead>
    <tbody>
{% for certificate in certificates %}
        <tr>
            <td class="english-field">{{ certificate.content_object.pk }}</td>
            <td class="english-field">{{ certificate.content_object.title }}</td>
            <td>{{ certificate }}</td>
            <td class="english-field">{{ certificate.content_object.email }}</td>
            <td><a href="{% url 'certificates:download_certificate' certificate.verification_code %}">الشهادة</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}

{% block customscript %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
	<script>
    $(function(){
        $("#users").dataTable({
                      language: {% include 'js/dataTables-arabic.json' %}});
     });
</script>
{% endblock %}
