{% extends 'events_submission_base.html' %}{% load staticfiles %}
{% block csssheet %}
<link rel="stylesheet" href="{% static 'neon/assets/css/neon-rtl.css' %}">
{% endblock %}
{% block meta_description %}التسجيل في {{ event.name }}{% endblock %}
{% block title %}التسجيل في {{ event.name }}{% endblock %}
{% block description %}<h2 class="dinar-light">التسجيل في {{ event.get_html_name|safe }}</h2>{% endblock %}

{% block content %}
<div class="form-register-success visible dinar-light">
	<i class="entypo-info"></i>
	<h3 class="dinar-light">انتهى التسجيل</h3>
<p style="text-align: justify;">انتهى التسجيل في {{ event.get_html_name|safe }} يمكنك الاطلاع على مستجدات الحدث عبر <a href="https://twitter.com/{{ event.twitter }}">حسابنا على تويتر</a>{% if event.is_on_telegram %} و<a href="https://telegram.me/KSAUEVENTS">قناتنا على تلغرام</a>{% endif %}{% if event.url %} و<a href="{{ event.url }}">موقع الحدث</a>{% endif %}!</p>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
