{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load events_tags %}
{% block title %}{{ event.official_name }}{% endblock %}
{% block content %}


<div class="row">
        {% for time_slot in time_slots %}
    <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
        <h2 class="mentor-section-header">{{ time_slot.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row text-center">
            {% autoescape off %}{% cycle '<div class="row">' '' '' '' %}{% endautoescape %}
            {% for session in time_slot.session_set.all %}
            <div class="col-md-3 col-xs-6">
                <h2>{{ session.name }}</h2>
                {% if not user|is_registered:session %}
                <button class="btn btn-success signup" data-action="signup" data-pk="{{ session.pk }}">سجلني!</button>
                {% else %}
                <button class="btn btn-danger cancel" data-action="cancel" data-pk="{{ session.pk }}">ألغِ تسجيلي!</button>
                {% endif %}
            </div>
            {% endfor %}

            {% autoescape off %}
            {% cycle '' '' '' '</div>' %}
            {%  if forloop.last and not forloop.counter|divisibleby:4 %}</div>{% endif %}
            {% endautoescape %}
            {% endfor %}
        <hr>

        </div>

    </div>




{% endblock %}

{% block customscript %}
<script>
$(document).ready(function(){
	$(".signup").click(function(){
		pk = $(this).data("pk");
		action = $(this).data("action");
		$.ajax("{% url 'events:handle_ajax' %}", {
		    method: "POST",
		    data: {pk: pk, action: action},
		});
		$

		if (action == 'cancel'){
                    $(this).html('سجلني!');
                    $(this).data('action', 'signup');
                    $(this).addClass('btn-success')
                    $(this).removeClass('btn-danger')
                } else if (action == 'signup'){
                    $(this).html('ألغِ تسجيلي!');
                    $(this).data('action', 'cancel');
                    $(this).addClass('btn-danger')
                    $(this).removeClass('btn-success')
                }

	})
});
</script>
{% endblock %}
