{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load events_tags %}
{% block title %}{{ event.official_name }}{% endblock %}
{% block content %}


<div class="row">
        {% for time_slot in time_slots %}
    <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
        <h2 class="mentor-section-header">{{ time_slot.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row text-center">
            {% autoescape off %}{% cycle '<div class="row">' '' '' '' %}{% endautoescape %}
            {% for session in time_slot.session_set.all %}
            <div class="col-md-3 col-xs-6">
                <h2>{{ session.name }}</h2>
                 {% if session.acceptance_method == 'F' %}
                <h5>عدد المقاعد المتبقية: <span id="count-{{ session.pk}}">{{ session.get_remaining_seats }}</span></h5>
                {% else %}
                <br>
                {% endif %}
                {% if not user|is_registered:session %}
                <button class="btn btn-success signup" data-action="signup" data-pk="{{ session.pk }}">سجلني!</button>
                {% else %}
                <button class="btn btn-danger cancel" data-action="cancel" data-pk="{{ session.pk }}">ألغِ تسجيلي!</button>
                {% endif %}
          <div id="status-{{ session.pk }}" {% if not user|is_registered:session %}style="display: none;" {% endif %}>\
          <h5>

					حالة التسجيل:

					{% if user|get_status:session == True %}
						<div class="label label-success">مؤكّد</div>
					{% elif user|get_status:session == None %}
						<div class="label label-warning">معلَّق</div>
					{% else %}
						<div class="label label-danger">مرفوض</div>
					{% endif %}
				</h5>
        </div>
            </div>
            {% endfor %}

            {% autoescape off %}
            {% cycle '' '' '' '</div>' %}
            {%  if forloop.last and not forloop.counter|divisibleby:4 %}</div>{% endif %}
            {% endautoescape %}



    </div>
        <hr>
        {% endfor %}

    </div>




{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>

<script>
$(document).ready(function(){
  toastr.options.positionClass = "toast-top-left";
	$(".signup, .cancel").click(function(){
    button = this;
		pk = $(this).data("pk");
		action = $(this).data("action");
		$.ajax("{% url 'events:handle_ajax' %}", {
		    method: "POST",
		    data: {pk: pk, action: action},
        success: function(data){
            if (data['success'] == 1){
                $("#count-" + pk).html(data['remaining_seats']);
              		if (action == 'cancel'){
                    toastr.error("ألغي تسجيلك");
                    $(button).html('سجلني!');
                    $(button).data('action', 'signup');
                    $(button).addClass('btn-success');
                    $(button).removeClass('btn-danger');

                  } else if (action == 'signup'){
                    toastr.success("تمّ تسجيلك!");
                      $(button).html('ألغِ تسجيلي!');
                      $(button).data('action', 'cancel');
                      $(button).addClass('btn-danger');
                      $(button).removeClass('btn-success');
                  }
            } else if (data['success'] == 0){
              toastr.error(data['message']);
            }
        }
		});
  });
});
</script>
{% endblock %}
