{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load events_tags %}
{% block title %}{{ event.official_name }}{% endblock %}
{% block content %}
<style>
.session-title{
  min-height: 120px;
  text-align: center;
}
.body-containter {
  min-height: 120px;
}
</style>
<div class="text-center">
    <h1>التسجيل في {{ event.official_name }}</h1>

{% if not user.social_auth.exists %}
<a style="margin-top: 5px; background-color: #1da1f3; color: white;" align="center" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-sm"><i class="fa fa-twitter"></i> اربط حسابي بتويتر</a>
{% endif %}
</div>

<br>
<div class="row">
        <br>
    <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
        <h2 class="mentor-section-header">{{ timeslot.name }}</h2>
    </div>
</div>

        <div class="row text-center">

            {% autoescape off %}<div class="row"> {% endautoescape %}
                        {% if  timeslot.children %}
            {% for child_timeslot in timeslot.children.all %}
                <div class="col-md-4 col-xs-8 col-xs-offset-2 {% if children_total == 1  %}col-md-offset-4{% elif children_total == 2 %}col-md-offset-2{% endif %} body-containter">
                   <div class="mentor-section-intro ">
                    {% if child_timeslot.event.image %}
			            <img src="{{ child_timeslot.event.image.url }}" class="img-circle img-responsive " style="max-width: 100% ">
			        {% else %}
			            <img src="{% static 'logo/enjaz_logo_shadow_no_text.png' %}" class="img-circle img-responsive center-block" style="max-width: 150px ;">
			        {% endif %}
                    <h3 class="english-field" style="text-align: center">  {{ child_timeslot.name }}  </h3>
                    <a href="{% url 'events:list_sessions' child_timeslot.event.code_name child_timeslot.pk %}"> <button style="float: left" class="btn btn-success">المزيد</button>
                    </a>
                </div>
                </div>
            {% endfor %}
            {% endif %}
            {% for session in timeslot.session_set.all %}
            <div class="col-md-4 col-xs-8 col-xs-offset-2 {% if children_total == 1 %}col-md-offset-4{% elif children_total == 2 %}col-md-offset-2{% endif %}">

              <h3 class="english-field session-title"> <a {% if user|is_organizing_team_member:event or user|is_regestrations_team_member:event %} href="{% url 'events:review_registrations' session.event.code_name session.pk %}" {% endif %}> {{ session.name }}</a> </h3>
                <div>
  								<i class="entypo-calendar"></i>
                                  {{ session.date|date:"l j F Y" }}
  							</div>
                {% if session.start_time and session.end_time %}
  							<div>
  								<i class="entypo-clock"></i>
  								{{ session.start_time }}
  								-
  								{{ session.end_time }}
  							</div>
                {% endif %}
  							{% if session.location %}
  							<div>
  							  <i class="entypo-location"></i>
  							  {{ session.location }}
  							  </div>
  							{% endif %}
                {% if session.acceptance_method == 'M' %}
                     <br>
                 {% elif session.limit != None %}
                <h5>عدد المقاعد المتبقية: <span id="count-{{ session.pk}}">{{ session.get_remaining_seats }}</span></h5>
                {% else %}
                <br>
                {% endif %}
{#                <h3>{% if session.gender == 'F' %}<i class="fa fa-female" aria-hidden="true"></i>{% elif session.gender == 'M' %}<i class="fa fa-male" aria-hidden="true"></i>{% else %}<i class="fa fa-female" aria-hidden="true"></i>  <i class="fa fa-male" aria-hidden="true"></i>{% endif %}</h3>#}

                {% if user.is_authenticated and not user|is_registered:session %}
          {% if not user|has_remaining_sessions:timeslot  %}
                <button class="btn btn-warning signup" data-action="signup" data-pk="{{ session.pk }}" data-timeslot-pk="{{ timeslot.pk }}" disabled>وصلت الحد الأقصى للجلسات المسموح بها</button>
          {% else %}
                <button class="btn btn-success signup" data-action="signup" data-pk="{{ session.pk }}" data-timeslot-pk="{{ timeslot.pk }}">سجلني!</button>
          {% endif %}
                {% elif user.is_authenticated and user|is_registered:session %}
                <button class="btn btn-danger cancel" data-action="cancel" data-pk="{{ session.pk }}" data-timeslot-pk="{{ timeslot.pk }}">ألغِ تسجيلي!</button>
                {% else %}
                <a href="{% url 'userena_signin' %}?next={{ request.path }}" style="color: white;" class="btn btn-lg btn-success">أدخلني لإنجاز كي أؤكد الحضور</a>
                {% endif %}
            {% if session.image or session.description %}
                <button type="button" data-name="{{ session.name }}" data-url="{% url 'events:session_info' session.time_slot.event.code_name session.pk %}" class="btn btn-info session-info"> <i class="entypo-info"></i> </button>
            {% endif %}
                <br>
            {% if session.acceptance_method == 'M' and user.is_authenticated %}
                <div {% if not user|is_registered:session %}style="display: none;" {% endif %} id="status-{{ session.pk }}" class="btn btn-xs {% if user|get_status:session == True %}
      						btn-success">معتمد
      					{% elif user|get_status:session == None %}
      						btn-warning">معلق
      					{% else %}
      						 btn-danger">مرفوض
      			    {% endif %}
                </div>
                {% else %}
                <br>
            {% endif %}
                </div>
                {% endfor %}

            {% autoescape off %}
            {% cycle '' '' '' '</div>' %}

            {% endautoescape %}



    </div>
        <hr>
<a style="margin-bottom: 5px; margin-left: 15px; float: left;"class="btn btn-default" href="{% url 'events:list_timeslots' event.code_name %}" >العودة للخلف </a>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>

<script>
$(document).ready(function(){
      // initialize project edit modal
    $('#session-details-modal').modal({
      keyboard: false,
      backdrop: 'static',
      show    : false,
    });
    $(".session-info").click(function () {
        url = $(this).data("url");
        name = $(this).data("name");

        $("#session-details-modal").modal('show');
        $("#session-details-modal .modal-title").html(name);
        $("#session-details-modal .modal-title").addClass('english-field');
            $("#session-details-modal .modal-body").load(url);
{#                , function(){#}
    {#            $('.end-project-introduction').click(function() {#}
    {#                $("#edit-project-modal .modal-body").load("{% url 'researchhub:add_project' %}");#}
    {#            });#}
        });


  toastr.options.positionClass = "toast-top-left";
	$(".signup, .cancel").click(function(){
    button = this;
		pk = $(this).data("pk");
		action = $(this).data("action");
    timeslot_pk = $(this).data("timeslot-pk");
		$.ajax("{% url 'events:handle_ajax' %}", {
		    method: "POST",
		    data: {pk: pk, action: action},
        success: function(data){
            if (data['success'] == 1){
                $("#count-" + pk).html(data['remaining_seats']);
                  status_button = $("#status-" + pk);
                  timeslot_buttons = $("button[data-timeslot-pk=" + timeslot_pk + "]");
              		if (action == 'cancel'){
                    toastr.error("ألغي تسجيلك");

                      $(button).html('سجلني!');
                      $(button).data('action', 'signup');
                      $(button).addClass('btn-success');
                      $(button).removeClass('btn-danger');

                      timeslot_buttons.removeAttr("disabled", "disabled");
                      timeslot_buttons.removeClass('btn-warning');
                      timeslot_buttons.html('سجلني!');
                      timeslot_buttons.addClass('btn-success');

                      status_button.hide();

                  } else if (action == 'signup'){
                    toastr.success("تمّ تسجيلك!");
                      if (data['remaining'] == false) {
                            timeslot_buttons.attr("disabled", "disabled");
                            timeslot_buttons.removeClass('btn-success');
                            timeslot_buttons.addClass('btn-warning');
                            timeslot_buttons.html("وصلت الحد الأقصى للجلسات المسموح بها");

                      }

                      $(button).html('ألغِ تسجيلي!');
                      $(button).data('action', 'cancel');
                      $(button).addClass('btn-danger');
                      $(button).removeClass('btn-success');
                      $(button).removeAttr("disabled", "disabled");

                      status_button.show();
                      status_button.removeClass("btn-danger");
                      status_button.html(data['status']);
                      if (data['status'] == "معلق"){
                        status_button.addClass("btn-warning");
                      } else if (data['status'] == "معتمد"){
                        status_button.addClass("btn-success");
                      }
                  }
            } else if (data['success'] == 0){
              toastr.error(data['message']);
            }
        }
		});
  });

});

</script>
{%  if user.is_authenticated and not user.is_superuser and not user.common_profile.canceled_twitter_connection and not user.social_auth.exists %}
<!---Twitter Modal -->>
<div class="modal fade" id="connect-twitter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body ativa-scroll text-center">
          <h2>بات الآن ممكنا إخبار الأصدقاء عن أنشطة النادي!</h2>
          <p>يتيح ربط حساب بوابة إنجاز بحسابك على تويتر إخبار متابعيك ومتابعاتك عن أنشطة النادي، ومساعدتهم في اكتشافها!</p>
          <p>بعد الربط، سوف تُكتب تغريدة آلية في حسابك عندما تؤكد انضمامك لأحد الأنشطة، ويمكنك إلغاء الربط في أي وقت.</p>
          <div class="row">
              <a style="color: #1da1f3;" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg"><i class="fa fa-twitter fa-4x"></i><br>اربط حسابي بتويتر</a>
          </div>
          <div class="row">
                  <a id="cancel-twitter-connection" style="color: rgb(243, 29, 89)"><i class="fa fa-times fa-4x"></i><br> لا تسألني مُجدًدا</a>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(function(){
    $('#connect-twitter').modal({
      keyboard: true,
      backdrop: 'static',
    });
    $("#cancel-twitter-connection").click(function(){
        $.ajax({
            url: "{% url 'cancel_twitter_connection' %}",
            type: 'GET',
            cache: false,
            success: function(data){
                // show success message (using toastr)
                toastr.options.positionClass = "toast-top-left";
                toastr.success("لن يظهر السؤال مُجددًا.");
                // hide modal
                $("#connect-twitter").modal('hide');
            }
        });

    });
});
</script>
{% endif %}
    {% with modal_id='session-details-modal' no_footer=True %}
    {% include "bulb/groups/common_edit_modal.html" %}
{% endwith %}
{% endblock %}
