{% extends 'events_evaluation_base.html' %}
{% block title %}بطاقتي{% endblock %}
{% block pageheader %}بطاقتي{% endblock %}
{% block pageheaderurl %}{% url 'events:show_my_barcode' %}{% endblock %}
{% block content %}
<div class="row text-center">
<div class="col-sm-6 col-sm-offset-3">
{{ qrcode_value|safe }}
</div>
</div>
<div class="row ">
<div class="col-sm-6 col-sm-offset-3 english-field">
<div class="text-center">
{{ one_dimensional_value|safe }}
</div>
<p style="text-align: center; color: black;">{{ barcode_user.common_profile.get_en_short_name|default:barcode_user.username }}</p>
</div>
</div>
{% endblock %}

