{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load events_tags %}
{% block title %}{{ event.official_name }}{% endblock %}
{% block content %}
<div class="text-center">
    <h1>التسجيل في {{ event.official_name }} <a style="float: left; background-color: #009549; color: white;" class="btn btn-Success" href="{% url 'events:list_my_registration' %}">تسجيلاتي </a> </h1>

    <!--TODO: Fix hardcode; also Jeddah's page has some error so no url for them .. sorry-->
    {% if event.code_name == 'hpc2020-a' %}
    <a style="float: left; background-color: #009549; color: white;" class="btn btn-Success" href="{% url 'newhpc:register_general_program' 'alahsa' %}">التسجيل في البرنامج العام </a>
    {% elif event.code_name == 'hpc2020-r' %}
    <a style="float: left; background-color: #009549; color: white;" class="btn btn-Success" href="{% url 'newhpc:register_general_program' 'riyadh' %}">التسجيل في البرنامج العام </a>
    {% endif %}

{% if not user.social_auth.exists %}
<a style="margin-top: 5px; background-color: #1da1f3; color: white;" align="center" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-sm"><i class="fa fa-twitter"></i> اربط حسابي بتويتر</a>
{% endif %}
</div>

<br>
<div class="row">
    {% for timeslot in timeslots %}
    <div style="margin-right: 1%; padding: 2%" class="col-md-5  col-sm-12 mentor-section-intro">
    <div>
			{% if timeslot.image %}
                	<img src="{{ timeslot.image.url }}" class="img-responsive session-image" style="max-width: 100%;padding: 3%">
			{% endif %}
        <h2 class="mentor-section-header">{{ timeslot.name }}</h2>
        <a style="float: left;" class="btn btn-Success" href="{% url 'events:list_sessions' timeslot.event.code_name timeslot.pk %}">المزيد </a>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>


{%  if user.is_authenticated and not user.is_superuser and not user.common_profile.canceled_twitter_connection and not user.social_auth.exists %}
<!---Twitter Modal -->>
<div class="modal fade" id="connect-twitter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body ativa-scroll text-center">
          <h2>بات الآن ممكنا إخبار الأصدقاء عن أنشطة النادي!</h2>
          <p>يتيح ربط حساب بوابة إنجاز بحسابك على تويتر إخبار متابعيك ومتابعاتك عن أنشطة النادي، ومساعدتهم في اكتشافها!</p>
          <p>بعد الربط، سوف تُكتب تغريدة آلية في حسابك عندما تؤكد انضمامك لأحد الأنشطة، ويمكنك إلغاء الربط في أي وقت.</p>
          <div class="row">
              <a style="color: #1da1f3;" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg"><i class="fa fa-twitter fa-4x"></i><br>اربط حسابي بتويتر</a>
          </div>
          <div class="row">
                  <a id="cancel-twitter-connection" style="color: rgb(243, 29, 89)"><i class="fa fa-times fa-4x"></i><br> لا تسألني مُجدًدا</a>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(function(){
    $('#connect-twitter').modal({
      keyboard: true,
      backdrop: 'static',
    });
    $("#cancel-twitter-connection").click(function(){
        $.ajax({
            url: "{% url 'cancel_twitter_connection' %}",
            type: 'GET',
            cache: false,
            success: function(data){
                // show success message (using toastr)
                toastr.options.positionClass = "toast-top-left";
                toastr.success("لن يظهر السؤال مُجددًا.");
                // hide modal
                $("#connect-twitter").modal('hide');
            }
        });

    });
});
</script>
{% endif %}
{% endblock %}
