<script type="text/javascript">
$(function(){
    // Let's start with the college and section fields disabled, but only if the currently chosen field isn't Riyadh (that's useful in case of form errors, where the start isn't empty.)
    if ($("#city").val() == ""){
        $("#section").prop("disabled", true);
        $("#college").prop("disabled", true);
    }else if($("#city").val() == "الأحساء" || $("#city").val() == "جدة"){
        $("#section-group").hide();
    }
    // Then let's change the college and section fields based on the city choice.
    $("#city").change(function(){
        $("#college").prop("disabled", true);
        $("#college").html("<option value=\"\">الكلية</option>");
        if ($(this).val() == "الرياض"){
            // College choice for Riyadh student shoudl only be done after specifying the section.  Don't enable it now.
            $("#section-group").show();
            $("#section").prop("disabled", false);
            $("#section").prop("required", true);
        }else if ($(this).val() == 'جدة'){
            $("#section-group").hide();
            $("#section").prop("required", false);
            $("#section").val("")
            $("#college").prop("disabled", false);
            college_choices = {
                M: "كلية الطب",
                B: "كلية العلوم والمهن الصحية",
                A: "كلية العلوم الطبية التطبيقية",
                N: "كلية التمريض"};
            $.each(college_choices, function(key, value){
                $("#college")
                    .append($("<option></option>")
                            .attr("value", key)
                            .text(value));
            });
        }else if ($(this).val() == 'الأحساء'){
            $("#section-group").hide();
            $("#section").prop("required", false);
            $("#section").val("")
            $("#college").prop("disabled", false);
            college_choices = {
                A: "كلية العلوم الطبية التطبيقية",
                N: "كلية التمريض"
            };
            $.each(college_choices, function(key, value){
                $("#college")
                    .append($("<option></option>")
                            .attr("value", key)
                            .text(value));
            });
        }
    });
    $("#section").change(function(){
        // It should be possible to modify this only when Riyadh is chosen.
        $("#college").html("");
        if ($(this).val() == 'NG'){
            $("#college").prop("disabled", false);
            college_choices = {
                "": "الكلية",
                M: "كلية الطب",
                A: "كلية العلوم الطبية التطبيقية",
                P: "كلية الصيدلة",
                D: "كلية الأسنان",
                B: "كلية العلوم والمهن الصحية",
                N: "كلية التمريض",
                I: "كلية الصحة العامة والمعلوماتية الصحية"};
            $.each(college_choices, function(key, value){
                $("#college")
                    .append($("<option></option>")
                            .attr("value", key)
                            .text(value));
            });
        }else if ($(this).val() == 'KF'){
            $("#college").prop("disabled", false);
            college_choices = {
                "": "الكلية",
                M: "كلية الطب"};
            $.each(college_choices, function(key, value){
                $("#college")
                    .append($("<option></option>")
                            .attr("value", key)
                            .text(value));
            });
        }else if ($(this).val() == ''){
            // If no city was chosen, let's disable the college.
            $("#college").prop("disabled", true);
            $("#college").html("<option>الكلية</option>")
        }
    });

});
</script>
