{% load staticfiles %}{% load events_tags %}
    <div class="c-layout-page">


		<!-- BEGIN: CONTENT/STATS/COUNTER-1 -->

        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-counter-1 c-opt-1">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold" id="title">{{ timeslot.name }}</h3>

                        {% if timeslot.limit %}
                            <p class="hpc-text" ><strong style="text-align:center !important;" id="counter">  Maxium registration limit is:  {{ timeslot|get_timeslot_limit }}  </strong></p>
                        {% endif %}
                        <div class="c-line-center"></div>
                    </div>
                    <div class="row">

                        {% for child_timeslot in timeslot.children.all %}
                            <div class="column">
                                {% if child_timeslot.image %}
			                        <img src="{{ child_timeslot.image.url }}" style="width: 200px;margin-bottom: 20px">
                                {% else %}
                                <img src="{% static 'newhpc/images/icons/registration/general-icon.png' %}" style="width: 200px;margin-bottom: 20px">
                                {% endif %}
                                <h3 class="c-title c-first c-font-uppercase c-font-bold sub-title">{{ child_timeslot.name }} </h3>
                                {% if child_timeslot.limit %}
                                <p class="c-content hpc-text"> {{ child_timeslot|get_timeslot_limit }} </p>
                                {% endif %}
                                <a href="{% url 'newhpc:list_sessions' child_timeslot.event.code_name child_timeslot.pk %}"> <button style="float: left" class="btn btn-success">المزيد</button></a>

                            </div>
                        {% endfor %}
                        {% for session in timeslot.session_set.all %}
                            <div class="column" style="text-align: center!important;">
                                <img src="{% static 'newhpc/images/icons/registration/general-icon.png' %}" style="width: 200px;margin-bottom: 20px">
                                <h3 class="c-title c-first c-font-uppercase c-font-bold sub-title"><a {% if user|is_organizing_team_member:event or user|is_regestrations_team_member:event %} href="{% url 'events:review_registrations' session.event.code_name session.pk %}" {% endif %}> {{ session.name }}</a> </h3>
                                <p class="c-content hpc-text">
                                 <div>
                                    <i class="entypo-calendar"></i>
                                          {{ session.date|date:"l j F Y" }}
                                 </div>
                                {% if session.start_time and session.end_time %}
                                    <div>
                                        <i class="entypo-clock"></i>
                                        {{ session.start_time }}
                                        -
                                        {{ session.end_time }}
                                    </div>
                                {% endif %}
                                {% if session.location %}
                                    <div>
                                      <i class="entypo-location"></i>
                                      {{ session.location }}
                                      </div>
                                {% endif %}
                                {% if session.limit != None %}
                                    <h5>عدد المقاعد المتبقية: <span id="count-{{ session.pk}}">{{ session.get_remaining_seats }}</span></h5>
                                {% else %}
                                    <br>
                                {% endif %}
                                {% if user.is_authenticated and not user|is_registered:session %}
                                    {% if not user|has_remaining_sessions:timeslot  %}
                                        <button class="btn btn-warning signup" data-action="signup" data-pk="{{ session.pk }}" data-timeslot-pk="{{ timeslot.pk }}" disabled>وصلت الحد الأقصى للجلسات المسموح بها</button>
                                    {% else %}
                                        <button class="btn btn-success signup" data-action="signup" data-pk="{{ session.pk }}" data-timeslot-pk="{{ timeslot.pk }}">سجلني!</button>
                                    {% endif %}
                                {% elif user.is_authenticated and user|is_registered:session %}
                                    <button class="btn btn-danger cancel" data-action="cancel" data-pk="{{ session.pk }}" data-timeslot-pk="{{ timeslot.pk }}">ألغِ تسجيلي!</button>
                                {% else %}
                                    <a href="{% url 'userena_signin' %}?next={{ request.path }}" style="color: white;" class="btn btn-lg btn-success">أدخلني لإنجاز كي أؤكد الحضور</a>
                                {% endif %}
                                {% if session.image or session.description %}
                                    <button type="button" data-name="{{ session.name }}" data-url="{% url 'events:session_info' session.time_slot.event.code_name session.pk %}" class="btn btn-info session-info"> <i class="entypo-info"></i>التفاصيل </button>
                                {% endif %}
                                    <br>
                                {% if session.acceptance_method == 'M' and user.is_authenticated %}
                                    <div {% if not user|is_registered:session %}style="display: none;" {% endif %} id="status-{{ session.pk }}" class="btn btn-xs {% if user|get_status:session == True %}
                                            btn-success">معتمد
                                        {% elif user|get_status:session == None %}
                                            btn-warning">معلق
                                        {% else %}
                                             btn-danger">مرفوض
                                        {% endif %}
                                    {% else %}
                                    <br>
                                    {% endif %}
                                    </div>
                                </p>
                            </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
