{% extends 'the_game_base.html' %} {% load staticfiles %}


{% block content %}



<style>
.imges {
    display: block;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;

}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;

}

.contentImges {
    width: 200px;
    height: 300px;
    flex-basis: 50%;
}


label {
    display: block
}

</style>

<div id="pre-game">
 <p> Hello to this Quick Quiz to start click here </p>

<button id = "hide"  class="btn btn-sm btn-danger">أبدء اللعبة </button>

</div>


<div id="start-game">

</div>

<div id="post-game" style="display:none;">
 <p> The End </p>

</div>

<script src="{% static 'neon/assets/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

 <script type="text/javascript">

var score = 0;
function initiate_radio(){
    toastr.options.positionClass = "toast-top-center";
    choice_pk = $(this).data("choice_pk");
    question_pk = $(this).data("question_pk");
    counter =  $(this).data("counter");
    game_pk = $(this).data("game_pk");
        $.ajax({
            url: "{% url 'questions:toggle_right_answer' %}",
            type: 'POST',
            data: {choice_pk: choice_pk,question_pk:question_pk,counter:counter,game_pk:game_pk},
            cache: false,
            success: function (data) {
                if (data.success) {
                    if (data.right) {
                        alert('الله عليك !');
                        score+= 1
                    }
                    else {
                        alert('خيرها بغيرها !');
                    }
                    $("#container-" + (counter - 1)).hide();
                    data.score += score;
                    console.log(data.score)
                    if ($("#container-" + (counter)).length == 0) {
                        $('#post-game').css('display','block');
                        var $thedive = $('<div>').attr({
                                    type: 'hidden',
                                    id: 'container',
                                    name: 'score'
                                    }).appendTo('#post-game');
                        var content = document.createTextNode("عال العال اجوبتك الصحيحه "+(data.score));
                        $thedive.append(content);
                    }
                    else {
                        $("#container-" + (counter)).show();
                    }

                }
            }
        });
    }


     $(function(){
        $("#hide").click(function(){
            action = $(this).data("action");
            $.ajax({
                url: "{% url 'questions:toggle_new_game' %}",
                type: 'POST',
                data: {action: action},
                cache: false,
                success: function (data) {
                    if (data.success) {
                        $('#pre-game').css('display','none');
                        var counter = 1;
                        var questionsArray = data.questions;
                        var arrayLength = questionsArray.length;
                        for (var i = 0; i < arrayLength; i++) {
                            var $thedive = $('<div>').attr({
                                    type: 'hidden',
                                    id: 'container-' + counter,
                                    name: 'question-div',
                                    class: "imges",
                                    style: 'display:none'
                                }).appendTo('#start-game');
                            var number = counter ;
                            counter += 1;
                            if (questionsArray[i].type == 'Q') {
                                $($thedive).attr('data-question_pk', questionsArray[i].pk); // sets
                                var content = document.createTextNode(questionsArray[i].text);
                                $thedive.append(content);
                                var choices = questionsArray[i].choices;
                                var choicesLength = choices.length;
                                for (var m = 0; m < choicesLength; m++) {
                                    var $thelabel = $('<label>').appendTo($thedive);
                                    var $thechoice = $('<input>').attr({
                                        type: 'radio',
                                        id: questionsArray[i].choices[m].pk,
                                        name: 'question-choice',
                                        style: 'word-wrap:break-word;'
                                    }).appendTo($thelabel);
                                    $($thechoice).attr('data-question_pk', questionsArray[i].pk); // sets
                                    $($thechoice).attr('data-counter', counter); // sets
                                    $($thechoice).attr('data-game_pk', data.game_pk); // sets
                                    $($thechoice).attr('data-choice_pk', questionsArray[i].choices[m].pk); // sets
                                    $($thechoice).change(initiate_radio);
                                    var choice = document.createTextNode(questionsArray[i].choices[m].text);
                                    $(choice).appendTo($thelabel);
                                }
                            }
                            else if (questionsArray[i].type == 'S'){
                                $($thedive).attr('data-question_pk', questionsArray[i].pk); // sets
                                var images = questionsArray[i].content;
                                var imagesLength = images.length;
                                for (var s = 0; s < imagesLength; s++) {
                                    var $theimage = $('<img>').attr({
                                        type: 'hidden',
                                        id: 'container',
                                        name: 'img-div',
                                        class:'imges',
                                        src: questionsArray[i].content[s].image
                                    }).appendTo($thedive);
                                }
                                var content = document.createTextNode(questionsArray[i].text);
                                $thedive.append(content);
                                var choices = questionsArray[i].choices;
                                var choicesLength = choices.length;
                                for (var m = 0; m < choicesLength; m++) {
                                    var $thelabel = $('<label>').appendTo($thedive);
                                    var $thechoice = $('<input>').attr({
                                        type: 'radio',
                                        id: questionsArray[i].choices[m].pk,
                                        name: 'question-choice',
                                        style: 'word-wrap:break-word;',
                                        class: 'Try'
                                    }).appendTo($thelabel);
                                    $($thechoice).attr('data-question_pk', questionsArray[i].pk); // sets
                                    $($thechoice).attr('data-counter', counter); // sets
                                    $($thechoice).attr('data-game_pk', data.game_pk); // sets
                                    $($thechoice).attr('data-choice_pk', questionsArray[i].choices[m].pk); // sets
                                    $($thechoice).change(initiate_radio);
                                    var choice = document.createTextNode(questionsArray[i].choices[m].text);
                                    $(choice).appendTo($thelabel);
                                }
                            }
                            else if (questionsArray[i].type == 'F') {
                                $($thedive).attr('data-question_pk', questionsArray[i].pk); // sets
                                var images = questionsArray[i].content;
                                var imagesLength = images.length;
                                var img_counter = 1;
                                var $content = $('<div>').appendTo($thedive);
                                $($content).attr('class', 'content'); // sets
                                for (var s = 0; s < imagesLength; s++) {
                                    var $theimage = $('<img>').attr({
                                        type: 'hidden',
                                        id: "#container-"+img_counter,
                                        name: 'img-div',
                                        height: '400',
                                        width: '500',
                                        class: 'contentImges',
                                        src: questionsArray[i].content[s].image
                                    }).appendTo($content);
                                    img_counter += 1;
                                }
                                var content = document.createTextNode(questionsArray[i].text);
                                $thedive.append(content);
                                var choices = questionsArray[i].choices;
                                var choicesLength = choices.length;
                                for (var m = 0; m < choicesLength; m++) {
                                    var $thelabel = $('<label>').appendTo($thedive);
                                    var $thechoice = $('<input>').attr({
                                        type: 'radio',
                                        id: questionsArray[i].choices[m].pk,
                                        name: 'question-choice',
                                        style: 'word-wrap:break-word;',
                                        class: 'Try'
                                    }).appendTo($thelabel);
                                    $($thechoice).attr('data-question_pk', questionsArray[i].pk); // sets
                                    $($thechoice).attr('data-counter', counter); // sets
                                    $($thechoice).attr('data-game_pk', data.game_pk); // sets
                                    $($thechoice).attr('data-choice_pk', questionsArray[i].choices[m].pk); // sets
                                    $($thechoice).change(initiate_radio);
                                    var choice = document.createTextNode(questionsArray[i].choices[m].text);
                                    $(choice).appendTo($thelabel);
                                }
                            }
                        }

                    }
                    $('#container-1').show();
                }
            });
        });

     });


</script>
     {# console.log(questionsArray[i]); #}
        {# alert(questionsArray[i]); #}


{% endblock %}
