// Testimonial 13

.c-content-testimonials-13{

	// override from owl theme
	.owl-carousel .owl-controls{
		margin-top:0;
	}
	.owl-theme .owl-controls .owl-nav div {
		display: inline-block;
		width: 39px;
		height: 16px;
		background-size: cover;

		&.owl-prev {
			display: none;
		}

		&.owl-next {
			background-image: url(../../../base/img/content/misc/arrow-right2.png);
			right: 270px;
			position: absolute;
			opacity: 0.7;
			transition: all 0.5s;
			transform:translateY(-50%);

			&:hover{
				opacity: 1;
			}
		}
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		right:0;
		margin: auto;
	}

	.c-testimonial{
		margin: 40px 150px;

		.c-testimonial-container{
			padding: 60px 180px 60px 90px;
			box-shadow: 0 0 35px 0 rgba(0,0,0,0.08);
			border-radius: 15px;

			.c-testimonial-13-title{
				font-size: 43px;
				font-weight: 700;
				margin-bottom: 50px;
				color: #404148;
				letter-spacing: -1px;
			}

			.c-testimonial-13-desc{
				font-size: 18px;
				color: #a7a8af;
				font-weight: 400;
				margin-bottom: 50px;
				line-height: 1.5em;
			}

			.c-testimonial-13-author-container{
				display: table;

				.c-testimonial-13-author-img{
					display: table-cell;
					border-radius: 50%;
					width: 60px;
					height: 60px;
					overflow: hidden;
				}

				.c-testimonial-13-author{
					display: table-cell;
					font-size: 15px;
					font-weight: 400;
					color: #97979e;
					vertical-align: middle;
					padding-left: 20px;
					line-height: 1.3em;

					.c-testimonial-13-author-name{
						font-weight: 500;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max){ // 991px

	.c-content-testimonials-13{

		// owl carousel override
		.owl-theme .owl-controls .owl-nav div {
			
			&.owl-next {
				right:60px;
			}
		}

		.c-testimonial{
			margin: 40px 0;

			.c-testimonial-container{
				padding: 40px 80px 40px 40px;
			}
		}
	}
}