// Testimonials 12

.c-content-testimonials-12{

	// override from owl theme
	.owl-carousel .owl-controls{
		margin-top:0;
	}
	.owl-theme .owl-controls .owl-nav div {
		display: inline-block;
		width: 23px;
		height: 41px;
		background-size: cover;

		&.owl-prev {
			background-image: url(../../../base/img/content/misc/arrow-left.png);
			left: 80px;
			position: absolute;
			opacity: 0.3;
			transition: all 0.5s;

			&:hover{
				opacity: 1;
			}
		}

		&.owl-next {
			background-image: url(../../../base/img/content/misc/arrow-right.png);
			right: 80px;
			position: absolute;
			opacity: 0.3;
			transition: all 0.5s;

			&:hover{
				opacity: 1;
			}
		}
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		right:0;
		margin: auto;
	}

	.c-testimonial{
		margin-top: 10px;
		padding:20px;

		.c-testimonial-container{
			text-align: center;
			padding:60px;
			width: 780px;
			border-radius: 15px;
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
			margin:auto;

			.c-testimonial-12-quote-icon{
				width: 53px;
				height: auto;
				display: block;
				margin: 10px auto 50px auto;
			}

			.c-testimonial-12-desc{
				font-size: 20px;
				font-weight: 500;
				line-height: 1.7em;
				color:#54544f;
				margin-bottom: 40px;
			}

			.c-testimonial-12-author{
				font-size: 14px;
				font-weight: 400;
				color:#aaa;
			}
		}
	}
}

@media (max-width: 1024px){
	.c-content-testimonials-12{

		// override from owl theme
		.owl-theme .owl-controls .owl-nav div {
			&.owl-prev {
				left: 30px;
			}
			&.owl-next {
				right: 30px;
			}
		}
	}
}

@media (max-width: $screen-sm-max){ // 991px
	.c-content-testimonials-12{

		// override from owl theme
		.owl-theme .owl-controls .owl-nav div {
			&.owl-prev {
				left: 0;
			}
			&.owl-next {
				right: 0;
			}
		}

		.c-testimonial{

			.c-testimonial-container{
				width: 100%;
				padding:40px;
			}
		}
	}
}