// HEADER SHOP 1

.c-layout-header.c-layout-header-shop-1{

	.c-shop-topbar-offer{
		position: relative;
		padding:10px;
		display: table;
		width: 100%;

		.c-shop-topbar-offer-title{
			width: 100%;
			display: table-cell;
		}

		.c-shop-topbar-close{
			display: table-cell;
			width:1px;
		}
	}
}

@media(min-width: 1170px){
	.c-layout-header.c-layout-header-shop-1{

		.c-navbar .container-fluid > .c-navbar-wrapper > .c-mega-menu > .nav.navbar-nav > li > .dropdown-menu.c-menu-type-mega { 
			right: 0; 
			padding: 0 75px;
		}

	}
}

@media (min-width: $screen-md-min) { /* 992px */
	.c-layout-header.c-layout-header-shop-1{
		.c-topbar{ height: auto; }
		.c-navbar .container-fluid > .c-navbar-wrapper > .c-mega-menu > .nav.navbar-nav > li > .dropdown-menu.c-menu-type-mega { 
			max-width: 100%; 
			padding: 0 75px;
		}
		.c-layout-page{
			margin-top:200px;
		}

	}
}

