{% extends 'base.html' %}{% load matching_program_tags %}
{% block rtlcss %}{% endblock %}
{% block title %}Matching Program{% endblock %}

{% block pageheaderurl %}
    {% url 'matching_program:index' %}
{% endblock %}
{% block pageheader %}<span class="english-field">Matching Program</span>{% endblock %}

{% block navbar %}
{% if user|is_matchingProgram_coordinator or user.is_superuser%}
    <li><a href="{% url 'matching_program:coordinator_page' %}"><span class="glyphicon glyphicon-user"></span> Coordinator's Page</a></li>
{% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block customscript %}{% endblock %}
