/**
 *
 * Apply Here your Custom CSS
 *
*/

@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: 'GE Dinar One';
    font-weight: lighter;
    font-size: xx-large;
    src: url("../../../fonts/ge-dinar-one-light.woff");
}
@font-face {
    font-family: 'GE Dinar One';
    font-weight: normal;
    src: url("../../../fonts/ge-dinar-one-med.woff");
}

.frontend .description p {
    font-size: 1.5em;
    text-align: justify;
}
.frontend .login-menu  {
    display: inline-block;
    list-style: none outside none;
    float: left;
}
.frontend .login-menu  > li {
    display: inline-block;
    margin: 0px 5px;
    transition: all 350ms ease 0s;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
}

.sidebar-menu #main-menu li, .main-content .user-info li a, .frontend .site-header .site-nav .main-menu li a, body, .dinar-light {
	font-family: "GE Dinar One", Arial;
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, h7, .site-header .site-nav .main-menu > li.active > a, .dinar-medium {
    font-family: "GE Dinar One", Arial;
    font-weight: normal;
}

.english-field {
    direction: ltr;
    text-algin: left;
    font-family: 'Roboto', sans-serif;
}

.login-page .login-form .form-group .english-field.input-group.validate-has-error .error {
    right: 10px;
    left: auto;
}

.episode_delete_btn {
	height: auto;
	vertical-align: middle;
}

.episode_delete_btn a {
	
}

/*.episode_delete_btn a {
	margin: auto;
	position: relative;
	z-index: 1;
	background: #fafafa;
	display: block;
	padding-left: 12px;
	padding-right: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
	text-align: center;
}*/

.episode_delete_btn a i {
	display: inline-block;
	padding: 6px 12px;
	vertical-align: middle;
	-webkit-border-radius: 3px 0 0 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px 0 0 3px;
	-moz-background-clip: padding;
	border-radius: 3px 0 0 3px;
	background-clip: padding-box;
	background: #f0f0f0;
	font-size: 15px;
	width: 45px;
	text-align: center;
}
