{% extends 'activities/show.html' %}{% load i18n %}
{% block title %}{% trans "Delete form" %}{% endblock %}
{% block review_content %}
    <style>
        .errorlist {color:#f00;}
    </style>
    <h1>{% trans "Delete form" %} {{ form.title }}{% trans "?" %}</h1>
    <p>{% trans "Are you sure you want to <strong>delete</strong> the form" %} {{ form.title }}{% trans "?" %}</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit" name="action" value="delete">{% trans "Yes" %}</button>
        <button class="btn btn-default" type="submit" name="action" value="keep">{% trans "No" %}</button>
    </form>
{% endblock %}