{% extends 'activities_base.html' %}{% load i18n %}{% load url from future %}
{% block title %}{% trans "Forms" %}{% endblock %}
{% block content %}
    <style>
        .errorlist {color:#f00;}
    </style>

    <h1>{% trans "Forms" %}</h1>
    <h4><a class="btn btn-default" href="{% url 'forms:create_form' object_id %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Add Form" %}</a></h4>
    <hr>
    <table class="table">
        <thead>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Published from" %}</th>
            <th>{% trans "Expires on" %}</th>
            <th>{% trans "Total entries" %}</th>
            <th></th>
        </thead>
        <tbody>
        {% for form in forms %}
            <tr>
                <td>
                    <a href="{% url 'forms:form_detail' object_id form.get_url_attr %}">
                    {{ form.title }}
                    </a>
                </td>
                <td>{{ form.get_status_display }}</td>
                <td>{{ form.publish_date|date }}</td>
                <td>{{ form.publish_date|date }}</td>
                <td>{{ form.total_entries }}</td>
                <td>
                    <a href="{% url 'forms:edit_form' object_id form.pk %}">{% trans "Edit form" %}</a><br>
                    <a href="{% url 'forms:form_entries' object_id form.pk %}">{% trans "Filter entries" %}</a><br>
                    <a href="{% url 'forms:form_entries_show' object_id form.pk %}">{% trans "View all entries" %}</a><br>
                    <a href="{% url 'forms:form_entries_export' object_id form.pk %}">{% trans "Export all entries" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}