{% extends 'activities/show.html' %}

{% block title %}{{ activity.name }} | طلبات النقاط{% endblock %}

{% block review_content %}

{% for episode in activity.episode_set.all %}

<div class="panel panel-primary panel-shadow" data-collapsed="0">		
	<!-- panel body -->
	<div class="panel-body with-table">
        {% with orders=episode.code_order_set.all %}
            {% include 'niqati/includes/episode_orders.html' %}
        {% endwith %}
	</div>
</div>

{% endfor %}

{% if messages %}
    {# <!-- FIXME: Ideally this kind of configuration should be in the base template, as to display any messages --> #}
    {# <!-- passed through the messages framework. --> #}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
{% endif %}

<div class="panel panel-primary panel-shadow" data-collapsed="0">
	<!-- panel body -->
	<div class="panel-body with-table">
          <table class="table table-bordered table-responsive">
            <thead>
			<tr>
				<th colspan="2">
                    <h4>اطلب نقاطًا</h4>
				</th>
			</tr>
		    </thead>
            <tbody>
                <tr>
                    <td>
                        {% include 'niqati/create_form.html' %}
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
