{% extends 'activities/show.html' %}

{% block title %}{{ activity.name }} | طلبات النقاط{% endblock %}

{% block review_content %}

{% for episode in activity.episode_set.all %}

<div class="panel panel-primary panel-shadow" data-collapsed="0">		
	<!-- panel body -->
	<div class="panel-body with-table">
		
		<table class="table table-bordered table-responsive">
		<colgroup>
			<col class="col-md-3">
			<col class="col-md-9">
		</colgroup>
		<thead>
			<tr>
				<th colspan="2">
                    <h4>{{ episode }}<br>
                        {{ episode.start_date|date:"j F" }} - {{ episode.end_date|date:"j F" }} | {{ episode.start_time|time }} - {{ episode.end_time|time }} | {{ episode.location }}</h4>
				</th>
			</tr>
		</thead>
		
		<tbody>
			{% for order in episode.code_order_set.all %}
			<tr>
				<th>تاريخ الطلب:
                    {{ order.date_ordered|date:"j F Y" }}
                    {% if order.is_approved == True%}
                        <span class="badge badge-success">تمت الموافقة</span>
                    {% elif order.is_approved == False %}
                        <span class="badge badge-danger">تم الرفض</span>
                    {% else %}
                        <span class="badge badge-warning">معلق</span>
                    {% endif %}
                </th>
                
			    <td>
			        <ul class="list-group">
			        {# collections #}
			        {% for collec in order.code_collection_set.all %}
			            <li class="list-group-item">
			 				<span class="badge">{{ collec.code_count }} أكواد</span>
			                {{ collec.code_category.ar_label }}{% if order.is_approved == True %}<ul class="list-inline"><li class="entypo-docs"><a href="{% url 'niqati:download_coupons' collec.pk %}">كوبونات</a></li><li class="entypo-link"><a href="{% url 'niqati:download_links' collec.pk %}">روابط</a></li></ul>{% endif %}
			            </li>
			        {% endfor %}   
			        </ul>
			    </td>
			</tr>
			{% empty %}
			<th colspan="2">
				لا توجد طلبات نقاط لهذا الموعد.
			</th>
			{% endfor %}
		</tbody>
	</table>
		
	</div>
</div>

{% endfor %}

{% if messages %}
    {# <!-- FIXME: Ideally this kind of configuration should be in the base template, as to display any messages --> #}
    {# <!-- passed through the messages framework. --> #}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
{% endif %}

<div class="panel panel-primary panel-shadow" data-collapsed="0">
	<!-- panel body -->
	<div class="panel-body with-table">
          <table class="table table-bordered table-responsive">
            <thead>
			<tr>
				<th colspan="2">
                    <h4>اطلب نقاطًا</h4>
				</th>
			</tr>
		    </thead>
            <tbody>
                <tr>
                    <td>
                        {% include 'niqati/create_form.html' %}
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
