{% extends "niqati_base.html" %}
{% block title %}مراجعة طلبات النقاط{% endblock %}
{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;}
.tg th{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
</style>

<h2>مراجعة طلبات النقاط</h2>

{% if activities_with_pending_orders %}
{% for activity in activities_with_pending_orders %}
<h3><a href="{% url 'activities:show' activity.pk %}">{{ activity.name }}</a> <small>{{ activity.primary_club.name }}</small></h3>
<table class="table">
	<tr>
		<th>تاريخ الطلب</th>
		<th>محتوى الطلب</th>
		<th><!-- التصرف: قبول أو رفض الطلب كاملاً --></th>
	</tr>
	{% for episode in activity.episode_set.all %}
    {% for order in episode.code_order_set.all %}
	{% if order.is_approved == None %}
		<tr id="order-{{ order.pk }}">
			<td>{{ order.date_ordered }}</td>
			<td>
				<ul class="list-group">
				 	{% for collection in order.code_collection_set.all %}
				 	<li class="list-group-item">
					    {% if not collection.students.exists %}<span class="badge">{{ collection.code_count }} أكواد</span>{% endif %}
					    {{ collection.code_category.ar_label }}
						{% if collection.students %}
						<ul>
							{% for student in collection.students.all %} 
							<li>{{ student.common_profile.get_ar_full_name }}</li>
							{% endfor %}
						</ul>
						{% endif %}
				  	</li>
				 	{% endfor %} 
				</ul>
			</td>
			<td>
		            <a type="submit" data-pk="{{ order.pk }}" data-action="accept" class="accept-order btn btn-success">قبول</a>
		            <a type="submit" data-pk="{{ order.pk }}" data-action="reject" class="reject-order btn btn-danger">رفض</a>
			</td>
		</tr>
	{% endif %}
	{% endfor %}
    {% endfor %}
</table>
{% endfor %}
{% else %}
<p>لا توجد طلبات نقاط حاليًا.</p>
{% endif %}
<script>
$(function() {
    $('.reject-order, .accept-order').click(function(){
	// Remove action classes, to prevented repeated actions.
        var action = $(this).data('action');
        var pk = $(this).data('pk');
        $('a[data-pk=' + pk + ']').removeClass('reject-order accept-order');
        $('a[data-pk=' + pk + ']').addClass('disabled');
        var data = {'pk': pk, 'action': action};
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: '{% url 'niqati:review_order' %}',
            cache: false,
            success: function(data){
                if (data['success'] == true){
                    $('#order-' + pk).hide('fast');
                } else {
                    alert(data['message']);
                    $('a[data-pk=' + pk + '][data-action=reject]').addClass('reject-order');
                    $('a[data-pk=' + pk + '][data-action=accept]').addClass('accept-order');
                    $('a[data-pk=' + pk + ']').removeClass('disabled');
                }
            }
        });
    });
});
</script>
{% endblock %}
