{% extends "niqati_base.html" %}
{% block title %}مراجعة طلبات النقاط{% endblock %}
{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;}
.tg th{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
</style>

<h2>مراجعة طلبات النقاط</h2>

{% if activities %}
{% for activity in activities %}
<h3><a href="{% url 'activities:show' activity.pk %}">{{ activity.name }}</a> <small>{{ activity.primary_club.name }}</small></h3>
<table class="table">
	<tr>
		<th>تاريخ الطلب</th>
		<th>محتوى الطلب</th>
		<th><!-- التصرف: قبول أو رفض الطلب كاملاً --></th>
	</tr>
	{% for episode in activity.episode_set.all %}
    {% for order in episode.code_order_set.all %}
	{% if not order.is_reviewed %}
		<tr>
			<td>{{ order.date_ordered }}</td>
			<td>
				<ul class="list-group">
				 	{% for collec in unapproved_collec %}
				 	{% if collec in order.code_collection_set.all %}
				 	<li class="list-group-item">
					    <span class="badge">{{ collec.code_count }} أكواد</span>
					    {{ collec.code_category.ar_label }}
				  	</li>
				  	{% endif %}
				 	{% endfor %} 
				</ul>
			</td>
			<td>
				<form style="display:inline" action="{% url 'niqati:approve' %}" method="post" class="form-inline" role="form">
		            {% csrf_token %}
		            <input type="hidden" name="pk" value="{{ order.pk }}"/>
		            <input type="hidden" name="action" value="approve_order"/>
		            <button type="submit" class="btn btn-success">قبول</button>
		        </form>
		        <form style="display:inline" action="{% url 'niqati:approve' %}" method="post" class="form-inline" role="form">
		            {% csrf_token %}
		            <input type="hidden" name="pk" value="{{ order.pk }}"/>
		            <input type="hidden" name="action" value="reject_order"/>
		            <button type="submit" class="btn btn-danger">رفض</button>
		        </form>    
			</td>
		</tr>
	{% endif %}
	{% endfor %}
    {% endfor %}
</table>
{% endfor %}
{% else %}
<p>لا توجد طلبات نقاط حاليًا.</p>
{% endif %}
{% endblock %}
