{% extends "niqati_base.html" %}{% load staticfiles %}
{% block title %}التقرير العام{% endblock %}

{% block content %}

{% if city_choices %}
<ul>
{% for city in city_choices %}
<li><a href="{% url 'niqati:general_report_for_city' city.0 %}">{{ city.1 }}</a></li>
{% endfor %}
</ul>
{% else %}
<style type="text/css">
    .points {
        font-weight: bold !important;
        color: #0088ff !important;
        background-color: #eeeeee;

    }
</style>
<div class="page-header">
  <h2>التقرير العام</h2>
</div>

<table class="table datatable dt-responsive">
    <thead>
      <tr>
        <th>الاسم بالعربية</th>
        <th class="not-mobile">الاسم بالإنجليزية</th>
        <th class="not-mobile">الكلية</th>
        <th class="not-mobile">الرقم الجامعي</th>
        <th class="not-mobile">رقم البطاقة</th>
        <th class="not-mobile">البريد الإلكتروني</th>
        <th class="not-mobile">الجوال</th>
        <th>عدد النقاط</th>
      </tr>
    </thead>
    <tbody>
    {% for niqati_user in users %}
        <tr>
            <td><a href="{% url 'niqati:student_report_with_username' niqati_user.username %}">{{ niqati_user.common_profile.get_ar_full_name|default:niqati_user }}</a></td>
            <td class="english-field">{{ niqati_user.common_profile.get_en_full_name|default:niqati_user }}</td>
            <td>{{ niqati_user.common_profile.college }}</td>
            <td>{{ niqati_user.common_profile.student_id }}</td>
            <td>{{ niqati_user.common_profile.badge_number }}</td>
            <td class="english-field"><a href="mailto:{{ niqati_user.email }}">{{ niqati_user.email }}</a></td>
            <td>{{ niqati_user.common_profile.mobile_number }}</td>
            <td class="points">{{ niqati_user.point_sum }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block customscript %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/datatables/buttons/buttons.dataTables.min.css' %}">
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/jszip.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/buttons.html5.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(".datatable").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
            ],
            "order": [[ 7, "desc" ]],
            "language": {% include 'js/dataTables-arabic.json' %}
        });
    });
    </script>
{% endblock %}