{% extends "niqati_base.html" %}{% load staticfiles %}
{% block title %}التقرير العام{% endblock %}

{% block content %}
<style type="text/css">
    .points {
        font-weight: bold !important;
        color: #0088ff !important;
        background-color: #eeeeee;

    }
</style>
<div class="page-header">
  <h2>التقرير العام</h2>
</div>

<table class="table datatable">
    <thead>
      <tr>
        <th>الاسم بالعربية</th>
        <th>الاسم بالإنجليزية</th>
        <th>الكلية</th>
        <th>الرقم الجامعي</th>
        <th>رقم البطاقة</th>
        <th>البريد الإلكتروني</th>
        <th>الجوال</th>
        <th>عدد النقاط</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.common_profile.get_ar_full_name|default:user }}</td>
            <td>{{ user.common_profile.get_en_full_name|default:user }}</td>
            <td>{{ user.common_profile.college }}</td>
            <td>{{ user.common_profile.student_id }}</td>
            <td>{{ user.common_profile.badge_number }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.common_profile.mobile_number }}</td>
            <td class="points">{{ user.point_sum }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block customscript %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(".datatable").DataTable({
            "order": [[ 6, "desc" ]],
            "language": {% include 'js/dataTables-arabic.json' %}
        });
    });
    </script>
{% endblock %}
