{% extends "niqati_base.html" %}
{% block title %}النقاط المطلوبة{% endblock %}

{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;}
.tg th{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
</style>

<h2>النقاط المطلوبة</h2>

{% for activity in activities %}

<h3>{{ activity.name }}</h3>
<table class="table">
  <tr>
    <th>#</th>
    <th>تاريخ الطلب</th>
    <th>المحتوى</th>
  </tr>
    {% for order in activity.code_order_set.all %}
    <tr>
    
    <td>{{ forloop.counter }}</td>
    <td>{{ order.date_ordered }}</td>
    <td>
        <ul class="list-group">
        <!-- collections -->
        {% for collec in order.code_collection_set.all %}
            <li class="list-group-item">
                <span class="badge">{{ collec.code_count }} أكواد</span>
                <a href="{% url 'niqati:view_collec' collec.pk %}">{{ collec.code_category.ar_label }}</a>
            </li>
        {% endfor %}   
        </ul>
    </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}