{% extends "niqati_base.html" %}{% load staticfiles %}
{% block title %}إدخال النقاط{% endblock %}
{% block content %}
<div class="page-error-404">


	<div class="error-symbol">
		<i class="entypo-flag"></i>
	</div>

	<div class="error-text">
		<h2>تم إغلاق إدخال النقاط</h2>
		<p>شكرًا لمشاركتك معنا في برنامج نقاطي لهذا العام.</p>
        <p>ترقب الحفل الختامي للأنشطة الطلابية يوم الإثنين ٢٧ أبريل لإعلان الفائزين بالبرنامج و مفاجآت كثيرة أخرى!</p>
	</div>

	<hr />

	<div class="error-text">

		<!--Search Pages:-->

		<!--<br />-->
		<!--<br />-->

		<!--<div class="input-group minimal">-->
			<!--<div class="input-group-addon">-->
				<!--<i class="entypo-search"></i>-->
			<!--</div>-->

			<!--<input type="text" class="form-control" placeholder="Search anything..." />-->
		<!--</div>-->

	</div>

</div>
{% endblock %}