{% extends "niqati_base.html" %}
{% block title %}إدخال النقاط{% endblock %}
{% block content %}

<h2>إدخال النقاط</h2>

{% if message %}
<div class="alert alert{{ message_type }}">
  {{ message }}
</div>
{% endif %}

<form action="{% url 'niqati:submit' %}" method="post">
{% csrf_token %}
<div class="input-group">
    <input type="text" class="form-control" name="code" placeholder="أدخل رمز نقاطي" value="{{ code_to_redeem }}">
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">إدخال</button>
    </span>
</div>
{% endblock %}
    
