{% extends 'bulb/recommendations/recommedation_base.html' %}{% load staticfiles %}
{% block content %}
  <div class="row">
  <h2 class="text-center">كتب {{ recommendation_user.common_profile.get_ar_short_name }}</h2>
  {% for book_recommendation in recommendation_user.bookrecommendation_set.all %}
      <div class="col-xs-6 text-center">
              <div data-url="{% url 'bulb:show_recommended_book' book_recommendation.recommended_book.pk %}" class="recommendation book-image" style="background-image:url('{{ book_recommendation.recommended_book.cover.url }}');"></div>
      </div>
  {% endfor %}
</div>
{% endblock %}
{% block customscript %}
<script src="{% static 'neon/assets/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $("button.confirm-delete-book").click(function(){
            var deletion_url = $(this).data('deletion-url');
            var title = $(this).data('title');
            $('#confirm-delete-book-modal .modal-body').html("هل حذف " + title + " مؤكد؟");
            $("#delete-book").data('deletion-url', deletion_url);
            $("#confirm-delete-book-modal").modal('show');
        });
    });
</script>

{% include 'bulb/recommendations/partials/add_recommendation_assets.html' %}
{% include 'bulb/recommendations/partials/show_recommended_book_assets.html' %}
{% include "bulb/exchange/delete_modal.html" %}
{% include 'bulb/groups/components/autocomplete_asset.html' %}
{% endblock %}
