<div class="text-center">
    <img src="{{ recommended_book.cover.url }}" style="width: 180px;">
</div>
<h2>توصيات {{ recommended_book.title }}</h2>
{% for recommendation in recommended_book.bookrecommendation_set.all %}
  <p>{% if recommendation.user.common_profile.gender == 'F' %}أوصت{% elif recommendation.user.common_profile.gender == 'M' %}أوصى{% else %}أوصـ/ـت{% endif %} <a href="{% url 'bulb:show_user_recommendations' recommendation.user.pk %}">{{ recommendation.user.common_profile.get_ar_short_name }}</a>:</p>
  {% if recommendation.comment %}
    <blockquote>
        {{ recommendation.comment|linebreaksbr }}
    </blockquote>
  {% endif %}
{% endfor %}
