/*********************************
COMPONENTS
*********************************/

@import '_settings';
@import '../../core/_colors';
@import '../../core/_mixins';

@import '../../core/plugins/_bootstrap';
@import '../../core/plugins/_revo-slider';
@import '../../core/plugins/_cubeportfolio';
@import '../../core/plugins/_owl-carousel';
@import '../../core/plugins/_fancybox';
@import '../../core/plugins/_icons';
@import '../../core/plugins/_socicon';
@import '../../core/plugins/_bootstrap-social';
@import '../../core/plugins/_spinner';
@import '../../core/plugins/_minimalist-gallery';
@import '../../core/plugins/_ilightbox';
@import '../../core/plugins/_reveal-animate';