{% extends 'certificates/certificate_base.html' %}{% load bootstrap3 %}{% load staticfiles %}
{% block title %}نظام استصدار الشهادات: اعتماد شهادة {{ certificate_request.description }}{% endblock %}
{% block content %}
<style>
    #wrapper{
        height: 100vh;
        overflow: scroll;
{% if not tmp_image %}
        display: none;
{% endif %}
    }
    #live-div{
        cursor: pointer;
    }
</style>
<h1>مراجعة شهادة {{ certificate_request.description }}</h1>
<div id="wrapper">
<div id="live-div" {% if tmp_image %}style="background-image:url({{ tmp_image }}); width: {{ certificate_request.certificatetemplate.image.width }}px; height: {{ certificate_request.certificatetemplate.image.height }}px;"{% endif %}></div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input id="save" type="submit" value="اعتمد وأرسل" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}

{% block customscript %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'js/jscolor.min.js' %}"></script>

<script type="text/javascript">
    
$(function(){
    function update_image(){
        var formData = new FormData(); 
        formData.append("image", $("#id_image").prop('files')[0]);
        formData.append("image_format", $("#id_image_format").val());
        formData.append("color", $("#id_color").val());
        formData.append("font_size", $("#id_font_size").val());
        formData.append("example_text", $("#id_example_text").val());
        formData.append("y", posY);
        formData.append("x", posX);
        $.ajax({method: 'POST',
                url: "{% url 'certificates:update_image' certificate_request.pk %}",
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function(data){
                    var url = data['img_url'];
                    $("#live-div").css("background-image", "url(" + url + "?" + new Date().getTime() + ")")
                    $("#wrapper").show();
                }
        });
    }
    
    $("#live-div").click(function(event){
        img = this;
        var offset = $(this).offset();
        posX = event.offsetX?(event.offsetX):event.pageX-document.getElementById("live-div").offsetLeft;
        posY = event.offsetY?(event.offsetY):event.pageY-document.getElementById("live-div").offsetTop;
        $("#id_x_position").val(posX);
        $("#id_y_position").val(posY);
        console.log(posX);
        console.log(posY);
        update_image();
    });

    $("#id_color, #id_text, #id_font_size, #id_image_format").change(function(){
        color = $("#id_color").val();
        font_size = $("#id_font_size").val();
        example_text = $("#id_example_text").val();
        image_format = $("#id_image_format").val();
        update_image();
    });
    
    $("#id_image").change(function () {
        /* get some values from elements on the page: */
        var formData = new FormData(); 
        formData.append("image", $("#id_image").prop('files')[0]);
        formData.append("image_format", $("#id_image_format").val());
        $.ajax({
            url: "{% url 'certificates:upload_image' certificate_request.pk %}",
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function(data){
                var base64 = data['img_str'];
                var url = data['img_url'];
                var width = data['width'];
                var height = data['height'];
                $("#wrapper, #save").show();
                //$("#live-certificate").attr("src", "data:image/png;base64," + base64);
                $("#live-div").css("background-image", "url(" + url + "?" + new Date().getTime() + ")")
                $("#live-div").css('width', width + "px");
                $("#live-div").css('height', height + "px");
            }
        });
    });
});
    
</script>
{% endblock %}
