{% extends 'certificates/certificate_base.html' %}{% load staticfiles events_tags %}

{% block content %}
<h1 style="text-align: center">الشهادات</h1>
<table class="display datatable compact dt-responsive">
    <thead>
        <th>الشهادة</th>
        <th class="not-mobile">الرمز</th>
        <th class="not-mobile">التاريخ</th>
        <th class="always">تنزيل</th>
    </thead>
    <tbody>
        {% for certificate in certificates %}
        <tr>
            <td>{{ certificate }}</td>
            <td class="english-field">{{ certificate.verification_code }}</td>
            <td data-order="{{ certificate.submission_date|date:'U' }}">{{ certificate.submission_date|date:"j F Y" }}</td>
            <td>
                {% if certificate.is_related_to_session and certificate.content_object|has_mandatory_survey_to_fill:user %}
                <button data-session-title="{{ certificate.content_object.name }}" data-session-pk="{{ certificate.content_object.pk }}" data-url="{% url 'events:handle_survey' certificate.content_object.pk %}" class="survey btn btn-icon btn-success">
                    <i class="entypo-pencil"></i>
                   تعبئة الاستبيان
                </button>
                {% else %}
                <a class="btn btn-success" href="{% url 'certificates:download_certificate' certificate.verification_code %}"><i class="fa fa-download" aria-hidden="true"></i> تنزيل</a>
                {% endif %}
                {% if certificate.is_related_to_session and certificate.content_object|has_optional_survey_to_fill:user and not certificate.content_object|has_mandatory_survey_to_fill:user %}
                <button data-session-title="{{ certificate.content_object.name }}" data-session-pk="{{ certificate.content_object.pk }}" data-url="{% url 'events:handle_survey' certificate.content_object.pk 'optional' %}" class="survey btn btn-icon btn-warning">
                    <i class="entypo-pencil"></i>
                   ساعدنا عبر تعبئة الاستبيان!
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
{% block customscript %}
    <script src="{% static 'neon/assets/js/toastr.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $('.datatable').DataTable({
            order: [[ 2, "desc" ]],
            language: {% include 'js/dataTables-arabic.json' %}
        });
    });
</script>
{% load staticfiles %}
<script type="text/javascript">
    $(function () {
        // initialize project edit modal
        $('#edit-survey-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $(".survey").click(function () {
            session_pk =  $(this).data("session-pk");
            url = $(this).data('url')
            session_title = $(this).data("session-title");

            $("#edit-survey-modal").modal('show');

            $("#edit-survey-modal .modal-title").html("تعبئة استبيان " + session_title);
            $("#edit-survey-modal .modal-body").load(url);

            var $submitButton = $("#edit-survey-modal button.submit-button");
            $submitButton.off('click');
            $submitButton.click(function () {
                $("form#edit-survey-form").submit();
            });
        });
    });
{% include 'bulb/adjust_modal_size.js' %}
</script>
{% with modal_id='edit-survey-modal' %}
    {% include "bulb/groups/common_edit_modal.html" %}
{% endwith %}
{% endblock %}
