{% extends 'newhpc/english/alahsa/ahs_english_base.html' %}{% load staticfiles %}
{% block title %}HPC 2020 | Al Ahsa{% endblock %}
{% block style %}
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #9d0051 !important;
    }
    @media (min-width: 992px) {
    #slide1h3 {
        margin-top:55px
    }
    #slide1p {
        margin:60px 0 30px 0;
    }
    #our-vision.c-feature-15-container {
        margin: 0 -30px 0 350px;
    }
    }
    @media
    (max-width: 1200px) {
    #slide2h3.c-font-48 {
        font-size:43px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 50px !important;
    }
    #slide1p.c-font-40 {
        font-size: 30px !important;
    }
    @media (max-width: 991px) {
    #slide2h3.c-font-48 {
        font-size:19px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 25px !important;
    }
    #slide1p.c-font-40 {
        font-size: 14px !important;
    }
    #slide1p{
        margin:0 !important;
    }
    #slide1h3 {
        margin-top: 15px !important;
    }
    #our-vision.c-feature-15-container {
        margin: 0 !important;
    }
    .c-content-list-1 > li {
        font-size:20px;
        margin-top:15px;
    }
    .c-btn-blue {
        background: #33b2c1 !important;
        border-color: #33b2c1 !important;
    }
    .c-btn-blue:hover {
        background: #9d0051 !important;
        border-color: #9d0051 !important;
    }

    }
{% endblock %}
{% block content %}
    <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-3 -->
<div class="c-layout-page">
{% if not registred_to_program %}
<div class="c-content-box c-size-md c-bg-grey-1" dir="rtl">
	<div class="container" style="padding-bottom:10px !important;">
		<div class="c-content-title-1 c-opt-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
			<h3 class="c-font-34 c-font-center c-font-bold c-margin-b-30">
				Health Professions Conference 2020 Instructions
			</h3>
			<div class="c-line-center c-theme-bg"></div>
		</div>
		<div class="c-content-tab-6" role="tabpanel">
			<div class="row">
				<div class="col-md-3">
					<ul class="nav" role="tablist">
						<li role="presentation" class="wow fadeInLeft active" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft; opacity: 1;">
							<a href="#tab-1" role="tab" data-toggle="tab" aria-expanded="true">التعليمات العامة</a>
						</li>
						<li role="presentation" class="wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft; opacity: 1;">
							<a href="#tab-2" role="tab" data-toggle="tab" aria-expanded="false"> الشهادات </a>
						</li>
						<li role="presentation" class="wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft; opacity: 1;">
							<a href="#tab-3" role="tab" data-toggle="tab" aria-expanded="false">قوانين الشهادات</a>
						</li>

					</ul>
				</div>
				<div class="col-md-9" >
					<div class="tab-content c-bg-white wow fadeInRight" style="visibility: visible; animation-name: fadeInRight; opacity: 1;">
						<div role="tabpanel" class="tab-pane fade active in" id="tab-1">
							<ul class="c-tab-items">
								<li style="padding-bottom:10px !important;" class="row" >
									<div class="col-sm-4 col-xs-12">
									</div>
									<div class="col-sm-8 col-xs-12">
										<h4>التعليمات العامة</h4>
										<p><p><span >-&nbsp; &nbsp; &nbsp; &nbsp; التسجيل في مؤتمر التخصصات الصحية الخامس مجاني ومتاح لجميع الطلبة ومنسوبي التخصصات الصحية.</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; يقام المؤتمر في المدن الجامعية الثلاث: الرياض، جدة والأحساء.</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; يجب إنشاء عضوية في بوابة إنجاز للتسجيل في المؤتمر  ، واضافة رقم بطاقة الرخصة المهنية (هام لاضافة ساعات للزوار من الممارسين الصحيين).</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; يجب إحضار ما يثبت هوية الشخص: الهوية الوطنية أو البطاقة الجامعية أو بطاقة المستشفى.&nbsp;</span></p>
<p><span >-&nbsp; &nbsp; </span><span >&nbsp;&nbsp;&nbsp;&nbsp;التسجيل متاح لبرامج المؤتمر (البرنامج&nbsp; العام و برامج الكليات ) و ورش العمل المصاحبة للمؤتمر.&nbsp;</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; برامج الكليات تشمل على</span><span >:</span></p>
<ul>
<li >برنامج كلية العلوم الطبية التطبيقية</li>
<li >برنامج كلية التمريض</li>
<li >برنامج كلية العلوم والمهن الصحية</li>
</ul>
<p><span>* أولوية الحضور في برامج الكليات لطلاب وطالبات جامعة الملك سعود بن عبدالعزيز للعلوم الصحية.</span></p>
<p>- برامج الكليات ستقام يوم الثلاثاء الموافق 28 يناير 2020</p>
<p>- البرنامج العام وبرنامج الأبحاث والمعرض العام بالمؤتمر ستقام يومي الأربعاء والخميس الموافق 29-30 يناير 2020</p>
<p><span >- سيكون الحفل الختامي بالمؤتمر والإعلان عن الأبحاث الفائزة يوم الخميس الموافق 30 يناير 2020، في تمام الساعة الرابعة عصراً.</span></p>
<p><br /><br /></p></p>
									</div>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-2">
							<ul class="c-tab-items">
								<li class="row">
									<div class="col-sm-4 col-xs-12">
									</div>
									<div class="col-sm-8 col-xs-12">
										<h4> الشهادات: </h4>
										<p>شهادة حضور مؤتمر التخصصات الصحية  2020 باعتماد عدد 27 ساعة (CME) من الهيئة السعودية للتخصصات الصحية.
      يمكن الحصول على  شهادات برامج الكليات (28 يناير) من خلال حضور المحاضرات وورش العمل الخاصة بكل برنامج كلية.
</p>
<p>يمكن الحصول على الشهادة المعتمدة من الهيئة السعودية للتخصصات الصحية من خلال تسجيل الدخول و تسجيل الخروج بمحاضرات البرنامج العام بالمؤتمر 5 مرات على الأقل من أصل 8 مرات متاحة خلال أيام المؤتمر (29-30 يناير 2020 ).</p>
<p>يمكن الحصول على شهادات ورش عمل البرنامج العام من خلال حضور ورش العمل ، وستكون كل شهادة بعنوان ورشة العمل التي تم حضورها.</p>


                                    </div>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-3">
							<ul class="c-tab-items">
								<li class="row">
									<div class="col-sm-4 col-xs-12">
									</div>
									<div class="col-sm-8 col-xs-12">
										<h4>قوانين للشهادات:</h4>
										<p> - للراغبين بالحصول على الشهادة و ساعات الاعتماد من الهيئة (CME):
 يجب إدخال رقم الرخصة (بطاقة هيئة التخصصات الصحية) قبل التسجيل بالمؤتمر.
</p>
                                        <p> يجب إدخال رقم الرخصة (بطاقة هيئة التخصصات الصحية) قبل التسجيل بالمؤتمر.
*نرجو التأكد من تحديث بياناتكم في بوابة إنجاز.
</p>
                                        <p>-        يمكن الحصول على الشهادات من خلال بوابة إنجاز و ذلك عبر : حسابي —> شهاداتي</p>
                                        <p>  *ستكون متاحة في مدة لا تتجاوز 60 يوم بعد انتهاء المؤتمر. </p>
                                        <p>سيتم الإعلان عن توفرها عبر: حساب المؤتمر في تويتر. </p>
                                        <p>-     في حال وجود أية مشاكل أو عدم توفر الشهادة خلال المدة الزمنية الموضحة،  فريق مؤتمر التخصصات الصحية 2020 يخلي مسؤوليته عن توفير الشهادات للمستحقين بعد 90 يوم من انتهاء المؤتمر و  نرجو التواصل عبر البريد الإلكتروني للمؤتمر الخاص بالمشاكل التقنية:
                                            <br>
                                            hpc-notifications@enjazportal.com

                                        </p><a href="https://enjazportal.com/static/static/newhpc/media/Alahsafile.pdf" class="btn btn-primary"><span style="background-color:#9d0051;color:white">تفاصيل المؤتمر</span> </a>
                                        <a href="{% url 'newhpc:register_general_program' event_city='alahsa' %}" class="btn btn-info"><span style="color:white">ســـجـــلــنـــي</span> </a>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% else %}

<div class="c-content-box c-size-md c-bg-grey-1" dir="rtl">
	<div class="container" style="padding-bottom:10px !important;">
		<div class="c-content-title-1 c-opt-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
			<h3 class="c-font-34 c-font-center c-font-bold c-margin-b-30">
				Health Professions Conference 2020 Instructions
			</h3>
			<div class="c-line-center c-theme-bg"></div>
		</div>
		<div class="c-content-tab-6" role="tabpanel">
			<div class="row">
				<div class="col-md-3">
					<ul class="nav" role="tablist">
						<li role="presentation" class="wow fadeInLeft active" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft; opacity: 1;">
							<a href="#tab-1" role="tab" data-toggle="tab" aria-expanded="true">التعليمات العامة</a>
						</li>
						<li role="presentation" class="wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft; opacity: 1;">
							<a href="#tab-2" role="tab" data-toggle="tab" aria-expanded="false"> الشهادات </a>
						</li>
						<li role="presentation" class="wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft; opacity: 1;">
							<a href="#tab-3" role="tab" data-toggle="tab" aria-expanded="false">قوانين الشهادات</a>
						</li>

					</ul>
				</div>
				<div class="col-md-9" >
					<div class="tab-content c-bg-white wow fadeInRight" style="visibility: visible; animation-name: fadeInRight; opacity: 1;">
						<div role="tabpanel" class="tab-pane fade active in" id="tab-1">
							<ul class="c-tab-items">
								<li style="padding-bottom:10px !important;" class="row" >
									<div class="col-sm-4 col-xs-12">
									</div>
									<div class="col-sm-8 col-xs-12">
										<h4>التعليمات العامة</h4>
										<p><p><span >-&nbsp; &nbsp; &nbsp; &nbsp; التسجيل في مؤتمر التخصصات الصحية الخامس مجاني ومتاح لجميع الطلبة ومنسوبي التخصصات الصحية.</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; يقام المؤتمر في المدن الجامعية الثلاث: الرياض، جدة والأحساء.</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; يجب إنشاء عضوية في بوابة إنجاز للتسجيل في المؤتمر  ، واضافة رقم بطاقة الرخصة المهنية (هام لاضافة ساعات للزوار من الممارسين الصحيين).</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; يجب إحضار ما يثبت هوية الشخص: الهوية الوطنية أو البطاقة الجامعية أو بطاقة المستشفى.&nbsp;</span></p>
<p><span >-&nbsp; &nbsp; </span><span >&nbsp;&nbsp;&nbsp;&nbsp;التسجيل متاح لبرامج المؤتمر (البرنامج&nbsp; العام و برامج الكليات ) و ورش العمل المصاحبة للمؤتمر.&nbsp;</span></p>
<p><span >-&nbsp; &nbsp; &nbsp; &nbsp; برامج الكليات تشمل على</span><span >:</span></p>
<ul>
<li >برنامج كلية العلوم الطبية التطبيقية</li>
<li >برنامج كلية التمريض</li>
<li >برنامج كلية العلوم والمهن الصحية</li>
</ul>
<p><span>* أولوية الحضور في برامج الكليات لطلاب وطالبات جامعة الملك سعود بن عبدالعزيز للعلوم الصحية.</span></p>
<p>- برامج الكليات ستقام يوم الثلاثاء الموافق 28 يناير 2020</p>
<p>- البرنامج العام وبرنامج الأبحاث والمعرض العام بالمؤتمر ستقام يومي الأربعاء والخميس الموافق 29-30 يناير 2020</p>
<p><span >- سيكون الحفل الختامي بالمؤتمر والإعلان عن الأبحاث الفائزة يوم الخميس الموافق 30 يناير 2020، في تمام الساعة الرابعة عصراً.</span></p>
<p><br /><br /></p></p>
									</div>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-2">
							<ul class="c-tab-items">
								<li class="row">
									<div class="col-sm-4 col-xs-12">
									</div>
									<div class="col-sm-8 col-xs-12">
										<h4> الشهادات: </h4>
										<p>شهادة حضور مؤتمر التخصصات الصحية  2020 باعتماد عدد 27 ساعة (CME) من الهيئة السعودية للتخصصات الصحية.
      يمكن الحصول على  شهادات برامج الكليات (28 يناير) من خلال حضور المحاضرات وورش العمل الخاصة بكل برنامج كلية.
</p>
<p>يمكن الحصول على الشهادة المعتمدة من الهيئة السعودية للتخصصات الصحية من خلال تسجيل الدخول و تسجيل الخروج بمحاضرات البرنامج العام بالمؤتمر 5 مرات على الأقل من أصل 8 مرات متاحة خلال أيام المؤتمر (29-30 يناير 2020 ).</p>
<p>يمكن الحصول على شهادات ورش عمل البرنامج العام من خلال حضور ورش العمل ، وستكون كل شهادة بعنوان ورشة العمل التي تم حضورها.</p>


                                    </div>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab-3">
							<ul class="c-tab-items">
								<li class="row">
									<div class="col-sm-4 col-xs-12">
									</div>
									<div class="col-sm-8 col-xs-12">
										<h4>قوانين للشهادات:</h4>
										<p> - للراغبين بالحصول على الشهادة و ساعات الاعتماد من الهيئة (CME):
 يجب إدخال رقم الرخصة (بطاقة هيئة التخصصات الصحية) قبل التسجيل بالمؤتمر.
</p>
                                        <p> يجب إدخال رقم الرخصة (بطاقة هيئة التخصصات الصحية) قبل التسجيل بالمؤتمر.
*نرجو التأكد من تحديث بياناتكم في بوابة إنجاز.
</p>
                                        <p>-        يمكن الحصول على الشهادات من خلال بوابة إنجاز و ذلك عبر : حسابي —> شهاداتي</p>
                                        <p>  *ستكون متاحة في مدة لا تتجاوز 60 يوم بعد انتهاء المؤتمر. </p>
                                        <p>سيتم الإعلان عن توفرها عبر: حساب المؤتمر في تويتر. </p>
                                        <p>-     في حال وجود أية مشاكل أو عدم توفر الشهادة خلال المدة الزمنية الموضحة،  فريق مؤتمر التخصصات الصحية 2020 يخلي مسؤوليته عن توفير الشهادات للمستحقين بعد 90 يوم من انتهاء المؤتمر و  نرجو التواصل عبر البريد الإلكتروني للمؤتمر الخاص بالمشاكل التقنية:
                                            <br>
                                            hpc-notifications@enjazportal.com

                                        </p><a href="https://enjazportal.com/static/static/newhpc/media/Alahsafile.pdf" class="btn btn-primary"><span style="background-color:#9d0051;color:white">تفاصيل المؤتمر</span> </a>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% include 'newhpc/partials/registration.html' %}
{% endif %}
</div>
{% endblock %}

{% block script %}

    $(".signup, .cancel").click(function(){
        console.log('hello1');
        button = this;
            pk = $(this).data("pk");
            action = $(this).data("action");
        timeslot_pk = $(this).data("timeslot-pk");
            $.ajax("{% url 'events:handle_ajax' %}", {
                method: "POST",
                data: {pk: pk, action: action},
            success: function(data){
                if (data['success'] == 1){
                    $("#count-" + pk).html(data['remaining_seats']);
                      status_button = $("#status-" + pk);
                      timeslot_buttons = $("button[data-timeslot-pk=" + timeslot_pk + "]");
                        if (action == 'cancel'){
                        toastr.error("ألغي تسجيلك");

                          $(button).html('سجلني!');
                          $(button).data('action', 'signup');
                          $(button).data('action', 'signup');
                          $(button).addClass('btn-success');
                          $(button).removeClass('btn-danger');

                          timeslot_buttons.removeAttr("disabled", "disabled");
                          timeslot_buttons.removeClass('btn-warning');
                          timeslot_buttons.html('سجلني!');
                          timeslot_buttons.addClass('btn-success');


                          status_button.hide();

                      } else if (action == 'signup'){
                        toastr.success("تمّ تسجيلك!");
                          if (data['remaining'] == false) {
                                timeslot_buttons.attr("disabled", "disabled");
                                timeslot_buttons.removeClass('btn-success');
                                timeslot_buttons.addClass('btn-warning');
                                timeslot_buttons.html("وصلت الحد الأقصى للجلسات المسموح بها");


                          }

                          $(button).html('ألغِ تسجيلي!');
                          $(button).data('action', 'cancel');
                          $(button).addClass('btn-danger');
                          $(button).removeClass('btn-success');
                          $(button).removeAttr("disabled", "disabled");

                          status_button.show();
                          status_button.removeClass("btn-danger");
                          status_button.html(data['status']);
                          if (data['status'] == "معلق"){
                            status_button.addClass("btn-warning");
                          } else if (data['status'] == "معتمد"){
                            status_button.addClass("btn-success");
                          }
                      }
                } else if (data['success'] == 0){
                  toastr.error(data['message']);
                }
            }
        });
    });

    $('#session-details-modal').modal({
      keyboard: false,
      backdrop: 'static',
      show    : false,
    });
    $(".session-info").click(function () {
        console.log('hello1');
        url = $(this).data("url");
        name = $(this).data("name");

        $("#session-details-modal").modal('show');
        $("#session-details-modal .modal-title").html(name);
        $("#session-details-modal .modal-title").addClass('english-field');
            $("#session-details-modal .modal-body").load(url);
    });

{% endblock %}

{% block customscript %}
    {% with modal_id='session-details-modal' no_footer=True %}
        {% include "bulb/groups/common_edit_modal.html" %}
    {% endwith %}
{% endblock %}
