<!-- List of Comments --><ul class="comments-list">
{% for comment in comments %}
    <!-- Comment Entry -->						<li>
        <div class="comment-details">

            <div class="comment-head">
                {{ comment.author.student_profile.get_ar_full_name }}
            </div>

            <p class="comment-text">
                {{ comment.body }}
            </p>

            <div class="comment-footer">

                <div class="comment-time">
                    {{ comment.date }} {# humanise #}
                </div>

            {% if is_editor %}
                <div class="action-links">

                    <a href="#" class="delete">
                        <i class="entypo-cancel"></i>
                        Delete
                    </a>

                </div>
            {% endif %}

            </div>

        </div>
    </li>
{% endfor %}
</ul>

<div class="col-md-12">
    {% if comments.count > 0 %}<hr>{% else %}<br>{% endif %}
    <!-- Add comment form --><form id="poll-{{ poll.id }}-comment-form"
                                   action="{% url 'media:poll_comment' poll_type_url poll.id %}" method="post">
    {% csrf_token %}
    <div class="col-md-11">
        <div class="form-group{% if comment_form.body.errors %} has-error{% endif %}">
            {{ comment_form.body }}
        </div>
    </div>
    <div class="col-md-1">
        <div class="row">
            <button type="submit" class="btn btn-block btn-default">
                <i class="entypo-feather"></i>
                علّق
            </button>
        </div>
    </div>
    <br>
</form>
</div>
<script>
    $(document).ready(function(){
        $commentForm = $('#poll-{{ poll.id }}-comment-form');

        // activate autogrow for the commenting field
        $commentForm.find("textarea").autosize();

        $commentForm.submit(function (event) {
            event.preventDefault();

            /* get some values from elements on the page: */
            var $form = $(this),
                data = $form.serialize(),
                url = "{% url 'media:poll_comment' poll_type_url poll.id %}";

            /* Send the data using post */
            var posting = $.post(url, data);

            posting.done(function (data) {
                if (data.message == "success") {
                    console.log("alright");
                    loadPolls();
                } else {
                    $("#poll-{{ poll.id }}-comments").html(data);
                }
            });
        });
    });
</script>