{% for poll in polls %}
    {% if forloop.first %}
    <div class="panel-group joined" id="accordion-upcoming-polls">
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-upcoming-polls" href="#upcoming-poll-{{ forloop.counter }}" class="collapsed">
                    {{ poll.title }}
                    {# a little hack to avoid using a link because it would mess up the styles #}

                    <p style="float:left;" class="btn btn-xs btn-default">
                        يُفتح في
                        {{ poll.open_date }}
                    </p>
                </a>
            </h4>
        </div>
        <div id="upcoming-poll-{{ forloop.counter }}" class="panel-collapse collapse">
            <div class="panel-body">
                {% include "media/polls/ajax-loader.html" %}
            </div>
        </div>
    {# <!-- FIXME: This will load a script for EACH poll --> #}
    {# If you're going to edit this script, make sure to edit the corresponding one in `list_past.html` #}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#upcoming-poll-{{ forloop.counter }}").on("show.bs.collapse", function () {
                if ( $(this).prop("loaded") == undefined ) {
                    $(this).find(".panel-body").load("{% url 'media:show_poll' poll_type_url poll.id %}");
                    $(this).prop("loaded", true); // set to true so that content is not downloaded every time the panel is opened
                } // else do nothing
            });
        });
    </script>
    </div>
    {% if forloop.last %}
    </div>
    {% endif %}
{% empty %}
    <p>لا توجد تصويتات قادمة.</p>
{% endfor %}