{% extends 'newhpc/english/english_base.html'%} {% load staticfiles %}
{% block title %}FAQs | HPC2020{% endblock %}

{% block lang %}{% url 'newhpc:list_faqs' 'ar' %}{% endblock %}

{% block lang2 %}
{% url 'newhpc:list_faqs' 'ar' %}
{% endblock %}

{% block content %}
<div class="c-layout-page">
<div class="c-content-box c-size-md ">
	<div class="container" style="">

        <div class="c-content-title-1">
			<div style="font-size:44px" class="c-center c-font-uppercase c-font-dark c-font-bold">Frequently Asked Questions</div>
			<div class="c-line-center c-bg-white"></div>
		</div>

		<div class="c-content-box c-size-md ">
			<div class="container">
				<div class="cbp-panel">
					<div id="filters-container" class="cbp-l-filters-underline">
						{% for cat in categories %}
						<div data-filter=".{{cat.english_title}}" class="cbp-filter-item">
							{{ cat.english_title }}
						</div>
						{% endfor %}
					</div>
					<div id="grid-container" class="cbp cbp-l-grid-faq">
						{% for cat in categories %}
						<div class="cbp-item {{cat.english_title}}">
							{% for question in cat.faq_category.all %}
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<i class="fa fa-circle-thin"></i> {{ question.english_question }}
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										{{ question.english_answer }}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</div>

{% endblock %}

{% block script2 %}
<script src="{% static 'newhpc/english/assets/demos/default/js/scripts/pages/faq.js' %}" type="text/javascript"></script>
{% endblock %}