                        <li class="c-onepage-link">
                            <a href="#" class="c-link" >Registration</a>
                        </li>
<li class="c-menu-type-classic">
                        <a href="javascript:;" class="c-link dropdown-toggle">HPC Programs<span class="c-arrow c-toggler"></span></a>
                            <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                <li>
                                    <a href="#">Exhibition</a>
                                </li>
                                <li>
                                    <a href="#">Research Tract</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:;">Lectures &amp; Workshops<span class="c-arrow c-toggler"></span></a>
                                    <ul class="dropdown-menu c-pull-right">
                                            <li>
                                                <a href="#">General Program</a>
                                            </li>
                                            <li>
                                                <a href="#">Research Program</a>
                                            </li>
                                            <li>
                                                <a href="#">Collages’ Programs</a>
                                            </li>
                                    </ul>
                                </li>
                            </ul>
                    </li>
                    <li class="c-onepage-link">
                            <a href="#" class="c-link" >Media Center</a>
                        </li>
