<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
    <!-- BEGIN: HEADER -->
    <header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
        <div class="c-topbar c-topbar-light">
            <div class="container">
            <!-- BEGIN: INLINE NAV -->
                <nav class="c-top-menu c-pull-left">
                    <ul class="c-icons c-theme-ul">
                        <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                    </ul>
                </nav>
            <!-- END: INLINE NAV -->
            <!-- BEGIN: INLINE NAV -->
                <nav class="c-top-menu c-pull-right">
                    <ul class="c-links c-theme-ul">
                        <li><a href="#">Contact Us</a></li>
                        <li class="c-divider">|</li>
                        <li><a href="#">FAQ</a></li>
                    </ul>

                    <ul class="c-ext c-theme-ul">
                        <li class="c-lang dropdown c-last">
                            <a href="#">en</a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li class="active"><a href="{% url 'newhpc:riy_en_index' %}">English</a></li>
                                <li><a href="{% url 'newhpc:riy_ar_index' %}" style="letter-spacing: 0;">العربيّة</a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>
            <!-- END: INLINE NAV -->
        </div>
    </div>
    <div class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="" class="c-logo">
                        <img style="height: 55px;" src="{% static 'newhpc/english/assets/base/img/layout/logos/hpc-logo-3.png' %}" alt="Health Professions Conference" class="c-desktop-logo">
                        <img style="height: 50px;margin-top: -12px;" src="{% static 'newhpc/english/assets/base/img/layout/logos/hpc-logo-3.png' %}" alt="Health Professions Conference" class="c-desktop-logo-inverse">
                        <img style="height: 50px;margin-top: -12px;" src="{% static 'newhpc/english/assets/base/img/layout/logos/hpc-logo-3.png' %}" alt="Health Professions Conference" class="c-mobile-logo">
                    </a>
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    </button>
                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- BEGIN: MEGA MENU -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    <ul class="nav navbar-nav c-theme-nav">
                        <li class="c-onepage-link">
                            <a href="#" class="c-link" >Previous Versions</a>
                        </li>
                        <li class="c-onepage-link">
                            <a href="#" class="c-link" >About Us</a>
                        </li>

                        <li class="c-onepage-link">
                            <a href="#" class="c-link" >Media Center</a>
                        </li>
                        <li class="c-menu-type-classic">
                        <a href="javascript:;" class="c-link dropdown-toggle">HPC Programs<span class="c-arrow c-toggler"></span></a>
                            <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                <li>
                                    <a href="#">Exhibition</a>
                                </li>
                                <li>
                                    <a href="#">Research Tract</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:;">Lectures &amp; Workshops<span class="c-arrow c-toggler"></span></a>
                                    <ul class="dropdown-menu c-pull-right">
                                            <li>
                                                <a href="#">General Program</a>
                                            </li>
                                            <li>
                                                <a href="#">Research Program</a>
                                            </li>
                                            <li>
                                                <a href="#">Collages’ Programs</a>
                                            </li>
                                    </ul>
                                </li>
                            </ul>
                                </li>
                                <li class="c-onepage-link">
                                    <a href="#" class="c-link" >Research</a>
                                </li>
                                <li class="c-onepage-link">
                                    <a href="#" class="c-link" >Registration</a>
                                </li>
                            </ul>
                        </nav>
                    <!-- END: MEGA MENU -->
                     <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- END: HOR NAV -->
                    </div>
                </div>
            </div>
        </header>
</body>
</html>