{% extends 'newhpc/english/english_base.html'%} {% load staticfiles %}
{% block title %}About | HPC2020 Riyadh{% endblock %}

{% block content %}
<div align="center" style="padding-bottom:200px">
    <div class="row" style="width:80%; padding-top:150px"><h1>Health Professions Conference (HPC) 2020 is held at King Saud bin Abdulaziz University for Health Sciences</h1></div>
<br>
    <div class="row" style="width:80%"><h2>Under the supervision of the Deanship of Student Affairs</h2></div>
<br>
<div class="row">
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Dr. Suliman eye.png' %}">
    <br>Dr. Sulaiman Al Queflie<br>Dean of Student Affairs</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Dr. Bader eye.png' %}">
    <br>Dr. Bader Al Muqbil<br>Associate Dean of Student Affairs</div>
</div>
<br><br><br>
    <div class="row"><h2>HPC 2020 is led by</h2></div>
<br>
<div class="row">
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Nawaf Eye.png' %}">
    <br>Nawaf Alghamdi<br>HPC 2020 Leader</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br>Lina Alsaadon<br>HPC 2020 Leader</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br>Manar Almutairi<br>HPC 2020 Vice Leader</div>
</div>
<br><br><br>
    <div class="row"><h2>HPC Structure</h2></div>
    <br>
    <div class="col-xs-12"><img width="60%" src="{% static 'newhpc/images/logos/structure.png' %}"></div>
<br>
    <div class="row" style="width:80%; padding-top:30px"><h2>The website was developed and maintained in association with Enjaz Portal by the technical support team of HPC 2020 which is led by</h2></div>
<br>
<div class="row">
<div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Abdlurahman eye.png' %}">
    <br>Abdulrahman AlQumayzi<br>Technical Support Team Leader</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'newhpc/images/people/Female eye.png' %}">
    <br>Saleha Alkhairy<br>Technical Support Team Leader</div>
</div>
<br>
    <div class="row"><h2>Under the supervision of</h2></div>
<br>
<div class="col-xs-12"><img width="20%" src="{% static 'newhpc/images/people/Female eye.png' %}">
<br>Zaha Jamaan<br>Leader of Enjaz Portal</div>
<br><br>
</div>
{% endblock %}
