{% extends 'newhpc/english/english_base.html' %}{% load staticfiles %}
{% block title %}Health Professions Conference 2020 | Riyadh{% endblock %}
{% block style %}
    @media (min-width: 992px) {
    #slide1h3 {
        margin-top:55px
    }
    #slide1p {
        margin:60px 0 30px 0;
    }
    #our-vision.c-feature-15-container {
        margin: 0 -30px 0 350px;
    }
    }
    @media
    (max-width: 1200px) {
    #slide2h3.c-font-48 {
        font-size:43px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 50px !important;
    }
    #slide1p.c-font-40 {
        font-size: 30px !important;
    }
    @media (max-width: 991px) {
    #slide2h3.c-font-48 {
        font-size:19px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 25px !important;
    }
    #slide1p.c-font-40 {
        font-size: 14px !important;
    }
    #slide1p{
        margin:0 !important;
    }
    #slide1h3 {
        margin-top: 15px !important;
    }
    #our-vision.c-feature-15-container {
        margin: 0 !important;
    }
    }
{% endblock %}
{% block content %}
    <!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-4" dir="ltr">
            <div class="tp-banner-container c-theme">
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!--BEGIN: SLIDE #1 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img
                                alt=""
                                src="{% static 'newhpc/images/slides/KSAUHS-TOWER4.jpg' %}"
                                data-bgposition="center bottom"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                >
                            <div class="tp-caption customin customout"
                                data-x="center"
                                data-y="center"
                                data-hoffset=""
                                data-voffset="-50"
                                data-speed="0"
                                data-start="0"
                                data-transform_idle="o:1;"
                                data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="600">
                                <h3 style="" id="slide1h3" class="c-font-70 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                    Health Professions Conference 2020
                                </h3>
                                <p id="slide1p" class="c-font-40 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                   King Saud Bin Abdulaziz University for Health Sciences Riyadh,
                                </p>
                                <h2 class="c-font-40 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                    28-30 January 2020
                                </h2>
                            </div>
                        </li>
                        <!--END -->

                        <!--BEGIN: SLIDE #2 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img
                                alt=""
                                src="{% static 'newhpc/images/slides/hpc-students.jpg' %}"
                                data-bgposition="center center"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                >
                            <div class="tp-caption customin customout"
                                data-x="center"
                                data-y="center"
                                data-hoffset=""
                                data-voffset="-50"
                                data-speed="0"
                                data-start="0"
                                data-transform_idle="o:1;"
                                data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="600">
                                <h3 class="c-font-48 c-font-bold c-font-center c-font-white c-block" id="slide2h3">
                                    The Health Professions Conference<br>is a students-based conference accredited by<br>the Saudi Commission for Health Specialties.
                                </h3>
                            </div>
                            <div class="tp-caption lft"
                                data-x="center"
                                data-y="center"
                                data-voffset="110"
                                data-speed="1000"
                                data-start="1000"
                                data-transform_idle="o:1;"
                                data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;">
                                <a href="#" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">Learn More</a>
                            </div>
                        </li>
                        <!--END -->

                    </ul>
                </div>
            </div>
        </section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
    </div>

    <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-3 -->
    <div id="feature-15-1" class="c-bg-parallax c-content-feature-15 c-bg-img-center" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="c-feature-15-container c-bg-white">
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40">Our Vision</h2>
                        <p class="c-feature-15-desc c-font-20" style="margin-bottom:40px ">
                            To accomplish innovation and excel in the methods of knowledge exchange in health education and medical research nationally and internationally.
                        </p>
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40" style="margin-top: 130px;border-color: #9d0051 !important;">Health Professions Conference Concept</h2>
                        <p class="c-feature-15-desc c-font-20">
                            The Health Professions Conference is the first students-based conference accredited by the Saudi Commission for Health Specialties. It is one of the major annual programs held at King Saud Bin Abdulaziz University for Health Sciences that is planned, organized, and executed by the students’ club under the supervision of deanship of students affairs. The Fifth Health Professions Conference offers multiple lectures and various workshops that interest health practitioners. Selection of the best researches are also presented competing for the top positions.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-3 -->


    <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-1 -->
    <div id="feature-15-1" class="c-content-feature-15 c-bg-img-center" style="background-image: url({% static 'newhpc/images/backgrounds/king-vision.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12" style="opacity: 0.97;">
                    <div class="c-feature-15-container c-bg-white" id="our-vision">
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-50">Our Vision</h2>
                        <p class="c-feature-15-desc c-font-30">
                            To accomplish innovation and excel in the methods of knowledge
                            exchange in health education and medical research nationally
                            and internationally.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-1 -->
{% endblock %}