// FEATURE 17

.c-content-feature-17{
	height:600px;

	.c-content-feature-container{
		text-align: center;

		>.c-content-feature-title{
			padding: 120px 0 60px 0;
			letter-spacing: -1px;
			font-weight: 700;
			font-size:60px;

		}
		>.c-content-feature-btn .btn{
			border:1px solid rgba(255,255,255,0.5);
			font-size:16px;
			font-weight: 500;
			padding: 15px 35px; 
		}
	}
}

@media (max-width: $screen-sm-min){ // 768px
	.c-content-feature-17{
		height:650px;

		.c-content-feature-container{

			>.c-content-feature-title{
				font-size: 40px;
			}
		}
	}
}