<style>

.session-option.physical{
    background: rgb(134, 213, 121);
}
.session-option.online{
    background: rgb(134, 213, 121);
}
 
#order-{{ book.pk }}-img {
    display: block;
    width:90%;
    max-width: 100%;
    padding-bottom:90%;
    margin:10px;
    background:url('{{ group.image.url }}') center center no-repeat;
    background-size: auto 100%;
}

.modal-footer{
    display: none;
}
</style>

<h2>ادعُ لجلسة!</h2>

<div class="row">
    <div class="col-sm-5 col-xs-6">
        <a id="group-{{ book.pk }}-img" href="{% url 'bulb:show_group' group.pk %}"></a>
    </div>
    <div class="col-sm-7 col-xs-6 vcenter">
        <p class="modal-intro">يمكنك الدعوة لعقد جلسة لمجموعة <strong>{{ group.name }}</strong>.</p>
{% if group.is_mixed_gender %}
        <button data-url="{% url 'bulb:add_session' group.pk 'online' %}" class="bulb-option session-option indirect">
            <div class="icon"><i class="fa fa-truck"></i></div>			
            <h3>إيصال بواسطة فريق سِراج</h3>
            <p>سنتواصل مع {{ book.submitter.common_profile.ar_first_name }} لنأخذ منه الكتاب، ثم سنتصل بك ليصلك الكتاب، يتم ذلك عادة خلال أسبوع.</p>
        </button>  
    </div>
</div>

{% else %}
                <p class="modal-intro">ثمة نوعان من الجلسات:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 vcenter">
                <button data-url="{% url 'bulb:add_session' group.pk %}" class="bulb-option session-option physical">
                    <div class="icon"><i class="fa fa-users"></i></div>			
                    <h3>جلسة حضوية</h3>
                    <p>حدد مكانًا، لعقد الاجتماع.</p>
                </button>
            </div>
            <div class="col-sm-6 vcenter">
                <button data-url="{% url 'bulb:add_session' group.pk 'online' %}" class="bulb-option session-option online">
                    <div class="icon"><i class="fa fa-globe"></i></div>			
                    <h3>جلسة عبر الإنترنت</h3>
                    <p>يكون الاجتماع عبر جلسة مباشرة على Google Hangout في وقت تُحدّده.</p>
                </button>
            </div>
        </div>

{% endif %}