<style>
.end-group-introduction{
    border: 1px solid #ebebeb;
    position: relative;
    display: block;
    padding: 20px;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 25px;
    background: rgb(134, 213, 121);
    width: 100%;
}

.end-group-introduction p{
    color:  rgb(30, 71, 30);
    font-size: 16px;
    text-align: justify;
}
   
.end-group-introduction h3, .end-group-introduction p{
    margin-top: 5px;
    position: relative;
    z-index: 5;
    padding: 0;
}
    
.end-group-introduction .icon{
   font-size: 30px;
    color: white;
}

.end-group-introduction h3{
    font-size: 30px;
    color: white;
    text-align: center;
}
    
.end-group-introduction .icon {
    left: 5px;
    right: auto;   
    position: absolute;
    bottom: 5px;
    z-index: 1;
}
 
.modal-footer{
    display: none;
}
</style>

<h2>أنشئ مجموعة جديدة!</h2>

<p class="modal-intro">مرحبًا {{ user.common_profile.ar_first_name }}! فيما يلي مجموعات تعليمات توضح هدف مجموعات القراءة ومهام مؤسس المجموعة ومُنسّقها: </p>
<ul class="modal-intro">
	<li><strong>هدف المبادرة:</strong>تهدف مجموعات القراءة في مبادرة سراج إلى منح الطالب والطالبة فرصة اللقاء بمن يشاركه نفس الاهتمامات المعرفية والثقافية (أدبية، علمية، فكرية، ... إلخ) من مختلف الكليات والسنوات لمناقشة المواضيع والكتب في مجال اهتمامهم.</li>
	<li>عند إنشائك لمجموعة القراءة، ينبغي تحديد مجال اهتمام المجموعة والمواضيع/ الكتب/الشخصيات التي ستتناولها المجموعة في نقاشاتها.</li>
	<li><strong>انضمام الأعضاء:</strong> بعد إنشاء المجموعة واختيار عنوانها وكتابة وصفها، تصبح المجموعة ظاهرة لجميع الطلاب والطالبات. ويمكن للطلاب والطالبات الانضمام للمجموعة بطريقتين:
		<ol>
			<li><strong>عن طريق مُنسّق (مؤسس) المجموعة:</strong> وذلك أثناء تأسيس المجموعة، إذ يمكنك البحث باسم العضو وضمّه للمجموعة مباشرةً (يتطلب ذلك أن يكون مسجلا في البوابة).</li>
			<li><strong>عن طريق الطالبـ/ـة بنفسهـ/ا:</strong> وذلك عبر بوابة إنجاز.</li>
		</ol>
		</li>
	<li>
		<strong>مهام وصلاحيات مُنسّق المجموعة:</strong>
		<ol>
			<li><strong>عقد جلسات القراءة:</strong> ويتم ذلك أيضًا عن طريق بوابة إنجاز، إذا تُتيح البوابة لمُنسّق المجموعة خيار "عقد جلسة قراءة" وتحديد نوع الجلسة وموعدها بعد الاتفاق وديًا مع أعضاء المجموعة.<br>يُشترط إقامة جلسة قراءة واحدة على الأقل كل أسبوعين، ويمكن أن تكون تلك الجلسة "حضورية" داخل الحرم الجامعي أو " Online" عبر أحد برامج مكالمات الفيديو.  يحق للطالب أو الطالبة من خارج المجموعة حضور الجلسة كزائر.<br><strong>ملاحظة:</strong> لن تستطيع عقد جلسة القراءة قبل أن يصل عدد أعضاء المجموعة إلى ٤ أعضاء على الأقل (شاملاً مُنسّق المجموعة).</li>
			<li><strong>كتابة محضر الجلسة:</strong> يتعين على مُنسّق المجموعة كتابة محضر الجلسة بعد كل جلسة قراءة. (بعد إنشاء المجموعة، سيتم إرسال نموذج يوضّح كيفية كتابة المحضر والعناصر المطلوبة فيه)</li>
		</ol>
	</li>
</ul>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="end-group-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>