{% extends 'events_submission_base.html' %}{% load staticfiles %}
{% block meta_description %}{{ event.english_name }} Initiation Submission{% endblock %}
{% block title %}Initiation submission{% endblock %}

{% block content %}
<div class="form-register-success visible english-field">
	<i class="entypo-info"></i>
	<h3 class="english-field">إستقبال المبادرات لم يبدأ بعد</h3>
    <p style="text-align: justify;">نحن لم نبدأ في إستقبال المبادرات ل{{ event.official_name }} كن بالجوار!</p>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
