{% extends 'events_evaluation_base.html' %}{% load staticfiles %}

{% block title %}{{ event.english_name }}: Initiative list{% endblock %}

{% block content %}

<div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="initiatives-accordion">
                    قائمة المبادرات ({{ initiatives.count }})
                </a>
            </h4>
        </div>
        <div id="collapseTwo-2" class="panel-collapse " style="height: 0px;">
            <div class="panel-body">
                <div class="row">
                    <table id="initiative" class="display datatable dt-responsive">
                        <thead>
                            <tr>
                                <th class="all">اسم المبادرة</th>
                                <th class="not-mobile">التعريف بالمبادرة</th>
                                <th class="not-mobile">البريد الإلكتروني</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for initiative in initiatives %}
                            <tr>
                                <td><a href="{% url 'events:show_initiative' event.code_name initiative.pk %}">{{ initiative.name }}</a></td>
                                <td>{{ initiative.definition|linebreaksbr }}</td>
                                <td>{{ initiative.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<style type="text/css">
    th, td{
        text-align: right;
    }
</style>
	<script>
    $(function(){
        $('.datatable').dataTable({
        "order": [[ 2, "asc" ]],
        "language": {% include 'js/dataTables-arabic.json' %}
        });
    });
    </script>
{% endblock %}
