{% extends 'hpc_submission_base.html' %}{% load staticfiles %}

{% block title %}Abstract submission closed!{% endblock %}

{% block content %}
<div class="form-register-success visible english-field">
	<i class="entypo-info"></i>
	<h3 class="english-field">Abstract submission closed!</h3>
    <p style="text-align: justify;">We are no longer receiving abstract for HPC 2016.  The deadline for abstract submission was 26 December, 2015.</p>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
