{% extends 'front/front_base.html' %}{% load staticfiles %}{% load hpc_tags %}
{% block title %}{{ session.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1><a href="{% url 'hpc:list_sessions' %}">المقبولون في مؤتمر التخصّصات الصحيّة</a>: {{ session.name }}</h1>
        {% if user.is_superuser or user|is_organizing_committee_member %}
        <h2>طالبات</h2>
        <table class="display datatable  dt-responsive">
            <thead>
                <tr>
                    <th>الاسم العربي</th>
                    <th>الاسم الإنجليزي</th>
                    <th class="not-mobile">الجامعة</th>
                    <th class="not-mobile">الكلية</th>
                    <th class="not-mobile">البريد</th>
                    <th class="not-mobile">الجوال</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in session.moved_registrations.female %}
                <tr>
                    <td>{{ registration.get_ar_full_name }}</td>
                    <td class="english-field">{{ registration.get_en_full_name }}</td>
                    <td>{{ registration.get_university }}</td>
                    <td>{{ registration.get_college }}</td>
                    {% if user.is_superuser or user|is_organizing_committee_member %}
                    <td><a class="english-field" href="mailto:{{ registration.get_email }}">{{ registration.get_email }}</a></td>
                    <td>{{ registration.get_phone }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>طلاب</h2>
        <table class="display datatable  dt-responsive">
            <thead>
                <tr>
                    <th>الاسم العربي</th>
                    <th>الاسم الإنجليزي</th>
                    <th class="not-mobile">الجامعة</th>
                    <th class="not-mobile">الكلية</th>
                    <th class="not-mobile">البريد</th>
                    <th class="not-mobile">الجوال</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in session.moved_registrations.male %}
                <tr>
                    <td>{{ registration.get_ar_full_name }}</td>
                    <td class="english-field">{{ registration.get_en_full_name }}</td>
                    <td>{{ registration.get_university }}</td>
                    <td>{{ registration.get_college }}</td>
                    <td><a class="english-field" href="mailto:{{ registration.get_email }}">{{ registration.get_email }}</a></td>
                    <td>{{ registration.get_phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <table class="display datatable  dt-responsive">
            <thead>
                <tr>
                    <th>الاسم العربي</th>
                    <th>الاسم الإنجليزي</th>
                    <th class="not-mobile">الجامعة</th>
                    <th class="not-mobile">الكلية</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in session.moved_registrations.undeleted %}
                <tr>
                    <td>{{ registration.get_ar_full_name }}</td>
                    <td class="english-field">{{ registration.get_en_full_name }}</td>
                    <td>{{ registration.get_university }}</td>
                    <td>{{ registration.get_college }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       {% endif %}
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
{% if user.is_superuser or user|is_organizing_committee_member %}
<link rel="stylesheet" href="{% static 'js/datatables/buttons/buttons.dataTables.min.css' %}">
<script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/jszip.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/vfs_fonts.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/buttons.html5.min.js' %}"></script>
{% endif %}
<script type="text/javascript">
$(function(){
    $('.datatable').dataTable({
{% if user.is_superuser or user|is_organizing_committee_member %}
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
        ],
{% endif %}
        order: [[ 0, "asc" ]],
        language: {% include 'js/dataTables-arabic.json' %},
    });
});
</script>
{% endblock %}
