{% extends 'base.html' %}

{% block title %}المركز الإعلامي{% endblock %}

{% block pageheaderurl %}{% url 'media:index' %}{% endblock %}
{% block pageheader %}المركز الإعلامي{% endblock %}

{% block navbar %}

	<li><a href="{% url 'media:submit_article' %}"><i class="entypo-feather"></i> أرسل مقالًا</a></li>
	<li><a href="{% url 'media:list_articles' %}"><i class="entypo-newspaper"></i> مقالاتي</a></li>
    
{% endblock %}

{% block content %}{% endblock %}

{% block customscript %}{% endblock %}
