{% extends "base_teams.html" %}{% load staticfiles %}
{% block title %}قائمة الفرق{% endblock %}

{% block content %}

    {% for team_city, team_cat, team in per_city %}
        <h3>فِرق {{team_city}}</h3><br>
        <h4>{{team_cat}}</h4><br>
        {{team.ar_name}}<br>
        <div class="row">
            {% for team in teams %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-bd">
                    <div class="panel panel-default">
                    <div class="panel-body text-center">
                      {% if team.logo %}
                        <img src="{{ team.logo.url }}" style="max-width: 120px;"><br>
                      {% endif %}
                        <a href="{% url 'teams:show' team.pk %}">{{ team.ar_name }}</a><br>
                        <p style="word-wrap:break-word;">{{team.description|truncatewords:20}} </p>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% endfor %}

    <!--let's think about javascript later-->
    <div id="info-card"></div>

{% endblock %}

{% block customscript %}

{% endblock %}
