{% extends "base_teams.html" %}{% load bootstrap3 %}{% load rules %}
{% block content %}
<div class="dropdown">
    <form action="" method="post">
        {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button style="float:left;margin-top: 3px" id='add_position' type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    عيّن
                </button>
            {% endbuttons %}
    </form>
</div>
{% endblock %}