// SLIDER 16 - LAUNCH PAGE

.c-layout-revo-slider-16{
	min-height: 600px;

	.c-slider-16-title{
		letter-spacing: 0.5px !important;
		line-height: 1.2em !important;
	}

	.c-action-btn{
		padding:15px 40px !important;
		font-size: 14px!important;
		font-weight: 500!important;
		border:1px solid rgba(255,255,255,0.7) !important;
		transition: all 0.2s!important;
	}

	.tp-fullwidth-forcer{
		height:0 !important;
	}
}
.c-layout-revo-slider-16 .tp-banner-container{
	height: 600px;
	position: relative !important;
	overflow:hidden !important;
}

@media (max-width: 1024px) { 
	.c-layout-revo-slider-16,
	.c-layout-revo-slider-16 .tp-banner-container{
		min-height: 495px;
	}
}

@media (max-width: $screen-sm-max) { /* 991px */
	.c-layout-revo-slider-16,
	.c-layout-revo-slider-16 .tp-banner-container{
		min-height: 500px;
	}

	.c-layout-revo-slider-16{

		.c-slider-16-title{
			font-size:40px;
		}
	}
}

@media (max-width: $screen-xs-min) { /* 480px */
	.c-layout-revo-slider-16,
	.c-layout-revo-slider-16 .tp-banner-container,
	.c-layout-revo-slider-16 .tp-banner-container .tp-banner,{
		min-height: 300px !important;
	}

	.c-layout-revo-slider-16{

		.c-slider-16-title{
			font-size:20px;
		}
	}
}