{% extends 'front/front_base.html' %}{% load staticfiles %}
{% block title %}الصفحة الرئيسية{% endblock %}
{% block content %}
	<!-- Main Slider --><section class="slider-container" style="background-image: url({% static 'img/bg.jpg' %});">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-12">
				
				<img width="100%" src="{% static 'logo/enjaz_logo_shadow_full.png' %}">
				
			</div>
			
		</div>
		
	</div>
	
</section>

<section class="features-blocks">
	
	<div class="container">
		
		<div class="row vspace">			
			<div class="col-sm-12">
				
				<div class="feature-block">
					<h2 class="dinar-medium">
						بوابة إنجاز
					</h2>
					
					<p style="font-size: 1.5em" class="dinar-light">
						بوابة إنجاز الإلكترونية هي بوابة المستقبل بالنسبة للأنشطة الطلابية في نادي الطلاب. من خلال تطوير و تعزيز الاستفادة من الجانب الإلكتروني و التقني، يدخل نادي الطلاب مرحلة جديدة من عمره بقوة أكبر و أدوات أكثر تطورًا من أي وقت مضى!
					</p>
				</div>
				
			</div>
			
		</div>
		
				<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		
	</div>
	
</section>

<!-- Call for Action Button --><div class="container">
	<div class="row vspace">
		<div class="col-md-12">
			
			<div class="callout-action">
				<h2 class="dinar-medium">ماذا تنتظر؟!</h2>
				
				<div class="callout-button">
					<a href="{% url 'userena_signup' %}" class="btn btn-secondary dinar-light">سجل الآن!</a>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- Testimonails <section class="testimonials-container">
	
	<div class="container">
		
		<div class="col-md-12">
			
			<div class="testimonials carousel slide" data-interval="8000">
			
				<div class="carousel-inner">
					
					<div class="item active">
					
						<blockquote>
							<p>
								Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. <br />
								Pellentesque fermentum, ante ac interdum ullamcorper.
							</p>
							<small>
								<cite>Art Ramadani</cite> - co-founder at Laborator
							</small>
						</blockquote>
						
					</div>
					
					<div class="item">
					
						<blockquote>
							<p>
								Entered of cordial do on no hearted. Yet agreed whence and unable limits. <br />
								Use off him gay abilities concluded immediate allowance.
							</p>
							<small>
								<cite>Larry Page</cite> - co-founder at Google
							</small>
						</blockquote>
						
					</div>
					
					<div class="item">
					
						<blockquote>
							<p>
								Of regard warmth by unable sudden garden ladies. No kept hung am size spot no. <br />
								Likewise led and dissuade rejoiced welcomed husbands boy. 
							</p>
							<small>
								<cite>Bill Gates</cite> - ceo at Microsoft
							</small>
						</blockquote>
						
					</div>
				
				</div>
			
			</div>
			
		</div>
		
	</div>
	
</section> -->
{% endblock %}
