{% extends 'front/front_base.html' %}{% load staticfiles %}
{% block title %}الصفحة الرئيسية{% endblock %}
{% block content %}
	<!-- Main Slider --><section class="slider-container" style="background-image: url({% static 'img/bg.jpg' %});">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-12">
				
				<img width="100%" src="{% static 'logo/enjaz_logo_shadow_full.png' %}">
				
			</div>
			
		</div>
		
	</div>
	
</section>

<section class="features-blocks">
	
	<div class="container">
		
		<div class="row vspace">			
			<div class="col-sm-12">
				
				<div class="feature-block">
					<h2 class="dinar-medium">
						بوابة إنجاز
					</h2>
					<span class="description">
					<p class="dinar-light">
						بوابة إنجاز الإلكترونية هي بوابة المستقبل للأنشطة الطلابية في نادي الطلاب. من خلال تعزيز الاستفادة من الجانب الإلكتروني و التقني، يدخل نادي الطلاب مرحلة جديدة من عمره بقوة أكبر و أدوات أكثر تطورًا من أي وقت مضى!
					</p>
					</span>
				</div>
				
			</div>
			
		</div>
		
				<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		
	</div>
	
</section>

<!-- Call for Action Button --><div class="container">
	<div class="row vspace">
		<div class="col-md-12">
			
			<div class="callout-action">
				<h2 class="dinar-medium">ماذا تنتظر؟!</h2>
				
				<div class="callout-button">
					<a href="{% url 'userena_signup' %}" class="btn btn-secondary dinar-light">سجل الآن!</a>
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
