{% extends 'front/front_base.html' %}{% load staticfiles %}
{% block title %}الصفحة الرئيسية{% endblock %}
{% block content %}
{% if launch %}
<style>
#overlay {
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 5000;
}
#overlay p, #overlay button {
    font-family: 'GE Dinar One',Arial;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
}

#intro {
    padding-top:100px;
    font-size: 40px !important;
}

#overlay p {
    color: white;
}

#overlay button {
    color: #3C2424;
}

.tocenter {
    text-align: center;
}

</style>
<script>
$(function() {

   var docHeight = $(document).height();

   $("body").append("<div id='overlay'><p id='intro'>يفتتح أ. د. يوسف العيسى</p><p><span class='dinar-light'>بـــوابــة</span> <span class='dinar-medium'>إنجاز</span></p><div class='tocenter'><button id='launch' class='btn btn-default text-center'>على بركة الله</button></div></div>");

   $("#overlay").height(docHeight);

   $( '#launch' ).click(function() {
       $( "#overlay" ).fadeOut( 3000 );
   });  
});
</script>

</script>
{% endif %}
	<!-- Main Slider --><section class="slider-container" style="background-image: url({% static 'img/bg.jpg' %});">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-12">
				
				<img width="100%" src="{% static 'logo/enjaz_logo_shadow.png' %}">
				
			</div>
			
		</div>
		
	</div>
	
</section>

<section class="features-blocks">
	
	<div class="container">
		
		<div class="row vspace">			
			<div class="col-sm-12">
				
				<div class="feature-block">
					<h2 class="dinar-medium">
						بوابة إنجاز
					</h2>
					<span class="description">
					<p class="dinar-light">
						بوابة إنجاز الإلكترونية هي بوابة المستقبل للأنشطة الطلابية في نادي الطلاب. من خلال تعزيز الاستفادة من الجانب الإلكتروني و التقني، يدخل نادي الطلاب مرحلة جديدة من عمره بقوة أكبر و أدوات أكثر تطورًا من أي وقت مضى!
					</p>
					</span>
				</div>
				
			</div>
			
		</div>
		
				<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		
	</div>
	
</section>

<!-- Call for Action Button --><div class="container">
	<div class="row vspace">
		<div class="col-md-12">
			
			<div class="callout-action">
				<h2 class="dinar-medium">ماذا تنتظر؟!</h2>
				
				<div class="callout-button">
					<a href="{% url 'userena_signup' %}" class="btn btn-secondary dinar-light">سجل الآن!</a>
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
