{% load l10n %}
<table class="display datatable compact dt-responsive">
    <thead>
        <tr>
            <th class="all">الاسم</th>
            <th class="not-mobile">النادي المنظم</th>
            {# In privileged view, show the submission date. #}{% if privileged %}
            <th class="not-mobile">تاريخ الإرسال</th>
            {% endif %}
            <th>تاريخ الانعقاد</th>
            {# In approved, no need to show the status nor the options. #}
            {% if privileged and not table_type == 'approved' or table_type == 'employee' %}
            <th class="not-mobile">الحالة</th>
            {% endif %}
            {% if table_type == 'pending' %}
            <th class="not-mobile">الخيارات</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
        <tr>
            <td dir="auto"><a href="{% url 'activities:show' activity.id %}">{{ activity.name }}</a></td>
            <td><a href="{% url 'clubs:show' activity.primary_club.id %}">{{ activity.primary_club }}</a></td>
            {% if privileged %}
            <td data-order="{{ activity.submission_date|date:"U" }}">{{ activity.submission_date|date:"j F" }}</td>
            {% endif %}
            <td data-order="{{ activity.get_next_episode.start_date|date:"U" }}">{{ activity.get_next_episode.start_date|date:"j F" }}</td>
            {% if privileged and not table_type == 'approved' or table_type == 'employee' %}
            <td>{{ activity.get_approval_status_message }}</td>
            {% endif %}
            {% if table_type == 'pending' %}
            <td>
                {{ activity.get_list_activity_action|safe }}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>