{% extends 'activities_base.html' %}{% load staticfiles %}
{% load forms_builder_tags %}
{% block title %}{{ form.title }}{% endblock %}
{% block content %}
    <style>
        .errorlist {color:#f00;}
    </style>
<div class="row">
    <div class="panel panel-default panel-shadow" data-collapsed="0">
	<!-- panel body -->
	<div class="panel-body">
        <div class="col-md-12">
        {% render_built_form form %}
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block customscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
    <script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript">
        $(".datefield, .datetimefield").addClass("english-field");
        $(".datefield").datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
        });
        $(".datetimefield").datetimepicker({
            format: 'Y-m-d H:i',
        });
    </script>
{% endblock %}