{% extends 'clubs_base.html' %}{% load i18n %}{% load staticfiles %}
{% block title %}{% if builder_form.instance.pk %}{% trans "Edit Form" %}{% else %}{% trans "Add Form" %}{% endif %}{% endblock %}
{% block content %}
    <style>
        .errorlist {color:#f00;}
    </style>

<div class="row">
<div class="panel panel-default panel-shadow" data-collapsed="0">

    <div class="panel-heading">

        <div class="panel-title">
            {% include 'clubs/forms/breadcrumb.html' %}
        </div>
        {% if builder_form.instance.pk %}
        <div class="panel-options">
            <a class="btn btn-xs btn-danger" href="{% url 'forms:delete_form' object_id builder_form.instance.pk %}">
                <span style="color:#fff"><i class="entypo-trash"></i>
                {% trans "Delete form" %}</span>
            </a>
            <a class="btn btn-xs btn-default" href="{% url 'forms:form_entries' object_id builder_form.instance.pk %}">
                <i class="entypo-list"></i>
                {% trans "View entries" %}
            </a>
            <a class="btn btn-xs btn-default" href="{% url 'forms:form_detail' object_id builder_form.instance.get_url_attr %}">
                <i class="entypo-eye"></i>
                {% trans "View on site" %}
            </a>
        </div>
        {% endif %}

    </div>
	<!-- panel body -->
	<div class="panel-body">
        <div class="col-md-12">
        {% if builder_form.instance.pk %}
            <h3>{% trans "Edit form" %}</h3>
        {% else %}
            <h3>{% trans "Add Form" %}</h3>
        {% endif %}
    <form method="post">
        {% csrf_token %}
        {% load bootstrap3 %}
        {% bootstrap_form builder_form %}

        <script>
            // Add the help buttons and popover contents to the form
            var helpButton = '<a id="is-primary-help-popover" tabindex="0" data-toggle="popover" data-trigger="click" data-placement="left" title="مساعدة"';
            helpButton += ' data-html="true"><i class="entypo-help-circled"></i></a>'
            $("#id_is_primary").parent().parent().append(helpButton);
            var popoverText = "يسمح باختيار نموذج رئيسي واحد لكل نادي، بحيث يكون هذا النموذج هو نموذج التسجيل في هذا النادي و الذي يمكن الوصول إليه مباشرة من صفحة النادي في حال فتح التسجيل."
            popoverText += "<br>"
            popoverText += "فتح التسجيل يكون عن طريق اختيار أحد نماذج النادي كنموذج رئيسي، في حين يتم إغلاق التسجيل تلقائيًا إذا لم يكن هناك أي نموذج رئيسي منشور للنادي."
            popoverText += "<br>"
            popoverText += "عند تحديد نموذج ما كنموذج رئيسي، يمكن كذلك تحديد موعد تلقائي لفتح و إغلاق التسجيل في النادي، و ذلك عن طريق تحديد تاريخ و وقت نشر النموذج."
            $("#is-primary-help-popover").attr("data-content", popoverText);

            var helpButton = '<a id="status-help-popover" tabindex="0" data-toggle="popover" data-trigger="click" data-placement="left" title="مساعدة"';
            helpButton += ' data-html="true"><i class="entypo-help-circled"></i></a>'
            $("#id_status").parent().find("label").append(helpButton);
            var popoverText = "يمكن إظهار أو إخفاء النموذج عن المستخدمين عن طريق تحديد حالة النشر. إذا كان النموذج مسودة فيمكن رؤيته فقط من ممثل النادي و نوابه. "
            popoverText += "<br>"
            popoverText += "يمكن كذلك تحديد موعد تلقائي لنشر النموذج و إغلاقه عن طريق اختيار تاريخ و وقت مخصص لذلك. (يشترط ذلك أن يتم اختيار 'منشور' في حالة النموذج)."
            $("#status-help-popover").attr("data-content", popoverText);

            var helpButton = '<a id="btn-txt-help-popover" tabindex="0" data-toggle="popover" data-trigger="click" data-placement="left" title="مساعدة"';
            helpButton += ' data-html="true"><i class="entypo-help-circled"></i></a>'
            $("#id_button_text").parent().find("label").append(helpButton);
            var popoverText = "خصص زر إرسال النموذج، مثلاً:"
            popoverText += '<br>"سجّل"، "شارك"، "أرسل"، ...';
            $("#btn-txt-help-popover").attr("data-content", popoverText);

            var helpButton = '<a id="response-help-popover" tabindex="0" data-toggle="popover" data-trigger="click" data-placement="left" title="مساعدة"';
            helpButton += ' data-html="true"><i class="entypo-help-circled"></i></a>'
            $("#id_response").parent().find("label").append(helpButton);
            var popoverText = "النص الذي يظهر للمستخدم بعد تعبئة و إرسال النموذج."
            $("#response-help-popover").attr("data-content", popoverText);
        </script>

        <hr>
        <h4>{% trans "Fields" %}
        <a id="field-help-popover" tabindex="0" data-toggle="popover" data-trigger="click" data-placement="left" title="مساعدة"
           data-html="true"><i class="entypo-help-circled"></i></a>
        </h4>

        <script>
            var popoverText = "<div dir='rtl' class=''><table class='table table-bordered'>";
            popoverText += "<style>.table td {font-weight: lighter;} .popover {max-width: 550px; direction: rtl; text-align: right;}</style>";
            popoverText += "<colgroup><col class='col-md-2'><col class='col-md-5'><col class='col-md-5'></colgroup>";
            popoverText += "<thead><tr><td></td><td>توضيح</td><td>مثال</td></tr></thead>";
            popoverText += "<tbody><tr><th>الخيارات</th>";
            popoverText += "<td>إذا كان السؤال يتطلب خيارات، تتم كتابتها هنا. <br>";
            popoverText += "تكتب الخيارات مفصولة بعلامة <code>/</code>.</td>";
            popoverText += "<td><code>أحمر/أخضر/أزرق</code><br>";
            popoverText += "تظهر للمستخدم مثلاً:<br>";
            popoverText += "<div class='col-xs-12'>";
            popoverText += "<div class='col-xs-4'><div class='radio'><label><input type='radio' name='color' value='red'>أحمر</label></div></div>";
            popoverText += "<div class='col-xs-4'><div class='radio'><label><input type='radio' name='color' value='green'>أخضر</label></div></div>";
            popoverText += "<div class='col-xs-4'><div class='radio'><label><input type='radio' name='color' value='blue'>أزرق</label></div></div>";
            popoverText += "</div></td></tr>";

            popoverText += "<tr><th>القيمة الافتراضية</th>";
            popoverText += "<td>عند تحديد قيمة افتراضية، يتم ملؤها تلقائيًا للمستخدم عند فتح النموذج. <br>إذا كان السؤال يحتوي خيارات ";
            popoverText += "يجب أن تكون القيمة الافتراضية من ضمن الخيارات.</td>";
            popoverText += "<td><code>أحمر</code> تظهر للمستخدم مثلاً:";
            popoverText += "<div class='row'><div class='col-xs-12'><input class='form-control' value='أحمر'></div></div>";
            popoverText += "أو (تم اختيار جواب تلقائيًا):";
            popoverText += "<div class='col-xs-12'>";
            popoverText += "<div class='col-xs-4'><div class='radio'><label><input type='radio' name='color' value='red' checked=''>أحمر</label></div></div>";
            popoverText += "<div class='col-xs-4'><div class='radio'><label><input type='radio' name='color' value='green'>أخضر</label></div></div>";
            popoverText += "<div class='col-xs-4'><div class='radio'><label><input type='radio' name='color' value='blue'>أزرق</label></div></div>";
            popoverText += "</div>اعتمادًا على نوع السؤال.</td></tr>";
            popoverText += "<tr><th>النص الافتراضي</th>";
            popoverText += "<td>نص شفاف يظهر في الفراغ للأسئلة النصية. (Placeholder)<br>إذا لم يتم اختيار نص افتراضي، يتم وضع نص السؤال مكانه تلقائيًا.</td>";
            popoverText += "<td><input class='form-control' placeholder='نص افتراضي'></td>";
            popoverText += "</tr>";
            popoverText += "</tbody></table></div>";
            popoverText += "<div style='text-align: center;' class='alert alert-warning'>يرجى عدم إضافة حقول ";
            popoverText += "للسؤال عن بيانات المستخدم (الاسم، الرقم الجامعي، ...)، حيث سيتم حفظها و توفيرها تلقائيًا.</div>";
            $("#field-help-popover").attr("data-content", popoverText);
        </script>
        <br>
        {# Following snippet (slightly modified) from https://djangosnippets.org/snippets/1442/ #}
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}
        <table id="formset" class="form">
        {% for form in formset.forms %}
          {% if forloop.first %}
          <thead><tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
          </tr></thead>
          {% endif %}
          <tr class="form-container">
          {% for field in form.visible_fields %}
            <td>
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
            {% endif %}
                <div class="form-group">
              {{ field.errors.as_ul }}
              {{ field }}
                </div>
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
        <hr>
        <button class="btn btn-primary btn-block" type="submit">
            <i class="entypo-check"></i>
            {% trans "Submit" %}
        </button>
    </form>
    </div>
    </div>
</div>
</div>
{% endblock %}
{% block customscript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
<script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
<script type="text/javascript">
    // Style the formset fields properly
    $(".form-container .form-group").find("input").addClass("form-control");
    $(".form-container").formset({
        prefix: '{{ formset.prefix }}',
        added: function (row) {
            // Set default values for `required` and `visible` fields
            row.find("[type=checkbox]").prop("checked", true);
        },
        addText: '{% trans "Add field" %}',
        deleteText: '{% trans "Delete" %}',
        addCssClass: 'add-row btn btn-xs btn-primary',
    });
    $("input[name=publish_date], input[name=expiry_date]").addClass("english-field");
    $("input[name=publish_date], input[name=expiry_date]").datetimepicker({
        format: 'Y-m-d H:i',
    });
</script>
{% endblock %}