<h2>المستجدات القادمة</h2>
<hr>

{% for buzz in buzzes %}
    {% if forloop.first %}
    <div class="panel-group joined" id="accordion-upcoming-buzzes">
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-upcoming-buzzes" href="#upcoming-buzz-{{ forloop.counter }}" class="collapsed">
                    {{ buzz.title }}
                    {# a little hack to avoid using a link because it would mess up the styles #}
                        <p style="float:left;" class="btn btn-xs btn-default">
                            يُنشر في
                            {{ buzz.announcement_date }}
                        </p>
                </a>
            </h4>
        </div>
        <div id="upcoming-buzz-{{ forloop.counter }}" class="panel-collapse collapse">
            <div class="panel-body">
                {% include "media/polls/ajax-loader.html" %}
            </div>
        </div>
    {# <!-- FIXME: This will load a script for EACH buzz --> #}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#upcoming-buzz-{{ forloop.counter }}").on("show.bs.collapse", function () {
                if ( $(this).prop("loaded") == undefined ) {
                    $(this).find(".panel-body").load("{% url 'media:show_buzz' buzz.id %}");
                    $(this).prop("loaded", true); // set to true so that content is not downloaded every time the panel is opened
                } // else do nothing
            });
        });
    </script>
    </div>
    {% if forloop.last %}
    </div>
    {% endif %}
{% empty %}
    <p>لا توجد مستجدات قادمة.</p>
{% endfor %}