{% extends 'base.html' %}{% load bulb_tags %}{% load staticfiles %}

{% block title %}سراج{% endblock %}

{% block pageheaderurl %}
    {% url 'bulb:index' %}
{% endblock %}
{% block pageheader %}سِراج{% endblock %}

{% block navbar %}
    <li><a href="{% url 'bulb:list_book_categories' %}"><i class="fa fa-book"></i> اقتناء الكتب</a></li>
    <li><a href="{% url 'bulb:list_groups' %}"><i class="fa fa-comments"></i> مجموعات القراءة</a></li>
    <li><a href="{% url 'bulb:list_reader_profiles' %}"><i class="entypo-users"></i> قارئات وقراء الجامعة</a></li>
    {% if user|is_bulb_coordinator_or_deputy or user.is_superuser %}
    <li><a href="{% url 'bulb:indicators' %}"><span class="glyphicon glyphicon-stats"></span> مؤشرات سِراج</a></li>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block customscript %}
{% endblock %}
