{% extends 'hpc_temp/base.html' %}{% load staticfiles %}
{% block title %}عن مؤتمر التخصصات الصحية{% endblock %}
{% block content %}
<div align="center">
    <div class="row"><h2>يقام مؤتمر التخصصات الصحية 2020 بجامعة الملك سعود بن عبدالعزيز للعلوم الصحية</h2></div>
<br>
    <div class="row"><h3>وهو تحت إشراف عمادة شؤون الطلاب</h3></div>
<br>
<div class="row">
    <div class="col-xs-6"><img width="40%" src="{% static 'hpc_temp/new/Dr. Suliman eye.png' %}">
    <br>د. سليمان القويفلي<br>عميد شؤون الطلاب</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'hpc_temp/new/Dr. Bader eye.png' %}">
    <br>د. بدر المقبل<br> العميد المشارك بعمادة شؤون الطلاب</div>
</div>
<br><br><br>
    <div class="row"><h3>مؤتمر التخصصات الصحية 2020 تحت قيادة كل من</h3></div>
<br>
<div class="row">
    <div class="col-xs-4"><img width="60%" src="{% static 'hpc_temp/new/Nawaf Eye.png' %}">
    <br>نواف الغامدي<br>قائد مؤتمر التخصصات الصحية 2020</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'hpc_temp/new/Female eye.png' %}">
    <br>لينه السعدون<br>قائدة مؤتمر التخصصات الصحية 2020</div>
    <div class="col-xs-4"><img width="60%" src="{% static 'hpc_temp/new/Female eye.png' %}">
    <br>منار المطيري<br> نائبة قادة مؤتمر التخصصات الصحية 2020</div>
</div>
<br><br><br>
    <div class="row"><h3>هيكلة مؤتمر التخصصات الصحية</h3></div>
    <br>
    <div class="col-xs-12"><img width="80%" src="{% static 'hpc_temp/new/structure.png' %}"></div>
<br><br><br>
    <div class="row"><h3>قام بإنشاء الموقع والعمل عليه بالتعاون مع بوابة انجاز  الفريق التقني بمؤتمر التخصصات الصحية  2020 تحت قيادة كل من</h3></div>
<br>
<div class="row">
<div class="col-xs-6"><img width="40%" src="{% static 'hpc_temp/new/Abdlurahman eye.png' %}">
    <br>عبدالرحمن القميزي<br>قائد الفريق التقني</div>
    <div class="col-xs-6"><img width="40%" src="{% static 'hpc_temp/new/Female eye.png' %}">
    <br>صالحة الخيري<br>قائدة الفريق التقني</div>
</div>
<br>
    <div class="row"><h3>وبإشراف من</h3></div>
<br>
<div class="col-xs-12"><img width="20%" src="{% static 'hpc_temp/new/Female eye.png' %}">
<br>زها الجمعان<br>قائدة بوابة إنجاز</div>
<br><br>
</div>
{% endblock %}
