<style>
.modal-footer{
    display: none;
}
</style>
<h2 class="english-field">Add a new project!</h2>

<p class="studentguide-intro">ResearchHub a student-initiated project to connect students with each others and with researchers.  Here, we would like to know the projects that you have that need help, so we can connect you to those who can provide that help!   Please note that by submitting this form, you agree to enlist your project in public for students to see to help!</p>

<button style="float:right;" class="english-field btn btn-lg end-project-introduction btn-info">
    Next! <i class="fa fa-angle-double-right "></i>
</button>