{% extends 'researchhub_base.html' %}
{% block title %}Consultation Received{% endblock %}
{% block content %}
<div class="english-field">
    <h1 style="    font-size: 4em;
    margin-bottom: 50px;
    text-align: center;" class="english-field"><span style="border-bottom: 4px solid black;">Consultation Team</span></h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
            <h2 class="english-field researchhub-section-header"><i class="fa  fa-check-square-o"></i><br>Consultation received!</h2>
            <p class="section-intro">We will contact you within 48 hours.  Feel free to reach to us at <a href="mailto:researchhub@enjazportal.com">researchhub@enjazportal.com</a>.</p>
        </div>
    </div>
{% endblock %}