{% extends 'researchhub_base.html' %}
{% block title %}How it works{% endblock %}
{% block content %}
<div class="english-field">
    <h1 style="    font-size: 4em;
    margin-bottom: 50px;
    text-align: center;" class="english-field"><span style="border-bottom: 4px solid black;">Consultation Team!</span></h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
                <p class="section-intro">The consultation team is composed of a set of comptenet students who are willing to take you through the first steps of the research journey!  Email us at <a href="mailto:researchhub@enjazportal.com">researchhub@enjazportal.com</a>.  We are available on Wednesday afternoons.</p>

        </div>
    </div>
</div>
{% endblock %}