{% extends 'researchhub_base.html' %}
{% block title %}ResearchHub Frequently Asked Questions{% endblock %}
{% block content %}
<style>
    .answer{
        color: rgb(55, 62, 74);
    }
    .question{
        font-weight: 700;
        font-size: 17px;
    }
</style>

<div class="english-field">
    <h1 class="english-field">ResearchHub Frequently Asked Questions</h1>
    <h3 class="english-field question">Why should I conduct a research?</h3>
    <p class="answer">Conducting research will enrich your scientific basis and research skills. It will enable you to judge/criticize other studies when you read articles. It is good for your CV (more attractive) and it keeps you focused and up to date.</p>

    <h3 class="english-field question">Can any student do research?</h3>
    <p class="answer">Absolutely! You can do research under supervision of a local clinical supervisor (Principal Investigator) as a sub-investigator.</p>

    <h3 class="english-field question">How does doing research benefit me?</h3>
    <p class="answer">It will improve you as a physician or practitioner in terms of systematic thinking, better clinical judgment, understanding of patients’ needs, team work skills, education and professional development.</p>

    <h3 class="english-field question">When should I start doing research?</h3>
    <p class="answer">The sooner, the better. Whenever you have the free time to learn the skills of doing research and gaining the knowledge and experience which usually takes place at the end of your studying years.</p>

    <h3 class="english-field question">I have a research idea. How do I get started?</h3>
    <p class="answer">You have to start searching to know more about it. The published literature will guide you to the gap of knowledge in the area you are interested in. <br> Then you have to follow the basic research steps.</p>

    <h3 class="english-field question">I don’t have a research idea in mind. Is it fine?</h3>
    <p class="answer">Don't worry! Research ideas will come with time. With your clinical practice or by being engaged with other active research teams. Alternatively, you can join a research team who already has an idea.</p>

    <h3 class="english-field question">How can I learn research steps?</h3>
    <p class="answer">Reading, attending research educational activities and trying to be involved in research with other investigators will improve your understanding of reseach steps. <a href="https://ksauhs-med.com/index.php/s/siVSAEftXHE6nta">This file</a> explains the basics of conducting research..</p>

    <h3 class="english-field question">What matters more? The amount or quality of research projects?</h3>
    <p class="answer">Definitely the quality. Journals will not accept a low quality research nor publish it.</p>

    <h3 class="english-field question">How can I get my proposal accepted and how long does it take?</h3>
    <p class="answer">Accepted proposals are usually well written, complete, feasible and with merit.</p>
    <p class="answer">For student projects the process of approval is expedited as long as it is approved from your college research committee/unit. However, it will not take more than 3-4 weeks for final approval.</p>

    <h3 class="english-field question">Can I get funding for research? If so, how much?</h3>
    <p class="answer">Yes! As per King Abdullah International Medical Research Center (KAIMRC) policies and procedures you are allowed to request  ≤ 50.000 SAR.</p>

    <h3 class="english-field question">Can I do research that requires lab work?</h3>
    <p class="answer">Yes, you can. Provided that you have permission to use the lab. Your mentor or PI should be the person that communicates with the department in which your research is based. Once the PI has secured that permission, you are allowed to use the labs  of only the respective department.</p>
    <h3 class="english-field question">What are some of the materials and resources that will help me submit my research for approval?</h3>
    <p class="answer">KAIMRC requires filling specific forms for a proposal to get approved. For example:</p>
    <ul class="answer">
        <li><a href="https://ksauhs-med.com/index.php/s/uZusIEgPTtks2ac">Full Proposal Form</a>: In this form, you are expected to declare your research title, aim, objectives, background, design, funding, work plan and ethical consideration.</li>
        <li><a href="https://ksauhs-med.com/index.php/s/gOpPz5p5jn3wrws">Appendix A: Essential Docuements Checklist</a>: In this table, the required documents are declared for each type of study.</li>
        <li><a href="https://ksauhs-med.com/index.php/s/UXowJZsdyRHzmqw">Appendix K: Criteria for Expedited Review Procedure</a>: Student research projects that meet these criteria are entitled for a faster approval procedure.</li>
        <li><a href="https://ksauhs-med.com/index.php/s/Nr9Qf7g5tB7Dniv">Appendix L: Ethical Approval</a></li>
        <li><a href="https://ksauhs-med.com/index.php/s/dXyfV6OHZeogs0w">Appendix M: Consent Requirement</a></li>
    </ul>

</div>
{% endblock %}