{% extends 'researchhub_base.html' %}
{% block title %}How it works{% endblock %}
{% block content %}
<div class="english-field">
    <h1 style="    font-size: 4em;
    margin-bottom: 50px;
    text-align: center;" class="english-field"><span style="border-bottom: 4px solid black;">How it works!</span></h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1 mentor-section-intro">
            <h2 class="english-field researchhub-section-header"><i class="fa  fa-exclamation-triangle "></i><br>Research is troubling!</h2>
            <p class="section-intro">For beginners, research can hardly be described a smooth experience.  It looks like a private club, with way too many paper-work to get in!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-5 mentor-section-intro">
            <h2 class="english-field researchhub-section-header"><i class="fa fa-check-square-o"></i><br>Research is not an option!</h2>
            <p class="section-intro">It is not a luxury to get involved in research project!  Both the local Saudi Commission for Health Specialties as well as international training bodies make reseach <em>a very crutial part</em> of the evaluation of applicants in post-graduate training.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1 mentor-section-intro">
            <h2 class="english-field researchhub-section-header"><i class="fa fa-random"></i><br>We are a network!</h2>
            <p class="section-intro">By providing the right information in the right place to the right people, we believe that we can create a network of enthusiast researchers who can help each others.  We contacted the doctors, we built a platform.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-5 mentor-section-intro">
            <h2 class="english-field researchhub-section-header"><i class="fa  fa-rocket"></i><br>Together, we can ease the path towards excellent research!</h2>
            <p class="section-intro">What we offer on ResearchHub is an opprtunity! It is an opportunity for you to find a cooperative supervisor to start a project with, a project to get invovled in, and an skilled-student to get your pending tasks done!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1 mentor-section-intro">
            <h2 class="english-field researchhub-section-header"><i class="fa fa-umbrella"></i><br>Join us!</h2>
            <p class="section-intro">You can join us by multiple ways!  First of all, sign-up as a skilled student and write down your areas of interests.  Then if you have a project that you want other students to join to help with, offer it as an open project opportunity.  Finally, you can join our recruitment team that help us get supervisors enlisted in our database by <a href="researchhub@enjazportal.com">contacting us</a>.</p>
        </div>
    </div>
</div>
{% endblock %}