{% extends "researchhub_base.html" %}{% load staticfiles %}{% load researchhub_tags %}{% load l10n %}
{% block title %}{{ domain }} Supervisors{% endblock %}
{% block content %}
{% localize off %}
<div class="english-field">
    <h1 class="english-field">{{ domain }} Supervisors</h1>
    <p>Below you is the list of our super-helpful supervisors who are willing to oversee student-initiated projects in {{ domain }}.</p>
    <div class="row" style="margin-left: 0; margin-bottom: 5px;">
        <div style="float: right;">
            <a id="add-supervisor" class="btn btn-icon btn-success">
                <i class="fa fa-plus"></i>
               Add supervisor (existing account)
            </a>
        </div>
    </div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-available" data-target="#collapse-available" class="english-field collapsed">
                Shown supervisors
            </a>
        </h4>
    </div>
    <div id="collapse-available" class="panel-collapse collapse in">
        <div class="panel-body"><div class="row">
            <table class="display datatable dt-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Domain</th>
                        <th class="not-mobile">Interests</th>
                        <td class="not-mobile">Date added</td>
                        <td>Action</td>
                    </tr>
                </thead>
                 <tbody>
                    {% for supervisor in available_supervisors %}
                    <tr>
                        <td><a href="{% url 'researchhub:show_supervisor' supervisor.pk %}">Dr. {{ supervisor.user.common_profile.get_en_full_name }}</a></td>
                        <td>{{ supervisor.domain }}</td>
                        <td>{{ supervisor.interests|linebreaksbr }}</td>
                        <td data-order="{{ supervisor.submission_date|date:"U" }}">{{ supervisor.submission_date|date:"Y-n-j" }}</td>
                        <td>
                            {% if supervisor.is_hidden %}
                                <button class="btn btn-success btn-xs btn-supervisor" data-pk="{{ supervisor.pk }}" data-action="show">Show</button>
                            {% else %}
                                <button class="btn btn-danger btn-xs btn-supervisor" data-pk="{{ supervisor.pk }}" data-action="hide">Hide</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-unavailable" data-target="#collapse-unavailable" class="english-field collapsed">
                Hidden supervisors
            </a>
        </h4>
    </div>
    <div id="collapse-unavailable" class="panel-collapse collapse in">
        <div class="panel-body"><div class="row">
            <div class="col-offset-md-1 col-md-10">
                The following list contains the supervisors that are explicitly hidden, and that are not currently available.  By clicking 'Hide', you override the specified availability dates.
            </div>
            <table class="display datatable dt-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Specility</th>
                        <th class="not-mobile">Interests</th>
                        <td class="not-mobile">Date added</td>
                        <td>Action</td>
                    </tr>
                </thead>
                 <tbody>
                    {% for supervisor in unavailable_supervisors %}
                    <tr>
                        <td><a href="{% url 'researchhub:show_supervisor' supervisor.pk %}">Dr. {{ supervisor.user.common_profile.get_en_full_name }}</a></td>
                        <td>{{ supervisor.specialty }}</td>
                        <td>{{ supervisor.interests|linebreaksbr }}</td>
                        <td data-order="{{ supervisor.submission_date|date:"U" }}">{{ supervisor.submission_date|date:"Y-n-j" }}</td>
                        <td>
                            {% if supervisor.is_hidden and supervisor.is_within_availability_dates %}
                                <button class="btn btn-success btn-xs btn-supervisor" data-pk="{{ supervisor.pk }}" data-action="show">Show</button>
                            {% elif supervisor.is_within_availability_dates %}
                                <button class="btn btn-danger btn-xs btn-supervisor" data-pk="{{ supervisor.pk }}" data-action="hide">Hide</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    </div>
</div>

</div>
{% endlocalize %}
{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $(".datatable").DataTable({
            "order": [[ 3, "desc" ]],
        });
        $('.btn-supervisor').click(function(){
            var btn = this;
            var data = {'pk': $(this).data('pk'), 'action': $(this).data('action')};
            $.ajax({
                type: 'POST',
                data: data,
                dataType: 'json',
                url: '{% url 'researchhub:control_supervisors' %}',
                cache: false,
                success: function(data){
                    if (data['success'] == true){
                        $(btn).html('Done!');
                        $(btn).attr('disabled','disabled');
                    } else {
                        alert(data['message']);
                    }
                }
            });
        });
    });
</script>
{% include "researchhub/partials/add_supervisor_asset.html" %}
{% endblock %}
