{% extends "researchhub_base.html" %}{% load staticfiles %}{% load researchhub_tags %}
{% block title %}ResearchHub Supervisors{% endblock %}
{% block content %}
<div class="english-field">
    <h1 class="english-field">ResearchHub Domains</h1>
    <p></p>
{% for domain in domains %}
    <div class="row">


                <div class="col-md-4"><a class="book-image" style="background-image:url('{{ domain.image }}');" href="{% url 'researchhub:list_supervisors' domain.pk %}"></a>
                <h2><a href="{% url 'researchhub:list_supervisors' domain.pk %}">{{ domain.name }}</a></h2>
                    </div>
                <div class="col-md-8"><p style="color: #574802; background-color: #ffefa4; border-color: #ffd78a; width: 100%; font-size: 16px; text-align: justify; margin-right: auto; margin-left: auto;" class="alert section-intro">{{domain.description|linebreaksbr}}</p>
                    </div>

    </div>
    <hr>
    {% endfor %}

{% endblock %}
{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
{% endblock %}



