{% extends "researchhub_base.html" %}{% load staticfiles %}
{% block title %}ResearchHub Projects{% endblock %}
{% block content %}
<div class="english-field">
    <h1 class="english-field">ResearchHub Projects</h1>

    <p>Below you is the list of our projects that need help.</p>
    <div class="row" style="margin-left: 0; margin-bottom: 5px;">
        <div style="float: right;">
            <a id="add-project" class="btn btn-icon btn-success">
                <i class="entypo-plus"></i>
               Add project
            </a>
        </div>
    </div>
    <table class="display datatable dt-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Field</th>
                <th class="not-mobile">Supervisor</th>
                <td class="not-mobile">Date added</td>
            </tr>
        </thead>
         <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'researchhub:show_project' project.pk %}">{{ project.title }}</a></td>
                <td>{{ project.field }}</td>
                <td>{{ project.supervisor }}</td>
                <td data-order="{{ project.submission_date|date:"U" }}">{{ project.submission_date|date:"Y-n-j" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "researchhub/partials/feedback_footer.html" %}

{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $(".datatable").DataTable({
            "order": [[ 3, "desc" ]],
        });
    });
</script>
{% include "researchhub/partials/add_project_asset.html" %}
{% include "researchhub/partials/submit_feedback_asset.html" %}
{% endblock %}
