{% extends "researchhub_base.html" %}{% load staticfiles %}{% load researchhub_tags %}
{% block title %}{{ domain }} Supervisors{% endblock %}
{% block content %}
<div class="english-field">
    <h1 class="english-field">{{ domain }} Supervisors</h1>
    <p></p>

<table class="display datatable dt-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th class="not-mobile">Interests</th>
                <td class="not-mobile">Date added</td>
            </tr>
        </thead>
         <tbody>
            {% for supervisor in supervisors %}
            <tr>
                <td><a href="{% url 'researchhub:show_supervisor' supervisor.pk %}">Dr. {{ supervisor.user.common_profile.get_en_full_name }}</a></td>
                <td>{{ supervisor.interests|linebreaksbr }}</td>
                <td data-order="{{ supervisor.submission_date|date:"U" }}">{{ supervisor.submission_date|date:"Y-n-j" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p class="english-field">Let's hear from you <a id="submit-feedback"><i class="fa fa-commenting-o"></i> Submit A FeedBack</a></p>

{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $(".datatable").DataTable({
            "order": [[ 2, "desc" ]],
        });
    });
</script>
{% include "researchhub/partials/add_supervisor_asset.html" %}
{% include "researchhub/partials/submit_feedback_asset.html" %}
{% endblock %}
