{% extends 'researchhub_base.html' %}{% load researchhub_tags %}{% load staticfiles %}{% load l10n %}
{% block title %}Dr. {{ supervisor.user.common_profile.get_en_full_name }}{% endblock %}

{% block content %}
<div class="english-field">
    <h1>Dr. {{ supervisor.user.common_profile.get_en_full_name }}</h1>
    <a id="send-email"><i class="fa fa-envelope"></i> Send Email</a>
    {% if user|can_edit_supervisor:supervisor %}
    <div class="row" style="margin-left: 0; margin-bottom: 5px;">
        <div style="float: right;">
            <button id="edit-supervisor" class="btn btn-icon btn-success">
                <i class="entypo-pencil"></i>
                Edit
            </button>
            <button data-url="{% url 'researchhub:delete_supervisor' supervisor.pk %}" class="confirm-delete-supervisor btn btn-icon btn-danger">
                <i class="entypo-block"></i>
                Delete
            </button>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% if supervisor.avatar %}
        <div class="col-sm-4">
            <div style="text-align: center; border-left: solid 1px #eee;">
                <div class="book-image" style="background-image:url('{{ supervisor.avatar.url }}');"></div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-8">
            <table class="table-hover table">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-6">
                </colgroup>
                <tr>
                    <th>Domain</th>
                    <td>{{ supervisor.domain }}</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>{{ supervisor.user.common_profile.job_description|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th>Interests</th>
                    <td>{{ supervisor.interests|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th>Communication</th>
                    <td>{{ supervisor.communication|linebreaksbr }}</td>
                </tr>
                {% if supervisor.available_from %}
                <tr>
                    <th>Available from</th>
                    <td>{{ supervisor.available_from|date:"Y-n-j" }}</td>
                </tr>
                {% endif %}
                {% if supervisor.available_until %}
                <tr>
                    <th>Available until</th>
                    <td>{{ supervisor.available_until|date:"Y-n-j" }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Date added</th>
                    <td>{{ supervisor.submission_date|date:"Y-n-j" }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% include "researchhub/partials/feedback_footer.html" %}

{% endblock %}
{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script type="text/javascript">
$(function(){
    $('#edit-supervisor-modal').modal({
      keyboard: false,
      backdrop: 'static',
      show    : false,
    });
    $("button#edit-supervisor").click(function () {
        $("#edit-supervisor-modal").modal('show');

        $("#edit-supervisor-modal .modal-title").html("Edit {{ supervisor.user.common_profile.get_en_full_name }}");
        $("#edit-supervisor-modal .modal-body").load("{% url 'researchhub:edit_supervisor' supervisor.pk %}", function(){
            $("#id_available_from").attr('data-start-view', '1').datepicker({minDate: 0});
            $("#id_available_until").attr('data-start-view', '1').datepicker({minDate: 0});
        });

        var $submitButton = $("#edit-supervisor-modal button.submit-button");
        $submitButton.off('click');
        $submitButton.click(function () {
            $("form#edit-supervisor-form").submit();
        });
    });
});
{% include 'bulb/adjust_modal_size.js' %}
</script>
<style>
p{
    font-size: 17px;
}
</style>
{% with modal_id='edit-supervisor-modal' %}
    {% include "researchhub/partials/common_edit_modal.html" %}
{% endwith %}
{% with model='supervisor' %}
    {% include "researchhub/partials/delete_asset.html" %}
{% endwith %}
{% include "researchhub/partials/submit_feedback_asset.html" %}
{% include "researchhub/partials/send_email_asset.html" %}
{% endblock %}
