{% load bootstrap3 %}
<form enctype="multipart/form-data" id="submit-feedback-form" action="post">
{% csrf_token %}
<div class="english-field">
{% bootstrap_form form %}
</div>
</form>
<script type="text/javascript">
$(function () {

    // modify form submission behaviour to be ajaxy
    $("form#submit-feedback-form").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var formData = new FormData($(this)[0]); 
        var url = "{% url 'researchhub:submit_feedback' %}";

        /* Send the data */
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                if (data.message == "success") {

                    // show success message (using toastr)
                    toastr.options.positionClass = "toast-top-left";
                    toastr.success("The feedback has been successfully added.");

                    // hide modal
                    $("#submit-feedback-modal").modal('hide');

                } else {
                    $("#submit-feedback-modal .modal-body").html(data);
                }}
        });

    });
});
</script>
