{% extends 'userena/base_userena.html' %}{% load staticfiles %}
{% block rtlcss %}
    <link rel="stylesheet" href="{% static 'neon/assets/css/font-icons/font-awesome/css/font-awesome.min.css' %}">
{% endblock %}
{% block title %}ResearchHub Sign-up Form{% endblock %}
{% block description %}<span class="english-field">Please fill in the following form to complete your registration.</span>{% endblock %}

{% block content %}
<p class="english-field enjaz-warning"><i class="entypo-info"></i> The following form is dedicated for research supervisors invovled under the ResearchHub program.</p>

{{ form.errors }}

<form method="post" role="form" id="form_register">	
        {% csrf_token %}
	<div class="english-field">
			<div class="form-group">
				<div class="english-field input-group{% if form.en_first_name.errors or form.en_middle_name.errors or form.en_last_name.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="entypo-user"></i>
					</div>
					
					<input {% if form.en_first_name.value and not form.en_first_name.errors %}value="{{ form.en_first_name.value }}" {% endif %}type="text" class="english-field form-control" name="en_first_name" id="en_first_name" placeholder="First name" data-mask="[\-\. A-Za-z']+" data-is-regex="true" required="required"/>
					{% if form.en_first_name.errors %}
					    {% for error in form.en_first_name.errors %}
					        <label class='english-field error' for='en_first_name' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
					<input {% if form.en_middle_name.value and not form.en_middle_name.errors %}value="{{ form.en_middle_name.value }}" {% endif %}type="text" class="english-field form-control" name="en_middle_name" id="en_middle_name" placeholder="Middle name" data-mask="[\-\. A-Za-z']+" data-is-regex="true" required="required"/>
					{% if form.en_middle_name.errors %}
					    {% for error in form.en_middle_name.errors %}
					        <label class='english-field error' for='en_middle_name' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
					<input {% if form.en_last_name.value and not form.en_last_name.errors %}value="{{ form.en_last_name.value }}" {% endif %}type="text" class="english-field form-control" name="en_last_name" id="en_last_name" placeholder="Last name" data-mask="[\-\. A-Za-z']+" data-is-regex="true" required="required"/>
					{% if form.en_last_name.errors %}
					    {% for error in form.en_last_name.errors %}
					        <label class='english-field error' for='en_last_name' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group{% if form.job_description.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="entypo-vcard"></i>
					</div>
					<textarea {% if form.job_description.value and not form.job_description.errors %}value="{{ form.job_description.value }}" {% endif %}type="text" class="form-control english-field" name="job_description" id="job_description" placeholder="Position/Title" required="required"></textarea>
					{% if form.job_description.errors %}
					    {% for error in form.job_description.errors %}
					        <label class='error' for='job_description' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>  
			</div>
			<div class="form-group">
				<div class="input-group{% if form.specialty.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="fa fa-stethoscope"></i>
					</div>
					
					<input {% if form.specialty.value and not form.specialty.errors %}value="{{ form.specialty.value }}" {% endif %}type="text" class="english-field form-control" name="specialty" id="specialty" placeholder="Specialty" required="required"/>
					{% if form.specialty.errors %}
					    {% for error in form.specialty.errors %}
					        <label class='error' for='specialty' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group{% if form.badge_number.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="entypo-vcard"></i>
					</div>
					
					<input {% if form.badge_number.value and not form.badge_number.errors %}value="{{ form.badge_number.value }}" {% endif %}type="text" class="english-field form-control" name="badge_number" id="badge_number" placeholder="Badge number" data-mask="\d+" data-is-regex="true" required="required"/>
					{% if form.badge_number.errors %}
					    {% for error in form.badge_number.errors %}
					        <label class='error' for='badge_number' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="english-field input-group{% if form.email.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="entypo-mail"></i>
					</div>
					
					<input {% if form.email.value and not form.email.errors %}value="{{ form.email.value }}" {% endif %}type="text" class="english-field form-control" name="email" id="email" {% if not form.email.errors %}placeholder="Email address"{% endif %}  required="required"/>
					{% if form.email.errors %}
					    {% for error in form.email.errors %}
					        <label class='english-field error' for='email' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group{% if form.city.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="entypo-docs"></i>
					</div>
					<select {% if form.city.value and not form.city.errors %}value="City" {% endif %}class="english-field form-control" id="city" name="city"  title="{{ form.city.label }}" required="required">
                                                <option value="">{{ form.city.label }}</option>
                                                {% for value, label in form.fields.city.widget.choices %}
                                                <option {% if form.city.value == value %}selected="selected" {% endif %}value="{{ value }}">{{ label }}</option>{% endfor %}
					</select>
					{% if form.city.errors %}
					    {% for error in form.city.errors %}
					        <label class='error' for='city' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group{% if form.communication.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="fa fa-phone"></i>
					</div>
					<textarea {% if form.communication.value and not form.communication.errors %}value="{{ form.communication.value }}" {% endif %}type="text" class="form-control english-field" name="communication" id="communication" placeholder="Prefered communication method" required="required"></textarea>
					{% if form.communication.errors %}
					    {% for error in form.communication.errors %}
					        <label class='error' for='communication' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>  
			</div>
			<div class="form-group">
				<div class="input-group{% if form.interests.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="fa fa-heart"></i>
					</div>
					<textarea {% if form.interests.value and not form.interests.errors %}value="{{ form.interests.value }}" {% endif %}type="text" class="form-control english-field" name="interests" id="interests" placeholder="Research areas of interest" required="required"></textarea>
					{% if form.interests.errors %}
					    {% for error in form.interests.errors %}
					        <label class='error' for='interests' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>  
			</div>
            <div class="form-group" style="text-align: justify;">
                <div class="checkbox">
                    <label>
                        <input checked type="checkbox" id="available">I am currently available.
                    </label>
                </div>
            </div>
			<div id="available-from-group" class="form-group">
				<div class="input-group{% if form.available_from.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="fa fa-play"></i>
					</div>
					
					<input {% if form.available_from.value and not form.available_from.errors %}value="{{ form.available_from.value }}" {% endif %}type="text" class="english-field form-control" name="available_from" id="available_from" placeholder="Available from" />
					{% if form.available_from.errors %}
					    {% for error in form.available_from.errors %}
					        <label class='error' for='available_from' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group{% if form.available_until.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="fa fa-pause"></i>
					</div>
					
					<input {% if form.available_until.value and not form.available_until.errors %}value="{{ form.available_until.value }}" {% endif %}type="text" class="english-field form-control" name="available_until" id="available_until" placeholder="Available until (optional)" />
					{% if form.available_until.errors %}
					    {% for error in form.available_until.errors %}
					        <label class='error' for='available_until' style='display: inline-block'>{{ error|escape }}</label>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group{% if form.password1.errors or form.password2.errors %} validate-has-error{% endif %}">
					<div class="input-group-addon">
						<i class="entypo-key"></i>
					</div>
					
					<input type="password" class="english-field form-control" name="password1" id="password1" placeholder="Password" autocomplete="off" required="required"/>
					<input type="password" class="english-field form-control" name="password2" id="password2" placeholder="Confirm your password" autocomplete="off" required="required"/>
				</div>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-block btn-login">
					<i class="entypo-right-open-mini"></i>
					Sign-up!
				</button>
			</div>
	</div>
</form>
</div>
{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'neon/assets/js/selectboxit/jquery.selectBoxIt.css' %}" id="style-resource-3">
<script src="{% static 'neon/assets/js/selectboxit/jquery.selectBoxIt.min.js' %}" id="script-resource-11"></script>
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
<script src="{% static 'neon/assets/js/jquery.inputmask.bundle.min.js' %}"></script>
<script type="text/javascript">
    $(function(){
        if (!$("#available_from").val()){
            $("#available-from-group").hide();
        }
        $("#available_from").attr('data-start-view', '1').datepicker({minDate: 1,
                                                                      onClose: function( selectedDate ) {
                                                                          $( "#available_until" ).datepicker( "option", "minDate", selectedDate );
                                                                      }});
        $("#available_until").attr('data-start-view', '1').datepicker({minDate: 1,
                                                                      onClose: function( selectedDate ) {
                                                                          $( "#available_from" ).datepicker( "option", "maxDate", selectedDate );
                                                                      }});
        $('#available').change(function(){
            if (this.checked){
                $("#available-from-group").hide();
                $("#available_from").removeAttr("required")
                $("#available_from").val("");
            } else {
                $("#available-from-group").show();
                $("#available_from").attr('required', 'required')
            }
        });
    });
</script>
{% endblock %}
