{% load static %}{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="ar" dir="rtl" >

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TEDxKSAUHS لو أن</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="{% static 'tedx/bootstrap/css/bootstrap-theme-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'tedx/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'tedx/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'tedx/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'tedx/css/style.css' %}">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <style>
      @font-face {
    font-family: 'GE Dinar One';
    font-weight: normal;
    src: url("{% static 'fonts/ge-dinar-one-light.woff' %}");
}

html, body{
  height: 100%;
}

      body {
  font-family: 'GE Dinar One'
}

.f1 fieldset {
    text-align: right;
}

.intro{
  padding: 15px;
  background: white;
  color: black;
  border-radius: 5px;
}

.top-content .description p.intro a{
  color: red;
}

body{
background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) ), url('{% static 'tedx/img/backgrounds/1@2x.jpg' %}');
background-size: cover;
background-attachment: fixed;
}

input[type="text"], textarea{
  color: black;
}

.f1-step{
float: right;
}

.f1-progress-line{
right: 0;
}

footer{
  margin-top: 40px;
}

.checkbox input[type="checkbox"]{
  margin-right: -20px;
  margin-left: 0;
}

.checkbox label{
  padding-right: 20px;
  padding-left: 0;
}
    </style>
    </head>
    <body>
  {% bootstrap_form_errors form %}
		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">TEDxKSAUHS</a>
				</div>
				<!-- Collect the navstatic filesstatic files links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-text">
								لمتابعة مستجدات
							</span>
							<a href="#"><strong>TEDxKSAUSH</strong></a>

							<span class="li-social">

		<a href="https://twitter.com/TEDxKSAUHS" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://tedxksauhs.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
		<a href="https://t.me/StudentsofKSAUH" target="_blank"><i class="fa fa-paper-plane"></i></a>

		<a href="https://www.snapchat.com/add/studentsofksauh" target="_blank"><i class="fa fa-snapchat-ghost"></i></a>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>تسجيل حضور<br>  <span style="color: #ff2b06;">TED<sup>x</sup></span></b> KSAUHS.</h1>
                        <div class="description">
                       	  <p class="intro">
			 ينظّم نادي الطلاب في جامعة الملك سعود بن عبد العزيز للعلوم الصحية" <a href="https://tedxksauhs.com/"><b><strong>تدكس "لو أن"</strong></b></a> في يوم السبت 15 أبريل في مركز المؤتمرات في جامعةالملك سعود بن عبدالعزيز للعلوم الصحية!

			    </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form role="form" method="post" class="f1">
                        {% csrf_token %}
                    		<h3>سجّل في تدكس "لو أن"</h3>
                    		<p>سنتعرف عليك من خلال النموذج التالي ;)</p>
                    		<div class="f1-steps">
                    			<div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                    			</div>
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    				<p>معلومات شخصية</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    				<p>عن TEDx</p>
                    			</div>
                    		    <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-calendar"></i></div>
                    				<p>عن الحدث</p>
                    			</div>
                    		</div>

                    		<fieldset>
                    		    <h4>أخبرنا عن نفسك:</h4>
                    			<div class="form-group">
                    			    <label class="sr-only" for="id_name">أسمك</label>
					   {% bootstrap_field form.name show_label=False %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_gender">الجندر</label>
                                        <select {% if form.gender.value and not form.gender.errors %}value="{{ form.gender.value }}" {% endif %}class="form-control" id="id_gender" name="gender"  title="{{ form.gender.label }}" required>
                                                <option value="">{{ form.gender.label }}</option>
                                                {% for value, label in form.fields.gender.widget.choices %}{% if value %}
                                                <option {% if form.gender.value == value %}selected="selected" {% endif %}value="{{ value }}">{{ label }}</option>{% endif %}{% endfor %}

					</select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_age">العمر</label>
			 {% bootstrap_field form.age show_label=False placeholder="العمر" %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_mobile">رقم الجوال</label>
				    {% bootstrap_field form.mobile show_label=False %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_email">البريد الإلكتروني</label>
				     {% bootstrap_field form.emial show_label=False  %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_city">المدينة</label>
                                  {% bootstrap_field form.city show_label=False  %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_fromNGH">من منسوبي ومنسوبات الحرس الوطني؟</label>
                                     {% bootstrap_field form.fromNGH %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_job_title"></label>
                                  {% bootstrap_field form.job_title show_label=False  %}

                                </div>
                                <div class="form-group">
                                  <label class="sr-only" for="id_yourself">تحدث عن نفسك</label>
				  {% bootstrap_field form.yourself show_label=False  %}

                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">التالي</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>عن TEDx:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="id_about_tedx">تحدث عن TEDx</label>
					    {% bootstrap_field form.about_tedx show_label=False  %}

                                </div>

                                <div class="form-group">
				   {% bootstrap_field form.attend_tedx %}
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="id_past_experience">تحدث عن تجربتك السابقة</label>
					    {% bootstrap_field form.past_experience show_label=False %}

                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="id_referral">كيف سمعت عن TEDxKSAUSH?</label>
					    {% bootstrap_field form.referral show_label=False %}
                                </div>

                                <div class="form-group">
                                      <label class="sr-only" for="id_expectations">ماذا تتوقع من TEDxKSAUSH?</label>
					    {% bootstrap_field form.expectations show_label=False %}

                                </div>

                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">عودة</button>
                                    <button type="button" class="btn btn-next">التالي</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>عن الحدث:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="id_meaning">ماذا تعني لك "لو أن"؟</label>
					    {% bootstrap_field form.meaning show_label=False %}

                                </div>

                                <div class="form-group">
                                    {% bootstrap_field form.interview  %}
				</div>

                                <div class="form-group">
                                  {% bootstrap_field form.take_pic %}
				</div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_your_interest">اختر أحد الاهتمامات التالية التي تناسب ميولك:</label>
                                     <select {% if form.your_interest.value and not form.your_interst.errors %}value="{{ form.your_interest.value }}" {% endif %}class="form-control" id="id_your_interest" name="your_interest"  title="{{ form.your_interest.label }}" required>
                                                <option value="">{{ form.your_interest.label }}</option>
                                                {% for value, label in form.fields.your_interest.widget.choices %}
                                                <option {% if form.your_interest.value == value %}selected="selected" {% endif %}value="{{ value }}">{{ label }}</option>{% endfor %}
					 </select>
                                </div>

                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">عودة</button>
                                    <button type="submit" class="btn btn-submit">سجلني</button>
                                </div>
                            </fieldset>

                    	</form>
                    </div>
                </div>
<footer>
  <p class="text-center">بُني بأيدٍ طلابية. حقّك في النسخ مكفول.</p>
</footer
            </div>
        </div>


        <!-- Javascript -->
        <script src="{% static 'tedx/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'tedx/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'tedx/js/retina-1.1.0.min.js' %}"></script>
        <script src="{% static 'tedx/js/scripts.js' %}"></script>
{%  if user.is_authenticated and not user.is_superuser and not user.common_profile.canceled_twitter_connection and not user.social_auth.exists %}
<!---Twitter Modal -->>
<div class="modal fade" id="connect-twitter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body ativa-scroll text-center">
          <h2>بات الآن ممكنا إخبار الأصدقاء عن أنشطة النادي!</h2>
          <p>يتيح ربط حساب بوابة إنجاز بحسابك على تويتر إخبار متابعيك ومتابعاتك عن أنشطة النادي، ومساعدتهم في اكتشافها!</p>
          <p>بعد الربط، سوف تُكتب تغريدة آلية في حسابك عندما تؤكد انضمامك لأحد الأنشطة، ويمكنك إلغاء الربط في أي وقت.</p>
          <div class="row">
              <a style="color: #1da1f3;" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg"><i class="fa fa-twitter fa-4x"></i><br>اربط حسابي بتويتر</a>
          </div>
          <div class="row">
                  <a id="cancel-twitter-connection" style="color: rgb(243, 29, 89)"><i class="fa fa-times fa-4x"></i><br> لا تسألني مُجدًدا</a>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$(function(){
    $('#connect-twitter').modal({
      keyboard: true,
      backdrop: 'static',
    });
    $("#cancel-twitter-connection").click(function(){
        $.ajax({
            url: "{% url 'cancel_twitter_connection' %}",
            type: 'GET',
            cache: false,
            success: function(data){
                // show success message (using toastr)
                toastr.options.positionClass = "toast-top-left";
                toastr.success("لن يظهر السؤال مُجددًا.");
                // hide modal
                $("#connect-twitter").modal('hide');
            }
        });

    });
});
</script>
{% endif %}
<script type="text/javascript">
    function makeGenderless() {
        if ($("#id_gender").val() == 'F') {
            reverse_replacement = false;
        } else {
            reverse_replacement = true;
        }
        replaceLabel("id_interview", "تقبل", "تقبلين", reverse_replacement);
        replaceLabel("id_take_pic", "تقبل", "تقبلين", reverse_replacement);
        replaceLabel("id_your_interest", "اختر", "اختاري", reverse_replacement);
        replaceLabel("id_expectations", "تتوقع", "تتوقعين", reverse_replacement);
        replaceLabel("id_referral", "سمعت", "سمعتي", reverse_replacement);
        replaceLabel("id_your_interest", "اختر", "اختاري", reverse_replacement);
        replaceLabel("id_past_experience", "تحدث", "تحدثي", reverse_replacement);
        replaceLabel("id_about_tedx", "تحدث", "تحدثي", reverse_replacement);
        replaceLabel("id_yourself", "تحدث", "تحدثي", reverse_replacement);
        replaceLabel("id_attend_tedx", "حضرت", "حضرتي", reverse_replacement);    }

    function replaceLabel(input_id, original, replacement, reverse_replacement) {
        label_selector = "label[for=" + input_id + "]"
        if (reverse_replacement) {
            $(label_selector).html($(label_selector).html().replace(replacement, original));
        } else {
            $(label_selector).html($(label_selector).html().replace(original, replacement));
        }
        $("#" + input_id).attr("placeholder", $(label_selector).html());
    }
    $(function() {
        $("#id_gender").change(makeGenderless);
        makeGenderless();
    });
</script>
    </body>

</html>
