{% extends 'tedx/base.html' %}{% load bootstrap3 %}
{% block content %}
{#                <div class="row">#}
{#                    <div class="col-sm-8 col-sm-offset-2 text">#}
{#                        <h1>تسجيل حضور<br>  <span style="color: #ff2b06;">TED<sup>x</sup></span></b> KSAUHS.</h1>#}
{#                        <div class="description">#}
{#                       	  <p class="intro"> أهلا {{ user.common_profile.ar_first_name|default:user.username }}!<br>#}
{#			 يُنظّم نادي الطلاب في جامعة الملك سعود بن عبد العزيز للعلوم الصحية <a href="https://tedxksauhs.com/"><b><strong>تدكس "لو أن"</strong></b></a> في يوم السبت 15 أبريل في <a target="_blank" href="https://goo.gl/maps/XQ3Cctff1qH2">مركز المؤتمرات</a> في جامعةالملك سعود بن عبدالعزيز للعلوم الصحية!#}
{#       {% if not user.is_authenticated %}#}
{#       <br>#}
{#       <span style="background: yellow; padding: 4px;">#}
{#       هل لديك حساب على إنجاز؟ <a href="{% url 'userena_signin' %}?next={{ request.path }}">نأمل الحرص على تسجيل الدخول لتسهيل التواصل معك</a>!#}
{#     </span>#}
{#       {% endif %}#}
{##}
{#			    </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                        {% bootstrap_form_errors form %}
                        {% bootstrap_messages %}
                    	<form role="form" method="post" class="f1">
                        {% csrf_token %}
                    		<h3>التسجيل في تدكس </h3>
                    		<p>سنتعرف عليك من خلال النموذج التالي ;)</p>
                    		<div class="f1-steps">
                    			<div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="25" data-number-of-steps="2" style="width: 50%;"></div>
                    			</div>
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    				<p>معلومات شخصية</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    				<p>عن TEDx</p>
                    			</div>

                    		</div>

                    		<fieldset>
                    		    <h4>أخبرنا عن نفسك:</h4>
                    			<div class="form-group">
                    			    <label class="sr-only" for="id_name">أسمك</label>
					   {% bootstrap_field form.name show_label=False %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_gender">الجندر</label>
                                        <select {% if form.gender.value and not form.gender.errors %}value="{{ form.gender.value }}" {% endif %}class="form-control" id="id_gender" name="gender"  title="{{ form.gender.label }}"  required="required">
                                                <option value="">{{ form.gender.label }}</option>
                                                {% for value, label in form.fields.gender.widget.choices %}{% if value %}
                                                <option {% if form.gender.value == value %}selected="selected" {% endif %}value="{{ value }}">{{ label }}</option>{% endif %}{% endfor %}

					                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_age">العمر</label>
			 {% bootstrap_field form.age show_label=False placeholder="العمر" %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_mobile">رقم الجوال</label>
				    {% bootstrap_field form.mobile show_label=False %}

                                </div>
                                <div class="form-group english-field">
                                    {{ form.emial.errors.as_ul }}
                                    <label class="sr-only" for="id_email">البريد الإلكتروني</label>
				     {% bootstrap_field form.emial show_label=False required_css_class='required' %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_city">المدينة</label>
                                  {% bootstrap_field form.city show_label=False  %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_fromNGH">من منسوبي ومنسوبات الحرس الوطني؟</label>
                                     {% bootstrap_field form.fromNGH %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_job_title"></label>
                                  {% bootstrap_field form.job_title show_label=False  %}

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="id_work_place"></label>
				                    {% bootstrap_field form.work_place show_label=False %}

                                </div>
{#                                <div class="form-group">#}
{#                                  <label class="sr-only" for="id_yourself">تحدث عن نفسك</label>#}
{#				  {% bootstrap_field form.yourself show_label=False  %}#}
{##}
{#                                </div>#}
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">التالي</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>عن TEDx:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="id_about_tedx">ماذا تعرف عن TEDx</label>
					    {% bootstrap_field form.about_tedx show_label=False  %}

                                </div>

                                <div class="form-group">
				   {% bootstrap_field form.attend_tedx %}
                                </div>

{#                                <div class="form-group">#}
{#                                    <label class="sr-only" for="id_past_experience">تحدث عن تجربتك السابقة</label>#}
{#					    {% bootstrap_field form.past_experience show_label=False %}#}
{##}
{#                                </div>#}

{#                                <div class="form-group">#}
{#                                    <label class="sr-only" for="id_referral">كيف سمعت عن TEDxKSAUSH?</label>#}
{#					    {% bootstrap_field form.referral show_label=False %}#}
{#                                </div>#}
                                <div class="form-group">
                                      <label class="sr-only" for="id_expectations">ماذا تتوقع أن تستفيد من  TEDxKSAUSH?</label>
					    {% bootstrap_field form.expectations show_label=False %}

                                </div>

                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">عودة</button>
                                    <button type="submit" class="btn btn-submit">سجلني</button>

                                </div>
                            </fieldset>
{##}
{#                            <fieldset>#}
{#                                <h4>عن الحدث:</h4>#}
{#                                <div class="form-group">#}
{#                                    <label class="sr-only" for="id_meaning">ماذا تعني لك "لو أن"؟</label>#}
{#					    {% bootstrap_field form.meaning show_label=False %}#}
{##}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    {% bootstrap_field form.interview  %}#}
{#				</div>#}
{##}
{#                                <div class="form-group">#}
{#                                  {% bootstrap_field form.take_pic %}#}
{#				</div>#}
{#                                <div class="form-group">#}
{#                                    <label class="sr-only" for="id_your_interest">اختر أحد الاهتمامات التالية التي تناسب ميولك:</label>#}
{#                                     <select {% if form.your_interest.value and not form.your_interst.errors %}value="{{ form.your_interest.value }}" {% endif %}class="form-control" id="id_your_interest" name="your_interest"  title="{{ form.your_interest.label }}" required>#}
{#                                                <option value="">{{ form.your_interest.label }}</option>#}
{#                                                {% for value, label in form.fields.your_interest.widget.choices %}#}
{#                                                <option {% if form.your_interest.value == value %}selected="selected" {% endif %}value="{{ value }}">{{ label }}</option>{% endfor %}#}
{#					 </select>#}
{#                                </div>#}
{##}
{#                                <div class="f1-buttons">#}
{#                                    <button type="button" class="btn btn-previous">عودة</button>#}
{#                                    <button type="submit" class="btn btn-submit">سجلني</button>#}
{#                                </div>#}
{#                            </fieldset>#}

                    	</form>
                    </div>
                </div>
{% endblock %}
{% block customscript %}
{%  if user.is_authenticated and not user.is_superuser and not user.common_profile.canceled_twitter_connection and not user.social_auth.exists %}
<!---Twitter Modal -->>
<div class="modal fade" id="connect-twitter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body ativa-scroll text-center">
          <h2>بات الآن ممكنا إخبار الأصدقاء عن أنشطة النادي!</h2>
          <p>يتيح ربط حساب بوابة إنجاز بحسابك على تويتر إخبار متابعيك ومتابعاتك عن أنشطة النادي، ومساعدتهم في اكتشافها!</p>
          <p>بعد الربط، سوف تُكتب تغريدة آلية في حسابك عندما تؤكد انضمامك لأحد الأنشطة، ويمكنك إلغاء الربط في أي وقت.</p>
          <div class="row">
              <a style="color: #1da1f3;" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg"><i class="fa fa-twitter fa-4x"></i><br>اربط حسابي بتويتر</a>
          </div>
          <div class="row">
                  <a id="cancel-twitter-connection" style="color: rgb(243, 29, 89)"><i class="fa fa-times fa-4x"></i><br> لا تسألني مُجدًدا</a>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$(function(){
    $('#connect-twitter').modal({
      keyboard: true,
      backdrop: 'static',
    });
    $("#cancel-twitter-connection").click(function(){
        $.ajax({
            url: "{% url 'cancel_twitter_connection' %}",
            type: 'GET',
            cache: false,
            success: function(data){
                // show success message (using toastr)
                toastr.options.positionClass = "toast-top-left";
                toastr.success("لن يظهر السؤال مُجددًا.");
                // hide modal
                $("#connect-twitter").modal('hide');
            }
        });

    });
});
</script>
{% endif %}
<script type="text/javascript">
    function makeGenderless() {
        if ($("#id_gender").val() == 'F') {
            reverse_replacement = false;
            $("fieldset h4:first").html($("fieldset h4:first").html().replace("أخبرنا", "أخبرينا"));
        } else {
            reverse_replacement = true;
            $("fieldset h4:first").html($("fieldset h4:first").html().replace("أخبرينا", "أخبرنا"));
        }
        replaceLabel("id_interview", "تقبل", "تقبلين", reverse_replacement);
        replaceLabel("id_take_pic", "تقبل", "تقبلين", reverse_replacement);
        replaceLabel("id_your_interest", "اختر", "اختاري", reverse_replacement);
        replaceLabel("id_expectations", "تتوقع", "تتوقعين", reverse_replacement);
        replaceLabel("id_referral", "سمعت", "سمعتي", reverse_replacement);
        replaceLabel("id_your_interest", "اختر", "اختاري", reverse_replacement);
        replaceLabel("id_past_experience", "تحدث", "تحدثي", reverse_replacement);
        replaceLabel("id_about_tedx", "تحدث", "تحدثي", reverse_replacement);
        replaceLabel("id_yourself", "تحدث", "تحدثي", reverse_replacement);
        replaceLabel("id_attend_tedx", "حضرت", "حضرتي", reverse_replacement);    }

    function replaceLabel(input_id, original, replacement, reverse_replacement) {
        label_selector = "label[for=" + input_id + "]"
        if (reverse_replacement) {
            $(label_selector).html($(label_selector).html().replace(replacement, original));
        } else {
            $(label_selector).html($(label_selector).html().replace(original, replacement));
        }
        $("#" + input_id).attr("placeholder", $(label_selector).html());
    }
    $(function() {
        $("#id_gender").change(makeGenderless);
        makeGenderless();
    });
</script>
{% endblock %}
