{% extends 'tedx/base.html' %}
{% block content %}
<div class="row">
 <div  class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 intro">
    <h1>تمّ إغلاق التسجيل!</h1>
    <p> نأسف ، تمّ إغلاق تسجيل الحضور.
      <br> نشكر كل من سجل معنا وسنتواصل قريبًا مع المسجلين والمسجلات من تمّ قبولهم.
      <br> نلقاكم على خير في فعاليات أخرى قادمة!</p>
    <p> يمكنكم أيضا متابعة
    <a href="https://twitter.com/TEDxKSAUHS" target="_blank">حسابنا على تويتر</a> و
    <a href="https://t.me/StudentsofKSAUH" target="_blank">قناتنا على تلغرام</a> لمعرفة مستجدات الحدث!
  </p>
 </div>
 </div>
{% endblock %}
