{% extends "front/front_base.html" %}
{% block title %}عن{% endblock %}
{% block content %}

<section class="features-blocks">
	
	<div class="container">
		
		<div class="row vspace">			
			<div class="col-sm-12">
				
				<div class="feature-block">
					<h2 class="dinar-medium">
						عن
					</h2>

<div class="dinar-light description">
<p>بوابة إنجاز بوابة إلكترونية متكاملة للنشاطات الطلابية، بدأت كنقلة نوعية في تنظيم النشاطات في نادي الطلاب. بنيت البوابة خصيصا لتعزيز الاستفادة من أحدث تقنيات تطوير مواقع الإنترنت لأتمتة العمل الإداري، وتقليل الحاجة للمراسلات، وتمكين الطلاب. بدأت الفكرة صغيرة، ونمت سريعا لتشمل جوانب عديدة في حياة الطلاب الجامعية كاستعارة الكتب، وتسجيل النقاط، والانضمام للنوادي الطلابية.</p>

<p>هذه البوابة جهد طلابي خالص. تولى التطوير سعيد عرابي، و<a href="https://osamakhalid.com">أسامة المبيريك</a>، وأشرف على إنجاز العمل معاذ أبو عباة وخالد العبد الجبار من رئاسة نادي الطلاب.</p>

<p>البوابة من الطلاب وإليهم ونتطلع لآرائكم واقتراحاتكم عبر بريدها: hello@enjazportal.com.</p>

<p>هذه البوابة <a href="http://getsoftwarefreedom.org/">حُرّة</a>، هذا يعني أنها <a href="https://github.com/osamak/student-portal">منشورة بكامل أجزائها</a> ويسعدنا أن يستفيد الجميع منها، وأن يساهموا في تطويرها إيمانًا بنا بضرورة التكافل والتعاون.</p>
				</div>
			</div>
		</div>
		
	</div>
	
</section>
{% endblock %}

