{% extends "base.html" %}
{% block title %}عن{% endblock %}
{% block content %}
<p>بوابة إنجاز بوابة إلكترونية متكاملة للنشاطات الطلابية اللاصفية طوّرها الطالبان سعيد عرابي، و<a href="http://osamakhalid.com">أسامة المبيريك</a>، وأشرف على العمل معاذ أبو عباة وخالد العبد الجبار من رئاسة نادي الطلاب.  البوابة مرجع متكامل: لاستعراض النشاطات واقتراحها واعتمادها، وللاطلاع على أندية الجامعة والتسجيل فيها، وتسجيل النقاط وتتبعها، وتسهيل إعارة الكتب بين الطلاب واستعارتها.  تعتبر البوابة نقلة نوعية وتدشينا لمرحلة جديدة لتنظيم النشاطات على مستوى الجامعة.</p>

<p>البوابة من الطلاب وإليهم ونتطلع لآرائكم واقتراحاتكم عبر بريدها: hello@enjazportal.com.</p>

<p>هذه البوابة <a href="http://getsoftwarefreedom.org/">حُرّة</a>، هذا يعني أنها <a href="https://github.com/osamak/student-portal">منشورة بكامل أجزائها</a> ويسعدنا أن ستفيد الجميع منها، وأن يساهموا في تطويرها إيمانًا بنا بضرورة التكافل والتعاون.</p>
{% endblock %}

