{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	
	<title>إنجاز | {% block title %}{% endblock %}</title>
	
	<style>
		@font-face {
		  font-family: 'GE Dinar One';
		  font-weight: lighter;
		  font-size: xx-large;
		  src: url("{% static 'fonts/ge-dinar-one-light.woff' %}");
		}
		
		@font-face {
		  font-family: 'GE Dinar One';
		  font-weight: normal;
		  src: url("{% static 'fonts/ge-dinar-one-med.woff' %}");
		}
	</style>
	
	<!--<link rel="stylesheet" href="{% static 'neon/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css' %}">-->
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/font-icons/entypo/css/entypo.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="{% static 'neon/assets/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/neon-core.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/neon-theme.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/neon-forms.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/neon-rtl.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/skins/green.css' %}">
	
	<style>
	
		.sidebar-menu #main-menu li,
		.main-content .user-info li a,
		body {
			font-family: "GE Dinar One", Arial;
			font-weight: lighter;
			/*font-size: large !important;*/
		}
		
		.dinar-medium {
			font-family: "GE Dinar One", Arial;
			font-weight: normal;
			/*font-size: large !important;*/
		}
		
	</style>

	<script src="{% static 'neon/assets/js/jquery-1.11.0.min.js' %}"></script>

	<!--[if lt IE 9]><script src="{% static 'neon/assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	
</head>
<body class="page-body skin-green" data-url="http://neon.dev">

<div class="page-container right-sidebar"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->	
	
		<div class="sidebar-menu">
		
			
		<header class="logo-env">
			
			<!-- logo -->
			<div class="logo">
				<a href="{% url 'home' %}">
					<img src="{% static 'logo/enjaz_portal_logo_white.png' %}" width="170" alt="" />
				</a>
			</div>
			
						<!-- logo collapse icon -->
						
			<div class="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
					<i class="entypo-menu"></i>
				</a>
			</div>
			
									
			
			<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
			<div class="sidebar-mobile-menu visible-xs">
				<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
					<i class="entypo-menu"></i>
				</a>
			</div>
			
		</header>
				
		
		
				
		
				
		<ul id="main-menu" class="">
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			<li>
				<a href="{% url 'clubs:list' %}">
					<i class="entypo-users"></i>
					<span>نوادي</span>
				</a>
			</li>
			<li>
				<a href="{% url 'activities:list' %}">
					<i class="entypo-calendar"></i>
					<span>أنشطة</span>
				</a>
			</li>
			<li>
				<a href="{% url 'niqati:index' %}">
					<i class="entypo-chart-bar"></i>
					<span>نقاطي</span>
				</a>
			</li>
			<li>
				<a href="{% url 'books:list' %}">
					<i class="entypo-book"></i>
					<span>كتب</span>
				</a>
			</li>
		</ul>
				
	</div>	
	<div class="main-content">
	
	<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand dinar-medium" href="#">{% block pageheader %}{% endblock %}</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			{% block navbar %}{% endblock %}
		</ul>
		<ul class="nav navbar-nav navbar-left">
			<li>
                                {% if user.is_authenticated %}
				<a href="{% url 'userena_signout' %}">تسجيل الخروج</a>
                                {% else %}
                                <a style="display: table-cell;" href="{% url 'userena_signin' %}">ادخل</a>
                                <a style="display: table-cell;" href="{% url 'userena_signup' %}">سجّل</a>
                                {% endif %}
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>
	
	<div class="col-md-12 col-sm-8 clearfix">
{% block content %}

{% endblock %}

	</div>
</div>
</div>


	<!-- Bottom Scripts -->
	<script src="{% static 'neon/assets/js/gsap/main-gsap.js' %}"></script>
	<!--<script src="{% static 'neon/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js' %}"></script>-->
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'neon/assets/js/neon-demo.js' %}"></script>
	<script src="{% static 'neon/assets/js/bootstrap.js' %}"></script>
	<script src="{% static 'neon/assets/js/joinable.js' %}"></script>
	<script src="{% static 'neon/assets/js/resizeable.js' %}"></script>
	<script src="{% static 'neon/assets/js/neon-api.js' %}"></script>
	<script src="{% static 'neon/assets/js/neon-custom.js' %}"></script>
	<script src="{% static 'neon/assets/js/neon-demo.js' %}"></script>
{% if request.get_host == 'enjazportal.com' or request.get_host == 'www.enjazportal.com' %}
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://enjazportal.com/stats/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 1]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//enjazportal.com/stats/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
{% endif %}
</body>
</html>
