<table class="table table-hover">
    <tr>
        <th>الاسم</th>
        <td>{{ bulb_coordinator.common_profile.get_ar_full_name }}</td>
    </tr>
    <tr>
        <th>الكلية</th>
        <td>{{ bulb_coordinator.common_profile.college.get_name_display }}</td>
    </tr>
    {# Per Dhabiah's request, no mobile number of her. #}
    <tr>
        <th>البريد</th>
        <td class="english-field">
            {% if bulb_coordinator.common_profile.college.gender == 'F' %}
            <a href="mailto:qdhabiah@gmail.com">qdhabiah@gmail.com</a>
            {% else %}
            <a href="mailto:{{ bulb_coordinator.email }}">{{ bulb_coordinator.email }}</a>
            {% endif %}
        </td>
    </tr>
    {% if not bulb_coordinator.common_profile.college.gender == 'F' %}
    <tr>
        <th>رقم الجوال</th>
        <td>{{ bulb_coordinator.common_profile.mobile_number }}</td>
    </tr>
    {% endif %}
</table>