            <h3 class="dinar-light">اختر جدولك</h3>
            <p>يتكون مؤتمر التخصّصات الصحيّة من فعاليات حافلة تمتد لثلاثة أيام!  يمكنك أدناه اختيار الفعاليات التي تودّ المشاركة فيها خلال الأيام الثلاثة. يمكنك الاطلاع على <a href="https://hpc.enjazportal.com/programs/">تفاصيل جدول المؤتمر</a>.</p>
            <div class="day-section">
                <h4 class="dinar-light">برامج الكليّات في اليوم الثاني<br>(27 يناير)</h4>
                <p>بعد انتهاء برنامج الأبحاث، تنطلق برامج الكليّات . يمكنك اختيار برنامج الكليّة التي تودّ حضورها في اليوم الثاني:</p>
                <div class="form-group">
                    <div class="input-group{% if registration_form.time_slot_2.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_2 }}
                    </div>
                </div>
            </div>
            <div class="day-section">
                <h4 class="dinar-light">برامج الكليّات في اليوم الثالث<br>(28 يناير)</h4>
                <p>في اليوم الثالث نكمل بقيّة برامج الكليات، اختر منها ما تريد:</p>
                <div class="form-group">
                    <div class="input-group{% if registration_form.time_slot_3.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_3 }}
                    </div>
                </div>
            </div>
<script type="text/javascript">
$(function(){
    if ($("#gender").length){
        $("#id_time_slot_2, #id_time_slot_3").prop("disabled", true);
        
    }
    $("#gender").change(function(){
        if ($(this).val() == 'F'){
            $("#id_time_slot_2, #id_time_slot_3").prop("disabled", false);
            time_slot_2_workshop_choices ={
                '': '---------',
                {% for pk, name in female_time_slot_2_choices %}{{ pk }}: "{{ name|safe }}",
                {% endfor %}
            };
            time_slot_3_workshop_choices ={
                '': '---------',
                {% for pk, name in female_time_slot_3_choices %}{{ pk }}: "{{ name|safe }}",
                {% endfor %}
            }
        } else if ($(this).val() == 'M'){
            $("#id_time_slot_2, #id_time_slot_3").prop("disabled", false);
            time_slot_2_workshop_choices = {
                '': '---------',
                {% for pk, name in male_time_slot_2_choices %}{{ pk }}: "{{ name|safe }}",
                {% endfor %}
            };
            time_slot_3_workshop_choices = {
                '': '---------',
                {% for pk, name in male_time_slot_3_choices %}{{ pk }}: "{{ name|safe }}",
                {% endfor %}
            };   
        }
        $("#id_time_slot_2, #id_time_slot_3").html("");
        $.each(time_slot_2_workshop_choices, function(key, value){
            $("#id_time_slot_2")
                .append($("<option></option>")
                        .attr("value", key)
                        .text(value));
            $("#id_time_slot_2").val('');
        });
        $.each(time_slot_3_workshop_choices, function(key, value){
            $("#id_time_slot_3")
                .append($("<option></option>")
                        .attr("value", key)
                        .text(value));
            $("#id_time_slot_3").val('');
        });
    });
});
</script>