            <h3 class="dinar-light">اختر جدولك</h3>
            <p>يتكون مؤتمر التخصّصات الصحيّة من فعاليات حافلة تمتد لثلاثة أيام!  يمكنك أدناه اختيار الفعاليات التي تودّ المشاركة فيها خلال الأيام الثالثة.</p>
            <div class="day-section">
                <h4 class="dinar-light">اليوم الأول (26 يناير)</h4>
                <p>يتكون اليوم الأول من البرنامج العام، وفيه نستضيف نخبة من روّاد التخصّصات الصحيّة. يتعيّن على جميع المسجلين في المؤتمر حضور البرنامج العامّ.</p>
            </div>
            <div class="day-section">
                <h4 class="dinar-light">اليوم الثاني (27 يناير)</h4>
                <p>يتكون اليوم الثاني من برنامج الأبحاث، وفيه يلقي طلاب التخصّصات الصحيّة أهم أبحاثهم. يتعيّن على جميع المسجلين في المؤتمر حضور برنامج الأبحاث.</p>
                <p>بعد انتهاء برنامج الأبحاث، تنطلق برامج الكليّات وورش عمل البحث العلمي. يمكنك اختيار برنامج الكليّة أو ورشة العمل التي تودّ حضورها في اليوم الثاني:</p>
                <div class="form-group">
                    <div class="input-group{% if nonuser_form.college.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_2 }}
                    </div>
                </div>
            </div>
            <div class="day-section">
                <h4 class="dinar-light">اليوم الثالث (28 يناير)</h4>
                <p>في اليوم الثالث نكمل بقيّة برامج الكليات وورش العمل، اختر منها ما تريد:</p>
                <div class="form-group">
                    <div class="input-group{% if nonuser_form.college.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_3 }}
                    </div>
                    <p>يمكن لطلاب وطالبات الطب أيضا حضور ورشة عمل SMLE والتي ستقام في وقت لا يتعارض مع سير بقيّة البرامج.</p>
                    <div id="smle" class="form-group">
                        <div class="checkbox">
                            <label class="remember_me_label">
                                <input type="checkbox" id="id_session_20" name="session_20"> {{ registration_form.session_20.label }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
<script type="text/javascript">
$(function(){
    if ($("#gender").length){
        $("#id_time_slot_2").prop("disabled", true);
    }
    $("#gender").change(function(){
        console.log($(this).val());
        if ($(this).val() == 'F'){
            $("#id_time_slot_2").prop("disabled", false);
            time_slot_2_workshop_choices ={
                '': '---------',
                2: "برنامج كلية التمريض",
                3: "برنامج كلية طب الأسنان - طالبات",
                9: "Resrearch Question & Literature Review",
                10: "Study Design",
                11: "Scientific Writing",
                12: "Data Analysis & Manipulation"
            }
        } else if ($(this).val() == 'M'){
            $("#id_time_slot_2").prop("disabled", false);
            time_slot_2_workshop_choices = {
                '': '---------',
                4: "برنامج كلية طب الأسنان - طلاب",
                5: "Resrearch Question & Literature Review",
                6: "Study Design",
                7: "Scientific Writing",
                8: "Data Analysis & Manipulation",
            }   
        }
        $("#id_time_slot_2").html("");
        $.each(time_slot_2_workshop_choices, function(key, value){
            $("#id_time_slot_2")
                .append($("<option></option>")
                        .attr("value", key)
                        .text(value));
            $("#id_time_slot_2").val('');
        });
    });
});
</script>