// Quote 1

.c-content-quote-1{

	>.c-quote-title{
		color: #404148;
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 50px;
	}

	>.c-quote-desc-container{
		display: table;

		>.c-quote-btn{
			display: table-cell;
			width: 1px;
			box-shadow: 0 0 20px 0 rgba(90,131,249,0.28);
			padding:20px 30px;
			border-radius: 40px !important;
			vertical-align: middle;
		}

		>.c-quote-desc{
			display: table-cell;
			vertical-align: middle;
			color:#a7a8af;
			font-size: 15px;
			font-weight: 300;
			padding-left: 50px;
		}
	}
}

@media (max-width: $screen-xs-min) { /* 480px */
	.c-content-quote-1{

		>.c-quote-title{
			text-align: center;
		}

		>.c-quote-desc-container{
			display: block;

			>.c-quote-btn,{
				display: block;
				width: auto;
				margin-bottom: 40px;
			}

			>.c-quote-desc{
				display: block;
				padding-left: 0;
				text-align: center;
			}
		}
	}
}