// SUBSCRIBE FORM 4// SUBSCRIBE FORM 3

.c-content-subscribe-form-4{
	display: table;
	margin: 100px auto;
	width:500px;
	border-radius: 55px;
	overflow: hidden;
	padding: 20px 23px;
	vertical-align: middle;
	border:1px solid rgba(255,255,255,0.15);

	.c-content-subscribe-form-input,
	.c-content-subscribe-form-btn{
		display: table-cell;
		vertical-align: middle;
		color:#fff;
		letter-spacing: 0.5px;
		font-weight: 300;
		background-color: transparent;
		border:none;
	}

	.c-content-subscribe-form-input{
		border:none;
		color: #bcbdc7;
		font-family: $general-font-family;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.5px;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #bcbdc7;
			font-family: $general-font-family;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.5px;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #bcbdc7;
			font-family: $general-font-family;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.5px;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #bcbdc7;
			font-family: $general-font-family;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.5px;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #bcbdc7;
			font-family: $general-font-family;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.5px;
		}
	}

	.c-content-subscribe-form-btn{
		width: 28px;
		padding-right: 15px;

		.btn{
			padding: 0;
			background-color: transparent;
		}
	}

	div[aria-hidden="true"]{
		display: none;
	}
}

@media (max-width: $screen-xs-min) { /* 480px */
	.c-content-subscribe-form-4{
		width:100%;
		padding: 15px 5px;
	}

}