{% extends 'error_base.html' %}
{% block title %}404{% endblock %}
{% block content %}
<div class="page-error-404">


	<div class="error-symbol">
		<i class="entypo-address"></i>
	</div>

	<div class="error-text">
		<h2>404</h2>
		<p>لا يوجد شيء هنا!</p>
	</div>

	<hr />

	<div class="error-text">

		<!--Search Pages:-->

		<!--<br />-->
		<!--<br />-->

		<!--<div class="input-group minimal">-->
			<!--<div class="input-group-addon">-->
				<!--<i class="entypo-search"></i>-->
			<!--</div>-->

			<!--<input type="text" class="form-control" placeholder="Search anything..." />-->
		<!--</div>-->

	</div>

</div>
{% endblock %}