{% extends base %}{% load staticfiles %}
{% block title %}عن إنجاز{% endblock %}
{% block content %}

{% if not user.is_authenticated %}
<section class="breadcrumb">

	<div class="container">

		<div class="row">

			<div class="col-sm-12">

				<h1>عن إنجاز</h1>

			</div>

		</div>

	</div>

</section>
{% else %}
    <h2>
        عن إنجاز
    </h2>
{% endif %}

<section class="content-section">
	<div{% if not user.is_authenticated %} class="container"{% endif %}>
		<div class="row">
			<div class="col-md-7" style="font-size:100px!important;">
				<style>
                    p {
                    font-size: 20px !important;
                    }
				</style>


<p>بوابة إنجاز بوابة إلكترونية متكاملة للأنشطة الطلابية، بدأت كنقلة نوعية في تنظيم الأنشطة في نادي الطلاب. بنيت البوابة خصيصا لتعزيز الاستفادة من أحدث تقنيات تطوير مواقع الإنترنت لأتمتة العمل الإداري، وتقليل الحاجة للمراسلات، وتمكين الطلاب. بدأت الفكرة صغيرة، ونمت سريعا لتشمل جوانب عديدة في حياة الطلاب الجامعية كاستعارة الكتب، وتسجيل النقاط، والانضمام للأندية الطلابية.</p>

<p>هذه البوابة جهد طلابي خالص. تولى التطوير <a href="https://twitter.com/msarabi95">سعيد عرابي</a>، و <a href="https://osamakhalid.com">أسامة المبيريك</a>، وأشرف على إنجاز العمل رئاسة نادي الطلاب ممثلة في <a href="https://twitter.com/Muath_abuabah">معاذ أبو عباة</a> و <a href="https://twitter.com/KH_ALABDULJABAR">خالد العبد الجبار</a>.</p>

<p>البوابة من الطلاب وإليهم ونتطلع لآرائكم واقتراحاتكم عبر بريدها: <a href="mailto:hello@enjazportal.com">hello@enjazportal.com</a></p>

<p>هذه البوابة <a href="http://getsoftwarefreedom.org/">حُرّة</a>، هذا يعني أنها <a href="https://github.com/osamak/student-portal">منشورة بكامل أجزائها</a> ويسعدنا أن يستفيد الجميع منها، وأن يساهموا في تطويرها إيمانًا بنا بضرورة التكافل والتعاون.</p>
            </div>

            <div class="col-md-5">
                <img width="100%" src="{% static 'logo/enjaz_logo_shadow_full.png' %}">
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% if user.is_authenticated %}
    {% block pageheaderurl %}{% url 'about' %}{% endblock %}
    {% block pageheader %}عن إنجاز{% endblock %}
{% endif %}
