{% extends 'front/front_base.html' %}{% load staticfiles %}
{% block title %}كلمة د. بدر المقبل في البرنامج الثقافي الرابع{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
	<div class="statement">
	<h1>كلمة د. بدر المقبل في البرنامج الثقافي الرابع</h1>
	<img id="dr_bader" src="{% static 'img/dr_bader_cp4.jpg' %}">
	<p>ألقى سعادة العميد المشارك لعمادة شؤون الطلاب د. بدر المقبل الكلمة المُوقّرة التالية في الحفل الختامي للبرنامج الثقافي الرابع:</p>
<blockquote>
	<p>الحمدُ للهِ الذي بنعمتِهِ تتمُ الصالحاتْ، والصلاةُ والسلامُ على الرحمةِ المهداةِ والنعمةِ المسداة، نبيُنا محمدٌ وعلى آلهِ وصحبهِ أجمعين..</p>
	<p>معالي مديرِ الجامعة الدكتور بندر بن عبدالمحسن القناوي راعي هذه المناسبة الكريمة أصحابَ السعادةِ وكلاءَ الجامعةِ.. سعادةَ المديرين التنفيذيين في الشؤونِ الصحيةِ بوزارةِ الحرسِ الوطني.. سعادةَ العمداءْ.. زملائي أعضاءْ هيئةِ التدريس، طلابَنا وطالباتِنا.. ضيوفَنا الأعزاء.. أيها الحفلُ الكريم:</p>
	<p>السلام عليكم ورحمة الله تعالى وبركاته.. أما بعد،</p>
	<p><span class="highlight">العلمُ والثقافةُ بالفنون يتحدان!</span></p>
	<p>يطالبُنا العلمُ بالحقائقِ والبراهينْ، ويطالبُنا الفنُ بالعواطفِ والخيالْ، وعصرُنا هذا يحاولُ هدمَ الجدرانِ بين الاثنينْ، وإزالةَ الحدودِ الفاصلةِ بينهُما، والإنسانُ الذي بداخلِنا، على يقينٍ بأنهما عندما يلتقيانْ سنظفرُ باكتشافاتٍ علميةٍ خلاقةْ ونابضةٍ بالإنسانيةِ في الوقت نفسه.  </p>
	<p>لو اكتفى العالمُ بتوصيفِ الجمالِ لما اختلف عن الفنان، بل قد يكون مملا باهتا لأنه لا يملك لغةَ الفنْ، لكنه يملكُ أدواتٍ تمكنه من رؤيةِ الجمالِ أكثرَ من الفنانْ، إنه يستطيعُ تخيلَ البنيةِ الداخليةِ المعقدةْ وما يجري فيها.. <span class="highlight">دائماً هناكَ جمالٌ في التفاصيل.. جمالٌ كامنٌ في الأبعادِ الأصغرْ،</span> هذه التفاصيلُ المثيرةُ للاهتمامْ لا يمكنُ رؤيتُها من خلال خيالِ الفن فقط أو براهين العلم بل يجبُ الجمعُ بينهما.</p>
	<p>قبلَ أسبوعْ تقريبا اختتمتْ الجامعةُ أعمالَ (<a href="https://hpc.enjazportal.com">مؤتمرُ التخصصاتِ الصحية</a>)، واليومَ نعيشُ احتفاليةَ البرنامجِ الثقافي في نسختهِ الرابعةِ والذي امتدَّ لثلاثةِ أيامٍ في الرياضِ وجدةْ والأحساءْ، وبين الفعاليتينْ ارتباطٌ وثيقْ، فالمؤتمرُ يُعنى بجوانبِ المعرفةِ العلميةِ والمهنيةِ، والبرنامجُ الثقافيُ معنيٌ بجوانبِ المعرفةِ الثقافيةِ والفنيةِ، وكلُّ شخصيةٍ إنسانيةْ بحاجةٍ لهذا التوازنِ في البناءِ ليتسعَ أفقُها وتصبحَ قادرةً على العطاءِ وفهمِ الحياةِ والتعاملِ مع مختلفِ اتجاهاتِها باعتدال.</p>
	<p>هذه هي رؤيةُ عمادةِ شؤونِ الطلابِ في برامِجها، ويأتي دعمُ الجامعةِ لهذهِ الأنشطةِ حرصاً منها على التفاعلِ مع شبابِ هذا الوطنِ وفتياتهِ ومشاركتهِم اهتماماتهِم لاحتوائِهم والاقترابِ منهُم وكسبِ ولائِهم. والرسالةُ العميقةُ التي نريدُ إيصالَها من خلالِ التنوعِ في هذهِ الفعاليات هي فكرةُ: (التعايشْ)؛ <span class="highlight">نريدُ أن نقولْ: إن الأفكارَ مهما اختلفتْ بإمكانِها أن تتصالحَ وتتسامحْ، كما أن الحضاراتِ والتخصصاتِ مهما تعددتْ فإنها تكملُ بعضَها، والظروفَ أيا كانت بالإمكانِ التعايشُ معها.</span></p>
	<p>ضيوفَنا الكرام:</p>
	<p><span class="highlight">إن من يجلسُ في الصفوفِ الخلفيةِ الآن سيجلسونَ غدا في مقدمةِ الصفوف،</span> هؤلاءِ همُ النخبةُ من شبابِ الوطنِ وفتياتِها، وهم قادةُ التغييرِ وحملةُ شعلةِ التنوير، أثبتوا أن الثقافةَ خليطٌ من الالتزامِ السلوكي والحريةِ في التفكيرِ، والقدرةِ على الإبداع، والرغبةِ في التفاعلِ مع المجتمعِ الإنساني على أرضِ الواقع. </p>
	<p>لذا أقولُ لهم: تذكروا كلمة آينشتاين المشهورة <span class="highlight">(الخيالُ أعظمُ من المعرفة)، فالمعرفةُ محدودةْ، والخيالُ مطلقْ</span>؛ والثقافةُ من محرضاتِ الخيالِ لذا اهتموا بها لأنها العنصرُ الأهمُ في بناءِ أي حضارةٍ إنسانية!! </p>
	<p><span class="highlight">تذكروا أن وجودَكم هنا من أجلِ غيرِكم، أنتم هنا من أجلِ أولئك الذين تتوقفُ سعادتُكم كليا على ابتسامتِهِم وأمانيهِم،</span> هم أناسٌ لا تعرفونَهم، أناسٌ ترتبطونَ بهمْ بوشائجَ التعاطفْ. وكمْ هو عميقٌ وعظيمْ أن تتعاطفَ مع من لا تعرِفُهُ ولا يربِطُكَ به سوى وشاجِ الإنسانيةِ في صورتِها المتسامحةْ؛ تلك الصورةُ المتمثلةُ في ثقافتِنا وتاريخِنا والتي جسدَها صلاحُ الدينُ عندما أرسلَ طبيبَه الخاصْ لعلاجِ خصمِه ريتشاردْ قلبْ الأسدْ وهو في حالةِ حربٍ معه!</p>
	<p>أيها الجيل: استفيدوا مما توفرُه الجامعةُ لكم من برامجَ تسهمُ في تنميةِ مهاراتِكم وثقافتكم فهذا يساعدكم على فهم مرضاكم، وتذكروا أن الممارسةَ الصحيةَ، إحساسٌ عميق بالآخرينْ.. وشعورٌ بطريقة تفكيرِهِمْ.. وتلمس لاحتياجاتِهم وفهمِ نفسياتِهم.. باختصارٍ شديد، هي: التعاملُ مع الإنسانِ قبلَ التعاملِ مع مرضِهْ!</p>
	<p>مُهِمَتُكُم الإنسانيةُ الشريفةْ تستدعي أن تكونوا أقربَ الناسِ إلى الناسْ.. مُهِمَتُكُم الساميةُ اضطرتْكُم أن تكونوا على وعيٍ أعمقَ باهتماماتِ الناسِ وثقافاتِهم.. قدركُم مواجهةُ أكرمِ مخلوقٍ على وجهِ الأرضِ، والتعاملُ معه في لحظاتِ ضعفِه وانكسارِه وحزنهْ، ومن هنا كانتْ المسؤوليةُ عليكم أكبر؛ لأن <span class="highlight">المرجوَّ منكمْ أكثر، وهذا ما يجعلُ خيارَ تنميةِ مهاراتِكُم وثقافاتِكُم من الأولويات، فأعطوها من الوقتِ ما تستحق؛ لأنها استثمارٌ في الوعيِ يعودُ ريعُهُ إلى الإنسانيةِ جمعاء.</span></p>
	<p>وختاماً..  أتقدم بوافر الشكرِ لمعالي مدير الجامعة د. بندر القناوي على رعايته الكريمة لهذه الفعالية وحرصِه الدائمِ على احتواء أبنائه من طلاب الجامعة وطالباتها ومشاركتهم اهتماماتهم، والشكرُ موصول لسعادةِ الأستاذِ الدكتور يوسف العيسى الذي باركَ هذا البرنامجَ منذُ أن كان فكرةْ.. ونمّاه بدعمهْ.. ورعاهُ ثلاثةَ أعوام متتالية حتى أينعَ ثمرُهُ وحانَ قطافُه. ولا يفوتني أن أشكر زملاءَنا في مختلف الكليات والإدارات على تسهيل عملنا ودعمنا بكافة احتياجاتنا. كما أشكر جميع زملائي من موظفي العمادة فقد كانت متابعتُهمُ الحثيثةْ وتوجيهاتُهُم السديدةْ خيرَ داعمٍ لظهورِ العملِ بما ستشاهدونه عليه.</p>
	<p>وباعتزاز كبير أشكر أحبابي في نادي الطلاب ممثلا في رئيسه ورؤساء الفرق التنظيمية.. فأمام جهودهم العظيمة وأفكارهم المضيئة تعجزُ الكلماتُ عن الشكرِ.. وتخجلُ العباراتُ من الثناءِ.. فيكون الصمت خيرَ ما تختم به الكلمة.. وأجمل فعل يوازي جمالَ أرواحهم وعطائِهِم الكبير .. والسلام عليكم ورحمة الله وبركاته</p>
</blockquote>
        </div>
    </div>
</div>
<style>
.statement p, .statement blockquote p {
    font-size: 16px;
    text-align: justify;
    color: rgb(48, 54, 65);
}

.highlight{
    background: #ffff89;
}

#dr_bader{
    float: left;
    height: 200px;
    margin: 0 15px 15px 15px;
}
</style>
{% endblock %}
