{% extends "base.html" %}{% load staticfiles %}

{% block title %}الصفحة الرئيسية{% endblock %}
{% block pageheader %}الصفحة الرئيسية{% endblock %}
{% block content %}
{% if major_program_announcement %}
<div class="jumbotron">
	<div class="row">
	<div class="col-md-3">
	<div class="screenshot">
		<a href="{% url 'visit_announcement' major_program_announcement.pk %}">
			{% if major_program_announcement.image %}
			<img src="{{ major_program_announcement.image.url }}" class="img-circle img-responsive" style="max-width: 100%;">
			{% else %}
			<img src="{% static 'logo/enjaz_logo_shadow_no_text.png' %}" class="img-circle img-responsive" style="max-width: 100%;">
			{% endif %}
		</a>
	</div>
	</div>
	<div class="col-md-9">
	<h1>{{ major_program_announcement.title }}</h1>
	
	<p>{{ major_program_announcement.description }}</p>
	
	<p>
		<br>
		</p><a href="{% url 'visit_announcement' major_program_announcement.pk %}" style="float: left;" class="btn btn-primary btn-lg">المزيد <i class="entypo-left"></i></a>
	<p></p>
	</div>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-12">
		<h2>مرحبًا {{ user.common_profile.ar_first_name }}!
		</h2>
		<p>فيما يلي ملخص لما يهمك في بوابة إنجاز.</p>
	</div>
</div>
<br>
<div class="panel minimal minimal-gray">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>الأنشطة</h2>
		</div>
	</div>
	<div class="panel-body">
		<div class="col-md-9">
		<div class="panel panel-success panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">أنشطة الأسبوع القادم</div>
				<div class="panel-options">
					<a href="{% url 'activities:list' %}" type="button" class="btn btn-default">
						 المزيد في تقويم الأنشطة
					</a>
				</div>
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				
				<table class="table table-hover">
					<thead>
						<tr>
							<th>النشاط</th>
							<th>النادي المنظم</th>
							<th>التاريخ و الوقت</th>
							<th>المكان</th>
						</tr>
					</thead>
					
					<tbody>
						{% for a in upcoming_activities %}
						<tr>
							<td><a href="{% url 'activities:show' a.pk %}">{{ a.name }}</a></td>
							<td>{{ a.primary_club }}</td>
							<td>{{ a.get_first_date }}</td>
							<td>{{ a.get_first_location }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
			</div>
			
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile-stats tile-green">
			<div class="icon"><i class="entypo-chart-bar"></i></div>
			<div class="num" data-start="0" data-end="{{ activity_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
			
			<h3>عدد الأنشطة</h3>
			<p>مجموع عدد أنشطة النادي لهذا العام</p>
		</div>
	</div>
	</div>
</div>
{% if user.common_profile.is_student %}
<div class="panel minimal minimal-gray">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>نقاطي</h2>
		</div>
	</div>
	<div class="panel-body">
		<div class="col-md-3">
		<div class="tile-stats tile-aqua">
			<div class="icon"><i class="entypo-gauge"></i></div>
			<div class="num" data-start="0" data-end="{{ niqati_sum }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
			
			<h3>عدد نقاطي</h3>
			<p>مجموع النقاط المسجلة لك في برنامج نقاطي</p>
		</div>
		<div class="tile-stats tile-white-aqua">
			<div class="icon"><i class="entypo-gauge"></i></div>
			<div class="num" data-start="0" data-end="{{ niqati_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
			
			<h3>عدد أنشطتي</h3>
			<p>عدد الأنشطة التي حصلت فيها على نقاط</p>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-info panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">آخر إدخالاتي في نقاطي</div>
				
				<div class="panel-options">
					<a href="{% url 'niqati:student_report' %}" type="button" class="btn btn-default">
						 استعرض تقريري الكامل
					</a>
				</div>
				
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				
				<table class="table table-hover">
					<thead>
						<tr>
							<th>اسم النشاط</th>
							<th>عدد النقاط</th>
							<th>تاريخ الإدخال</th>
						</tr>
					</thead>
					
					<tbody>
						{% for c in latest_entries %}
						<tr>
							<td>{% if c.collection %}<a href="{% url 'activities:show' c.collection.parent_order.episode.activity.pk %}">{{ c.collection.parent_order.episode }}</a>{% else %}مخصّصة{% endif %}</td>
							<td>{{ c.points }}</td>
							<td>{{ c.redeem_date }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
			</div>
			
		</div>
	</div>
	</div>
</div><!-- end panel -->
{% endif %}
{% comment %}
<div class="panel minimal minimal-gray">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>الكتب</h2>
		</div>
	</div>
	<div class="panel-body">
		<div class="col-md-9">
		<div class="panel panel-warning panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">آخر الكتب المضافة</div>
				
				<div class="panel-options">
					<a href="{% url 'books:list' %}" type="button" class="btn btn-default">
						 المزيد
					</a>
				</div>
				
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				
				<table class="table table-hover">
					<thead>
						<tr>
							<th>الكتاب</th>
							<th>المساهم</th>
							<th>تاريخ الإضافة</th>
						</tr>
					</thead>
					
					<tbody>
						{% for b in latest_books %}
						<tr>
							<td><a href="{% url 'books:show' b.pk %}">{{ b.title }}</a></td>
							<td>{{ b.submitter.common_profile.get_ar_full_name|default:b.submitter.username }}</td>
							<td>{{ b.submission_date }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
			</div>
			
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile-stats tile-orange">
			<div class="icon"><i class="entypo-book"></i></div>
			<div class="num" data-start="0" data-end="{{ books_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
			
			<h3>عدد الكتب</h3>
			<p>مجموع الكتب المعروضة في بوابة إنجاز</p>
		</div>
		<div class="tile-stats tile-white-orange">
			<div class="icon"><i class="entypo-book"></i></div>
			<div class="num" data-start="0" data-end="{{ my_books_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
			
			<h3>عدد كتبي</h3>
			<p>عدد كتبي المعروضة في بوابة إنجاز</p>
		</div>
	</div>
	</div>
</div>
{% endcomment %}
<div class="row">
<div class="col-md-6">
<div class="panel minimal minimal-gray">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>أبحاث طلابية</h2>
		</div>
	</div>
	<div class="panel-body scrollable" data-height="250px" style="max-height: 250px;">
		<div class="panel-group joined" id="accordion-student-researches">
			
			{% for research in student_researches %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion-student-researches" href="#student-research-{{ forloop.counter }}" class="collapsed">
							{{ research.title }}
							{# a little hack to avoid using a link because it would mess up the styles #}
							
							<button type="button" style="float:left;" onclick="window.location.href = '{% url 'visit_announcement' research.pk %}'" class="btn btn-xs btn-default">
								<i class="entypo-link"></i>
							</button>
						</a>
					</h4>
				</div>
				<div id="student-research-{{ forloop.counter }}" class="panel-collapse collapse">
					<div class="panel-body">
						{{ research.description }}
					</div>
				</div>
			</div>
			{% empty %}
			لا توجد أبحاث حاليًا.
			{% endfor %}
		</div>
	</div>
</div>
</div>
<div class="col-md-6">
	<div class="panel minimal minimal-gray">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>إعلانات خارجية</h2>
		</div>
	</div>
	<div class="panel-body scrollable" data-height="250px" style="max-height: 250px;">
		<div class="panel-group joined" id="accordion-external-anns">
			
			{% for ann in external_announcements %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion-external-anns" href="#external-ann-{{ forloop.counter }}" class="collapsed">
							{{ ann.title }}
							{# a little hack to avoid using a link because it would mess up the styles #}
							
							<button type="button" style="float:left;" onclick="window.location.href = '{% url 'visit_announcement' ann.pk %}'" class="btn btn-xs btn-default">
								<i class="entypo-link"></i>
							</button>
						</a>
					</h4>
				</div>
				<div id="external-ann-{{ forloop.counter }}" class="panel-collapse collapse">
					<div class="panel-body">
						{{ ann.description }}
					</div>
				</div>
			</div>
			{% empty %}
			لا توجد إعلانات خارجية حاليًا.
			{% endfor %}
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}

