            <h3 class="dinar-light">جدول البرنامج</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <div class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          اليوم الأول (11 أبريل)
        </a>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <table class="english-field table table-bordered">
              <tbody>
                  <tr>
                      <th>1:30-2:00</th>
                      <td>Sign In</td>
                  </tr>
                  <tr>
                      <th>2:00-2:30</th>
                      <td>KAIMRC, opening statement</td>
                  </tr>
                  <tr>
                      <th>2:30-3:10</th>
                      <td>Impact of research on healthcare professional's careers.</td>
                  </tr>
                  <tr>
                      <th>3:10-3:50</th>
                      <td>Major obstacles facing research in Saudi (e.g.authorship rights, team dynamic problems): What can we do about them?</td>
                  </tr>
                  <tr>
                      <th>3:50-4:10</th>
                      <td>Prayer and coffee break</td>
                  </tr>
                  <tr>
                      <th>4:10-5:00</th>
                      <td>Discussion and open forum: Saudi’s current direction in research, and how to improve research in Saudi.</td>
                  </tr>
                  <tr>
                      <th>5:00-5:30</th>
                      <td>Student Experience</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <div class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          اليوم الثاني (12 أبريل)
        </a>
      </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <table class="english-field table table-bordered">
              <tbody>
                  <tr>
                      <th>2:00-2:30</th>
                      <td>Sign In</td>
                  </tr>
                  <tr>
                      <th>2:30-3:15</th>
                      <td>Critical appraisal, Advanced level. Last Year: learning how to make it in your favor from a researcher standpoint</td>
                  </tr>
                  <tr>
                      <th>3:15-3:55</th>
                      <td>Targeting high impact factor journals by targeting high rate questions do you need to publish in a high impact factor journal? (Debate)</td>
                  </tr>
                  <tr>
                      <th>3:55-4:10</th>
                      <td>Prayer and coffee break</td>
                  </tr>
                  <tr>
                      <th>4:10-4:45</th>
                      <td>Power Presentation Competition</td>
                  </tr>
                  <tr>
                      <th>4:45-5:15</th>
                      <td>Invitation to speak via email</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <div class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          اليوم الثالث (13 أبريل)
        </a>
      </div>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
          <table class="english-field table table-bordered">
              <tbody>
                  <tr>
                      <th>1:30-2:00</th>
                      <td>Sign In</td>
                  </tr>
                  <tr>
                      <th>2:00- 3:00</th>
                      <td>Playing with statistics. Right statistical model for your research data or to answer your question.</td>
                  </tr>
                  <tr>
                      <th>3:00- 3:50</th>
                      <td>
                          Workshops (for accepted attednees only):
                          <ul>
                              <li>Data collection, management, and handling ( Be a smart data manager )</li>
                              <li>Scientific writing</li>
                              <li>Literature review and research question</li>
                              <li>Master questionnaire  from developing to response rates.</li>
                              <li>Translational Research: From the Clinic to the Bench</li>
                              <li>Qualitative Research,Interviews and focused group</li>
                          </ul>
                      </td>
                  </tr>
                  <tr>
                      <th>3:50-4:10</th>
                      <td>Prayer and coffee break</td>
                  </tr>
                  <tr>
                      <th>4:10- 6:00</th>
                      <td>Continue with workshops</td>
                  </tr>
                  <tr>
                      <th>6:00- 6:30</th>
                      <td>Certificates and checkout</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
            <div class="day-section">
                <h4 class="dinar-light">البرنامج العام<br>(من 11 إلى 13 أبريل)</h4>
                <p>التسجيل الآن متاح في البرنامج العام، وفيه نستضيف نخبة من روّاد البحث العلمي كما يقام برنامج الأبحاث  وفيه يُقدّم طلاب وطالبات التخصّصات الصحيّة أهم أبحاثهم.</p>
                <p>التسجيل في ورش العمل اكتمل، ولم يعد مُتاحًا.</p>
                            <input type="hidden" id="id_session_main" name="session_main">
            </div>
<!--
            <div class="day-section">
                <h4 class="dinar-light">الورش في اليوم الثالث<br>(13 أبريل)</h4>
                <p>بعد انتهاء البرنامج العام، تنطلق ورش عمل البحث العلمي. يمكنك اختيار ورشة العمل التي تودّ حضورها في اليوم الثالث.</p>
                <div class="form-group">
                    <p>التفضيل الأول:</p>
                    <div class="english-field input-group{% if registration_form.time_slot_1_1.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_1_1 }}
                    </div>
                    <p>التفضيل الثاني:</p>
             	    <div class="english-field input-group{% if registration_form.time_slot_1_2.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_1_2 }}
                    </div>
                </div>
            </div>
-->