            <h3 class="dinar-light">اختر جدولك</h3>
            <p>يتكون {{ event.get_html_name|safe }} من فعاليات حافلة تمتد لثلاثة أيام!  يمكنك أدناه التسجيل في الحدث ثم اختيار ورش العمل التي ترغب بحضورها.</p>
            <div class="day-section">
                <h4 class="dinar-light">البرنامج العام<br>(من 11 إلى 13 أبريل)</h4>
                <p>في اليوم الأول والثاني والثالث للحدث يقام البرنامج العام وفيه نستضيف نخبة من روّاد البحث العلمي كما يقام برنامج الأبحاث  وفيه يُقدّم طلاب وطالبات التخصّصات الصحيّة أهم أبحاثهم. إذا كنت ترغب في حضورهما، فاختر الخيار التالي:</p>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="remember_me_label">
                            <input type="checkbox" id="id_session_main" name="session_main"> {{ registration_form.session_main.label }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="day-section">
                <h4 class="dinar-light">الورش في اليوم الثالث<br>(13 أبريل)</h4>
                <p>بعد انتهاء البرنامج العام، تنطلق ورش عمل البحث العلمي. يمكنك اختيار ورشة العمل التي تودّ حضورها في اليوم الثالث.</p>
                <div class="form-group">
                    <p>التفضيل الأول:</p>
                    <div class="english-field input-group{% if registration_form.time_slot_1_1.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_1_1 }}
                    </div>
                    <p>التفضيل الثاني:</p>
             	    <div class="english-field input-group{% if registration_form.time_slot_1_2.errors %} validate-has-error{% endif %}">
                        <div class="input-group-addon">
                            <i class="entypo-calendar"></i>
                        </div>
                        {{ registration_form.time_slot_1_2 }}
                    </div>
                </div>
            </div>
