<div class="teams-modal english-field modal fade" id="{{ modal_id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button style="margin-right: 5px;" style="float: left;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
          <h4 class="english-field modal-title"></h4>
        </div>
      <div class="modal-body ativa-scroll">
        {% include "media/polls/ajax-loader.html" %}
      </div>
    {% if not no_footer %}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">غلق</button>
        <button type="button" class="submit-button btn btn-primary">إرسال</button>
      </div>
     {% endif %}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
