// SERVICES 6'

.c-content-services-6{

	.c-content-services-6-item{
		padding:20px 40px 30px 40px;
		border-radius: 15px;
		background-color: transparent;
		transition:all 0.2s;

		&:hover{
			background-color: #fff;
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
		}

		.c-content-services-6-item-icon{
			margin-bottom: 20px;
		}

		.c-content-services-6-item-title{
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 30px;
			color: #343a3d;
		}

		.c-content-services-6-item-desc{
			font-weight: 300;
			color: #7c8387;
		}
	}
}