{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load bootstrap3 %} {% load events_tags %}

{% block title %}{{ abstract.event.english_name }}: {{ abstract.title }}{% endblock %}

{% block content %}
<style>
h2{
  font-size: 20px;
  border: 1px solid #ebebeb;
  background-color: #f5f5f6;
  color: #a6a7aa;
  padding: 10px;
  text-align: center;
}
h4{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
</style>

<div class="english-field">

    <table class="table table-bordered">
    <colgroup>
        <col class="col-xs-4">
        <col class="col-xs-8">
    </colgroup>
    <thead>
        <tr>
            <th colspan="2" class="text-center">{{ abstract.title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-center">Presenting author</th>
            <td>{{ abstract.presenting_author }}</td>
        </tr>
        <tr>
            <th class="text-center">Principle Investigator</th>
            <td>{{ abstract.principle_investigator }}</td>
        </tr>
            <tr>
            <th class="text-center">Co-Authors</th>
            <td class="activity-description">{% for author in abstract.author.all %}{{ author.name }} | {% endfor %} </td>
        </tr>
        <tr>
            <th class="text-center">Email</th>
            <td><a href="mailto:{{ abstract.email }}">{{ abstract.email }}</a></td>
        </tr>
        <tr>
            <th class="text-center">Phone</th>
            <td>{{ abstract.phone }}</td>
        </tr>
        <tr>
            <th class="text-center">University</th>
            <td>{{ abstract.university }}</td>
        </tr>

        <tr>
            <th class="text-center">College</th>
            <td>{{ abstract.college }}</td>
        </tr>
        <tr>
            <th class="text-center">Graduation year</th>
            <td>{{ abstract.graduation_year }}</td>
        </tr>
        <tr>
            <th class="text-center">Study field</th>
            <td>{{ abstract.study_field }}</td>
        </tr>
        <tr>
            <th class="text-center">Study Design</th>
            <td>{{ abstract.study_design }}</td>
        </tr>
        <tr>
            <th class="text-center">How is your study going to affect current practice?</th>
            <td>{{ abstract.significance }}</td>
        </tr>
        <tr>
        <tr>
            <th class="text-center">Have you submitted the manuscript to a journal?</th>
            <td>{{ abstract.get_submitted_to_journal_display }}</td>
        </tr>
  					<th class="text-center">Do you have an IRB Approval?</th>
  					<td>{{ abstract.get_irb_approval_display }}</td>
  			</tr>
  			<tr>
  					<th class="text-center">Has the study been presented in a conference before?</th>
  					<td>{{ abstract.was_presented_at_conference|yesno:"Yes,No" }}</td>
  			</tr>
           </tbody>
</table>

<h3>Background</h3>
{{ abstract.background|safe }}
<h3>Methods</h3>
{{ abstract.methods|safe }}
<h3>Results</h3>
{{ abstract.results|safe }}
<h3>Conclusion</h3>
{{ abstract.conclusion|safe }}



{% if already_sorted == True %}
    <h2>This abstract is already sorted</h2>
    <ul style="color:#000">
        <li>Abstract ID: {{ abstract.pk }}</li>
        <li>Study Design: {{ abstract.sorting.study_design }}</li>
        <li>Data Recency: {{ abstract.sorting.data_recency }}</li>
        <li>Presentation Status: {{ abstract.sorting.status }}</li>
        <li>Presenter Author Affiliation: {{ abstract.sorting.pres_author_affiliation }}</li>
        <li>Research Value: {{ abstract.sorting.research_value }}</li>
        <li>Publication Status: {{ abstract.sorting.pub_status }}</li>
        <li>Sorting Score Value: {{ abstract.sorting.sorting_score }} / 21</li>
    </ul>
{% else %}
    <h2>Sorting</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="col-sm-12">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="form-group">
                {% bootstrap_field field %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                <input id="submit" class="btn btn-btn-success" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>
{% endif %}
</div>

{% endblock %}
