{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load events_tags %}
{% block title %}Abstracts Evaluation{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
<div class="english-field">
    <div style="text-align: center ;margin-bottom: 10px; width:100%">
        <h2 style="font-family: 'Patua One', cursive;"> Progress So Far </h2>
        <button id='riyadh-btn' type="button" style="width: 32%;font-weight: bold;" class="btn btn-secondary">in Riyadh</button>
        <button id='jeddah-btn' type="button" style="width: 32%;font-weight: bold;" class="btn btn-secondary">in Jeddah</button>
        <button id='alahsa-btn' type="button" style="width: 32%;font-weight: bold;" class="btn btn-secondary">in Alahsa</button>
    </div>
    <div id="riyadh" class="english-field" style="text-align: center ;margin-bottom: 10px;display: none">
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="font-family: 'Patua One', cursive;font-size:15px;width: 70%; height: 5%;  border: 1px solid green; margin-top: 10px" ;>
    Evaluator
    </button>
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="font-family: 'Patua One', cursive;font-size:15px;width: 25%; height: 5%;border: 1px solid green; margin-top: 10px;" ;>
        Evaluated abstracts
    </button>
    {% for evaluator in riyadh_evaluators.members.all %}
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="text-transform: capitalize;font-family: 'Patua One', cursive;font-size:15px;width: 70%; height: 5%; border-radius: 10px;  margin-top: 10px" ;>
        {{ evaluator.common_profile.get_en_full_name|default:evaluator.username  }}<br>
    </button>
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="width: 25%; height: 5%; border-radius: 10px;   margin-top: 10px" ;>
       {{ evaluator.event_abstract_evaluations.count }}
        </button>
        {% endfor %}
    </div>

    <div id="jeddah" class="english-field" style="text-align: center ;margin-bottom: 10px;display: none">
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="font-family: 'Patua One', cursive;font-size:15px;width: 70%; height: 5%;  border: 1px solid green; margin-top: 10px" ;>
    Evaluator
    </button>
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="font-family: 'Patua One', cursive;font-size:15px;width: 25%; height: 5%;border: 1px solid green; margin-top: 10px;" ;>
        Evaluated abstracts
        </button>
    {% for evaluator in jeddah_evaluators.members.all %}
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="text-transform: capitalize;font-family: 'Patua One', cursive;font-size:15px;width: 70%; height: 5%; border-radius: 10px;  margin-top: 10px" ;>
        {{ evaluator.common_profile.get_en_full_name|default:evaluator.username  }}<br>
    </button>
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="width: 25%; height: 5%; border-radius: 10px;   margin-top: 10px" ;>
       {{ evaluator.event_abstract_evaluations.count }}
        </button>
      {% endfor %}
    </div>

    <div id="alahsa" class="english-field" style="text-align: center ;margin-bottom: 10px;display: none">
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="font-family: 'Patua One', cursive;font-size:15px;width: 70%; height: 5%;  border: 1px solid green; margin-top: 10px" ;>
    Evaluator
    </button>
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="font-family: 'Patua One', cursive;font-size:15px;width: 25%; height: 5%;border: 1px solid green; margin-top: 10px;" ;>
        Evaluated abstracts
    </button>
    {% for evaluator in alahsa_evaluators.members.all %}
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="text-transform: capitalize;font-family: 'Patua One', cursive;font-size:15px;width: 70%; height: 5%; border-radius: 10px;  margin-top: 10px" ;>
        {{ evaluator.common_profile.get_en_full_name|default:evaluator.username  }}<br>
    </button>
        <button id="evaluator" type="submit" class="btn btn-secondary " Style="width: 25%; height: 5%; border-radius: 10px;   margin-top: 10px" ;>
       {{ evaluator.event_abstract_evaluations.count }}
        </button>
        {% endfor %}
    </div>



    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseThree-2" class="english-field notcollapsed">
                   Your Pending abstracts ({{ pending_abstracts.count }})
                </a>
            </h4>
        </div>
        <div id="collapseThree-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <div class="row">
                    <table id="pending" class="display datatable dt-responsive">
                        <thead>
                            <tr>
                                <th class="all">Title</th>
                                <th class="not-mobile">Presentation preference</th>
                                <th class="not-mobile">Submission date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for abstract in pending_abstracts %}
                            <tr>
                                <td><a href="{% url 'events:evaluate' abstract.event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                <td>{{ abstract.get_presentation_preference_display }}</td>
                                <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted|date:"Y-m-d" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="english-field">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseTwo-2" class="english-field collapsed">
                    Your Evaluated abstracts ({{ user.event_abstract_evaluations.count }} )
                </a>
            </h4>
            </div>
            <div id="collapseTwo-2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <div class="row">
                        <table id="evaluated" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th class="all">Title</th>
                                    <th class="not-mobile">Presentation preference</th>
                                    <th class="not-mobile">Score</th>
                                    <th class="not-mobile">Evaluation date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evaluation in user.event_abstract_evaluations.all %}
                                <tr>
                                    <td><a href="{% url 'events:edit_evaluation' evaluation.abstract.event.code_name evaluation.abstract.pk evaluation.id %}">{{ evaluation.abstract.title }}</a></td>

                                    <td>{{ evaluation.abstract.get_presentation_preference_display }}</td>
                                    <td>ِ{{ evaluation.get_total_score }}</td>
                                    <td data-order="{{ evaluation.date_submitted|date:" U " }}">{{ evaluation.date_submitted|date:"Y-m-d" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<style type="text/css">
    th,
    td {
        text-align: left;
    }
    .panel-heading > .panel-title{
      float: left;
    }
</style>
<script>
    $(function() {
        $("#pending").dataTable({
            "order": [
                [2, "asc"]
            ]
        });
        $("#evaluated").dataTable({
            "order": [
                [2, "desc"]
            ]
        });
        $("#riyadh-btn").click(function() {
            $('#riyadh').show()
            $('#alahsa').hide()
            $('#jeddah').hide()
        });
        $("#jeddah-btn").click(function() {
            $('#jeddah').show()
            $('#riyadh').hide()
            $('#alahsa').hide()
        });
        $("#alahsa-btn").click(function() {
            $('#alahsa').show()
            $('#jeddah').hide()
            $('#riyadh').hide()
        });
    });
</script>
{% endblock %}
