{% extends 'events_evaluation_base.html' %}{% load staticfiles %} {% load events_tags %} {% block title %}{{ event.english_name }}: Abstract list{% endblock %} {% block content %}
<div class="row">
        <br>
    <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
        <h2 class="mentor-section-header">All Abstracts</h2>
    </div>
</div>
{% if not request.user in event.evaluating_team.members.all or request.user.is_superuser  %}
<div class="english-field">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseOne-2" class="english-field notcollapsed">
                    Pending abstracts ({{ pending_abstracts.count }})
                </a>
            </h4>
        </div>
        <div id="collapseOne-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <select name="action">
                      <option>Choose Action</option>
                      <!-- No mass deleting -->
                      <!--<option value="delete">Delete</option>-->
                    </select>
                    <div class="row">
                        <table id="pending" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Title</th>
                                    <th class="all">Presenting author</th>
                                    <th class="all">University</th>
                                    <th class="all">Presentation preference</th>
                                    <th class="none">Evaluators</th>
                                    <th class="none">Study field</th>
                                    <th class="none">Collection method</th>
                                    <th class="none">Puplished?</th>
                                    <th class="none">Presented previously at HPC?</th>
                                    <th class="none">Presented previously at others?</th>
                                    <th class="none">Submission date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in pending_abstracts %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td>{{ abstract.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                    <th><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></th>
                                    <td>{{ abstract.university }}</td>
                                    <td>{{ abstract.get_presentation_preference_display }}</td>
                                    <td>
                                        <ul>
                                            {% for evaluator in abstract.evaluators.all %}
                                            <li>{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ abstract.study_field }}</td>
                                    <td>{{ abstract.collection_method }}</td>
                                    <td>{{ abstract.was_published|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>
                                    <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if not request.user in event.oral_poster_team.members.all or request.user.is_superuser %}
<div class="english-field">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseTen-2" class="english-field notcollapsed">
                    Sorted abstracts ({{ sorted_abstracts.count }})
                </a>
            </h4>
        </div>
        <div id="collapseTen-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                    <div class="row">
                        <table id="sorted" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Principle investigator</th>
                                    <th class="all">1st Evaluator</th>
                                    <th class="all">1st Evaluation score</th>
                                    <th class="all">2nd Evaluator</th>
                                    <th class="all">2nd Evaluation score</th>
                                    <!--<th class="all">Sorting score</th>-->
                                    <th class="all">Sorting date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in sorted_abstracts %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.pk }}</a></td>
                                    <td>{{ abstract.principle_investigator }}</td>
                                    {% if abstract.evaluators.all %}
                                        {% for evaluator in abstract.evaluators.all %}
                                            <td><a href="{% url 'events:assign_evaluator_m' event.code_name abstract.pk %}">{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</a></td>
                                            <td>{{ evaluator.event_abstract_evaluations.get_total_score }}</td>
                                        {% endfor %}
                                    {% else %}
                                    <td class="not-mobile"><a href="{% url 'events:assign_evaluator_m' event.code_name abstract.pk %}">Assign</a></td>
                                    <td> - </td>
                                    <td class="not-mobile"><a href="{% url 'events:assign_evaluator_m' event.code_name abstract.pk %}">Assign</a></td>
                                    <td> - </td>
                                    {% endif %}
                                    <!--TODO: Make maximum sorting score (21) a variable-->
                                    <!--<td>{{ abstract.sorting.sorting_score }}/21</td>-->
                                    <td data-order="{{ abstract.sorting.date_submitted|date:" U " }}">{{ abstract.sorting.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
{% if not request.user in event.evaluating_team.members.all or request.user.is_superuser %}
<!--<div class="english-field">-->
    <!--<div class="panel panel-info">-->
        <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
                <!--<a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseTwo-2" class="english-field collapsed">-->
                    <!--One evaluation ({{ one_evaluator.count }})-->
                <!--</a>-->
            <!--</h4>-->
        <!--</div>-->
        <!--<div id="collapseTwo-2" class="panel-collapse collapse" style="height: 0px;">-->
            <!--<div class="panel-body">-->
                <!--<form method="post">-->
                    <!--{% csrf_token %}-->
                    <!--<select name="action">-->
                        <!--<option>Choose Action</option>-->
                        <!--<option value="delete">Delete</option>-->
                        <!--<option value="accepte_as_oral">Accept As Oral</option>-->
                        <!--<option value="accepte_as_poster">Accept As Poster</option>-->
                        <!--<option value="regect">Regect</option>-->
                    <!--</select>-->
                    <!--<div class="row">-->
                        <!--<table id="one_evaluator" class="display datatable dt-responsive">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th></th>-->
                                    <!--<th class="all">ID</th>-->
                                    <!--<th class="all">Title</th>-->
                                    <!--<th class="all">Presenting author</th>-->
                                    <!--<th class="all">University</th>-->
                                    <!--<th class="all">Presentation preference</th>-->
                                    <!--<th class="all">Score</th>-->
                                    <!--<th class="all">Accepted presentation preference</th>-->
                                    <!--<th class="none">Evaluators</th>-->
                                    <!--<th class="none">Study field</th>-->
                                    <!--<th class="none">Collection method</th>-->
                                    <!--<th class="none">Puplished?</th>-->
                                    <!--<th class="none">Presented previously at HPC?</th>-->
                                    <!--<th class="none">Presented previously at others?</th>-->
                                    <!--<th class="none">Submission date</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--{% for abstract in one_evaluator %}-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>-->
                                    <!--<td>{{ abstract.pk }}</td>-->
                                    <!--<td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>-->
                                    <!--<td><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></td>-->
                                    <!--<td>{{ abstract.university }}</td>-->
                                    <!--<td>{{ abstract.get_presentation_preference_display }}</td>-->
                                    <!--<td>ِ{{ abstract.get_average_score }}</td>-->
                                    <!--{% if abstract.get_accepted_presentaion_preference_display %}-->
                                    <!--<td>{{ abstract.get_accepted_presentaion_preference_display }}</td>-->
                                    <!--{% else %}-->
                                    <!--<td>{{ abstract.get_status_display }}</td>-->
                                    <!--{% endif %}-->
                                    <!--<td>-->
                                        <!--<ul>-->
                                            <!--{% for evaluator in abstract.evaluators.all %}-->
                                            <!--<li>{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</li>-->
                                            <!--{% endfor %}-->
                                        <!--</ul>-->
                                    <!--</td>-->
                                    <!--<td>{{ abstract.study_field }}</td>-->
                                    <!--<td>{{ abstract.collection_method }}</td>-->
                                    <!--<td>{{ abstract.was_published|yesno:"Yes,No" }}</td>-->
                                    <!--<td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>-->
                                    <!--<td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>-->
                                    <!--<td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>-->
                                <!--</tr>-->
                                <!--{% endfor %}-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--<button type="submit" class="btn btn-success">Submit</button>-->
                    <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
{% endif %}
{% endif %}
{% if not request.user in event.evaluating_team.members.all or request.user.is_superuser %}
{% if not request.user in event.oral_poster_team.members.all %}
<div class="english-field">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseThree-2" class="english-field collapsed">
                    Evaluated abstracts ({{ evaluated_abstracts.count }})
                </a>
            </h4>
        </div>
        <div id="collapseThree-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <select name="action">
                        <option>Choose Action</option>
                        <option value="delete">Delete</option>
                        <option value="accepte_as_oral">Accept As Oral</option>
                        <option value="accepte_as_poster">Accept As Poster</option>
                        <option value="regect">Regect</option>
                    </select>
                    <div class="row">
                        <table id="evaluated" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Title</th>
                                    <th class="all">Presenting author</th>
                                    <th class="all">University</th>
                                    <th class="all">Presentation preference</th>
                                    <th class="all">Score</th>
                                    <th class="all">Accepted presentation preference</th>
                                    <th class="none">Evaluators</th>
                                    <th class="none">Study field</th>
                                    <th class="none">Collection method</th>
                                    <th class="none">Puplished?</th>
                                    <th class="none">Presented previously at HPC?</th>
                                    <th class="none">Presented previously at others?</th>
                                    <th class="none">Submission date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in evaluated_abstracts %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td>{{ abstract.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                    <td><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></td>
                                    <td>{{ abstract.university }}</td>
                                    <td>{{ abstract.get_presentation_preference_display }}</td>
                                    <td>ِ{{ abstract.get_average_score }}</td>
                                    {% if abstract.get_accepted_presentaion_preference_display %}
                                    <td>{{ abstract.get_accepted_presentaion_preference_display }}</td>
                                    {% else %}
                                    <td>{{ abstract.get_status_display }}</td>
                                    {% endif %}
                                    <td>
                                        <ul>
                                            {% for evaluator in abstract.evaluators.all %}
                                            <li>{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ abstract.study_field }}</td>
                                    <td>{{ abstract.collection_method }}</td>
                                    <td>{{ abstract.was_published|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>
                                    <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <button type="submit" class="btn btn-success">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="english-field">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseFour-2" class="english-field notcollapsed">
                    Deleted abstracts ({{ deleted_abstracts.count }})
                </a>
            </h4>
        </div>
        <div id="collapseFour-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <select name="action">
                      <option>Choose Action</option>
                      <option value="restore">Restore</option>
                    </select>
                    <div class="row">
                        <table id="deleted" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Title</th>
                                    <th class="all">Deletion justification</th>
                                    <th class="all">Presenting author</th>
                                    <th class="all">Presentation preference</th>
                                    <th class="none">Puplished?</th>
                                    <th class="none">Presented previously at HPC?</th>
                                    <th class="none">Presented previously at others?</th>
                                    <th class="none">Submission date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in deleted_abstracts %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td>{{ abstract.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                    <td>{{ abstract.why_deleted }}</td>
                                    <th><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></th>
                                    <td>{{ abstract.get_presentation_preference_display }}</td>
                                    <td>{{ abstract.was_published|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>
                                    <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<div class="row">
        <br>
    <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
        <h2 class="mentor-section-header">Evaluated Abstracts</h2>
    </div>
</div>
<div class="english-field">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseFive-2" class="english-field collapsed">
                    Pending abstracts ({{ evaluated_abstracts_pending.count }})
                </a>
            </h4>
        </div>
        <div id="collapseFive-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <select name="action">
                        <option>Choose Action</option>
                        <option value="delete">Delete</option>
                        <option value="accepte_as_oral">Accept As Oral</option>
                        <option value="accepte_as_poster">Accept As Poster</option>
                        <option value="regect">Regect</option>
                    </select>
                    <div class="row">
                        <table id="pending_evaluated" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Title</th>
                                    <th class="all">Presenting author</th>
                                    <th class="all">Presentation preference</th>
                                    <th class="all">Score</th>
                                    <th class="all">University</th>
                                    <th class="all">Accepted presentation preference</th>
                                    <th class="all">Presentation date</th>
                                    <th class="none">Evaluators</th>
                                    <th class="none">Study field</th>
                                    <th class="none">Collection method</th>
                                    <th class="none">Puplished?</th>
                                    <th class="none">Presented previously at HPC?</th>
                                    <th class="none">Presented previously at others?</th>
                                    <th class="none">Submission date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in evaluated_abstracts_pending %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td>{{ abstract.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                    <td><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></td>
                                    <td>{{ abstract.get_presentation_preference_display }}</td>
                                    <td>ِ{{ abstract.get_average_score }}</td>
                                    <td>{{ abstract.university }}</td>
                                    {% if abstract.get_accepted_presentaion_preference_display %}
                                    <td>{{ abstract.get_accepted_presentaion_preference_display }}</td>
                                    {% else %}
                                    <td>{{ abstract.get_status_display }}</td>
                                    {% endif %}
                                    <td>{{ abstract.presentaion_date }}</td>
                                    <td>
                                        <ul>
                                            {% for evaluator in abstract.evaluators.all %}
                                            <li>{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ abstract.study_field }}</td>
                                    <td>{{ abstract.collection_method }}</td>
                                    <td>{{ abstract.was_published|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>
                                    <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <button type="submit" class="btn btn-warning">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="english-field">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseSix-2" class="english-field collapsed">
                    Poster abstracts ({{ accepted_poster_abstracts.count }})
                </a>
            </h4>
        </div>
        <div id="collapseSix-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <select name="action">
                        <option>Choose Action</option>
                        <option value="delete">Delete</option>
                        <option value="accepte_as_oral">Accept As Oral</option>
                        <option value="regect">Regect</option>
                        <option value="first_day">16 January 2019</option>
                        <option value="second_day">17 January 2019</option>
                    </select>
                    <div class="row">
                        <table id="poster" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Title</th>
                                    <th class="all">Presenting author</th>
                                    <th class="all">Presentation preference</th>
                                    <th class="all">Score</th>
                                    <th class="all">University</th>
                                    <th class="all">Accepted presentation preference</th>
                                    <th class="all">Presentation date</th>
                                    <th class="none">Evaluators</th>
                                    <th class="none">Study field</th>
                                    <th class="none">Collection method</th>
                                    <th class="none">Puplished?</th>
                                    <th class="none">Presented previously at HPC?</th>
                                    <th class="none">Presented previously at others?</th>
                                    <th class="none">Submission date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in accepted_poster_abstracts %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td>{{ abstract.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                    <td><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></td>
                                    <td>{{ abstract.get_presentation_preference_display }}</td>
                                    <td>ِ{{ abstract.get_average_score }}</td>
                                    <td>{{ abstract.university }}</td>
                                    {% if abstract.get_accepted_presentaion_preference_display %}
                                    <td>{{ abstract.get_accepted_presentaion_preference_display }}</td>
                                    {% else %}
                                    <td>{{ abstract.get_status_display }}</td>
                                    {% endif %}
                                    <td>{{ abstract.presentaion_date }}</td>
                                    <td>
                                        <ul>
                                            {% for evaluator in abstract.evaluators.all %}
                                            <li>{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ abstract.study_field }}</td>
                                    <td>{{ abstract.collection_method }}</td>
                                    <td>{{ abstract.was_published|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>
                                    <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <button type="submit" class="btn btn-info">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="english-field">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseSeven-2" class="english-field collapsed">
                    Oral abstracts ({{ accepted_oral_abstracts.count }})
                </a>
            </h4>
        </div>
        <div id="collapseSeven-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <select name="action">
                        <option>Choose Action</option>
                        <option value="delete">Delete</option>
                        <option value="accepte_as_poster">Accept As Poster</option>
                        <option value="regect">Regect</option>
                        <option value="first_day">16 January 2019</option>
                        <option value="second_day">17 January 2019</option>
                    </select>
                    <div class="row">
                        <table id="oral" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Title</th>
                                    <th class="all">Presenting author</th>
                                    <th class="all">Presentation preference</th>
                                    <th class="all">Score</th>
                                    <th class="all">University</th>
                                    <th class="all">Accepted presentation preference</th>
                                    <th class="all">Presentation date</th>
                                    <th class="none">Evaluators</th>
                                    <th class="none">Study field</th>
                                    <th class="none">Collection method</th>
                                    <th class="none">Puplished?</th>
                                    <th class="none">Presented previously at HPC?</th>
                                    <th class="none">Presented previously at others?</th>
                                    <th class="none">Submission date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in accepted_oral_abstracts %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td>{{ abstract.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                    <td><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></td>
                                    <td>{{ abstract.get_presentation_preference_display }}</td>
                                    <td>ِ{{ abstract.get_average_score }}</td>
                                    <td>{{ abstract.university }}</td>
                                    {% if abstract.get_accepted_presentaion_preference_display %}
                                    <td>{{ abstract.get_accepted_presentaion_preference_display }}</td>
                                    {% else %}
                                    <td>{{ abstract.get_status_display }}</td>
                                    {% endif %}
                                    <td>{{ abstract.presentaion_date }}</td>
                                    <td>
                                        <ul>
                                            {% for evaluator in abstract.evaluators.all %}
                                            <li>{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ abstract.study_field }}</td>
                                    <td>{{ abstract.collection_method }}</td>
                                    <td>{{ abstract.was_published|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>
                                    <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <button type="submit" class="btn btn-success">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="english-field">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseEight-2" class="english-field collapsed">
                    Regected abstracts ({{ evaluated_abstracts_regected.count }})
                </a>
            </h4>
        </div>
        <div id="collapseEight-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <select name="action">
                        <option>Choose Action</option>
                        <option value="delete">Delete</option>
                        <option value="accepte_as_oral">Accept As Oral</option>
                        <option value="accepte_as_poster">Accept As Poster</option>
                    </select>
                    <div class="row">
                        <table id="regected" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="all">ID</th>
                                    <th class="all">Title</th>
                                    <th class="all">Presenting author</th>
                                    <th class="all">Presentation preference</th>
                                    <th class="all">Score</th>
                                    <th class="all">University</th>
                                    <th class="all">Accepted presentation preference</th>
                                    <th class="all">Presentation date</th>
                                    <th class="none">Evaluators</th>
                                    <th class="none">Study field</th>
                                    <th class="none">Collection method</th>
                                    <th class="none">Puplished?</th>
                                    <th class="none">Presented previously at HPC?</th>
                                    <th class="none">Presented previously at others?</th>
                                    <th class="none">Submission date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for abstract in evaluated_abstracts_regected %}
                                <tr>
                                    <td><input type="checkbox" value="1" name="pk_{{ abstract.pk }}"></td>
                                    <td>{{ abstract.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_abstract' event.code_name abstract.pk %}">{{ abstract.title }}</a></td>
                                    <td><a href="{% url 'events:list_user_abstracts' event.code_name abstract.user.pk %}">{{ abstract.presenting_author }}</a></td>
                                    <td>{{ abstract.get_presentation_preference_display }}</td>
                                    <td>ِ{{ abstract.get_average_score }}</td>
                                    <td>{{ abstract.university }}</td>
                                    {% if abstract.get_accepted_presentaion_preference_display %}
                                    <td>{{ abstract.get_accepted_presentaion_preference_display }}</td>
                                    {% else %}
                                    <td>{{ abstract.get_status_display }}</td>
                                    {% endif %}
                                    <td>{{ abstract.presentaion_date }}</td>
                                    <td>
                                        <ul>
                                            {% for evaluator in abstract.evaluators.all %}
                                            <li>{{ evaluator.common_profile.en_last_name|default:evaluator.username }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ abstract.study_field }}</td>
                                    <td>{{ abstract.collection_method }}</td>
                                    <td>{{ abstract.was_published|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_previously|yesno:"Yes,No" }}</td>
                                    <td>{{ abstract.was_presented_at_others|yesno:"Yes,No" }}</td>
                                    <td data-order="{{ abstract.date_submitted|date:" U " }}">{{ abstract.date_submitted }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <button type="submit" class="btn btn-danger">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <br>
    <div class="col-sm-6 col-sm-offset-3 mentor-section-intro">
        <h2 class="mentor-section-header">Case Reports</h2>
    </div>
</div>
<div class="english-field">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#activities-accordion" href="#collapseNine-2" class="english-field collapsed">
                    Case Reports ({{ casereports.count }})
                </a>
            </h4>
        </div>
        <div id="collapseNine-2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                    <div class="row">
                        <table id="casereport" class="display datatable dt-responsive">
                            <thead>
                                <tr>
                                    <th class="all">ID</th>
                                    <th class="not-mobile">Title</th>
                                    <th>Presenting author</th>
                                    <th>University</th>
                                    <th>Presentation preference</th>
                                    <th>Accepted presentation preference</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for casereport in casereports %}
                                <tr>
                                    <td>{{ casereport.pk }}</td>
                                    <td class="not-mobile"><a href="{% url 'events:show_casereport' event.code_name casereport.pk %}">{{ casereport.title }}</a></td>
                                    <td><a href="{% url 'events:list_user_abstracts' event.code_name casereport.user.pk %}">{{ casereport.presenting_author }}</a></td>
                                    <td>ِ{{ casereport.university }}</td>
                                    <td>{{ casereport.get_presentation_preference_display }}</td>
                                    {% if casereport.get_accepted_presentaion_preference_display %}
                                    <td>{{ casereport.get_accepted_presentaion_preference_display }}</td>
                                    {% else %}
                                    <td>{{ casereport.get_status_display }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <button type="submit" class="btn btn-info">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<style type="text/css">
    th,
    td {
        text-align: left;
    }

</style>
<script>
    $(function() {
        $("#pending").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#sorted").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#one_evaluator").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#evaluated").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#deleted").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#pending_evaluated").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#poster").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#oral").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#regected").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
        $("#casereport").dataTable({
            "order": [
                [1, "desc"]
            ]
        });
    });

</script>
{% endblock %}
