{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load bootstrap3 %}

{% block title %}{{ abstract.event.english_name }}: {{ abstract.title }}{% endblock %}

{% block content %}
<div class="english-field">
<p class="alert alert-warning"><i class="fa fa-hourglass-half" aria-hidden="true"></i> This abstract is currently pending revision.</p>
	<table class="table table-bordered">
          <colgroup>
            <col class="col-xs-4">
            <col class="col-xs-8">
          </colgroup>
		<thead>
			<tr>
				<th colspan="2" class="text-center">{{ abstract.title }}</th>
			</tr>
		</thead>

		<tbody>
            <tr>
                <th class="text-center">Presentation preference</th>
                <td>{{ abstract.get_presentation_preference_display }}</td>
            </tr>
			<tr>
				<th class="text-center">Authors</th>
				<td class="activity-description">{{ abstract.authors|linebreaksbr }}</td>
			</tr>
			<tr>
				<th class="text-center">Presenting author</th>
				<td>{{ abstract.presenting_author }}</td>
      </tr>
			<tr>
				<th class="text-center">Study field</th>
				<td>{{ abstract.study_field }}</td>
			</tr>
			<tr>
				<th class="text-center">University</th>
				<td>{{ abstract.university }}</td>
			</tr>
			<tr>
				<th class="text-center">College</th>
				<td>{{ abstract.college }}</td>
			</tr>
            <tr>
                <th class="text-center">Level</th>
				<td>{{ abstract.get_level_display }}</td>
			</tr>
            <tr>
				<th class="text-center">Email</th>
				<td><a href="mailto:{{ abstract.email }}">{{ abstract.email }}</a></td>
			</tr>

			<tr>
				<th class="text-center">Phone</th>
				<td>{{ abstract.phone }}</td>
            </tr>
            <tr>

            </tr>
		</tbody>
	</table>

<h3>Introduction</h3>
{{ abstract.introduction|safe }}
<h3>Methodology</h3>
{{ abstract.methodology|safe }}
<h3>Results</h3>
{{ abstract.results|safe }}
<h3>Discussion</h3>
{{ abstract.discussion|safe }}
<h3>Conclusion</h3>
{{ abstract.conclusion|safe }}

<div class="row" style="margin-left: 0; margin-bottom: 5px;">
<div style="float: right;">
	<!-- <button id="edit-abstract" class="btn btn-icon btn-success">
			<i class="entypo-pencil"></i>
			Edit
	</button> -->
	<button data-url="{% url 'events:delete_abstract' event.code_name abstract.pk %}" class="confirm-delete-abstract btn btn-icon btn-danger">
			<i class="entypo-block"></i>
			Delete
	</button>
</div>
</div>

{% comment %}
   {# <h2>Evaluate</h2> #}
{% if form.errors %}
        <p class="alert alert-danger"><i class="entypo-flag"></i>Make sure that you have filled all questions.</p>
{% endif %}
    {% if abstract.evaluation.pk %}
    <p class="alert alert-success"><i class="entypo-flag"></i>This abstract was evaluated by {{ abstract.evaluation.evaluator.en_last_name|default:abstract.evaluation.evaluator }} on {{ abstract.evaluation.date_submitted|date:"Y-m-d" }}.</p>
    {% endif %}
    {% if not abstract.evaluation.pk or abstract.evaluation.evaluator == user or user.is_superuser %}
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <h4 class="english-field">{{ field.label }}</h4>
              {% for choice in field %}
               {% if not forloop.first %}
                 {{ choice }}
               {% endif %}
              {% endfor %}
        </div>
        {% endfor %}
        {#  <div class="form-group"> #}
            {#  <button type="submit" class="btn btn-success">Submit</button>#}
        {#  </div>#}
    </form>
    {% endif %}
{% endcomment %}
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script type="text/javascript">
$(function(){
    $('#edit-abstract-modal').modal({
      keyboard: false,
      backdrop: 'static',
      show    : false,
    });
    $("button#edit-abstract").click(function () {
        $("#edit-abstract-modal").modal('show');
        $("#edit-abstract-modal .modal-title").html("Edit {{ abstract.title }}");
        $("#edit-abstract-modal .modal-body").load("{% url 'events:edit_abstract' event.code_name abstract.pk %}");
        var $submitButton = $("#edit-abstract-modal button.submit-button");
        $submitButton.off('click');
        $submitButton.click(function () {
            $("form#edit-abstract-form").submit();
        });
    });
});
{% include 'bulb/adjust_modal_size.js' %}
</script>
<style>
p{
    font-size: 17px;
}
</style>
{% with modal_id='edit-abstract-modal' %}
    {% include "events/abstracts/partials/common_edit_modal.html" %}
{% endwith %}
{% with model='abstract' %}
    {% include "events/abstracts/partials/delete_asset.html" %}
{% endwith %}
{% endblock %}
