{% extends 'events_evaluation_base.html' %}{% load staticfiles %}{% load bootstrap3 %} {% load events_tags %}

{% block title %}{{ abstract.event.english_name }}: {{ abstract.title }}{% endblock %}

{% block content %}
<style>
h2{
  font-size: 20px;
  border: 1px solid #ebebeb;
  background-color: #f5f5f6;
  color: #a6a7aa;
  padding: 10px;
  text-align: center;
}
h4{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
</style>

    <div class="english-field">
    {% if abstract.status == 'P' %}
        <!--{% if user|can_evaluate_abstracts:event or user in event.oral_poster_team.members.all or user in event.organizing_team.members.all or user.is_superuser  %}{% endif %}-->
        {% if user.is_superuser  %}
            <p class="alert alert-warning"><i class="fa fa-hourglass-half" aria-hidden="true"></i> This abstract is : {{ abstract.get_status_display }}</p>
        {% endif %}
        <!--
            If the event is not the current year event, user will be shown that the abstract has been rejected.
        -->
        {% if abstract.event.end_date.year < current_studentclub_year %}
            {% if user.is_superuser or user in event.organizing_team.members.all or user in event.oral_poster_team.members.all or user|can_evaluate_abstracts:event %}
                <p class="alert alert-danger"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Abstract has been submitted to {% if abstract.event.is_official_name_english %}{{ abstract.event.english_name }}{% else %}{{ abstract.event.official_name }}{% endif %} and has not been {% if not already_sorted %} sorted or{% endif %} evaluated</p>
            {% elif not user|can_evaluate_abstracts:event %}
                <p class="alert alert-danger"><i class="fa fa-hourglass-half" aria-hidden="true"></i> This abstract has been rejected in {% if abstract.event.is_official_name_english %}{{ abstract.event.english_name }}{% else %}{{ abstract.event.official_name }}{% endif %}</p>
            {% endif %}
        <!--
            If the abstract is submitted to this year version of HPC, user will be shown a successful submission banner with contact us urls.
        -->
        {% else %}
            {% if user.is_superuser or not user|can_evaluate_abstracts:event %}
                <p class="alert alert-success"> Dear {{ abstract.presenting_author }}, Your abstract with the title of "{{ abstract.title }}" has been submitted successfully to {% if abstract.event.is_official_name_english %}{{ abstract.event.english_name }}{% else %}{{ abstract.event.official_name }}{% endif %}
                    Your <b> abstract ID is #{{ abstract.pk }}</b>
                    . If you have any concerns contact us on
                    {% if abstract.event.city == "الرياض" %}
                        <a target="_blank" href="https://t.me/HPC2020">Telegram</a>, or send us an e-mail to <a target="_blank" href="mailto: HPC-notifications@enjazportal.com">HPC-notifications@enjazportal.com.</a>
                    {% elif abstract.event.city == "جدة" %}
                        <a target="_blank" href="https://twitter.com/Ksauh_Jedevents">Twitter.</a>
                    {% elif abstract.event.city == "الأحساء" %}
                        <a target="_blank" href="https://twitter.com/Ksau_AhsaEvents">Twitter.</a>
                    {% endif %}
                </p>
                {% endif %}
        {% endif %}
    {% endif %}
    {% if abstract.status == 'A' %}
    <p class="alert alert-success"> This abstract is : {{ abstract.get_status_display }} in {% if abstract.event.is_official_name_english %}{{ abstract.event.english_name }}{% else %}{{ abstract.event.official_name }}{% endif %}</p>
    {% endif %}
    {% if abstract.status == 'R' %}
    <p class="alert alert-danger"> This abstract is : {{ abstract.get_status_display }} {% if abstract.event.is_official_name_english %}{{ abstract.event.english_name }}{% else %}{{ abstract.event.official_name }}{% endif %}</p>
    {% endif %}

    {% include 'events/abstracts/partials/abstract_table.html' %}
<div class="row" style="margin-left: 0; margin-bottom: 5px; ">
{%  if abstract.status == 'A' %}
    {% if abstract.accepted_presentaion_preference == 'P' %}
        {% if  abstract.posters.exists %}
        {% else %}
            <h2>Accepted as {{ abstract.get_accepted_presentaion_preference_display }}</h2>
            <h3 class="english-field"><b>Congratulations!</b><br> Your abstract has been accepted to be presented on {{ abstract.event.english_name }} | {{ abstract.presentaion_date|date:"Y-n-j" }}.
            {% if abstract.event.code_name != 'hpc2020-j' %}
                We require all accepted abstract submitters to upload their poster image and powerpoint,make sure you have follow the guidlines : </h3>

                <h4><li>Each poster can have maximally two slides (dont crowd everything in one slide, you have enough space with two slides).</li>

                    <li>Size and dimensions of the slide are already set in {% if abstract.event.code_name == 'hpc2020-a' %}<a href="https://enjazportal.com/media/files/HPC2020PosterPresesntationTemplate.pptx">{% else %}<a href="//riyadh link//">{% endif %} the template</a>, so PLEASE, don't make any changes of size and dimensions of the slides.AND PLEASE do not add any additonal logos.</li>

                    <li>The least acceptable font size in the body texts is 40.</li>

                    <li>No sounds or videos can be uploaded with the eposter, only pictures and graphs (make sure, that you use big enough graphs).</li>

                    <li>When you paste a picture or a graph on the slide, choose "keep source formatting". (mandatory)</li>

                    <li>Each eposter should be saved into two formats PPT and JPEG (make sure that the picture in  JPEG format is not distorted after you export the file).</li>

                    <li>Both the PPT and JPEG should be uploaded to the enjaz system. <b>Files MUST be named: <span style= "color: red">"{{ abstract.event.code_name }}_{{ abstract.pk }}"</span></b>.</li>

                    <li>Please upload your poster before the <b>{% if abstract.event.code_name == 'hpc2020-j' %} //jeddah deadline// {% elif abstract.event.code_name == 'hpc2020-a' %} 24 {% else %}//riyadh deadline//{% endif %} of January 2020</b> as we will not accept any posters after that date.</li>

                    <li>Please do not hesitate to contact us for any further assistance{% if abstract.event.code_name == 'hpc2020-a' %} Almulhim048@ksau-hs.edu.sa {% else %} hpc-notifications@enjazportal.com {% endif %}</li></h4>
            <div class="submit" style="margin-left: 9%; margin-bottom: 10px; margin-right: 9%;">
            <form method="post" action="{% url 'events:show_abstract' event.code_name abstract.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>

                        <p>
                            Powerpoint:
                            {{ form.poster_powerpoint.errors }}
                            {{ form.poster_powerpoint }}
                        </p>
                        <p>
                            1st slide in JPEG format :
                            {{ form.first_image.errors }}
                            {{ form.first_image }}
                        </p>
                        <p>
                            2nd slide in JPEG format :
                            {{ form.second_image.errors }}
                            {{ form.second_image }}
                        </p>
                <input type="submit" class="btn btn-success" value="submit">
            </form>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if abstract.accepted_presentaion_preference == 'O' %}
        {% if abstract.posters.exists %}
        {% else %}
            <h2>Accepted as {{ abstract.get_accepted_presentaion_preference_display }}</h2>
                <h3 class="english-field"><b>Congratulations!</b><br> Your abstract has been accepted to be presented on {{ abstract.event.english_name }} | {{ abstract.presentaion_date|date:"Y-n-j" }}.  We require all accepted abstract submitters to upload their presntation file: </h3>
    
                <h4><li>Please upload your presntation before the <b>{% if abstract.event.code_name == 'hpc2019-j' %}{% elif abstract.event.code_name == 'hpc2020-a' %}24{% else %}-{% endif %} of January 2020</b> as we will not accept any presntation after that date.</li>
                <li><b>File MUST be named: <span style= "color: red">"{{ abstract.event.code_name }}_{{ abstract.pk }}"</span></b></li>
                <li>File MUST be on PowePoint format</li>
                {% if abstract.event.code_name == 'hpc2020-a' %}<li><a href="https://enjazportal.com/media/files/events/HPC2020OralPresesntationTemplate.pptx">Use this template</a></li>{% endif %}
                <li>You have 7 minutes for the presentation and 3 minutes for the discussion</li>
                <li>Please do not hesitate to contact us for any further assistance hpc-notifications@enjazportal.com</li></h4>
                <div class="submit" style="margin-left: 9%; margin-bottom: 10px; margin-right: 9%;">
                <form method="post" action="{% url 'events:presntation_upload' event.code_name abstract.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                            <p>
                                Upload presentation file:
                                {{ presentation_form.presentation_file.errors }}
                                {{ presentation_form.presentation_file }}
                            </p>

                    <input type="submit" class="btn btn-success" value="Click here">
                </form>
                </div>
        {% endif %}
    {% endif %}

{% endif %}
</div>

{% if not already_sorted %}
<div style="float: right;">
	<!-- <button id="edit-abstract" class="btn btn-icon btn-success">
			<i class="entypo-pencil"></i>
			Edit
	</button> -->
    {% if user|can_evaluate_abstracts:event or user in event.oral_poster_team.members.all or user in event.organizing_team.members.all or user.is_superuser %}
        <button data-url="{% url 'events:delete_abstract' event.code_name abstract.pk %}" class="confirm-delete-abstract btn btn-icon btn-danger">
                <i class="entypo-block"></i>
                Delete
        </button>
    {% endif %}
</div>

{% if user in event.oral_poster_team.members.all or user in event.organizing_team.members.all or user.is_superuser %}
<div style="float: left">
    <button id="sorting_btn" class="btn btn-icon btn-primary">
        <a style="color:#fff" href="{% url 'events:add_sorting' event.code_name abstract.pk %}">
            <i class="entypo-check"></i>
            Sort
        </a>
    </button>
    <!--<form id="sorting_form" method="post" enctype="multipart/form-data">-->
        <!--{% csrf_token %}-->
        <!--<a href=""><p>Sorting Criteria</p></a>-->
            <!--<form method="post" enctype="multipart/form-data">-->
    <!--<div class="col-sm-12">-->
        <!--{% csrf_token %}-->
        <!--{% for field in sorting_form %}-->
        <!--<div class="row">-->
            <!--<div class="form-group">-->
            <!--{{ field.label }} : {{field}}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-12">-->
            <!--<input id="submit" class="btn btn-btn-success" type="submit" value="Submit">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</form>-->
    <!--</form>-->
</div>
{% endif %}

{% endif %}

</div>



{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script type="text/javascript">
$(function(){
    <!--$("#sorting_form").hide();-->

    <!--$("button#sorting_btn").click(function () {-->
        <!--$("#sorting_form").show()-->
    <!--});-->

    $('#edit-abstract-modal').modal({
      keyboard: false,
      backdrop: 'static',
      show    : false,
    });
    $("button#edit-abstract").click(function () {
        $("#edit-abstract-modal").modal('show');
        $("#edit-abstract-modal .modal-title").html("Edit {{ abstract.title }}");
        $("#edit-abstract-modal .modal-body").load("{% url 'events:edit_abstract' event.code_name abstract.pk %}");
        var $submitButton = $("#edit-abstract-modal button.submit-button");
        $submitButton.off('click');
        $submitButton.click(function () {
            $("form#edit-abstract-form").submit();
        });
    });
});
{% include 'bulb/adjust_modal_size.js' %}
</script>
<style>
p{
    font-size: 17px;
}
</style>
{% with modal_id='edit-abstract-modal' %}
    {% include "events/abstracts/partials/common_edit_modal.html" %}
{% endwith %}
{% with model='abstract' %}
    {% include "events/abstracts/partials/delete_asset.html" %}
{% endwith %}
{% endblock %}
