{% extends 'activities/show.html' %}{% load l10n %}
{% block review_content %}
<!--
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">تقييم المركز الإعلامي</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% if activity.get_media_assessment %}
                            <table class="table">
                                <thead>
                                    <th>المعيار</th>
                                    <td>النقاط</td>
                                </thead>
                                <tbody>
                                    {% for criterionvalue in activity.get_media_assessment.criterionvalue_set.all %}
                                    <tr>
                                        <td>{{ criterionvalue.criterion.ar_name }}</td>
                                        <td>{{ criterionvalue.value }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>الإجمالي</th>
                                        <th>{{ activity.get_media_assessment_points }}</th>
                                    </tr>
                                </tbody>
                            </table>
                        {% else %}
                        <p>لم يُقيّم المركز الإعلامي هذا النشاط بعد.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
-->
<div class="panel panel-default panel-shadow" data-collapsed="0">
	<!-- panel body -->
	<div class="panel-body with-table">
		<table class="table table-bordered table-responsive">
		<form method="post">
            {{ form.errors }}
		{% csrf_token %}
		<colgroup>
			<col class="col-md-2">
			<col class="col-md-7">
			<col class="col-md-3">
		</colgroup>
		<thead>
			<tr>
				<th>المعيار</th>
				<th>الخيارات</th>
				<th>النقاط</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<th>فكرة النشاط</th>
				<td>
					<p class="alert alert-warning"><i class="entypo-eye"></i>
					وصف النشاط: {{ activity.description }}
					</p>
					<label>
						<input type="radio" value="3" name="branched_idea_option"> فكرة تتفرع إلى نقاط<span class="points">(3 نقاط)</span>
					</label>

					<br>
					<label>
						<input data-other='true' type="radio" value="" name="branched_idea_option"> أخرى
					</label>
				</td>
				<td>{{ form.criterion_branched_idea }}</td>
			</tr>
            <tr>
                <th>فكرة غير تقليدية</th>
                <td>
                    <label>
                        <input type="radio" value="10" name="new_idea_option"> نعم <span class="points">(10 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="new_idea_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>

              <td>{{ form.criterion_new_idea }}</td>

            </tr>

            <tr>
      				<th>فكرة طالب/ة</th>
      				<td>
      					<div class="alert alert-warning"><i class="entypo-eye"></i>
                              إذا كانت فكرة طالب/ة، يذكر ذلك في الوصف.  وصف هذا النشاط: <blockquote>{{ activity.description }}</blockquote>
                </div>

      					<label>
      						<input type="radio" value="3" name="student_idea_option"> نعم <span class="points">(3 نقاط)</span>
      					</label>
      					<br>
      					<label>
      						<input type="radio" value="0" name="student_idea_option"> لا <span class="points">(لا نقاط)</span>
      					</label>
      				</td>
      				<td>{{ form.criterion_student_idea }}</td>
      			</tr>

            <tr>
      				<th>مكان النشاط</th>
      				<td>
      					<label>
      						<input type="checkbox" value="5" name="place_option"> نشاط داخل كليات الجامعة<span class="points">(5 نقاط)</span>
      					</label>
                <br>
                <label>
      						<input type="checkbox" value="10" name="place_option"> نشاط خارج كليات الجامعة<span class="points">(10 نقاط)</span>
      					</label>
                <br>
                <label>
                  <input type="checkbox" value="3" name="place_option"> نشاط إلكتروني <span class="points">(3 نقاط)</span>
                </label>
      					<br>
      				</td>
      				<td>{{ form.criterion_place }}</td>
      			</tr>

            <tr>
                <th>طرح الفكرة بطريقة غير تقليدية</th>
                <td>
                   <label>
                        <input type="radio" value="10" name="creative_idea_option"> نعم <span class="points">(10 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="creative_idea_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>
                <td>{{ form.criterion_creative_idea }}</td>
            </tr>

            <tr>
                <th>استعمال وسائل مصاحبة </th>
                <td>
                    <label>
                        <input type="radio" value="2" name="use_resources_option"> نعم <span class="points">(2 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="use_resources_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>
                <td>{{ form.criterion_use_resources }}</td>
            </tr>

            <tr>
                <th>الشكل العام لمكان النشاط</th>
                <td>
                    <label>
                        <input type="radio" value="2" name="apperance_option"> نعم <span class="points">(2 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="apperance_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>
                <td>{{ form.criterion_apperance }}</td>
            </tr>

            <tr>
                <th> إرشاد وتنظيم الحضور</th>
                <td>
                    <label>
                        <input type="radio" value="2" name="attendees_orgnisation_option"> نعم <span class="points">(2 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="attendees_orgnisation_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>
                <td>{{ form.criterion_attendees_orgnisation }}</td>
            </tr>
            <tr>
                <th> رضى الحضور</th>
                <td>
                  <p class="alert alert-warning"><i class="entypo-eye"></i>
        					{% if activity.get_evaluations.count %}
        						{% if activity.get_evaluations.count >= 20 %}
        							قيّم هذا النشاط أكثر من 20 طالبة أو طالب <span class="points">({{ activity.get_evaluations.count }} طالبـ/ـة)</span>)، ومنحوه <span class="points">{{ activity.get_quality_score_average }} في الجودة</span>  و<span class="points">{{ activity.get_relevance_score_average }}في الملائمة</span>.
        						{% else %}
        							قيّم هذا النشاط <span class="points">{{ activity.get_evaluations.count }} طالب</span> فقط (منحوه <span class="points">{{ activity.get_quality_score_average }} من 5 في الجودة</span>  و<span class="points">{{ activity.get_relevance_score_average }} من 5 في الملائمة</span>؛ وكانت تقييمهم له %{{ activity.get_evaluation_percentage }} )
        						{% endif %}
        					{% else %}
        							لم يُقيّم أي طالب أو طالبة هذا النشاط.
        					{% endif %}
                </p>
                    <label>
                        <input type="radio" value="2" name="attendees_satisfaction_option"> نعم <span class="points">(2 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="attendees_satisfaction_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>
                <td>{{ form.criterion_attendees_satisfaction }}</td>
            </tr>

            <tr>
                <th> حسن إدارة النشاط</th>
                <td>
                    <label>
                        <input type="radio" value="2" name="orgnisation_option"> نعم <span class="points">(2 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="orgnisation_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>
                <td>{{ form.criterion_orgnisation }}</td>
            </tr>
            <tr>
                <th> عدد الحضور</th>
                <td>
                  <p class="alert alert-warning"><i class="entypo-eye"></i>
        					هل يتلائم عدد الحضور المتوقع مع العدد الفعلي؟
                  <br><strong>عدد الحضور المتوقع عند رفع النشاط:</strong> {{ activity.participants }}
                  <br><strong>عدد النقاط المُدخلة للحضور:</strong> {{ total_participation_codes }}
                  <br><strong>إجمالي الحضور الموثّقين في التقارير العمادة:</strong>  {% if total_employee_attendants %}{{ total_employee_attendants }}{% else %}<span style="color: red;">لم يرفع أي تقرير للعمادة</span>{% endif %}
        					</p>
                    <label>
                        <input type="radio" value="10" name="attendees_option"> نعم <span class="points">(10 نقاط)</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio" value="0" name="attendees_option"> لا <span class="points">(لا نقاط)</span>
                    </label>
                </td>
                <td>{{ form.criterion_attendees }}</td>
            </tr>
            <tr>
      				<th>التعاون</th>
      				<td>
      					<label>
      						<input type="checkbox" value="15" name="cooperation_option"> التعاون مع رئاسة نادي الطلاب <span class="points">(15 نقاط)</span>
      					</label>
                <br>
                <label>
      						<input type="checkbox" value="10" name="cooperation_option"> الشراكة مع جهة خارجية<span class="points">(10 نقاط)</span>
      					</label>
                <br>
                <label>
                  <input type="checkbox" value="10" name="cooperation_option"> رعاية من جهة خارجية<span class="points">(10 نقاط)</span>
                </label>
              		</td>
      				<td>{{ form.criterion_cooperation }}</td>
      			</tr>


			<tr>
				<th>أيام النشاط </th>
				<td>
            <div class="alert alert-warning">
            <p><i class="entypo-eye"></i>
            {% if activity.get_total_days > 1 %}
            كان لهذا النشاط  {{ activity.get_total_days }} أيام
            {% else %}
            لم يكن لهذا النشاط سوى يوم واحد.
            {% endif %}
            <br>
            أجزاء النشاط كانت:
          </p>
              <ul>
                  {% for episode in activity.episode_set.all %}
                  <li>
                    من {{ episode.start_date }} إلى {{ episode.end_date }} (عدد الأيام: {{ episode.get_total_days}})
                  </li>
                  {% endfor %}
              </ul>


          </div>
					<label>
						<input type="radio" data-choice="days" name="activity_days_option"> أحسب لكل يوم 3 نقاط
					</label>
              <br>
					<label>
						<input data-other='true' type="radio" value="" name="activity_days_option"> أخرى
					</label>
				</td>
				<td>{{ form.criterion_activity_days }}</td>
			</tr>



      <br>
      <label>			<tr>
    <th>ساعات النشاط</th>
    <td>
      <div class="alert alert-warning">
      <p><i class="entypo-eye"></i>
      {% if activity.get_total_hours > 1 %}
    كان لهذا النشاط  {{ activity.get_total_hours }}   ساعة
      {% else %}
    لم يكن لهذا النشاط سوى ساعة واحدة
      {% endif %}
    أجزاء النشاط كانت:
      </p>
      <ul>
          {% for episode in activity.episode_set.all %}
          <li>
            من {{ episode.start_date }} إلى {{ episode.end_date }} (عدد الساعات: {{ episode.get_total_hours }})
          </li>
          {% endfor %}
      </ul>
      </div>
      <label>
        <input type="radio" data-choice="hours" value="{{ activity.get_total_hours }}" name="activity_hours_option"> نقطة لكل ساعة <span class="points">({{ activity.get_total_hours }} نقاط)</span>
      </label>
      <br>
      <label>
        <input data-other='true' type="radio" value="" name="activity_hours_option"> أخرى
      </label>
    </td>
    <td>{{ form.criterion_activity_hours }}</td>
  </tr>

        <tr>
  				<th>برنامج نقاطي</th>
  				<td>
  					<p class="alert alert-warning"><i class="entypo-eye"></i>
              تحسب نقاط برنامج نقاطي بشكل ألي وستضاف بشكل تلقائي لمجموع نقاط النادي في نهاية العام.  إجمالي النقاط التي أدخلها الطلاب والطالبات لهذا النشاط: {{ total_activity_codes }}.
            </p>
          </td>
          <td><input name="niqati" type="number" value="{{ total_niqati_points }}" readonly disabled></td>
        </tr>
			<tr>
				<th>التعاون</th>
				<td>
					<div class="alert alert-warning"><i class="entypo-eye"></i>
					{% if activity.secondary_clubs.exists %}
					الأندية المتعاونة مع {{ activity.primary_club }} لإقامة هذا النشاط هي:
                        <ul>
                            {% for secondary_club in activity.secondary_clubs.all %}<li>{{ secondary_club }}</li>{% endfor %}
                        </ul>
                        <p style="text-decoration: italic; font-size: 0.8em;">نرجو ملاحظة أن هذا الرقم لا يشمل النقاط المستحقّة من برنامج نقاطي بحكم أن تلك النقاط ليست ثابتة ولأجل ذلك فهي تُحسب بشكل آلي وستضاف لمجموع نقاط الأندية المنظّمة للنشاط في نهاية السنة</p>
					{% else %}
					لم يُسجّل أي نادٍ متعاون لإقامة هذا النشاط.
					{% endif %}
					</div>
                    {% if activity.secondary_clubs.exists %}
					<label>
						<input type="radio" data-choice="shared-points" name="cooperator_points_option"> تقسيم العمل كان بالمناصفة <span class="points">(نصف عدد النقاط تعطى لكل من الأندية المتعاونة؛ مع 3 نقاط للنادي المرسل للنشاط)</span>
					</label>
					<br>
					<label>
						<input type="radio" value="3" name="cooperator_points_option"> تقسيم العمل لم يكن مناصفة <span class="points">(3 نقاط لكلٍ من الأندية المتعاونة)</span>
					</label>
					<br>
					<label>
						<input type="radio" data-choice="none" value="0" name="cooperator_points_option"> لا تحسب التعاون <span class="points">(لا نقاط للأندية المتعاونة)</span>
					</label>
                    <br>
					<label>
						<input type="radio" data-choice="other" value="" name="cooperator_points_option"> أخرى
					</label>
                    {% endif %}
				</td>
				<td>{{ form.cooperator_points }}</td>
			</tr>
			<tr>
				<th  colspan="2">الإجمالي</th>
				<th class="total"></th>

			</tr>
			<tr>
				<td>
				ملاحظة
				</td>
				<td colspan="2">
				{{ form.notes }}
				</td>
			</tr>
			<tr><td colspan="3">
		    	<button type="submit" class="btn btn-primary btn-block">
		    		<span class="glyphicon glyphicon-ok-sign"></span> أرسل
		    	</button>
			</td></tr>
		</tbody>
    {% if assessment.has_shared_points %}
    <input type="hidden" name="has_shared_points" id="id_has_shared_points" value="true">
    {% endif %}
	</form>
	</table>

	</div>
</div>
<script>
$(function(){
	// All criteria fields should be required.
	$('input[type=number]').prop('required', 'required');
  // Allow float numbers in cooperator_points
  $('#id_cooperator_points').prop('step', 'any');
	$('input[type=checkbox]').change(function(){
		criterion_field_name = 'criterion_' + $(this).prop('name').replace('_option', '');
		criterion_field = $('#id_' + criterion_field_name);
        criterion_total = 0;
		$.each($('input[type=checkbox][name=' + $(this).prop('name') +']:checked'), function(index, element){
			criterion_total += +$(element).val();
		});
		$(criterion_field).val(criterion_total);
	});
	// Choosing a radio input changes the criterion field.
	$('input[type=radio]').change(function(){
		criterion_field_name = 'criterion_' + $(this).prop('name').replace('_option', '');
		criterion_field = $('#id_' + criterion_field_name);
		$(criterion_field).val($(this).val());
	});
	// Choosing the criterion field results in choosing the match radio option (or other if no matches were found).
  function link_text_to_radio(){
		criterion_code_name = $(this).prop('name').replace('criterion_', '');
		entered_value = $(this).val();
		entered_option = $('input[name=' + criterion_code_name +'_option][value=' + entered_value + '][type=radio]:first');
		if (entered_option.length){
			entered_option.prop('checked', 'checked');
		}else{
			other_option = $('input[name=' + criterion_code_name +'_option][data-other=true]');
			other_option.prop('checked', 'checked');
		}
	}
    // If students' percentage is 80 or more, automatically select give them the credit.
    var evaluation_percentage = {% if activity.get_evaluation_percentage %}{{ activity.get_evaluation_percentage|unlocalize }}{% else %}0{% endif %};
    if (80 >= evaluation_percentage){
        $('input[data-choice=episodes][name=student_evaluation_option]').prop('checked', 'checked').trigger('change');
    }
	// Day auto calculation
	var day_input = $('input[data-choice=days][name=activity_days_option]');
	var day_count = {{ activity.get_total_days }};
	var day_points = day_count * 3;
	day_input.val(day_points);
	day_input.closest("label").append('<span class="points">(' + day_points + ' نقاط)</span>');
    // Cooperation
    {% if activity.secondary_clubs.exists %}
	 $('input[name=cooperator_points_option]').change(function(){
        if ($('input[data-choice=shared-points][name=cooperator_points_option]').prop('checked')){
            $('#id_cooperator_points').addClass('shared-points');
            $('<input>').attr({
                type: 'hidden',
                id: 'id_has_shared_points',
                name: 'has_shared_points',
                value: true
            }).appendTo('form');
        }else{
            $('#id_cooperator_points').removeClass('shared-points');
            $('#id_has_shared_points').remove();
            $("#id_cooperator_points").val($(this).val());
        }
    });
    {% else %}
    $("#id_cooperator_points").hide();
    {% endif %}
    // On loading the page and on changing and click fields, update the total count.
    niqati_points = $("input[type=number][name=niqati]").val();
    function updateTotal(){
        var total = 0;
        $.each($('input[type=number][name^=criterion_], input[type=number][name=niqati]'), function(index, element){
          total += +$(element).val();
        });
        if ($("#id_has_shared_points").length){
          // Clubs with shared points take half the points, plus 3 points for submitting the activity.
          visible_total = (total / 2) + 3;
        } else {
          visible_total = total;
        }
        $('.total').html(visible_total);
        // Exclude niqati from the total given to cooperator clubs as this will be calculated at the end of the year.
        // If the total changes, also update the points given for cooperator, but only if equal points are given.
        $('input[data-choice=shared-points][name=cooperator_points_option]').val((total - niqati_points) / 2);
        $("#id_cooperator_points.shared-points").val((total - niqati_points) / 2);
      }
    updateTotal();
    if ($("#id_has_shared_points").length){
      $('#id_cooperator_points').addClass('shared-points');
      $('input[data-choice=shared-points][name=cooperator_points_option]').prop("checked", "checked");
    }
    $('input[type=number], input[type=radio], input[type=checkbox]').on('click change', updateTotal);

	$("textarea").removeAttr("cols")
		.removeAttr("rows")
		.css("height", "100%")
		.css("width", "100%")
		.addClass("form-control")
		.addClass("autogrow");
    $('input[name^=criterion_]').on('change', link_text_to_radio);
    $.each($('input[name^=criterion_]'), link_text_to_radio);
});
</script>
<style>
.points{
	color: black;
}
.alert{
    margin-bottom: 5px;
}
blockquote{
    margin-bottom: -8.5px;
}
</style>
{% endblock %}
