{% extends 'activities_base.html' %}{% load bootstrap3 %}
{% block title %}المسجلين{% endblock %}
{% block content %}


<div class="panel minimal minimal-gray">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>المسجلين</h2>
		</div>
	</div>
	<div class="panel-body">
		<div class="col-md-12">
		<div class="panel panel-success panel-shadow" data-collapsed="0">



				<table id="participants-table" class="table table-hover">
					<thead>
						<tr>
							<th>الأسم  </th>
							<th>الكلية  </th>
                            <th> الإيميل  </th>

						</tr>
					</thead>

					<tbody>
						<tr>
						{% for student in invitation.students %}
                            <td dir="auto"> {{ student.common_profile.get_ar_full_name  }}</td>
							<td>{{ student.common_profile.college.get_name_display }}</td>
							<td><a href="mailto:{{ student.email }}" >{{ student.email }}</a> </td>
						{% endfor %}
						</tr>
					</tbody>
				</table>

			</div>
			</div>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js">
	$(document).ready( function () {
    $("#participants-table").DataTable();
} );
</script>
{% endblock %}
