{% extends "base.html" %}
{% block title %}النشاطات{% endblock %}


<div class="row">

<div class="col-md-">

</div><!--/add row-->

{% block sidebar %}
{% if perms.activities.add_activity %}
<p style="font-size:1em;"><ul class="list-unstyled"><li><a href="{% url 'activities:create' %}">أضف نشاطًا</a></li></ul></p>
{% endif %}
<p style="font-size:1em;"><strong>رتّب النشاطات حسب:</strong>
<ul class="list-unstyled">
<li><a href="{% url 'activities:list' %}">تاريخ الإرسال</a></li>
<li><a href="{% url 'activities:list' %}?order=date">تاريخ العقد</a></li>
<li><a href="{% url 'activities:list' %}?order=club">النادي المنظم</a></li></ul></p>
{% if perms.activities.add_review %}
<p style="font-size:1em;">اعرض فقط:
<ul class="list-unstyled"><li><a href="{% url 'activities:list' %}?pending=1">النشاطات المُعلّقة</a></li></ul></p>
{% endif %}
{% endblock %}
{% block content %}
{% if page_activities %}
<table class="tg table">
  <tr>
    <th>#</th>
    <th>الاسم</th>
    <th>النادي المنظم</th>
    <th>تاريخ الإرسال</th>
    <th>تاريخ الانعقاد</th>
    <th>الحالة</th>
  </tr>
    {% for activity in page_activities %}
{% if activity.review %}
{% if activity.review.is_approved == None %}
  <tr>
{% elif activity.review.is_approved == True %}
  <tr style="background-color:#A9F5A9;">
{% elif activity.review.is_approved == False %}
  <tr style="background-color:#F5BCA9;">
{% endif %}
{% else %}
  <tr>
{% endif %}
    <td>{{ activity.id }}</td>
    <td><a href="{% url 'activities:show' activity.id %}">{{ activity.name }}</a></td>
    <td><a href="{% url 'clubs:show' activity.primary_club.id %}">{{ activity.primary_club.name }}</a></td>
    <td>{{ activity.submission_date|date:"j F" }}</td>
    <td>{{ activity.date|date:"j F" }}</td>
    <td>
{% if activity.review %}
{% if activity.review.is_approved == None %}
    ينتظر تعديلا
{% elif activity.review.is_approved == True %}
    معتمد
{% elif activity.review.is_approved == False %}
    مرفوض
{% endif %}
{% else %}
{% if perms.activities.add_review %}
    <a href="{% url 'activities:review' activity.id %}">مُعلّق</a>
{% else %}
    مُعلّق
{% endif %}
{% endif %}
    </td>
  </tr>
    {% endfor %}
</table>
<div style="text-align:center;">
    <span class="step-links">
        {% if page_activities.has_previous %}
            <a href="?page={{ page_activities.previous_page_number }}">السابق</a>
        {% endif %}

        <span class="current">
            الصفحة {{ page_activities.number }} من {{ page_activities.paginator.num_pages }}.
        </span>

        {% if page_activities.has_next %}
            <a href="?page={{ page_activities.next_page_number }}">التالي</a>
        {% endif %}
    </span>
</div>
{% else %}
    <p>لا توجد أية نشاطات.</p>
{% endif %}
{% endblock %}

