{% extends "base.html" %}
{% block title %}النشاطات{% endblock %}
{% block content %}
{% if perms.activities.add_activity %}<a href="{% url 'activities:create' %}">أنشئ</a>{% endif %}

{% if page_activities %}
<div style="float:left; font-size: 0.7em; text-align: left !important;"><p>رتّب النشاطات حسب:
<a href="{% url 'activities:list' %}">تاريخ الإرسال</a> - 
<a href="{% url 'activities:list' %}?order=date">تاريخ العقد</a> - 
<a href="{% url 'activities:list' %}?order=club">النادي المنظم</a>
</p>{% if perms.activities.add_review %}
<p>اعرض فقط:
<a href="{% url 'activities:list' %}?pending=1">النشاطات المُعلّقة</a>
</p>
{% endif %}
</div>
    <ul>
    {% for activity in page_activities %}
        <li><a href="{% url 'activities:show' activity.id %}">{{ activity.name }}
        </a></li>
    {% endfor %}
    </ul>
<div class="pagination">
    <span class="step-links">
        {% if page_activities.has_previous %}
            <a href="?page={{ page_activities.previous_page_number }}">السابق</a>
        {% endif %}

        <span class="current">
            الصفحة {{ page_activities.number }} من {{ page_activities.paginator.num_pages }}.
        </span>

        {% if page_activities.has_next %}
            <a href="?page={{ page_activities.next_page_number }}">التالي</a>
        {% endif %}
    </span>
</div>

{% else %}
    <p>لا توجد أية نشاطات.</p>
{% endif %}

{% endblock %}
