{% extends "activities_base.html" %}
{% block title %}الأنشطة{% endblock %}

<div class="row">

<div class="col-md-">

</div><!--/add row-->

{% block content %}

{% if page_activities %}
<div class="row">
<div class="col-md-3">
<div class="panel panel-primary" data-collapsed="0">
			
	<!-- panel head -->
	<div class="panel-heading">
		<div class="panel-title">خيارات</div>
	</div>
	
	<!-- panel body -->
	<div class="panel-body">
		
		<p style="font-size:1em;">رتّب النشاطات حسب:
		<ul class="list-unstyled">
		<li><a href="{% url 'activities:list' %}"><span class="glyphicon glyphicon-time"></span> تاريخ الإرسال</a></li>
		<li><a href="{% url 'activities:list' %}?order=date"><span class="glyphicon glyphicon-calendar"></span> تاريخ الانعقاد</a></li>
		<li><a href="{% url 'activities:list' %}?order=club"><span class="glyphicon glyphicon-user"></span> النادي المنظم</a></li>
		</ul></p>
		{% if perms.activities.add_review %}
		<p style="font-size:1em;">اعرض فقط:
		<ul class="list-unstyled"><li><a href="{% url 'activities:list' %}?pending=1"><span class="glyphicon glyphicon-list-alt"></span> النشاطات المُعلّقة</a></li>
		</ul></p>
		{% endif %}
	</div>
	
</div>
</div>


<div class="col-md-9">
<table class="tg table table-hover">
  <tr>
    <th>#</th>
    <th>الاسم</th>
    <th>النادي المنظم</th>
    <th>تاريخ الإرسال</th>
    <th>تاريخ الانعقاد</th>
    <th>الحالة</th>
  </tr>
    {% for activity in page_activities %}
{% if activity.review and user.is_authenticated %}
{% if activity.review.is_approved == None %}
  <tr>
{% elif activity.review.is_approved == True %}
  <tr style="background-color:#A9F5A9;">
{% elif activity.review.is_approved == False %}
  <tr style="background-color:#F5BCA9;">
{% endif %}
{% else %}
  <tr>
{% endif %}
    <td>{{ activity.id }}</td>
    <td><a href="{% url 'activities:show' activity.id %}">{{ activity.name }}</a></td>
    <td><a href="{% url 'clubs:show' activity.primary_club.id %}">{{ activity.primary_club.name }}</a></td>
    <td>{{ activity.submission_date|date:"j F" }}</td>
    <td>{{ activity.date|date:"j F" }}</td>
    <td>
{% if not activity.review_set.all %}
  {% if perms.activities.add_review %}<a href="{% url 'activities:review' activity.id %}">مُعلّق</a>{% else %}معلّق{% endif %}
{% elif activity.review_set.all|length_is:"1" %}
  {% if activity.review_set.all.0.review_type == 'P' %}
    {% if activity.review_set.all.0.is_approved == None %}
    ينتظر تعديلا
    {% elif activity.review_set.all.0.is_approved == True %}
    ينتظر مراجعة العمادة
    {% elif activity.review_set.all.0.is_approved == False %}
    رفضته الرئاسة
    {% endif %}
  {% elif activity.review_set.all.0.review_type == 'D' %}
    {% if activity.review_set.all.0.is_approved == True %}
    اعتمدته العمادة
    {% endif %}
  {% endif %}
{% elif activity.review_set.all|length_is:"2" %}
  {% if activity.review_set.all.1.review_type == 'D' %}
    {% if activity.review_set.all.1.is_approved == None %}
    ينتظر تعديلا
    {% elif activity.review_set.all.1.is_approved == True %}
    اعتمده العمادة
    {% elif activity.review_set.all.1.is_approved == False %}
    رفضته الرئاسة
    {% endif %}
  {% endif %}
{% endif %}
    </td>
  </tr>
    {% endfor %}
</table>
<div style="text-align:center;">
    <span class="step-links">
        {% if page_activities.has_previous %}
            <a href="?page={{ page_activities.previous_page_number }}">السابق</a>
        {% endif %}

        <span class="current">
            الصفحة {{ page_activities.number }} من {{ page_activities.paginator.num_pages }}
        </span>

        {% if page_activities.has_next %}
            <a href="?page={{ page_activities.next_page_number }}">التالي</a>
        {% endif %}
    </span>
</div>
</div>
{% else %}
    <p>لا توجد أية نشاطات.</p>
{% endif %}
{% endblock %}

