{% extends "base.html" %}{% load bootstrap3 %}
{% block title %}{% if edit %} تعديل {{ form.name.value }} {% else %} نشاط جديد {% endif %}{% endblock %}
{% block content %}
 <script>
$(function() {
$('#id_date').datepicker();
$('#id_date').change(function(){
    if($(this).val().length != 0){
        $('#id_custom_datetime').attr('disabled', 'disabled');
    }else{
        $('#id_custom_datetime').removeAttr('disabled');
}
});
$('#id_custom_datetime').change(function(){
    if($(this).val().length != 0){
        $('#id_date').attr('disabled', 'disabled');
        $('#id_time').attr('disabled', 'disabled');
    }else{
        $('#id_date').removeAttr('disabled');
        $('#id_time').removeAttr('disabled');
}
});
});
</script>

<h2>{% if edit %} تعديل {{ form.name.value }} {% else %} نشاط جديد {% endif %}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% if edit %}{% url 'activities:edit' activity_id %}{% else %}{% url 'activities:create' %}{% endif %}" method="post">
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} أرسل
        </button>
    {% endbuttons %}
</form>
{% endblock %}
