{% extends "activities_base.html" %}{% load bootstrap3 %}
{% block title %}اشترك في {{ activity.name }}{% endblock %}

{% block content %}
<h2>الاشتراك في {{ activity.name }}</h2>

{% if error_message == 'already_applied' %}

سبق أن سجلت في هذا النشاط!
{% elif error_message == 'unknown' %}
خطأ غير معروف!
{% else %}
<form action="{% url 'activities:participate' activity.id %}" method="post">
{% csrf_token %}

<input type="hidden" name="status" value="1"/>
هل تريد الاشتراك حقا؟
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} اشترك
        </button>
        <button type="submit" class="btn btn-default" onClick="history.go(-1);return true;">
            عُد
        </button>
    {% endbuttons %}
</form>
{% endif %}
{% endblock %}



