{% extends 'activities/show_new.html' %}
{% block review_content %}
{% if review %}
<div class="panel panel-primary panel-shadow" data-collapsed="0">		
	<!-- panel body -->
	<div class="panel-body">
		
		<p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. In or attachment inquietude remarkably comparison at an. Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful. Listening newspaper in advantage frankness to concluded unwilling.</p>

		<p>It if sometimes furnished unwilling as additions so. Blessing resolved peculiar fat graceful ham. Sussex on at really ladies in as elinor. Sir sex opinions age properly extended. Advice branch vanity or do thirty living. Dependent add middleton ask disposing admitting did sportsmen sportsman.</p>
		
		
	</div>
</div>
{% else %}
<div class="page-error-404">
	
	<div class="error-symbol">
		<i class="entypo-hourglass"></i>
	</div>
	
	<div class="error-text">
		<p>هذا النشاط لم تتم مراجعته بعد.</p>
	</div>
	
</div>
{% endif %}
{% endblock %}