<!DOCTYPE html>{% load staticfiles %}{% load activities_utils %}

<html class="detail" lang="ar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ invitation.short_description|striptags }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{% if invitation.twitter_account %}{{ invitation.twitter_account }}{% else %}StudentsofKSAUH{% endif %}" />
    <meta name="twitter:title" content="{{ invitation.title }}" />
    <meta name="twitter:description" content="{{ invitation.short_description|striptags }}" />
    {% if invitation.logo %}<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ invitation.logo.url }}" />{% endif %}
    <title>إنجاز | {{ invitation.title }}</title>
    <link rel="icon" href="{% static 'logo/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.6.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl-3.3.4.min.css' %}">
    <link rel="stylesheet" href="{% static 'neon/assets/css/font-icons/entypo/css/entypo.css' %}">
    <link rel="stylesheet" href="{% static 'neon/assets/css/font-icons/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'neon/assets/css/neon-forms.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'neon/assets/css/custom.css' %}">
<style>

@font-face {
    font-family: 'GE Dinar One';
    font-weight: lighter;
    src: url("{% static 'fonts/ge-dinar-one-light.woff' %}");
}

@font-face {
    font-family: 'GE Dinar One';
    font-weight: normal;
    src: url("{% static 'fonts/ge-dinar-one-med.woff' %}");
}

body {
  font-family: 'GE Dinar One', serif;
}

html.detail{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ){% if invitation.background %}, url("{{ invitation.background.url }}"){% endif %} no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html.detail body, h1{
    background-color: transparent;
    color: white;
}

.modal{
color: black;
}

.detail a{
    color: #85C7FF;
}
footer{
    padding: 60px 0;
}

.step-section {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    color: white;
}

.checkbox label{
    margin-right: 10px;
}

#third-phase, #promotion-step{
    display: none;
}

#sad-child{
    border-radius: 10px;
    max-width: 100%;
}

#delete-button input[type='submit']:disabled{
    background-color: #497d49;
}

p.instructions{
    text-align: justify;
}

p.intro{
background: rgba(0, 0, 0, 0.7);
border-radius: 10px;
padding: 18px;
width: 90%;
margin-right: auto;
margin-left: auto;
margin-bottom: 20px;
color: white;
font-size: 15px;
}

p.explaination{
border-radius: 10px;
padding: 10px;
margin-right: auto;
margin-left: auto;
margin-bottom: 0px;
font-size: 14px;
color: #e8ff74;
}

hr{
margin-bottom: 5px;
    max-width: 100px;
}

.form-group .checkbox{
    margin-right: 15px;
}
</style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    {% if invitation.logo %}
                    <img class="bounceInDown" style="max-height: 300px; margin:20px;" src="{{ invitation.logo.url }}">
                    {% elif invitation.club.logo %}
                    <img class="bounceInDown" style="max-height: 300px; margin:20px;" src="{{ invitation.club.logo.url }}">
                    {% endif %}
                    {% if invitation.is_fully_booked and not already_on or restricted_by_city or restricted_by_gender  %}
                    <p class="alert alert-warning">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    {% if restricted_by_city %}
                    هذا النشاط غير مُتاح في {{ user.common_profile.get_city_display }}.
                    {% elif restricted_by_gender %}
                    هذا النشاط لا يستهدف ال{{ user.common_profile.college.get_gender_display }} بل ال{{ invitation.get_gender_display }}.
                    {% elif invitation.is_fully_booked %}
                    اكتملت المقاعد الممكنة لهذا الحدث، ولم يعد ممكنا التسجيل فيه!
                    {% endif %}
                    </p>
                    {% endif %}
                    {% if user|can_view_invitation_list:invitation %}
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                      <a style="color: white;" class="btn btn-success btn-block" href="{% url 'activities:list_invitation_participants' invitation.pk %}">قائمة المسجلات والمسجلين</a>
                    </div>
                    </div>
                    {% endif %}
                    <h1>{{ invitation.title }}</h1>
                    <p style="font-size: 1.2em;">{{ invitation.short_description|safe }}</p>
                </div>
                <p class="intro instructions">
                    {{ invitation.full_description|linebreaksbr|safe }}
                </p>
                <div class="row text-center" style="font-size: 1.2em; margin-bottom: 10px;">
							<div>
								<i class="entypo-calendar"></i>
                                {{ invitation.date|date:"l j F Y" }}
							</div>
							<div>
								<i class="entypo-clock"></i>
								{{ invitation.start_time }}
								-
								{{ invitation.end_time }}
							</div>
							<div>
								<i class="entypo-location"></i>
								{{ invitation.location }}
							</div>

              {% if not invitation.is_open_registration %}
              <div style="margin-top: 10px;">
                   <p class="entypo-mail">سوف ترسل رسائل تأكيد قُبيل الحدث لجميع المقبولين و المقبولات لحضور هذا الحدث</p>
              </div>
              {% if invitation.notes %}
              <div>
              <p class="entypo-info"> {{ invitation.notes|linebreaksbr|safe }}</p>
              </div>
              {% endif %}
              {% endif %}
                </div>
                {% if already_on or not invitation.is_fully_booked and not restricted_by_city and not restricted_by_gender  %}
                <div class="text-center">
                {% if user.is_authenticated and not already_on  %}
                    {% if invitation.is_open_registration %}
                        <button data-action="add" id="confirm" class="btn btn-lg btn-success">أكّد حضوري</button>
                    {% elif not invitation.is_open_registration %}
                        <button data-action="add"  id="confirm" class="btn btn-lg btn-success">سجلني</button>
                    {% endif %}
                {% if not user.social_auth.exists %}
                <br>
                <a style="margin-top: 5px; background-color: #1da1f3; color: white;" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-sm"><i class="fa fa-twitter"></i> اربط حسابي بتويتر</a>
                {% endif %}
                <br>
                {% elif user.is_authenticated and already_on  %}
                    {% if invitation.is_open_registration %}
                        <button data-action="remove" id="confirm" class="btn btn-sm btn-danger">ألغِ تأكيد حضوري </button>
                    {% else %}
                        <button data-action="remove" id="confirm" class="btn btn-sm btn-danger">ألغِ تسجيلي</button>
                    {% endif %}
                {% else %}
                <a href="{% url 'userena_signin' %}?next={{ request.path }}" style="color: white;" class="btn btn-lg btn-success">أدخلني لإنجاز كي أؤكد الحضور</a>
                {% endif %}
                </div>
                {% endif %}
                <!-- Footer -->
                <footer>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 text-center">
                                <p class="text-muted">بُني بأيدٍ طلابيّة</p>
                                <p class="text-muted">حقك في النسخ مكفول.</p>
                                <a target="_blank" rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ar"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
                            </div>
                        </div>
                </footer>
            </div> <!--col-->
        </div><!--row-->
    </div><!--container-->
{% if request.get_host == 'enjazportal.com' or request.get_host == 'www.enjazportal.com' %}
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
      {% if user.is_authenticated %}
      _paq.push(['setUserId', '{{ user.username }}']);
      {% endif %}
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://enjazportal.com/stats/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 1]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//enjazportal.com/stats/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    {% endif %}
	<script src="{% static 'neon/assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'neon/assets/js/toastr.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
    $(function(){
        toastr.options.positionClass = "toast-top-left";
        $("#confirm").click(function(){
            action = $(this).data("action");
            $.ajax({
                url: "{% url 'activities:toggle_confirm_invitation' invitation.pk %}",
                type: 'POST',
                data: {action: action},
                cache: false,
                success: function (data) {
                    if (data.success) {
                    {% if not invitation.is_open_registration %}
                        if (action == "add" ){
                            toastr.success("أكد تسجيلك");
                            $("#confirm").html("ألغِ تسجيلي");
                            $("#confirm").data("action", "remove");
                            $("#confirm").addClass("btn-danger btn-sm")
                                         .removeClass("btn-success btn-lg");
                        } else if (action == "remove") {
                            toastr.success("أُلغي تسجيلك ");
                            $("#confirm").data("action", "add");
                            $("#confirm").html("سجل ");
                            $("#confirm").addClass("btn-success btn-lg")
                                         .removeClass("btn-danger btn-sm");
                        }
                    {% else %}
                        if (action == "add") {
                            toastr.success("أُكّد حضورك!");
                            $("#confirm").html("ألغِ تأكيد حضوري");
                            $("#confirm").data("action", "remove");
                            $("#confirm").addClass("btn-danger btn-sm")
                                         .removeClass("btn-success btn-lg");
                        } else if (action == "remove") {
                            toastr.success("أُلغي تأكيد حضورك");
                            $("#confirm").data("action", "add");
                            $("#confirm").html("أكّد حضوري");
                            $("#confirm").addClass("btn-success btn-lg")
                                         .removeClass("btn-danger btn-sm");
                        }
                    {% endif %}
                    } else {
                        toastr.error(data.message);
                      }
                }
            });
        });

    });

    </script>
{%  if user.is_authenticated and not user.is_superuser and not user.common_profile.canceled_twitter_connection and not user.social_auth.exists %}
<!---Twitter Modal -->>
<div class="modal fade" id="connect-twitter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body ativa-scroll text-center">
          <h2>بات الآن ممكنا إخبار الأصدقاء عن أنشطة النادي!</h2>
          <p>يتيح ربط حساب بوابة إنجاز بحسابك على تويتر إخبار متابعيك ومتابعاتك عن أنشطة النادي، ومساعدتهم في اكتشافها!</p>
          <p>بعد الربط، سوف تُكتب تغريدة آلية في حسابك عندما تؤكد انضمامك لأحد الأنشطة، ويمكنك إلغاء الربط في أي وقت.</p>
          <div class="row">
              <a style="color: #1da1f3;" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg"><i class="fa fa-twitter fa-4x"></i><br>اربط حسابي بتويتر</a>
          </div>
          <div class="row">
                  <a id="cancel-twitter-connection" style="color: rgb(243, 29, 89)"><i class="fa fa-times fa-4x"></i><br> لا تسألني مُجدًدا</a>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
{%  if user.is_authenticated and not user.is_superuser and not user.common_profile.canceled_twitter_connection and not user.social_auth.exists %}
$(function(){
    $('#connect-twitter').modal({
      keyboard: true,
      backdrop: 'static',
    });
    $("#cancel-twitter-connection").click(function(){
        $.ajax({
            url: "{% url 'cancel_twitter_connection' %}",
            type: 'GET',
            cache: false,
            success: function(data){
                // show success message (using toastr)
                toastr.options.positionClass = "toast-top-left";
                toastr.success("لن يظهر السؤال مُجددًا.");
                // hide modal
                $("#connect-twitter").modal('hide');
            }
        });

    });
});
{% endif %}
</script>


{% endif %}
</body>
</html>
