{% extends "base.html" %}
{% block title %}مشاهدة طلبات المشاركة في {{ activity.name }}{% endblock %}
{% block sidebar %}
<p><a href="{% url 'activities:download_participation' activity.pk %}">نزّل الطلبات</a>.</p>
{% endblock %}
{% block content %}
<h2>طلبات المشاركة في {{ activity.name }}</h2>
{% if participations %}
<ul>
{% for participation in participations %}
<li>{{ participation.user.first_name }} {{ participation.user.last_name }} - {{ participation.submission_date }}</li>
{% endfor %}
</ul>
{% else %}
<p>لا توجد طلبات مشاركة.</p>
{% endif %}
{% endblock %}

