{% extends "activities/show.html" %}{% load staticfiles %}
{% block title %}مشاهدة طلبات المشاركة في {{ activity.name }}{% endblock %}

{% block review_content %}
{#<h2>طلبات المشاركة في {{ activity.name }}</h2>#}

<table id="participation_table" class="display">
    <thead>
        <th>الاسم</th>
        <th>الاسم الإنجليزي</th>
        <th>الكلية</th>
        <th>الرقم الجامعي</th>
        <th>رقم البطاقة الجامعية</th>
        <th>البريد الإلكتروني</th>
        <th>رقم الجوال</th>
        <th>تاريخ الطلب</th>
    </thead>
    <tbody>
        {% for par in participations %}
        <tr>
            <td>{% if par.user.student_profile %}{{ par.user.student_profile.get_ar_full_name }}{% else %}{{ par.user.username }}{% endif %}</td>
            <td>{% if par.user.student_profile %}{{ par.user.student_profile.get_en_full_name }}{% else %}{{ par.user.username }}{% endif %}</td>
            <td>{{ par.user.student_profile.college }}</td>
            <td>{{ par.user.student_profile.student_id }}</td>
            <td>{{ par.user.student_profile.badge_number }}</td>
            <td>{{ par.user.email }}</td>
            <td>{{ par.user.student_profile.mobile_number }}</td>
            <td>{{ par.submission_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables.tableTools.min.js' %}"></script>
<script>
$(document).ready(function () {
	$('#participation_table').dataTable({
		"order": [[ 7, "desc" ]],
		"language": {
			"url": "{% static 'js/dataTables-arabic.json' %}"
		},
		"dom": "<'row'<'col-xs-6 col-left'l><'col-xs-6 col-right'<'export-data btn-group'T>f>r>t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
		"oTableTools": {
			"sSwfPath": "{% static 'js/copy_csv_xls_pdf.swf' %}",
			"aButtons": [
				{
				"sExtends":     "print",
				"sButtonText":  "اطبع",
				"sButtonClass": "btn btn-default btn-xs"
				},
				{
				"sExtends":     "xls",
				"sButtonText":  "نزّل",
				"sButtonClass": "btn btn-white btn-xs"
				}
			]
		}
	});
});
</script>
{% endblock %}
