{% extends "clubs_base.html" %}{% load bootstrap3 %}
{% block title %}اشترك في {{ club.name }}{% endblock %}

{% block content %}
<h2>الاشتراك في {{ club.name }}</h2>

{% if error_message == 'closed_membership' %}
التسجيل في هذا النادي مغلق!
{% elif error_message == 'already_applied' %}
سبق أن سجلت في هذا النادي!
{% elif error_message == 'already_in' %}
أنت عضو في النادي!
{% else %}
<form action="{% url 'clubs:join' club.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} أرسل
        </button>
    {% endbuttons %}
{% endif %}
{% endblock %}
