{% extends "clubs_base.html" %}
{% block title %}اشترك في {{ club.name }}{% endblock %}

{% block content %}
<h2>الاشتراك في {{ club.name }}</h2>

{% if error_message == 'closed_membership' %}
التسجيل في هذا النادي مغلق!
{% elif error_message == 'already_applied' %}
سبق أن سجلت في هذا النادي!
{% elif error_message == 'already_in' %}
أنت عضو في النادي!
{% elif error_message == 'city_error' %}
يمكن فقط لطلاب وطالبات {{ club.get_city_display }} الانضمام ل{{ club.name }}.
{% elif error_message == 'gender_error' %}
الانضمام ل{{ club.name }} ممكن ل{{ club.get_gender.display }} فقط.
{% endif %}
{% endblock %}
