{% extends "clubs_base.html" %}{% load staticfiles %}
{% block title %}الأندية{% endblock %}

{% block content %}
<div class="row">
<table id="club_list" class="display datatable">
  <thead>
    <th>الاسم</th>
    <th># الأعضاء</th>
    <th>المنسق</th>
    <th>النقاط</th>
    <th>حالة التسجيل</th>
  </thead>
  <tbody>
    {% for club in clubs %}
    <tr>
        <td><a href="{% url 'clubs:show' club.id %}">{{ club }}</a></td>
        <td>{% if club.members.all|length %}{{ club.members.all|length }}{% else %}لا يوجد{% endif %}</td>
        <td>{% if club.coordinator %} {{ club.coordinator.common_profile.get_ar_full_name|default:club.coordinator.username }} {% else %} لا يوجد {% endif %}</td>
        <td>{{ club.get_total_points }}</td>
        <td>{% if club.registration_is_open %} <a href="{% url 'clubs:join' club.id %}">مفتوح</a> {% else %} مغلق {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(function () {
	$('#club_list').DataTable({
		"bPaginate": false,
        "order": [[ 3, "desc" ]],
        "language": {% include 'js/dataTables-arabic.json' %}
    });
});
</script>
{% endblock %}