{% extends "clubs_base.html" %}
{% block title %}الأندية{% endblock %}

{% block content %}
{% if clubs %}
<table class="tg table">
  <tr>
    <th>الاسم</th>
    <th># الأعضاء</th>
    <th>المنسق</th>
    <th>حالة التسجيل</th>
  </tr>
    {% for club in clubs %}
  <tr>
    <td><a href="{% url 'clubs:show' club.id %}">{{ club.name }}</a></td>
    <td>{% if club.members.all|length %}{{ club.members.all|length }}{% else %}لا يوجد{% endif %}</td>
    <td>{% if club.coordinator %} {{ club.coordinator.student_profile.get_ar_full_name|default:club.coordinator.username }} {% else %} لا يوجد {% endif %}</td>
    <td>{% if club.open_membership %} <a href="{% url 'clubs:join' club.id %}">مفتوح</a> {% else %} مغلق {% endif %}</td>
   </tr>
    {% endfor %}
</table>
{% else %}
    <p>لا توجد أية أندية.</p>
{% endif %}
{% endblock %}
