{% extends "clubs_base.html" %}{% load staticfiles %}
{% block title %}أعضاء {{ club.name }}{% endblock %}

{% block content %}
<h2>أعضاء <a href="{% url 'clubs:show' club.pk %}">{{ club.name }}</a></h2>

<table id="members_table" class="table table-bordered datatable">
    <thead>
        <th>الاسم</th>
        <th>الاسم الإنجليزي</th>
        <th>الكلية</th>
        <th>الرقم الجامعي</th>
        <th>رقم البطاقة الجامعية</th>
        <th>البريد الإلكتروني</th>
        <th>رقم الجوال</th>
    </thead>
    <tbody>
        {% for member in club.members.all %}
        <tr>
            <td>{% if member.student_profile %}{{ member.student_profile.get_ar_full_name }}{% else %}{{ member.username }}{% endif %}</td>
            <td>{% if member.student_profile %}{{ member.student_profile.get_en_full_name }}{% else %}{{ member.username }}{% endif %}</td>
            <td>{{ member.student_profile.college }}</td>
            <td>{{ member.student_profile.student_id }}</td>
            <td>{{ member.student_profile.badge_number }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.student_profile.mobile_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'neon/assets/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'neon/assets/js/datatables/TableTools.min.js' %}"></script>
<script>
$(document).ready(function () {
	// Initialize the datatable
	$('#members_table').DataTable({
		"sDom": "<'row'<'col-xs-6 col-left'l><'col-xs-6 col-right'<'export-data btn-group'T>f>r>t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
		"oTableTools": {
		    "sSwfPath": "{% static 'neon/assets/js/datatables/copy_csv_xls_pdf.swf' %}",
		    "aButtons": [
                {
                    "sExtends":     "print",
                    "sButtonClass": "btn btn-default btn-xs"
                },
                {
                    "sExtends":     "xls",
                    "sButtonText":  "Download",
                    "sButtonClass": "btn btn-white btn-xs"
                }
            ]
		}
	});
});
</script>
{% endblock %}