{% extends "base.html" %}
{% block content %}
<h2>{{ club.name }}</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table class="tg table-hover">
  <tr>
    <th>#</th>
    <td>{{ club.id }}</td>
  </tr>
  <tr>
    <th>الاسم الإنجليزي</th>
    <td style="direction:ltr;">{{ club.english_name }}</td>
  </tr>
  <tr>
    <th>الوصف</th>
    <td>{{ club.description }}</td>
  </tr>
  <tr>
    <th>البريد الإلكرتوني</th>
    <td style="direction:ltr;">{{ club.email }}</td>
  </tr>
{% if club.parent %}
  <tr>
    <th>النادي الأب</th>
    <td>{{ club.parent }}</td>
  </tr>
{% endif %}{% if club.coordinator.name %}
  <tr>
    <th>المنسق</th>
    <td>{{ club.coordinator.name }}</td>
  </tr>{% endif %}
  <tr>
    <th>تاريخ الإنشاء</th>
    <td>{{ club.creation_date|date:"j F Y" }}</td>
  </tr>{% if activities %}
  <tr>
    <th>النشاطات</th>
    <td><ul>
{% for activity in activities %}
<li><a href="{% url 'activities:show' activity.pk %}">{{ activity.name }}</a></li>
{% endfor %}
</ul>
</td>
  </tr>{% endif %}
</table>
{% endblock %}
{% block sidebar %}
{% if can_edit %}
<p style="font-size:1em;"><ul class="list-unstyled"><li><a href="{% url 'clubs:edit' club.pk %}">عدّل</a></li></ul></p>
{% endif %}
{% if can_view_applications and club.open_membership %}
<p style="font-size:1em;"><ul class="list-unstyled"><li><a href="{% url 'clubs:view_application' club.pk %}">راجع طلبات الانضمام</a></li></ul></p>
{% elif user.is_authenticated and club.open_membership %}
<p style="font-size:1em;"><ul class="list-unstyled"><li><a href="{% url 'clubs:join' club.pk %}">انضم للنادي!</a></li></ul></p>
{% endif %}
{% endblock %}

