{% extends "base.html" %}
{% block content %}

<h2>{{ club.name }}</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<b>الاسم الإنجليزي:</b>  {{ club.english_name }}
<br/>
<b>الوصف:</b>  {{ club.description }}
<br/>
<b>البريد الإلكرتوني:</b> {{ club.email }}
<br/>
{% if club.parent %}<b>النادي الأب:</b> {{ club.parent }}
<br/>{% endif %}
<b>المنسق:</b> {{ club.coordinator.name }}
<br/>
<b>تاريخ الإنشاء:</b> {{ club.creation_date }}
<br/>
{% if activities %}
<h3>النشاطات</h3>
<ul>
{% for activity in activities %}
<li><a href="{% url 'activities:show' activity.pk %}">{{ activity.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if can_edit %}
<small><a href="{% url 'clubs:edit' club.pk %}">عدّل</a></small>
{% endif %}
{% if can_view_applications and club.open_membership %}
<small><a href="{% url 'clubs:view_applications' club.pk %}">راجع طلبات الانضمام</a></small>
{% elif user.is_authenticated and club.open_membership %}
<small><a href="{% url 'clubs:join' club.pk %}">انضم للنادي!</a></small>
{% endif %}
{% endblock %}
