{% extends "clubs_base.html" %}{% load staticfiles %}
{% block title %}مشاهدة طلبات الانضمام إلى {{ club.name }}{% endblock %}

{% block content %}

<div class="page-error-404">


	<div class="error-symbol">
		<i class="entypo-docs"></i>
	</div>

	<div class="error-text">
		<h2></h2>
		<p>لم يتم تحديد نموذج التسجيل.</p>
	</div>

	<hr />

	<div class="error-text">

        <p>
                        يرجى تحديد أو إنشاء نموذج رئيسي في
            <a href="{% url 'forms:form_list' club.id %}">
                <i class="entypo-export"></i>
                        صفحة النماذج.
            </a>
        </p>

	</div>

</div>
{% endblock %}

{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables.tableTools.min.js' %}"></script>
<script>
$(document).ready(function () {
    // Attach the ajax function to approve and ignore buttons
    $(".btn-approve-application, .btn-ignore-application").click(function () {
        console.log("I've been called");
		var data = {'application_pk': $(this).attr('data-application-pk')};
		var action = $(this).attr('data-action');
		var ajaxUrl;
		if (action == "approve") {
		    ajaxUrl = "{% url 'clubs:approve_application' club.pk %}";
		} else {
		    ajaxUrl = "{% url 'clubs:ignore_application' club.pk %}";
		}
        var parentRow = $(this).parent().parent().parent();
        var self = $(this);
        $.ajax({
            type: 'POST',
            data: data,
            dataType: 'json',
            url: ajaxUrl,
            cache: false,
            success: function(data){
                if (data['success'] == true){
                    var table = $("#application_table").DataTable();
                    // If the action is approval, briefly display a check mark
                    console.log(table);
                    parentRow.fadeOut(400, function() {
                        //parentRow.animate({backgroundColor: '#FF0000'}, 'fast');
                        // Get the position of the current data from the node
                        var aPos = table.fnGetPosition( self.closest('tr').get(0) );
                        // Delete the row
                        table.fnDeleteRow(aPos);
                    });

                } else {
                    alert(data['message']);
                }
            }
        });
	});

	// Initialize the datatable
	$('#application_table').dataTable({
		"language": {
			"url": "{% static 'js/dataTables-arabic.json' %}"
		},
		"dom": "<'row'<'col-xs-6 col-left'l><'col-xs-6 col-right'<'export-data btn-group'T>f>r>t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
		"oTableTools": {
			"sSwfPath": "{% static 'js/copy_csv_xls_pdf.swf' %}",
			"aButtons": [
			{
				"sExtends":     "print",
				"sButtonText":  "اطبع",
				"sButtonClass": "btn btn-default btn-xs"
			},
			{
				"sExtends":     "xls",
				"sButtonText":  "نزّل",
				"sButtonClass": "btn btn-white btn-xs"
			}
			]
		},

	});
});
</script>
{% endblock %}
