{% extends "books_base.html" %}{% load bootstrap3 %}
{% block title %}{% if edit %} تعديل {{ form.title.value }} {% else %} كتاب جديد {% endif %}{% endblock %}
{% block content %}
 <script>
$(function() {
$( "#id_available_from" ).datepicker({
    dateFormat: "yy-mm-dd",{% if not edit %}
    minDate: 0,{% endif %}
    onSelect: function(dateText) {$( "#id_available_until" ).datepicker( "option", "minDate", dateText );}
});
$( "#id_available_until" ).datepicker({
    dateFormat: "yy-mm-dd",{% if not edit %}
    minDate: 0,{% endif %}
    onSelect: function(dateText) {$( "#id_available_from" ).datepicker( "option", "maxDate", dateText );}
});
});
</script>

 <script>
$(function() {
var availableTags = [{% for tag in tags %}"{{ tag.name }}",{% endfor %}];
function split( val ) {
return val.split( /,\s*/ );
}
function extractLast( term ) {
return split( term ).pop();
}
$( "#id_tags" )
// don't navigate away from the field on tab when selecting an item
.bind( "keydown", function( event ) {
if ( event.keyCode === $.ui.keyCode.TAB &&
$( this ).data( "ui-autocomplete" ).menu.active ) {
event.preventDefault();
}
})
.autocomplete({
minLength: 0,
source: function( request, response ) {
// delegate back to autocomplete, but extract the last term
response( $.ui.autocomplete.filter(
availableTags, extractLast( request.term ) ) );
},
focus: function() {
// prevent value inserted on focus
return false;
},
select: function( event, ui ) {
var terms = split( this.value );
// remove the current input
terms.pop();
// add the selected item
terms.push( ui.item.value );
// add placeholder to get the comma-and-space at the end
terms.push( "" );
this.value = terms.join( ", " );
return false;
}
});
});
</script>

<h2>{% if edit %} تعديل {{ form.title.value }} {% else %} {% if form.title.value %} إضافة {{ form.title.value }} {% else %} كتاب جديد {% endif %}{% endif %}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% if edit %}{% url 'books:edit' book.pk %}{% else %}{% url 'books:contribute' %}{% endif %}" method="post" class="form">
{% csrf_token %}
    <input type="hidden" name="is_submit" value="1"/>
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok-sign" %} أرسل
        </button>
    {% endbuttons %}
</form>
{% endblock %}


