{% extends "base.html" %}{% load bootstrap3 %}
{% block title %}الكتب{% endblock %}
{% block sidebar %}
{% if perms.books.add_book %}
<p style="font-size:1em;"><ul class="list-unstyled"><li><a href="{% url 'books:contribute' %}"><span class="glyphicon glyphicon-plus"></span> ساهم بكتاب!</a></li>
{% if user.is_authenticated %}<li><a href="{% url 'books:review_requests' %}"><span class="glyphicon glyphicon-list-alt"></span>  طلبات استعارة كتبي</a></li>
<li><a href="{% url 'books:my_requests' %}"><span class="glyphicon glyphicon-star"></span> طلباتي</a></li>{% endif %}</ul></p>
{% endif %}
{% if page_books %}
<p style="font-size:1em;"><strong>رتّب الكتب حسب:</strong>
<ul class="list-unstyled">
<li><a href="{% url 'books:list' %}"><span class="glyphicon glyphicon-time"></span> تاريخ المساهمة</a></li>
<li><a href="{% url 'books:list' %}?order=status"><span class="glyphicon glyphicon-signal"></span> الحالة</a></li></ul></p>
<p style="font-size:1em;"><strong>رشّح الكتب:</strong>
<ul class="list-unstyled">
<li><a href="{% url 'books:list' %}"><span class="glyphicon glyphicon-book"></span> جميع الكتب</a></li>
{% if user.is_authenticated %}<li><a href="{% url 'books:list' %}?filter=mine"><span class="glyphicon glyphicon-user"></span> كتبي فقط</a></li>{% endif %}
<li><a href="{% url 'books:list' %}?filter=available"><span class="glyphicon glyphicon-thumbs-up"></span> الكتب المتاحة</a></li></p>
{% endif %}
{% endblock %}
{% block content %}
<form name="search" action="{% url 'books:search' %}" method="get" class="form">
        <input type="text" name="q"/>
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "search" %} ابحث
        </button>
</form>
{% if page_books %}
<table class="tg table table-hover">
  <tr>
    <th>اسم الكتاب</th>
    <th>متوفر من</th>
    <th>متوفر حتى</th>
    <th>الحالة</th>
  </tr>
    {% for book in page_books %}
  <tr>
    <td style="direction:ltr;"><a href="{% url 'books:show' book.pk %}">{{ book.title }}</a></td>
    <td>{{ book.available_from }}</td>
    <td>{% if book.available_until %}{{ book.available_until }}{% else %} - {% endif %}</td>
    <td>{% if book.status == 'A' %}متاح
{% elif book.status == 'H' %}محجوز
{% elif book.status == 'B' %}معار
{% elif book.status == 'W' %}مسحوب
{% endif %}
</td>
  </tr>

    {% endfor %}
</table>
<div style="text-align:center;">
    <span class="step-links">
        {% if page_books.has_previous %}
            <a href="?page={{ page_books.previous_page_number }}">السابق</a>
        {% endif %}

        <span class="current">
            الصفحة {{ page_books.number }} من {{ page_books.paginator.num_pages }}
        </span>

        {% if page_books.has_next %}
            <a href="?page={{ page_books.next_page_number }}">التالي</a>
        {% endif %}
    </span>
</div>
{% else %}
    <p>لا توجد أية كتب.</p>
{% endif %}
{% endblock %}

