{% extends template %}{% load bootstrap3 %}{% load staticfiles %}
{% block title %}الكتب{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<section class="breadcrumb">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-sm-12">
				
				<h1 class="dinar-medium">الكتب</h1>
							
			</div>
			
		</div>
		
	</div>
	
</section>

	<div class="container dinar-light">
{% endif %}
{% if page_books and user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-collapsed="0">

        <!-- panel head -->
        <div class="panel-heading">
            <div class="panel-title">رشح الكتب: </div>

            <div class="panel-options">
                <a class="btn btn-default filter-btn" data-filter="all"><span class="glyphicon glyphicon-book"></span> جميع الكتب</a>
                <a class="btn btn-default filter-btn" data-filter="mine"><span class="glyphicon glyphicon-user"></span> كتبي فقط</a>
                <a class="btn btn-default filter-btn" data-filter="available"><span class="glyphicon glyphicon-thumbs-up"></span> الكتب المتاحة</a>
            </div>
        </div>

        </div>
    </div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-12">
<table id="books" class="table table-bordered datatable dataTable">
  <thead>
    <th style="text-align: right;">اسم الكتاب</th>
    <th style="text-align: right;">المساهم</th>
    <th style="text-align: right;">تاريخ المساهمة</th>
    <th style="text-align: right;">متوفر من</th>
    <th style="text-align: right;">متوفر حتى</th>
    <th style="text-align: right;">الحالة</th>
  </thead>
  <tbody>
    {% for book in page_books %}
      <tr>
        <td style="direction:ltr;"><a href="{% url 'books:show' book.pk %}">{{ book.title }}</a></td>
        <td>{{ book.submitter.student_profile.get_ar_full_name }}</td>
        <td>{{ book.submission_date|date }}</td>
        <td>{{ book.available_from }}</td>
        <td>{% if book.available_until %}{{ book.available_until }}{% else %} - {% endif %}</td>
        <td>{{ book.get_status_display }}</td>
      </tr>

    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% if not user.is_authenticated %}
</div>
</div>
{% endif %}

{#<link rel="stylesheet" href="{% static 'neon/assets/js/datatables/responsive/css/datatables.responsive.css' %}">#}
{% endblock %}

{% block customscript %}
    <script src="{% static 'neon/assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'neon/assets/js/dataTables.bootstrap.js' %}"></script>
    {#<script src="{% static 'neon/assets/js/datatables/responsive/js/datatables.responsive.js' %}"></script>#}
	<script>
    var table = $('#books').DataTable();

    {% if user.is_authenticated %}
    var filterBy = "";

    $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            switch (filterBy) {
                case "mine":
                    var submitter = String( aData[1] ) || null; // use data for the submitter column
                    if (submitter == "{{ user.student_profile.get_ar_full_name }}") {
                        return true;
                    } else {
                        return false;
                    }
                case "available":
                    var available = String( aData[5] ) || null;
                    if (available == "متاح") {
                        return true;
                    } else {
                        return false;
                    }
                default:
                    return true;
            }
        }
    );


    $(".filter-btn").click(function () {
        filterBy = $(this).attr("data-filter");
        console.log(filterBy);
        table.fnDraw()
    });
    {% endif %}
	</script>
{% endblock %}

