{% extends template %}{% load bootstrap3 %}
{% block title %}بحث{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<section class="breadcrumb">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-sm-12">
				
				<h1 class="dinar-medium">الكتب</h1>
							
			</div>
			
		</div>
		
	</div>
	
</section>
{% endif %}
{% if not user.is_authenticated %}<div class="container">{% endif %}
<div class="row">
<form name="search" action="{% url 'books:search' %}" method="get" class="form-inline">
	{% if not user.is_authenticated %}
	<input type="text" class="form-control" name="q"/>
	<button type="submit" class="btn btn-primary">
        {% bootstrap_icon "search" %} ابحث
    </button>
    {% else %}
  	<div class="col-md-6">
    <div class="input-group">
		<input type="text" class="form-control" name="q">
		
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary">
			    <span class="glyphicon glyphicon-search"></span> ابحث
			</button>
		</span>
	</div>
	</div>
	{% endif %}
    
</form>
</div>
{% if not user.is_authenticated %}</div><!-- end .container -->{% endif %}
<br>
{% if not user.is_authenticated %}<div class="container dinar-light">{% endif %}
<div class="col-md-12">
{% if page_books %}

<p>تم العثور على {{ total_results }} كتاب.</p>

<table class="tg table table-hover">
  <tr>
    <th style="text-align: right;">اسم الكتاب</th>
    <th style="text-align: right;">متوفر من</th>
    <th style="text-align: right;">متوفر حتى</th>
    <th style="text-align: right;">الحالة</th>
  </tr>
    {% for book in page_books %}
  <tr>
    <td style="direction:ltr;"><a href="{% url 'books:show' book.pk %}">{{ book.title }}</a></td>
    <td>{{ book.available_from }}</td>
    <td>{% if book.available_until %}{{ book.available_until }}{% else %} - {% endif %}</td>
    <td>{% if book.status == 'A' %}متاح
{% elif book.status == 'H' %}محجوز
{% elif book.status == 'B' %}معار
{% elif book.status == 'W' %}مسحوب
{% endif %}
</td>
  </tr>

    {% endfor %}
</table>

<div style="text-align:center;">
    <span class="step-links">
        {% if page_books.has_previous %}
            <a href="?q={{ q }}&page={{ page_books.previous_page_number }}">السابق</a>
        {% endif %}

        <span class="current">
            الصفحة {{ page_books.number }} من {{ page_books.paginator.num_pages }}
        </span>

        {% if page_books.has_next %}
            <a href="?q={{ q }}&page={{ page_books.next_page_number }}">التالي</a>
        {% endif %}
    </span>
</div>

{% elif q %}
<p>لا توجد نتائج</p>
{% endif %}
</div>
{% if not user.is_authenticated %}</div><!-- end .container -->{% endif %}
{% endblock %}
