{% extends 'userena/base_userena.html' %}{% load staticfiles %}
{% block title %}تعذّر تفعيل حسابك{% endblock %}

{% block description %}.تعذّر تفعيل حسابك{% endblock %}

{% block content %}
<div class="form-register-success visible dinar-light">
	<i class="entypo-lock"></i>
	<h3 class="dinar-medium">تعذّر تأكيد حسابك.</h3>
	<p>قد يكون ذلك لأن الرابط أصبح قديمًا.</p>
	<p>الرجاء محاولة التسجيل مجددا أو <a href="{% url 'about' %}">الاتصال بنا</a> في حال ظننت أن إشكالا وقع.</p>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
