{% extends 'userena/base_userena.html' %}{% load staticfiles %}
{% block title %}تعذّر تأكيد حسابك{% endblock %}

{% block description %}.تعذّر تأكيد حسابك{% endblock %}

{% block content %}
<div class="form-register-success visible dinar-light">
	<i class="entypo-lock"></i>
	<h3 class="dinar-medium">تعذّر تأكيد حسابك</h3>
	<p>وذلك لأن الرابط أصبح قديما.</p>
	<p><a href="{% url 'userena_activate_retry' activation_key %}">اطلب وصلة تأكيد جديدة</a>، ويمكنك دائما <a href="mailto:hello@enjazportal.com">الاتصال بنا</a> في حال ظننت أن إشكالا وقع.</p>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
