{% extends 'userena/base_userena.html' %}{% load staticfiles %}
{% block title %}استعادة كلمة السر{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<div class="form-register-success visible dinar-light">
	<i class="entypo-mail"></i>
	<h3 class="dinar-medium">تم إرسال بريد استعادة كلمة السر.</h3>
	<p>تفقد بريدك الإلكتروني و اتبع التعليمات الواردة في الرسالة.</p>
	<p>قد تصلك الرسالة في صندوق الرسائل غير المرغوبة. إذا واجهتك مشكلة لا تتردد في <a href="mailto:hello@enjazportal.com">التواصل معنا</a>.</p>
</div>
{% endblock %}
{% block customscript %}<script src="{% static 'neon/assets/js/neon-login.js' %}?v=0001"></script>{% endblock %}
