{% extends 'userena/base_userena.html' %}{% load staticfiles %}

{% block title %}غيرت كلمة السر{% endblock %}

{% block description %}غيرت كلمة السر{% endblock %}

{% block content %}
<div class="form-register-success visible dinar-light">
	<i class="entypo-check"></i>
	<h3 class="dinar-medium">غيرت كلمة السر</h3>
	<p>نجحت في تغيير كلمة السر! عُد إلى <a href="{% url 'home' %}">الصفحة الرئيسية</a>.</p>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
