{% extends 'userena/base_userena.html' %}{% load staticfiles %}
{% block title %}غيّر كلمة السر{% endblock %}

{% block description %}غيّر كلمة السر.{% endblock %}

{% block content %}
	{{ form.old_password.errors }}
	{{ form.new_password1.errors }}
	{{ form.new_password2.errors }}
	<form method="post" role="form" id="form_login" action="">
		{% csrf_token %}
		<div class="form-group">

			<div class="input-group{% if form.errors %} validate-has-error{% endif %}">
				<div class="input-group-addon">
					<i class="entypo-mail"></i>
				</div>
				<input type="password" class="form-control dinar-light" name="old_password" id="id_old_password" placeholder="كلمة السر القديمة" type="password" />

				<input type="password" class="form-control dinar-light" name="new_password1" id="id_new_password1" placeholder="كلمة السر الجديدة"/>
				<input type="password" class="form-control dinar-light" name="new_password2" id="id_new_password2" placeholder="تأكيد كلمة السر الجديدة"/>
			</div>

		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block btn-login dinar-medium">
				<i class="entypo-left-open-mini"></i>
				غيّر
			</button>
		</div>
	</form>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
