{% extends 'userena/base_userena.html' %}{% load staticfiles %}
{% block title %}استعادة كلمة السر{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<div class="form-register-success visible dinar-light">
	<i class="entypo-key"></i>
	<h3 class="dinar-medium">تمت استعادة كلمة السر</h3>
	<p>يمكنك الآن <a href="{% url 'userena_signin' %}"><span class="entypo-export"></span> تسجيل الدخول</a> باستخدام كلمة السر الجديدة.</p>
</div>
{% endblock %}
{% block customscript %}<script src="{% static 'neon/assets/js/neon-login.js' %}?v=0001"></script>{% endblock %}
