{% extends 'userena/base_userena.html' %}{% load staticfiles %}

{% block title %}لم يبق إلا القليل...{% endblock %}

{% block description %}لم يبق إلا القليل...{% endblock %}

{% block content %}
<div class="form-register-success visible dinar-light">
	<i class="entypo-check"></i>
	<h3 class="dinar-medium">أنت على وشك أن تدخل عالم إنجاز!</h3>
	<p>كل ما تحتاجه هو تأكيد حسابك من خلال الرسالة التي أرسلناها لك بالبريد الإلكتروني.</p>
	<p>سوف تتمكن من الاستفادة منها مدة 30 يومًا.</p>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/neon-register.js' %}?v=0001"></script>
{% endblock %}
