{% extends "bulb_base.html" %}{% load staticfiles %}{% load bootstrap3 %}
{% block title %}ركن سِراج في البرنامج الثقافي{% endblock %}
{% block navbar %}
    {% include "bulb/exchange/components/navbar.html" %}
{% endblock %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 mentor-section-intro text-center">
  <h3>ركن سِراج في البرنامج الثقافي</h3>
  <p>
  أهلًا بك في ركن سِراج في البرنامج الثقافي
  بامكانك استعارة كتاب من الكتب المعروضة في مكتبة ركن سِراج.
  </p>
  <form action= "{% url 'bulb:handle_cultural_program' %}" method="post">
      {% csrf_token %}
        {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary btn-block">
      		{% bootstrap_icon "ok-sign" %} أرسل
      	</button>
  </form>
</div>

{% endblock %}
{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
{{ form.media }}

<style>
.select2{
  visibility: visible;
}
</style>

<script>

$(document).ready(function(){
  $("#button-submit").click(function(event){
    // STOP!!!!!!!!!!!!!
      event.preventDefault();

      user = $("#id_user").val();
      book = $("#id_book").val();
      data = {user: user,
              book: book}
              /* Send the data */
      $.ajax({
          url: "{% url 'bulb:handle_cultural_program_ajax' %}",
          type: 'POST',
          data: data,
          cache: false,
          success: function (data) {
              if (data.success == 1) {
                  // show success message (using toastr)
                  toastr.options.positionClass = "toast-top-left";
                  toastr.success("تم استعارة الكتاب بنجاح");
                  $("select").select2("val", "");
              } else {
                  toastr.error(data.message);
              }}
      });
    });
});

</script>

{% endblock %}
