{% extends 'bulb_base.html' %}{% load staticfiles %}{% load bulb_tags %}
{% block content %}
<h1>مبادرة سِراج</h1>
<div class="row">
    <div class="col-sm-9">
        <p style="
            width: 90%;
            text-align: justify;
            font-size: 18px;
            margin-right: auto;
            margin-left: auto;">مبادرة تدعو إلى إحياء روح "اقرأ" في المجتمع الطلابي، وخلق بيئة للتبادل المعرفي والثقافي والفكري! يكون ذلك بإنشاء مجموعات نقاش عن مختلف المواضيع والاهتمامات؛ وباقتناء الكتب واستعارتها، حيث تستطيع استبدال كتابك بأحد الكتب التي يعرضها الطلاب والطالبات من خلال رصيد يزيد وينقص بناء على عدد الكتب التي تقوم بعرضها واستبدالها. كن جزءًا من مبادرة سِراج و انضم إلى نخبة من قراء وقارئات الجامعة، وتذكر دومًا أننا آذانُ صاغية لأفكارك ومقترحاتك فراسلنا على البريد <a href="mailto:bulb@enjazportal.com">bulb@enjazportal.com</a>.</p>
    </div>
{% if not user.reader_profile or not user.reading_group_coordination.exists and not user.reading_group_memberships.exists or not user.book_giveaways.exists %}
<div class="col-sm-3">
{% if not user.reader_profile %}

            <a  href="{% url 'bulb:list_reader_profiles' %}" class="btn btn-block  btn-icon btn-danger">
                <i class="fa fa-user"></i>
                سجل نفسك قارئًا!
            </a>
{% endif %}
{% if not user.reading_group_coordination.exists and not user.reading_group_memberships.exists %}

            <a  href="{% url 'bulb:list_groups' %}" class="btn btn-block btn-icon btn-danger">
                <i class="fa fa-comments"></i>
                أسس مجموعة!
            </a>
{% endif %}
{% if not user.book_giveaways.exists %}
            <a  href="{% url 'bulb:list_book_categories' %}"  class="btn btn-block btn-icon btn-danger">
                <i class="fa fa-book"></i>
                ساهم بكتاب!
            </a>
{% endif %}
</div>
{% endif %}
</div>
<div class="row">
    <div class="panel minimal minimal-gray">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>مجموعات القراءة</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
            <div class="panel panel-warning panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->

                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">من المجموعات</div>

                    <div class="panel-options">
                        <a href="{% url 'bulb:list_groups' %}" type="button" class="btn btn-default">
                             المزيد
                        </a>
                    </div>

                </div>

                <!-- panel body -->
                <div class="panel-body">
                    {% include "bulb/groups/list_group_previews.html" %}
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="tile-stats tile-orange">
                <div class="icon"><i class="fa fa-comments"></i></div>
                <div class="num" data-start="0" data-end="{{ group_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
                <h3>عدد مجموعات القراءة</h3>
                <p>مجموع المجموعات المعروضة في بوابة إنجاز</p>
            </div>
            <div class="tile-stats tile-orange">
                <div class="icon"><i class="entypo-user"></i></div>
                <div class="num" data-start="0" data-end="{{ group_user_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
                <h3>الطلاب والطالبات المنضمون</h3>
                <p>مجموع الطلاب والطالبات المنضمين لمجموعات القراءة المعروضة في بوابة إنجاز</p>
            </div>
        </div>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
            <div class="panel panel-warning panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->

                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">جلسات القراءة والنقاش القادمة</div>
                </div>

                <!-- panel body -->
                <div class="panel-body">
                    {% if sessions %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-xs">عنوان الجلسة</th>
                                <th>المجموعة</th>
                                <th>التاريخ</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for session in sessions %}
                            <tr>
                                <td class="hidden-xs">{{ session.title }}</td>
                                <td><a href="{% url 'bulb:show_group' session.group.pk %}">{{ session.group.name }}</a> ({{ session.group.get_gender_display }})</td>
                                <td>{{ session.date|date:"l j F Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>لا توجد جلسات نقاش وقراءة مستقبلية.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{# Book exchange #}

<div class="row">
    <div class="panel minimal minimal-gray">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>تبادل الكتب</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
            <div class="panel panel-success panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->

                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">من الكتب</div>

                    <div class="panel-options">
                        <a href="{% url 'bulb:list_book_categories' %}" type="button" class="btn btn-default">
                             المزيد
                        </a>
                    </div>

                </div>

                <!-- panel body -->
                <div class="panel-body">
                    {% with from_home=True books=book_sample %}
                    {% include "bulb/exchange/list_books.html" %}
                    {% endwith %}
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-book"></i></div>
                <div class="num" data-start="0" data-end="{{ book_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
                <h3>عدد الكتب</h3>
                <p>مجموع الكتب المنشورة على بوابة إنجاز</p>
            </div>
            <div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-star"></i></div>
                <div class="num" data-start="0" data-end="{{ book_request_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>
                <h3>عدد الطلبات</h3>
                <p>مجموع طلبات الكتب التي تمّت على بوابة إنجاز</p>
            </div>
        </div>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
            <div class="panel panel-warning panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->

                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">آخر الكتب المضافة</div>
                    <div class="panel-options">
                        <a href="{% url 'bulb:books_by_date' %}" type="button" class="btn btn-default">
                             جميع الكتب بحسب تاريخ الإضافة
                        </a>
                    </div>
                </div>

                <!-- panel body -->
                <div class="panel-body">
                    {% if latest_books %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>اسم الكتاب</th>
                                <th class="hidden-xs">المُساهم</th>
                                <th>تاريخ الإضافة</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for book in latest_books %}
                            <tr>
                                <td>{% if not book.is_available  %}<span class="badge badge-warning">طُلب!</span>{% else %}<span class="badge badge-success">متاح</span>{% endif %}<a href="{% url 'bulb:show_book' book.pk %}">{{ book.title }}</td>
                                <td class="hidden-xs">{% reader_profile_link book.submitter %}</td>
                                <td>{{ book.submission_date|date:"l j F Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>لا توجد جلسات نقاش وقراءة مستقبلية.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{# Reader #}

<div class="row">
    <div class="panel minimal minimal-gray">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>قارئات وقراء الجامعة</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
            <div class="panel panel-info panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->

                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">من القراء</div>

                    <div class="panel-options">
                        <a href="{% url 'bulb:list_reader_profiles' %}" type="button" class="btn btn-default">
                             المزيد
                        </a>
                    </div>

                </div>

                <!-- panel body -->
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>الاسم</th>
                                <th class="hidden-xs">الكلية</th>
                                <th>عدد الكتب المساهم بها</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for reader_profile in reader_profiles %}
                            <tr>
                                <td><a href="{% url 'bulb:show_reader_profile' reader_profile.pk %}">{{ reader_profile.user.common_profile.get_ar_full_name }}</a></td>
                                <td class="hidden-xs">{{ reader_profile.user.common_profile.college.get_name_display }}</td>
                                <td>{{ reader_profile.user.book_giveaways.undeleted.count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="tile-stats tile-blue">
                <div class="icon"><i class="fa fa-users"></i></div>
                <div class="num" data-start="0" data-end="{{ reader_profile_count }}" data-postfix="" data-duration="1000" data-delay="600">0</div>

                <h3>عدد القارئات والقراء</h3>
                <p>مجموع القارئات والقراء المسجلين في بوابة إنجاز</p>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}