<!DOCTYPE html>{% load staticfiles %}
<html class="detail" lang="ar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="سراج">
    <title>سراج | كن معنا!</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.6.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl-3.3.4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!--<link href="css/stylish-portfolio.css" rel="stylesheet">-->
</head>

<body>
    <div class="container">
        <div class="row">
	    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">


<style>
@font-face {
    font-family: 'GE Dinar One';
    font-weight: lighter;
    src: url("{% static 'fonts/ge-dinar-one-light.woff' %}");
}
		
@font-face {
    font-family: 'GE Dinar One';
    font-weight: normal;
    src: url("{% static 'fonts/ge-dinar-one-med.woff' %}");
}

body {
  font-family: 'GE Dinar One', serif;
}

html.detail{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("{% static 'img/bulb/recruitment-background.jpg' %}") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html.detail body{
    background-color: transparent;
    color: white;
}

.detail a{
    color: #85C7FF;
}
footer{
    padding: 60px 0;
}

.step-section {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    color: white;
}

.checkbox label{
    margin-right: 10px;
}

#third-phase, #promotion-step{
    display: none;
}

#sad-child{
    border-radius: 10px;
    max-width: 100%;
}

#delete-button input[type='submit']:disabled{
    background-color: #497d49;
}

p.instructions{
    text-align: justify;
}

p.intro{
background: rgba(0, 0, 0, 0.7);
border-radius: 10px;
padding: 18px;
width: 90%;
margin-right: auto;
margin-left: auto;
margin-bottom: 20px;
color: white;
font-size: 15px;
}

p.explaination{
border-radius: 10px;
padding: 10px;
margin-right: auto;
margin-left: auto;
margin-bottom: 0px;
font-size: 14px;
color: #e8ff74;
}

hr{
margin-bottom: 5px;
    max-width: 100px;
}

.form-group .checkbox{
    margin-right: 15px;
}
</style>

    <div class="row">
        <div class="col-md-12">
	<form class="form-horizontal" action="{% url 'bulb:handle_recruitment' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<div class="text-center">
<img class="bounceInDown" src="{% static 'img/bulb/logo.png' %}">
</div>

            <p class="intro instructions">
أهلا بك!<br><br>
سِراج مبادرة طموحة. نريد أن نبني مجتمعًا معرفيا فكريا ثقافيًا في الحرم الجامعي.  يتبادل هذا المجتمع الخبرات، وينمّي المعارف، ويكون عالمًا منعشًا، حيّا!<br><br>
انطلقت سِراج خلال العام الدراسي 2015/2016, وخلال عامها الأوّل شيّدت مكتبة إلكترونية عامرة أعلن فيه الطلاب والطالبات عن أثمن ما لديهم من كتب، وأسس الطلاب والطالبات مجموعات نقاش وقراءة تنمّي شتّى المهارات والاهتمامات العلمية والفكرية والأدبية، وساهمت في نقل الكتب إلى المكفوفين بتحويلها إلى صيغة برايل، وشاركت في معرض الرياض الدولي للكتب.<br><br>
نريد لعام سِراج الثاني أن يكون امتدادا لما فات وأن يكون أوسع مدى وأكثر عمقًا، وهذا لن يكون إلا بمبادرة الطالبات والطلاب ذوي الاهتمام المعرفي، والفكري، والثقافي!  يقيننا أن  المجتمع الجامعي مليء بشخصيات فارقة قادرة على البذل والعطاء. أنت منهم.
</p>

<div class="step-section">
            <h2 class="text-center">تفضيلات عامّة</h2>
            <hr class="small">
      		<div class="checkbox">
			<label>
				<input name="prefers_coordination" id="id_coordinate" type="checkbox"> أحب إدارة فريق ورسم خططه.
			</label>
      		</div>
      		<div class="checkbox">
			<label>
				<input name="prefers_team_membership" id="id_join_membership" type="checkbox"> أحب أن أكون عضوا في فريق متعاون.
			</label>
      		</div>
      		<div class="checkbox">
			<label>
				<input name="prefers_alone" id="id_work_alone" type="checkbox"> أفضّل العمل الفردي. آخذ مهمّة، وأنجزها!
			</label>
      		</div>
</div>
<div class="step-section">
            <h2 class="text-center">المكتبة الطلابية التعاونية</h2>
            <hr class="small">
<p class="explaination instructions">
تخيّل لو عرض كل طلاب الجامعة وطالباتها ما عندهم من كتبٍ ثقافية ومعرفية قيّمة، وبنينا معا مكتبة عامرة! هذا ما نريده في قسم تبادل الكتب. تستطيع استبدال كتبك بالكتب المعروضة من خلال رصيد يزيد وينقص بناء على عدد الكتب التي تقوم بعرضها واستبدالها.
</p>

      		<div class="checkbox">
			<label>
				<input name="wants_book_contribution" id="id_contribute_books" type="checkbox"> أريد المساهمة للمكتبة الطلابية الثقافية بكتبي! (سنتواصل معك!)
			</label>
      		</div>
		<div class="form-group">
			<label class="control-label col-sm-5" for="id_book_estimate">شكرا جزيلا لك! بشكل تقديري، كم عدد الكتب التي تستطيع المساهمة بها؟</label>
			<div class="col-sm-7">			
				<input class="form-control" id="id_book_estimate" min="0" name="book_estimate" placeholder="العدد التقديري" type="number" />
			</div>
      		</div>
      		<div class="checkbox">
			<label>
				<input name="wants_book_exchange_organization" id="id_book_exchange_organization" type="checkbox"> أريد المساهمة للمكتبة الطلابية بتنظيمها والإشراف عليها وتوصيل كتبها!
			</label>
      		</div>

</div><!--step-section-->
<div class="step-section">
            <h2 class="text-center">جلسات القراءة والنقاش</h2>
            <hr class="small">
<p class="explaination instructions">
خلال العام الدراسي 2015/2016، أسس الطلاب والطالبات 16 مجموعة قراءة تناولت مختلف الاهتمامات العلمية والفكرية والأدبية. من خلال مجموعات القراءة، يلتقي المهتمون والمهتمّات لنقاش مواضيع ذات اهتمام مشترك، ويتفقوا سويا على منهج للقراءة، وعلى أسئلة للنقاش.  يمكنك المشاركة كمنسّقـ/ـة للمجموعة أو عضو/ة فيها، أو كمنظّمـ/ـة داعمـ/ـة للمجموعات.
</p>
      		<div class="checkbox">
			<label>
				<input name="wants_group_reading" id="id_has_group_reading_subjects" type="checkbox"> أحب القراءة الجماعية وأودّ أن أكون في مجموعة عن موضوع أحبّه!
			</label>
      		</div>
    
    		<div class="form-group">
            <div class="row">
                <label class="control-label col-sm-5" for="id_reading_group_subjects">عظيم! ما المواضيع التي تودّ القراءة عنها ونقاشها؟</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="id_reading_group_subjects" name="reading_group_subjects"></textarea>
                </div>
            </div>
      			<div class="checkbox">
				<label>
					<input name="wants_reading_group_coordination" id="id_reading_group_coordination" type="checkbox"> أود تأسيس مجموعة هذه هذا الموضوع/المواضيع (سنتواصل معك!)
				</label>
      			</div>
      		</div>
    
      		<div class="checkbox">
			<label>
				<input name="wants_reading_group_organization" id="id_reading_group_organization" type="checkbox"> أريد المشاركة في فريق الإشراف على مجموعات القراءة ومتابعتها والمساعدة في رسم خططها وتلبية متطلباتها. (سنتواصل معك!)
			</label>
      		</div>
</div><!--step-section-->

<div class="step-section">
            <h2 class="text-center">المناظرات</h2>
            <hr class="small">
<p class="explaination instructions">
نريد أن نناقش الأسئلة المحورية والمواضيع الشيّقة، وأن نتبادل الحجج بين مؤيد ومعارض! يمكنك الانضمام طرفًا مؤيدًا أو معارضًا في جلسة مناظرة نقاشية ممتعة، أو التنسيق للحدث، أو المشاركة في صياغته.
</p>
      		<div class="checkbox">
			<label>
				<input name="debate" id="id_has_debate_subjects" type="checkbox"> لدي مواضيع ومحاور أود أتثار وتناقش!
			</label>
      		</div>
		<div class="form-group">
            <div class="row">
                <label class="control-label col-sm-5" for="id_debate_subjects">ما هي المواضيع التي تود أن تطرح للمناظرة؟</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="id_debate_subjects" name="debate_subjects" ></textarea>
                </div>
            </div>
      			<div class="checkbox">
				<label>
					<input name="watns_debate_participation" id="id_debate_participate" type="checkbox"> أود المشاركة في نقاش هذا السؤال (سنتواصل معك!)
				</label>
      			</div>
      		</div>
      		<div class="checkbox">
			<label>
				<input name="wants_debate_organization" id="id_debate_organization" type="checkbox"> أريد المشاركة في تنظيم المناظرات والإعلان عنها.
			</label>
      		</div>
</div><!--step-section-->

<div class="step-section">
            <h2 class="text-center">الديوانية</h2>
            <hr class="small">
<p class="explaination instructions">
كانت الديوانيات واحدة من أنجح أنشطة سِراج وأكثرها حضورها خلال السنة الماضية. في جلسات الديوانية، يجتمع الطلاب والطالبات للاستماع إلى متحدثـ/ـة عن موضوع ثقافي أو فكري، ويتلو ذلك نقاش مفتوح لما طُرح، يمكنك أن تشاركـ/ـي كـمتحدثـ/ـة، أو أن تنسقـ/ـي للحدث.
</p>

      		<div class="checkbox">
                <label>
                    <input name="has_dewanya" id="id_has_dewanya_subjects" type="checkbox"> أود اقتراح عناوين ومحاور، وأتمنى أن تطرح للنقاش
                </label>
      		</div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="id_dewanya_subject">عظيم! ما العنواين؟</label>
                <div class="col-sm-7">			
                    <textarea class="form-control" id="id_dewanya_subjects" name="dewanya_subjects"></textarea>
                </div>
            </div>
          		<div class="checkbox">
                <label>
                    <input name="dewanya" id="id_has_dewanya_guests" type="checkbox"> أود اقتراح مثقّفين ومثقّفات (من داخل الجامعة أو من خارجها)، وأتمنى أن تتم استضافتهم
                </label>
      		</div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="id_dewanya_guests">عظيم! من هم؟</label>
                <div class="col-sm-7">			
                    <textarea class="form-control" id="id_dewanya_guests" name="dewanya_guests"></textarea>
                </div>
            </div>
      		<div class="checkbox">
			<label>
				<input name="wants_dewanya_organization" id="id_dewanya_organization" type="checkbox"> أريد المشاركة في تنظيم الديوانيات وانتقاء مواضيعها
			</label>
      		</div>
</div><!--step-section-->
<div class="step-section">
            <h2 class="text-center">الفريق الإعلامي</h2>
            <hr class="small">
<p class="explaination instructions">
الأسئلة أدناه أسئلة اختيارية.
</p>
      		<div class="checkbox">
			<label>
				<input name="wants_media_design" id="id_media_design" type="checkbox">أجيد التصميم واريد دعم سِراج بتصاميمي
			</label>
      		</div>
		<div class="form-group">
			<label for="id_example_design">ارفع تصميمًا</label>
			<input type="file" name="example_design" id="id_example_design">
    			<p class="help-block">هل لك أن ترفع نموذجًا</p>
		</div>
      		<div class="checkbox">
			<label>
				<input name="wants_media_video" id="id_media_video" type="checkbox">أجيد المونتاج واريد دعم سِراج بالفيديو
			</label>
      		</div>
      		<div class="checkbox">
			<label>
				<input name="wants_media_photography" id="id_media_photography" type="checkbox">أجيد التصوير وأريد توثيق أنشطة سراج وفعاليتها.
			</label>
      		</div>


</div><!--step-section-->



<div class="step-section">
            <h2 class="text-center">فلنتعارف!</h2>
            <hr class="small">
<p class="explaination instructions">
الأسئلة أدناه أسئلة اختيارية.
</p>
		<div class="form-group">
			<label class="control-label col-sm-5" for="id_interests">خارج الفضاء الأكاديمي، ما اهتمامتك؟</label>
			<div class="col-sm-7">			
				<textarea class="form-control" id="id_interests" name="interests"></textarea>
			</div>
      		</div>
		<div class="form-group">
			<label class="control-label col-sm-5" for="id_interests">ما سبب رغبتك في الانضمام إلى سِراج؟</label>
			<div class="col-sm-7">			
				<textarea class="form-control" id="id_goals" name="goals"></textarea>
			</div>
      		</div>
		<div class="form-group coordination">
			<label class="control-label col-sm-5" for="id_activities">هل سبق أن نظّمت أنشطة في نادي الطلاب؟</label>
			<div class="col-sm-7">			
				<textarea class="form-control" id="id_activities" name="activities"></textarea>
			</div>
      		</div>
		<div class="form-group coordination">
			<label class="control-label col-sm-5" for="id_twitter">هل لديك حساب على تويتر؟</label>
			<div class="col-sm-7">			
				<input class="form-control" id="id_twitter" name="twitter" placeholder="اسم المستخدم على تويتر" type="text" />
			</div>
      		</div>
		<div class="form-group coordination">
			<label class="control-label col-sm-5" for="goodreads">هل لديك حساب على Goodreads؟</label>
			<div class="col-sm-7">			
				<input class="form-control" id="id_goodreads" name="goodreads" placeholder="رابط Goodreads" type="url" />
			</div>
      		</div>

</div><!--step-section-->

		<div id="delete-button">
				<p><input type="submit" class="form-control btn btn-block btn-success" value="انضمّـ/ـي إلى مجتمع سِراج"/></p>
		</div>
          </form>
        </div><!--col-->
    </div><!--row-->

            </div> <!--col-->
        </div><!--row-->
    </div><!--container-->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p class="text-muted">بُني بأيدٍ طلابيّة</p>
                    <p class="text-muted">حقك في النسخ مكفول.</p>
                    <a target="_blank" rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ar"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
	<script src="{% static 'neon/assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>


<script>


function controlCoordinationInformation(){
	if( $('#id_coordinate').is(':checked')) {
		$(".coordination").show();
	} else {
		$(".coordination").hide();
	}
}

function controlBookContribution(){
	if( $('#id_contribute_books').is(':checked')) {
		$("#id_book_estimate").closest("div.form-group").show();
	} else {
		$("#id_book_estimate").closest("div.form-group").hide();
	}
}

function controlGroupReading(){
	if( $('#id_has_group_reading_subjects').is(':checked')) {
		$("#id_reading_group_subjects").closest("div.form-group").show();
        $("#id_reading_group_subjects").attr("required", true)
	} else {
		$("#id_reading_group_subjects").closest("div.form-group").hide();
        $("#id_reading_group_subjects").attr("required", false)
	}
}

function controlDewanya(){
	if( $('#id_has_dewanya_subjects').is(':checked')) {
		$("#id_dewanya_subjects").closest("div.form-group").show();
        $("#id_dewanya_subjects").attr("required", true)
	} else {
		$("#id_dewanya_subjects").closest("div.form-group").hide();
        $("#id_dewanya_subjects").attr("required", false)
	}
	if( $('#id_has_dewanya_guests').is(':checked')) {
		$("#id_dewanya_guests").closest("div.form-group").show();
        $("#id_dewanya_guests").attr("required", true)
	} else {
		$("#id_dewanya_guests").closest("div.form-group").hide();
        $("#id_dewanya_guests").attr("required", false)
	}
}

function controlDebate(){
	if( $('#id_has_debate_subjects').is(':checked')) {
		$("#id_debate_subjects").closest("div.form-group").show();
        $("#id_debate_subjects").attr("required", true)
	} else {
		$("#id_debate_subjects").closest("div.form-group").hide();
        $("#id_debate_subjects").attr("required", false)
	}
}
    
function controlMedia(){
	if( $('#id_media_design').is(':checked')) {
		$("#id_example_design").closest("div.form-group").show();
        $("#id_example_design").attr("required", true)
	} else {
		$("#id_example_design").closest("div.form-group").hide();
        $("#id_example_design").attr("required", false)
	}
}
$(function() {
	$("textarea").autoGrow();
        controlBookContribution();
	$('#id_contribute_books').click(controlBookContribution);
 	controlGroupReading();
	$('#id_has_group_reading_subjects').click(controlGroupReading);
 	controlDewanya();
	$('#id_has_dewanya_subjects, #id_has_dewanya_guests').click(controlDewanya);
 	controlDebate();
	$('#id_has_debate_subjects').click(controlDebate);
	controlCoordinationInformation()
	$('#id_coordinate').click(controlCoordinationInformation);
    controlMedia();
    $('#id_media_design').click(controlMedia);
});
</script>

{% if request.get_host == 'enjazportal.com' or request.get_host == 'www.enjazportal.com' %}
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
      {% if user.is_authenticated %}
      _paq.push(['setUserId', '{{ user.username }}']);
      {% endif %}
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://enjazportal.com/stats/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 1]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//enjazportal.com/stats/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
{% endif %}

</body>
</html>

