{% load staticfiles %}
<script type="text/javascript">
{% include "bulb/exchange/initialize_book_buttons.js" %}
    $(function () {
        initialize_book_buttons();
        // initialize book edit modal
        $('#edit-book-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $("button#add-book").click(function () {

            $("#edit-book-modal").modal('show');
            $("#edit-book-modal .modal-title").html("أضف كتابًا");
            $("#edit-book-modal .modal-body").load("{% url 'bulb:add_book_introduction' %}", function(){
                $('.contribution-option.give').ready(function(){
                    give_height = $('.contribution-option.give').height();
                    lend_height = $('.contribution-option.lend').height();
                    if (give_height > lend_height){
                        $('.contribution-option.lend').height(give_height);
                    }
                });
                $('.contribution-option').click(function(){
                    if ($(this).hasClass("give")){
                        url = "{% url 'bulb:add_book' 'give' %}";
                    } else if ($(this).hasClass("lend")){
                        url = "{% url 'bulb:add_book' 'lend' %}";
                    }
                    $("#edit-book-modal .modal-body").load(url);  
                    $("#edit-book-modal button.submit-button").data("url", url);
                });
            });
        });
        // submission button
        $("#edit-book-modal button.submit-button").click(function () {
            $("form#edit-book-form").submit();
        });
        {% if from_category or from_my_books  %}
        // load books
        loadBooks();
        {% endif %}
    });
    {% if from_category %}
    function loadBooks() {
        $("#category-books").load("{% url 'bulb:list_book_previews' 'category' category.code_name %}", initialize_book_buttons);
    }
    {% elif from_my_books %}
    function loadBooks() {
        var url = "{% url 'bulb:list_book_previews' 'user' user.username %}";
        $("#available-books").load(url, {condition: 'available'}, initialize_book_buttons);
        $("#done-books").load(url, {condition: 'done'}, initialize_book_buttons);
    }
    {% endif %}
    {% include 'bulb/adjust_modal_size.js' %}
</script>

<!-- book adding/editing modal -->
<div class="modal fade" id="edit-book-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body ativa-scroll">
        {% include "media/polls/ajax-loader.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">أغلق</button>
        <button type="button" class="submit-button btn btn-primary">احفظ</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->