{% load bulb_tags %}
    <li><a href="{% url 'bulb:list_book_categories' %}"><i class="fa fa-book"></i> المكتبة الطلابية التعاونية</a></li>
    <li><a href="{% url 'bulb:my_books' %}"><span class="glyphicon glyphicon-list-alt"></span>  كتبي</a></li>
    <li><a href="{% url 'bulb:requests_by_me' %}"><span class="glyphicon glyphicon-star"></span> طلباتي</a></li>
    {% if user|is_bulb_coordinator_or_deputy or user|is_bulb_member or user.is_superuser %}
    <li><a href=""><i class="fa fa-exclamation-triangle"></i> تعارض في الطلبات</a></li>
    <li><a href="{% url 'bulb:indirect_requests' %}"><i class="fa fa-truck"></i> طلبات غير مباشرة</a></li>
    {% endif %}