{% load staticfiles %}
<script type="text/javascript">
    $(function () {
        // initialize book edit modal
        $('#order-book-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $('#confirm-order').modal({
            show    : false,
            keyboard: false,
            backdrop: 'static',
        });
        
        var $submitButton = $('#confirm-order-modal .confirm');
        // Unbind any handlers previously attached to the submit button
        // This is necessary to avoid multiple submissions of the form
        $submitButton.off('click');
        $submitButton.click(function() {
            $(this).prop('disabled', true);
            // Confirmation button should trigger form submission.
            $("form#confirm-order-form").submit();
        });

        // modify form submission behaviour to be ajaxy
        $("form#confirm-order-form").submit(function (event) {
            /* stop form from submitting normally */
            event.preventDefault();

            /* get some values from elements on the page: */
            var formData = new FormData($(this)[0]); 
            var confirm_url = $(".order-option").data('confirm-url');

            /* Send the data */
            $.ajax({
                url: confirm_url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.message == "success") {
                        // show success message (using toastr)
                        toastr.options.positionClass = "toast-top-left";
                        toastr.success("طلبت الكتاب بنجاح.");
                        $("#confirm-order-modal").modal('hide');
                        var instruction_url = $(".order-option").data('instruction-url');
                        $("#order-book-modal .modal-body").load(instruction_url{% if from_category %}, loadBooks{% endif %});
                        $("#order-book-modal").on("hidden.bs.modal", function(){
                            window.location.href= data.list_url;
                        });
                    } else {
                        $submitButton.prop('disabled', false);
                        $("#confirm-order-form .modal-body").html(data);
                        $("#id_borrowing_end_date").attr('data-start-view', '1').datepicker({isRTL: true, minDate: 1{% if book.available_until %},maxDate: new Date({{ book.available_until.year }}, {{ book.available_until.month }} - 1, {{ book.available_until.day }}){% endif %}});
                    }}
            });
        });     
        
        

    });
    
// This allows overlapping modals.
$(document).on('show.bs.modal', '.modal', function () {
    var zIndex = 1040 + (10 * $('.modal:visible').length);
    $(this).css('z-index', zIndex);
    setTimeout(function() {
        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
    }, 0);
});

{% include 'bulb/adjust_modal_size.js' %}
</script>

<!-- book adding/editing modal -->
<div class="modal fade" id="order-book-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">أغلق</span></button>
        <h4 class="modal-title">تعليمات طلب الكتاب</h4>
      </div>
      <div class="modal-body ativa-scroll">
        {% include "media/polls/ajax-loader.html" %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="confirm-order-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تأكيد الطلب</h4>
      </div>
      <form id="confirm-order-form" action="post">
        <div class="modal-body">
          {% include "media/polls/ajax-loader.html" %}
        </div>
      </form>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">ألغِ</button>
          <button type="button" class="btn btn-primary confirm">أكّد</button>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
