<style>

.order-option.direct{
    background: rgb(134, 213, 121);
}
.order-option.direct p{
    color:  rgb(30, 71, 30);
}

.order-option.indirect{
    background: rgb(213, 208, 121);
}   

.order-option.indirect p{
    color: rgb(56, 55, 30);
}
    
#order-{{ book.pk }}-img {
    display: block;
    width:90%;
    max-width: 100%;
    padding-bottom:90%;
    margin:10px;
    background:url('{{ book.cover.url }}') center center no-repeat;
    background-size: auto 100%;
}
</style>
{% if book.is_available and book.contribution == 'G' and not user.book_points.count_total_giving or book.is_available and book.contribution == 'L' and not user.book_points.count_total_lending %}
<h2>يتعّذّر عليك الطلب! <i class="entypo-emoji-sad"></i></h2>
<p class="alert alert-warning modal-intro"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <a href="{% url 'bulb:student_report' %}" >رصيدك {% if book.contribution == 'G' %}لاقتناء الكتب{% else %}لاستعارة الكتب{% endif %}</a> الآن يبلغ صفرًا، ولذا لن تتمكن من الطلب.  أضف كتابًا، وساعدنا في بناء مكتبة عامرة! </p>
{% elif not book.is_available and book.last_pending_request.requester == user %}
    <h2>تهانينا، تم الطلب!</h2>
    {% if book.last_pending_request.requester.delivery == 'D' %}
    <ul class="modal-intro">
        <li>عليك التواصل مع {{ book.submitter.common_profile.ar_first_name }} واستلام الكتاب خلال فترة لا تتجاوز 7 أيام من تاريخ الطلب:
            <table class="table-hover table">
                <tr>
                    <th>الاسم</th>
                    <td>{{ book.submitter.common_profile.get_ar_full_name }}</td>
                </tr>
                <tr>
                    <th>الكلية</th>
                    <td>{{ book.submitter.common_profile.college.get_name_display }}</td>
                </tr>
                <tr>
                    <th>البريد الإلكتروني</th>
                    <td class="english-field"><a href="mailto:{{ book.submitter.email }}">{{ book.submitter.email }}</a></td>
                </tr>
                <tr>
                    <th>الجوال</th>
                    <td>{{ book.submitter.common_profile.mobile_number }}</td>
                </tr>
            </table>
        </li>
        <li>تم إرسال رسالة ل{{ book.submitter.common_profile.ar_first_name }}  تُفيد بهذا الطلب مُرفقةً ببيانات التواصل معك (رقم الجوال والبريد الإلكتروني).</li>
        <li>إذا استلمت الكتاب، أكد الاستلام في صفحة "<a href="{% url 'bulb:requests_by_me' %}">طلباتي</a>".</li>
        <li>في حال عدم تأكيد الاستلام خلال أسبوع، ستصلك رسالة على البريد الإلكتروني الجامعي تذكّرك بتأكيد استلام الكتاب. يُرجى التفاعل مع رسالة التأكيد حتى لا يتم إلغاء طلبك.</li>
    </ul>
    {% elif book.last_pending_request.requester.delivery == 'I' %}
        <ul class="modal-intro">
            <li>سنتواصل مع {{ book.submitter.common_profile.ar_first_name }} لاستلام الكتاب، ثم سنتواصل معك لتستلم الكتاب. (تتطلب هذه العملية قرابة الأسبوع).</li>
            <li> في حال وجود أي استفسار، يمكنك التواصل مع مُنسّق سِراج:
                {% include 'bulb/exchange/components/bulb_coordinator_contacts.html' %}
            </li>
            <li>يمكنك الرجوع لتفاصيل الطلب وتعديله في صفحة "<a href="{% url 'bulb:requests_by_me' %}">طلباتي</a>".</li>
        </ul>
    {% endif %}
{% elif book.is_available %}
        <div class="row">
            <div class="col-sm-5 col-xs-6">
                <a id="order-{{ book.pk }}-img" href="{% url 'bulb:show_book' book.pk %}"></a>
            </div>
            <div class="col-sm-7 col-xs-6 vcenter">
                <p class="modal-intro">يمكنك الآن طلب كتاب <strong>{{ book.title }}</strong> من {{ book.submitter.common_profile.get_ar_full_name }}، من {{ book.submitter.common_profile.college.get_name_display }}. {% if book.contribution == 'G' %}هذا الكتاب للاقتناء{% else %}هذا الكتاب للإعارة {% if book.available_until%}وهو متوفر حتى {{ book.available_until|date:"l j F Y" }}{% endif %}.{% endif %}.</p>
    {% if user.common_profile.college.gender == book.submitter.common_profile.college.gender and not book.is_publicly_owned %}
                <p class="modal-intro">لديك خياران للطلب:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button data-instruction-url="{% url 'bulb:order_instructions' book.pk %}"  data-confirm-url="{% url 'bulb:confirm_book_order' book.pk %}" class="bulb-option order-option direct">
                    <div class="icon"><i class="fa fa-rocket"></i></div>			
                    <h3>استلام مباشر</h3>
                    <p>ستصلك معلومات التواصل مع {{ book.submitter.common_profile.ar_first_name }} لتُحدّد موعدًا لمقابلته خلال أسبوع. بعد ذلك سيتعيّن عليك تأكيد الاستلام، وعليه تأكيد التسليم لإنهاء إجراءات الطلب.</p>
                </button>
            </div>
            <div class="col-sm-6 vcenter">
                <button data-instruction-url="{% url 'bulb:order_instructions' book.pk %}"  data-confirm-url="{% url 'bulb:confirm_book_order' book.pk %}" class="bulb-option order-option indirect">
                    <div class="icon"><i class="fa fa-truck"></i></div>			
                    <h3>توصيل فريق سِراج</h3>
                    <p>سنتواصل مع {{ book.submitter.common_profile.ar_first_name }} لنأخذ منه الكتاب، ثم سنتصل بك ليصلك الكتاب، يتم ذلك عادة خلال أسبوع.</p>
                </button>
            </div>
        </div>
    {% elif book.is_publicly_owned or not user.common_profile.college.gender == book.submitter.common_profile.college.gender %}
                <button data-instruction-url="{% url 'bulb:order_instructions' book.pk %}"  data-confirm-url="{% url 'bulb:confirm_book_order' book.pk %}" class="bulb-option order-option indirect">
                    <div class="icon"><i class="fa fa-truck"></i></div>			
                    <h3>إيصال بواسطة فريق سِراج</h3>
                    <p>سنتواصل مع {{ book.submitter.common_profile.ar_first_name }} لنأخذ منه الكتاب، ثم سنتصل بك ليصلك الكتاب، يتم ذلك عادة خلال أسبوع.</p>
                </button>
            </div>
        </div>
    {% endif %}
{% endif %}