{% load bulb_tags %}
<div class="col-sm-6">
    <div class="row row-flex">
    {% if book.cover %}
        <div class="col-sm-4">
            <div style="text-align: center; border-left: solid 1px #eee;">
                <div class="book-contribution">{% if book.contribution == 'L' %}للاستعارة{% elif book.contribution == 'G' %}للاقتناء{% endif %}</div>
                <a class="book-image" style="background-image:url('{{ book.cover.url }}');" href="{% url 'bulb:show_book' book.pk %}"></a>
                تأليف: {{ book.authors }}
            </div>
        </div>
        <div class="col-sm-8 vcenter">
    {% else %}
        <div class="col-sm-12">
    {% endif %}
    <h2 dir="auto">
        <a href="{% url 'bulb:show_book' book.pk %}">{{ book.title }}</a>
    </h2>
    <p dir="auto">
        {{ book.description|truncatechars:100 }}
    </p>
        {% if not from_home %}
        <span style="float: left">
            {% if user|can_edit_book:book %}
            <button data-url="{% url 'bulb:edit_book' book.pk %}" class="edit-book btn btn-xs btn-icon btn-gold">
                <i class="entypo-pencil"></i>
                عدل
            </button>
            <button data-confirm-url="{% url 'bulb:confirm_book_deletion' book.pk %}" data-pk="{{ book.pk }}" data-deletion-url="{% url 'bulb:delete_book' book.pk %}" class="confirm-delete-book btn btn-xs btn-icon btn-danger">
                <i class="entypo-block"></i>
                احذف
            </button>
            {% endif %}
            {% if user|can_order_book:book %}
            <button data-instruction-url="{% url 'bulb:order_instructions' book.pk %}" class="order-book btn btn-xs btn-icon btn-success">
                <i class="entypo-flag"></i>
                اطلب
            </button>
            {% endif %}
        </span>
        {% endif %}
    </div>
    </div>
</div>