{% extends 'newhpc/english/jeddah/jed_english_base.html' %}{% load staticfiles %}
{% block title %}Research Guidelines HPC 2020 | Jeddah{% endblock %}
{% block style %}
    @media (min-width: 992px) {
    #slide1h3 {
        margin-top:55px
    }
    #slide1p {
        margin:60px 0 30px 0;
    }
    #our-vision.c-feature-15-container {
        margin: 0 -30px 0 350px;
    }
    }
    @media
    (max-width: 1200px) {
    #slide2h3.c-font-48 {
        font-size:43px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 50px !important;
    }
    #slide1p.c-font-40 {
        font-size: 30px !important;
    }
    @media (max-width: 991px) {
    #slide2h3.c-font-48 {
        font-size:19px !important;
    }
    #slide1h3.c-font-70 {
        font-size: 25px !important;
    }
    #slide1p.c-font-40 {
        font-size: 14px !important;
    }
    #slide1p{
        margin:0 !important;
    }
    #slide1h3 {
        margin-top: 15px !important;
    }
    #our-vision.c-feature-15-container {
        margin: 0 !important;
    }
    .c-content-list-1 > li {
        font-size:20px;
        margin-top:15px;
    }
    .c-btn-blue {
        background: #33b2c1 !important;
        border-color: #33b2c1 !important;
    }
    .c-btn-blue:hover {
        background: #9d0051 !important;
        border-color: #9d0051 !important;
    }
    }
{% endblock %}
{% block content %}
    <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-3 -->
    <div id="feature-15-1" class="c-bg-parallax c-content-feature-15 c-bg-img-center" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="c-feature-15-container c-bg-white">
                        <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-40" style="margin-top: 80px">HPC 2020 Jeddah Abstract Instructions and Guidelines:</h2>
                        <ul class="c-content-list-1 c-theme c-separator-dot">
                            <li>We encourage you to send an informative abstract that is a brief structured summary of the paper stating the <b>purpose</b> together with the <b>background, methods, results and conclusion.</b></li>
                            <li><b>WORDS:</b> Word limit for the abstract is 300 words, please adhere to the word limit to avoid rejection of your abstract.</li>
                            <li>Submission of tables and charts will not be allowed.</li>
                            <li><b>RESPONSIBILITY:</b> The presenting author takes full responsibility for any statements submitted and has the approval of the co-authors to present this abstract.</li>
                            <li><b>SUBMISSION:</b> Abstracts must be submitted in English using Enjaz HPC 2020 submission form exclusively. Abstracts submitted via e-mail or any other means will not be accepted. </li>
                            <li>The presenting authors need an Enjaz account to access submission form link</li>
                            <li><b>The deadline for submission of abstract is at 11:59 pm on Thursday 5 December 2019.</b></li>
                            <li><b>CHANGES:</b> Once abstracts have been submitted to the research team; <i>changes will not be permitted anymore.</i></li>
                            <li>All abstracts received by the Research Team will be given an abstract ID number after successful submission. Therefore, please use the abstract ID number when you contact the Research Team regarding your abstract.</li>
                            <li><b>NO CONFLICT OF AUTHORSHIP:</b> Presenting authors / co-authors should understand that the details of the abstract (title, authors, contents, etc.) will be published as it is, and submission of an abstract by different presenting authors will lead to rejection of all abstracts.</li>
                            <li>Presenting authors have the right to submit more than one abstract of different studies, but only one abstract will be accepted per presenting author.</li>
                            <li>Presenting authors can be involved in other abstracts as a co-author.</li>
                            <li>State if you prefer your abstract to be presented as oral or poster presentation. Once your abstract is accepted, the presenting author will be notified via e-mail if it is designated as oral or poster presentation.</li>
                            <li>Presenting authors will be notified via e-mail no later than 30 December 2019, whether or not their abstract has been accepted.</li>
                            <li>Abstracts that have been accepted in previous versions of Health Professions Conference will be automatically rejected.</li>
                            <li>Presenting authors of the accepted abstracts will be notified about the guidelines of poster and oral presentation and should adhere to them.</li>
                            <li><b>EVALUATION:</b> All accepted abstracts will be evaluated based on their quality and the authors’ presentation skills during the General Program days by 4 anonymous judges.</li>
                            <li><b>AWARDS: </b>Best oral and poster presentations will be awarded at the Closing Ceremony.</li>
                            <li>Case report studies will be presented at the conference as poster presentations. However, case reports will not be evaluated nor awarded.</li>
                            <li>For further inquiries, please contact us on <a target="_blank" href="https://twitter.com/Ksauh_Jedevents">Twitter</a></li>

                        </ul>
                        <div>
                            <style>
                                .c-btn-blue {
                                    background: #33b2c1 !important;
                                    border-color: #33b2c1 !important;
                                }
                                .c-btn-blue:hover {
                                    background: #9d0051 !important;
                                    border-color: #9d0051 !important;
                                }
                            </style>
                            <a class="btn btn-xlg c-btn-blue c-font-uppercase c-font-bold c-btn-circle" href="/events/hpc2020-j/abstracts/">Abstract Submission Form</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-15-3 -->
{% endblock %}