{% extends "books_base.html" %}{% load bootstrap3 %}
{% block title %}استعارة {{ book.title }}{% endblock %}
{% block content %}
 <script>
// new Date({{ book.available_from.year }}, {{ book.available_from.month }} - 1, {{ book.available_from.day }})
$(function() {
$( "#id_borrow_from" ).datepicker({
    dateFormat: "yy-mm-dd",
    minDate: 0{% if book.available_until %},
    maxDate: new Date({{ book.available_until.year }}, {{ book.available_until.month }} - 1, {{ book.available_until.day }}){% endif %},
    onSelect: function(dateText) {$( "#id_borrow_until" ).datepicker( "option", "minDate", dateText );}
});
$( "#id_borrow_until" ).datepicker({
    dateFormat: "yy-mm-dd",
    minDate: 0{% if book.available_until %},
    maxDate: new Date({{ book.available_until.year }}, {{ book.available_until.month }} - 1, {{ book.available_until.day }}){% endif %},
    onSelect: function(dateText) {$( "#id_borrow_from" ).datepicker( "option", "maxDate", dateText );}
});
});
</script>

<h2>استعارة {{ book.title }}</h2>
{% if error %}<p class="alert alert-warning">
{% if error == 'not_available' %}
{% if book.status == 'H' %}
الكتاب محجوز.
{% elif book.status == 'B' %}
الكتاب معار.
{% elif book.status == 'W' %}
الكتاب مسحوب.
{% endif %}
{% elif error == 'is_submitter' %}
أنت صاحب الكتاب!
{% elif error == 'is_holder' %}
الكتاب معك!
{% elif error == 'expired' %}
لم يعد الكتاب متوفرا.
{% elif error == 'not_yet' %}
لم يتوفر الكتاب للإعارة بعد.
{% elif error == 'gender' %}
هذا الكتاب متوفر {% if book.available_to == 'F' %} للطالبات{% else %} للطلاب{% endif %} فقط.
{% endif %}
</p>
{% else %}
{% if warning %}
<p><em>تحذير: ثمة طلبات معلقة.</em></p>
{% endif %}
<form action="{% url 'books:borrow' book.pk %}" method="post" class="form">
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} أرسل
        </button>
    {% endbuttons %}
</form>
{% endif %}
{% endblock %}
