{% load staticfiles %}<link type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}">
<link type="text/css" href="{% static 'autocomplete_light/select2.css' %}">
<script src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<script src="{% static 'autocomplete_light/select2.js' %}"></script>

<script>
$.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>

<style>
span.select2{
    visibility: visible;
}

.select2-container{
  text-align: right;
  direction: rtl;
}

.select2-results{
  color: black;
}
</style>
