<div class="modal fade" id="confirm-archive-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">أرشفة المجموعة</h4>
      </div>
      <div class="modal-body">
          <form id="confirm-archive-form">
              <label>هل أنت متأكد أنك ترغب في أرشفة هذه المجموعة؟ هذا يعني أن ستظل مُتاحة للطلاب والطالبات لكن لن يمكن الدعوة لجلسات جديدة ولن يتمكن الطلاب والطالبات من الانضمام إليها. .</label>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ألغِ</button>
        <button data-action="archive" id="archive-group" type="button" class="btn btn-primary confirm">أكّد</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirm-unarchive-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">إلغاء أرشفة المجموعة</h4>
      </div>
      <div class="modal-body">
          <form id="confirm-archive-form">
              <label>هل أنت متأكد أنك ترغب في إلغاء أرشفة هذه المجموعة؟ هذا يعني أنه سيكون ممكنا الدعوة لجلسات جديدة والانضمام إليها.</label>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ألغِ</button>
        <button data-action="unarchive" id="unarchive-group" type="button" class="btn btn-primary confirm">أكّد</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirm-join-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">الانضمام للمجموعة</h4>
      </div>
      <div class="modal-body">
          <form id="confirm-join-form">
              <label>هل أنت متأكد أنك ترغب في الانضمام لهذه المجموعة؟ ستصلك تنبيهات جلساتها.</label>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ألغِ</button>
        <button data-action="join" id="join-group" type="button" class="btn btn-primary confirm">أكّد</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="confirm-leave-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">مغادرة المجموعة</h4>
      </div>
      <div class="modal-body">
          <form id="confirm-leave-form">
              <label>هل أنت متأكد أنك ترغب في مغادرة هذه المجموعة؟ لن تصلك أي تنبيهات عن جلساتها.</label>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ألغِ</button>
        <button data-action="leave" id="leave-group" type="button" class="btn btn-danger confirm">أكّد</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->