<style>
.modal-footer{
    display: none;
}
</style>

<h2>طلب كتاب</h2>

<div class="row">
    <div class="col-xs-12">
        <p class="modal-intro">معا نشيّد مكتبة عامرة، يجد فيها الطلاب والطالبات الكتب القيّمة!  يمكنك المساهمة لسِراج بـ:</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="bulb-option end-needed-book-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>