{% extends "bulb_base.html" %}{% load staticfiles %}{% load bulb_tags %}
{% block title %}كتب سِراج بحسب تاريخ الإضافة{% endblock %}
{% block navbar %}
    {% include "bulb/exchange/components/navbar.html" %}
{% endblock %}
{% block content %}
<h1>كتب سِراج بحسب تاريخ الإضافة</h1>
<table class="table datatable dt-responsive">
    <thead>
        <tr>
            <th>اسم الكتاب</th>
            <th class="not-mobile">المُساهم</th>
            <th>تاريخ الإضافة</th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td>{% if not book.is_available  %}<span class="badge badge-warning">طُلب!</span>{% else %}<span class="badge badge-success">متاح</span>{% endif %}<a href="{% url 'bulb:show_book' book.pk %}">{{ book.title }}</td>
            <td>{% reader_profile_link book.submitter %}</td>
            <td data-order="{{ request.submission_date|date:"U" }}">{{ book.submission_date|date:"l j F Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        language = {% include 'js/dataTables-arabic.json' %};
        $(".datatable").DataTable({
            "order": [[ 2, "desc" ]],
            "language": language,
        });
    });
</script>
{% endblock %}