{% load bootstrap3 %}{% load staticfiles %}
<form enctype="multipart/form-data" id="edit-needed-book-form" action="post">
{% csrf_token %}
{% bootstrap_form form %}
</form>
<script type="text/javascript">
$(function () {
    // modify form submission behaviour to be ajaxy
    $("form#edit-needed-book-form").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var formData = new FormData($(this)[0]); 
        {% if needed_book %}{# if a needed book is passed, then post to edit_needed_book url, otherwise to add_needed_book #}
        var url = "{% url 'bulb:edit_needed_book' needed_book.pk %}";
        {% else %}
        var url = "{% url 'bulb:add_needed_book' %}";
        {% endif %}

        /* Send the data */
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                if (data.message == "success") {

                    // show success message (using toastr)
                    toastr.options.positionClass = "toast-top-left";
                    {% if needed_book %}
                    toastr.success("عُدّل {{ needed_book.title }} بنجاح.");
                    {% else %}
                    toastr.success("أضيف كتاب جديد بنجاح.");
                    {% endif %}

                     window.location.href= data.show_url;

                } else {
                    $("#edit-needed-book-modal .modal-body").html(data);
                }}
        });

    });
});
</script>