{% load bootstrap3 %}{% load staticfiles %}
<form enctype="multipart/form-data" id="edit-book-form" action="post">
{% csrf_token %}
{% bootstrap_form form %}
</form>
<script type="text/javascript">
$(function () {
    $("#id_available_until").attr('data-start-view', '1').datepicker({isRTL: true, minDate: 1});
    if ($("#id_contribution").val() == 'G'){
        $('#id_available_until').parent().hide();
    }
    $("#id_contribution").change(function(){
        if ($(this).val() == 'G'){
            $('#id_available_until').parent().hide();
        } else {
            $('#id_available_until').parent().show();
        }
    });
    
    // modify form submission behaviour to be ajaxy
    $("form#edit-book-form").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var formData = new FormData($(this)[0]); 
        {% if book %}{# if a book is passed, then post to edit_book url, otherwise to add_book #}
        var url = "{% url 'bulb:edit_book' book.pk %}";
        {% else %}
        // This will change depending the lend/give choice.
        var url = $("#edit-book-modal button.submit-button").data("url");
        {% endif %}

        /* Send the data */
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                if (data.message == "success") {

                    // show success message (using toastr)
                    toastr.options.positionClass = "toast-top-left";
                    {% if book %}
                    toastr.success("عُدّل {{ book.title }} بنجاح.");
                    {% else %}
                    toastr.success("أضيف كتاب جديد بنجاح.");
                    {% endif %}

                     window.location.href= data.show_url;

                } else {
                    $("#edit-book-modal .modal-body").html(data);
                }}
        });

    });
});
</script>