{% load bulb_tags %}
<div class="col-sm-2 vcenter">
    <div class="screenshot">
        <div style="text-align: center; border-left: solid 1px #eee;">
            <a class="book-image" style="background-image:url('{{ book_request.book.cover.url }}');" href="{% url 'bulb:show_book' book_request.book.pk %}"></a>
            <a href="{% url 'bulb:show_book' book_request.book.pk %}">{{ book_request.book.title }}</a>
        </div>
    </div>
</div>
<div class="col-sm-4 vcenter">
    <p>صاحب الكتاب:</p>
    <table class="table table-hover">
        <tr>
            <th>الاسم</th>
            <td>{{ book_request.book.submitter.common_profile.get_ar_full_name }}{% if book.is_publicly_owned %} (كتاب عمومي){% endif %}</td>
        </tr>
        <tr>
            <th>الكلية</th>
            <td>{{ book_request.book.submitter.common_profile.college.get_name_display }}</td>
        </tr>
        <tr>
            <th>البريد</th>
            <td class="english-field"><a href="mailto:{{ book_request.book.submitter.email }}">{{ book_request.book.submitter.email }}</a></td>
        </tr>
        <tr>
            <th>رقم الجوال</th>
            <td>{{ book_request.book.submitter.common_profile.mobile_number }}</td>
        </tr>
    </table>
</div>
<div class="col-sm-4 vcenter">
    <p>مُقدّم الطلب:</p>
    <table class="table table-hover">
        <tr>
            <th>الاسم</th>
            <td>{{ book_request.requester.common_profile.get_ar_full_name }}</td>
        </tr>
        <tr>
            <th>الكلية</th>
            <td>{{ book_request.requester.common_profile.college.get_name_display }}</td>
        </tr>
        <tr>
            <th>البريد</th>
            <td class="english-field"><a href="mailto:{{ book_request.requester.email }}">{{ book_request.requester.email }}</a></td>
        </tr>
        <tr>
            <th>رقم الجوال</th>
            <td>{{ book_request.requester.common_profile.mobile_number }}</td>
        </tr>
        {% if book_request.borrowing_end_date %}
        <tr>
            <th>تاريخ انتهاء مدة الاستعارة</th>
            <td>{{ book_request.borrowing_end_date|date:"l j F" }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>تاريخ الطلب</th>
            <td>{{ book_request.submission_date|date:"l j F" }}</td>
        </tr>
    </table>
</div>
<div class="col-sm-2 vcenter">
{% if side == 'owner' and not book_request.owner_status == 'D' and not book_request.owner_status == 'R' or side == 'requester' and not book_request.requester_status == 'D' and not book_request.requester_status == 'R' %}
    <button data-pk="{{ book_request.pk }}" data-action="{{ side }}_done" class="done btn-block btn-icon btn btn-success">
        <i class="entypo-flag"></i>
        سُلّم الكتاب
    </button>
    {% if not book_request.owner_status == 'F' and not book_request.requester_status == 'F' %}
    <button data-pk="{{ book_request.pk }}" data-action="{{ side }}_failed" class="failed btn-block btn-icon btn btn-warning">
        <i class="fa fa-exclamation-circle"></i>
        تعذّر التواصل
    </button>
    {% endif %}
{% endif %}
     {% if book_request.book.contribution == 'L' and book_request.requester_status == 'D' %}
        <button data-pk="{{ book_request.pk }}" data-action="requester_returned" class="done btn-block btn-icon btn btn-success">
            <i class="entypo-flag"></i>
            أعاده المستعير
        </button>
    {% elif book_request.book.contribution == 'L' and book_request.owner_status == 'D' and not book_request.requester_status == '' %}
        <button data-pk="{{ book_request.pk }}" data-action="owner_returned" class="done btn-block btn-icon btn btn-success">
            <i class="entypo-flag"></i>
            أعيد إلى صاحبه
        </button>
    {% endif %}
</div>
