{% extends "bulb_base.html" %}{% load staticfiles %}
{% block title %}طلبات غير مباشرة{% endblock %}
{% block navbar %}
    {% include "bulb/exchange/components/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="row">
        {% include "bulb/exchange/components/critical_buttons.html" %}
        <h1>طلبات غير مباشرة</h1>
        <h2>كتب للاستلام</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="requests-to-receive">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>كتب للتسليم</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="requests-to-give">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>كتب تسترجع من مقدم طلب الاستعارة</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="requests-to-claim-from-requester">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>كتب للإرجاع إلى صاحب الكتاب</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="requests-to-return-to-owner">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>كتب تعذّر التواصل مع صاحبها</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="failed-owner-requests">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>كتب تعذّر التواصل مع طالبها</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="failed-requester-requests">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>كتب منجزة</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="done-requests">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>

{% with from_my_books=True %}
    {% include "bulb/exchange/components/edit_book_asset.html" %}
{% endwith %}

<script type="text/javascript">
    function refreshIndirectRequests(){
        $("#requests-to-receive").load("{% url 'bulb:list_indirect_requests' %}", {condition: 'to_receive'}, initialize_request_buttons);
        $("#requests-to-give").load("{% url 'bulb:list_indirect_requests' %}", {condition: 'to_give'}, initialize_request_buttons);
        $("#requests-to-claim-from-requester").load("{% url 'bulb:list_indirect_requests' %}", {condition: 'to_claim_from_requester'}, initialize_request_buttons);
        $("#requests-to-return-to-owner").load("{% url 'bulb:list_indirect_requests' %}", {condition: 'to_return_to_owner'}, initialize_request_buttons);

        $("#done-requests").load("{% url 'bulb:list_indirect_requests' %}", {condition: 'done'}, initialize_request_buttons);
        $("#failed-requester-requests").load("{% url 'bulb:list_indirect_requests' %}", {condition: 'failed_requester'}, initialize_request_buttons);
        $("#failed-owner-requests").load("{% url 'bulb:list_indirect_requests' %}", {condition: 'failed_owner'}, initialize_request_buttons);

    }
    function initialize_request_buttons(){
        control_url = "{% url 'bulb:control_request' %}";
        list_url = "{% url 'bulb:list_indirect_requests' %}";
        $('button.done, button.failed').click(function() {
            pk = $(this).data('pk');
            action = $(this).data('action');
            data = {pk: pk, action: action};
            $.ajax({
                url: control_url,
                type: 'POST',
                data: data,
                cache: false,
                success: function (data) {
                    if (data.message == "success") {
                        $("#pending-"+pk).hide('slow');
                        refreshIndirectRequests();
                    } else {
                        alert(data.message);
                    }
                }
            });
        });
    }
    $(refreshIndirectRequests);
</script>
{% endblock %}