{% extends "bulb_base.html" %}{% load staticfiles %}
{% block title %}طلباتي{% endblock %}
{% block navbar %}
    {% include "bulb/exchange/components/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="row">
        {% include "bulb/exchange/components/critical_buttons.html" %}
        <h1>طلباتي</h1>
        <h2>كتب مُعلّقة</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="pending-requests">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>كتب استعرتها</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="borrowing-requests">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
        <h2>طلبات منجزة</h2>
        <div class="panel panel-warning panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="done-requests">
                    {% include "media/polls/ajax-loader.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>

{% with from_my_books=True %}
    {% include "bulb/exchange/components/edit_book_asset.html" %}
{% endwith %}

<script type="text/javascript">
    function initialize_request_buttons(){
        // To prevent repeated action, remvoe any previous bound events
        $('button.done, button.failed, button.returned, button.canceled').unbind( "click" );
        control_url = "{% url 'bulb:control_request' %}";
        display_url = "{% url 'bulb:pending_request' %}";
        list_url = "{% url 'bulb:list_my_requests' %}";
        $('button.done').click(function() {
            var button = this;
            $(button).prop('disabled', true);
            var pk = $(button).data('pk');
            data = {pk: pk, action: 'requester_done'}
            $.ajax({
                url: control_url,
                type: 'POST',
                data: data,
                cache: false,
                success: function (data) {
                    if (data.message == "success") {
                        refreshLists();
                    } else {
                        alert(data.message);
                        $(button).prop('disabled', false);
                    }
                }
            });
        });
        $('button.failed').click(function() {
            var button = this;
            $(button).prop('disabled', true);
            var pk = $(button).data('pk');
            data = {pk: pk, action: 'requester_failed'}
            $.ajax({
                url: control_url,
                type: 'POST',
                data: data,
                cache: false,
                success: function (data) {
                    if (data.message == "success") {
                        console.log(1);
                        $("#pending-"+pk).load(display_url, {pk: pk}, initialize_request_buttons);
                    } else {
                        alert(data.message);
                        $(button).prop('disabled', false);
                    }
                }
            });
        });
        $('button.returned').click(function() {
            var button = this;
            $(button).prop('disabled', true);
            var pk = $(button).data('pk');
            data = {pk: pk, action: 'requester_returned'}
            $.ajax({
                url: control_url,
                type: 'POST',
                data: data,
                cache: false,
                success: function (data) {
                    if (data.message == "success") {
                        refreshLists();
                    } else {
                        alert(data.message);
                        $(button).prop('disabled', false);
                    }
                }
            });
        });
        $('button.canceled').click(function() {
            var button = this;
            $(button).prop('disabled', true);
            pk = $(button).data('pk');
            data = {pk: pk, action: 'requester_canceled'}
            $.ajax({
                url: control_url,
                type: 'POST',
                data: data,
                cache: false,
                success: function (data) {
                    if (data.message == "success") {
                        refreshLists();
                    } else {
                        alert(data.message);
                        $(button).prop('disabled', false);
                    }
                }
            });
        });
    }
    function refreshLists(){
        $("#pending-requests").load("{% url 'bulb:list_my_requests' %}", {condition: 'pending'}, initialize_request_buttons);
        $("#borrowing-requests").load("{% url 'bulb:list_my_requests' %}", {condition: 'borrowing'}, initialize_request_buttons);
        $("#done-requests").load("{% url 'bulb:list_my_requests' %}", {condition: 'done'}, initialize_request_buttons);
    }
    $(refreshLists);
</script>
{% endblock %}