{% extends "bulb_base.html" %}{% load staticfiles %}
{% block title %}ابحث في الكتب{% if request.GET.q %}: {{ request.GET.q }}{% endif %}{% endblock %}
{% block navbar %}
    {% include "bulb/exchange/components/navbar.html" %}
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-sm-9">
                <h1>ابحث في الكتب{% if request.GET.q %}: {{ request.GET.q }}{% endif %}</h1>
                <form style="margin-bottom: 5px;" action="{% url 'bulb:search_books' %}" class="form-inline">
                    <input name="q" id="term" class="form-control" {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %} type="text">
                    <input class="form-control btn btn-xs btn-primary" type="submit" value="ابحث">
                </form>
            </div>
            <div class="col-sm-3">
                {% include "bulb/exchange/components/critical_buttons.html" %}
            </div>
        </div>
        <div class="panel panel-success panel-shadow" data-collapsed="0">
            <div class="panel-body">
                <div id="tag-books">
                    {% with books=results %}
                        {% include "bulb/exchange/components/list_books.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
{% include "bulb/components/connect_twitter.html" %}
{% include "bulb/exchange/components/edit_book_asset.html" %}
{% include "bulb/exchange/components/edit_needed_book_asset.html" %}
{% include "bulb/exchange/components/order_modal.html" %}
{% include "bulb/exchange/delete_modal.html" %}
{% endblock %}