{% extends "bulb_base.html" %}{% load staticfiles %}{% load bulb_tags %}
{% block title %}{{ book.title }}{% endblock %}
{% block navbar %}
    {% include "bulb/exchange/components/navbar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div style="text-align: center; border-left: solid 1px #eee;">
            <div class="book-image" style="background-image:url('{{ book.cover.url }}');"></div>
            تأليف: {{ book.authors }}
        </div>
    </div>
    <div class="col-sm-8">
        {% if not book.is_available %}
        <p class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> طُلب هذا الكتاب، ولم يعد متوفرًا!</p>
        {% elif not book.is_within_availability_period %}
        <p class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> انتهت المدّة التي كان فيها هذا الكتاب مُتاحة للاستعارة.</p>
        {% endif %}
       <h2 dir="auto">{{ book.title }}</h2>
        <p dir="auto" class="book-description">
            {{ book.description|linebreaksbr }}
        </p>
        <span style="margin-bottom: 10px; float: left">
            {% if user|can_edit_book:book %}
            <button data-url="{% url 'bulb:edit_book' book.pk %}" class="edit-book btn btn-xs btn-icon btn-gold">
                <i class="entypo-pencil"></i>
                عدل
            </button>
            <button data-confirm-url="{% url 'bulb:confirm_book_deletion' book.pk %}" data-deletion-url="{% url 'bulb:delete_book' book.pk %}" data-pk="{{ book.pk }}" class="confirm-delete-book btn btn-xs btn-icon btn-danger">
                <i class="entypo-block"></i>
                احذف
            </button>
            {% endif %}
            {% if user|can_order_book:book %}
            <button data-instruction-url="{% url 'bulb:order_instructions' book.pk %}" class="order-book btn btn-xs btn-icon btn-success">
                <i class="entypo-flag"></i>
                اطلب
            </button>
            {% endif %}
        </span>
        <table class="table table-hover">
            <colgroup>
              <col class="col-xs-4 col-md-2 col-sm-3">
              <col class="col-xs-8 col-md-10 col-sm-9">
            </colgroup>
            <tbody>
                <tr>
                    <th>أضافه</th>
                    <td>{% reader_profile_link book.submitter %}</td>
                </tr>
                <tr>
                    <th>نوع المساهمة</th>
                    <td>لل{{ book.get_contribution_display }}</td>
                </tr>
                <tr>
                    <th>التصنيف</th>
                    <td><a href="{% url 'bulb:show_category' book.category.code_name %}">{{ book.category.name }}</a></td>
                </tr>{% if book.pages %}
                <tr>
                    <th>عدد الصفحات</th>
                    <td>{{ book.pages }}</td>
                </tr>{% endif %}
                <tr>
                    <th>حالة الكتاب</th>
                    <td>{{ book.get_condition_display }}</td>
                </tr>
                <tr>
                    <th>تاريخ الإضافة</th>
                    <td>{{ book.submission_date|date:"j F Y" }}</td>
                </tr>{% if book.available_until%}
                <tr>
                    <th>الكتاب متاح حتى</th>
                    <td>{{ book.available_until|date:"j F Y" }}</td>
                </tr>{% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block customscript %}
<style>
p{
    font-size: 17px;
}
</style>
<script type="text/javascript">
    $(function(){
        {% include "bulb/exchange/initialize_book_buttons.js" %}
        initialize_book_buttons();
    });
</script>
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
{% include "bulb/exchange/components/edit_book_asset.html" %}
{% include "bulb/exchange/components/order_modal.html" %}
{% include "bulb/exchange/delete_modal.html" %}
{% endblock %}