{% extends "bulb_base.html" %}{% load staticfiles %}
{% block title %}{% if user == bulb_user %}تقرير رصيدي{% else %}تقرير رصيد {{ bulb_user.common_profile.get_ar_full_name }}{% endif %}{% endblock %}
{% block navbar %}
    {% include "bulb/exchange/components/navbar.html" %}
{% endblock %}
{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;}
.tg th{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
</style>
{% include "bulb/exchange/components/critical_buttons.html" %}
<h1>تقرير {% if user != bulb_user %}رصيد {{ bulb_user.common_profile.get_ar_full_name }}{% else %}رصيدك{% endif %}</h1>
<h2 id="giving">رصيد الاقتناء</h2>
<p>من خلال هذا الرصيد يمكنك اقناء أيٍ من الكتب المعروضة في سِراج.</p>
{% with points=bulb_user.book_points.current_year.counted.giving %}
    {% include 'bulb/exchange/partials/balance_table.html' %}
{% endwith %}

<h2 id="lending">رصيد الاستعارة</h2>
<p>من خلال هذا الرصيد يمكنك استعارة أيٍ من الكتب المعروضة في سِراج.</p>
{% with points=bulb_user.book_points.current_year.counted.lending %}
    {% include 'bulb/exchange/partials/balance_table.html' %}
{% endwith %}
{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<script src="{% static 'neon/assets/js/toastr.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(function () {
	$('.datatable').DataTable({
        "order": [[ 0, "desc" ]],
        "language": {% include 'js/dataTables-arabic.json' %}
    });
});
</script>
{% include "bulb/exchange/components/edit_book_asset.html" %}
{% endblock %}