{% extends 'front/front_base.html' %}{% load staticfiles %}
{% block title %}الأنشطة{% endblock %}

{% block content %}
<section class="breadcrumb">

	<div class="container">

		<div class="row">

			<div class="col-sm-12">

				<h1 class="dinar-medium">الأنشطة</h1>

			</div>

		</div>

	</div>

</section>
<div class="container dinar-light">

<style>
	.calendar-env .calendar-body {
		width: 100%;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="calendar-env" dir="ltr"> <!-- It's problematic in rtl -->
			<!-- Calendar Body -->
			<div class="calendar-body">
				<div id="calendar"></div>
			</div>

		</div>
	</div>
</div>
</div>
{% endblock %}

{% block customscript %}
<script src="{% static 'neon/assets/js/fullcalendar/fullcalendar.min.js' %}"></script>
<script>
    var approved = [
		{% with activities=approved %}
			{% include 'activities/components/activities_array_for_calendar.html' %}
		{% endwith %}
	];

	var calendar = $('#calendar');
    calendar.fullCalendar({
        header: {
            left: 'title',
            right: 'month,agendaWeek,agendaDay today prev,next'
        },

        //defaultView: 'basicWeek',

        editable: false,
        firstDay: 7,
        height: 600,
        droppable: false,
        allDayDefault: false,
        events: approved,
        eventColor: 'rgb(0, 166, 81)',
        eventRender: function(event, element) {
            var start = event.start;
            var end = event.end;
            var timeDiff = Math.abs(end - start);
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            if (diffDays > 14) {
                // hide episodes greater than 14 days in length
                return false;
            }
        }
    });
</script>
{% endblock %}