<style>
.end-feedback-introduction{
    background: rgb(134, 213, 121);
}

.modal-footer{
    display: none;
}
</style>

<h2>أرسل ملاحظاتك عن مرشدك الطلابي</h2>


<p class="modal-intro">تعليمات إضافة ملاحظات: لماذا، وما طبيعة الملاحظات المتوقعة؟</p>

<p class="modal-intro">مرحبا بك محمد! هنا تستطيع إضافة ملاحظاتك وتعليقاتك عن مرشدك الطلابي بحيث نستطيع تقييمه وتطويره لكي يساعدك بشكل أفضل وبكل سرية! قبل أن تكتب التعليقات والملاحظات نودّ أن نخبرك بالتالي:</p>
<ul class="modal-intro">
<li>سنتعامل مع التعليقات بكل سرية ولن تظهر للمرشد الطلابي.</li>
<li>التعليقات تفيد في تقييم المرشد الطلابي وتطويره.</li>
<li>جميع التعليقات سُتأخذ في الحسبان وسيتم بناءً عليها تطوير برنامج المرشد الطلابي.</li>
<li>نرجو أن تكون التعليقات على شكل نقاط واضحة ومحددة بحيث نستطيع معالجة المشكلات إن وجدت.</li>
</ul>


<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="bulb-option end-feedback-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>
