<style>
.end-request-introduction{
    background: rgb(134, 213, 121);
}

.modal-footer{
    display: none;
}
</style>

<h2>أهلا بك في برنامج المرشد الطلابي!</h2>

<p class="studentguide-intro">مرحبًا {{ user.common_profile.ar_first_name }}! الآن بإمكانك اختيار مرشدًا طلابيًا ليكون عونًا لك في مجال اهتماماتك!</p>

<h3><span>رسالة برنامج المرشد الطلابي</span></h3>
<p class="studentguide-intro">يهدف البرنامج لنشر التعاون والمساعدة بين الطلاب والطالبات، وتمكين الجميع من الاستفادة من خبرات زملائهم الأكاديمية واللا أكاديمية ممن سبقوهم تحت ظل عمل مؤسساتي يتبع نادي الطلاب.</p>

<h3><span>حقوق الطالب المستجد</span></h3>
<ul class="studentguide-intro">
<li>الحصول على مرشد طلابي يناسب اهتماماته (العناية باللغة، البحث العلمي .. إلخ) بتصفح قائمة المرشدين الطلابيين واستعراض اهتماماتهم.</li>
<li>التواصل مع المرشد الطلابي والاستفادة من خبراته الأكاديمية واللا أكاديمية.</li>
<li>أن يكون المرشد الطلابي عونًا له في الانخراط في أنشطة نادي الطلاب وأن يعينه في مشواره الجامعي ويجيب على استفساراته بقدر المستطاع.</li>
<li>اجتماعات دورية مع المرشد الطلابي.</li>
<li>تغيير المرشد في حال عدم استجابته أو تعاونه، أو في حال الرغبة في الانضمام لمرشد آخر.</li>
<li>الانسحاب من البرنامج.</li>
</ul>

<h3><span>واجبات الطالب المستجد</span></h3>
<ul class="studentguide-intro">
<li>إتمام الاستبيان الدوري لبرنامج الإرشاد الطلابي ( بحيث يتم تقييم عمل المرشدين الطلابيين عبر الطلاب المستفيدين، وتقييم البرنامج ككل).</li>
<li>حضور الاجتماعات الدورية المقامة عبر المرشد الطلابي.</li>
</ul>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="bulb-option end-request-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>
