{% load studentguide_tags %}
<style>
.end-guide-introduction{
    background: rgb(134, 213, 121);
}

.modal-footer{
    display: none;
}
</style>

{% if user|has_guide_profile %}
<p style="text-align:center;" class="modal-intro">أنت <a href="{% url 'studentguide:my_profile' %}">مسجّل كمرشد طلابي</a>. شكرا لك!</p>

{% else %}
<h2>سجّل نفسك مرشدًا طلابيًا!</h2>


<p class="modal-intro">مرحبًا {{ user.common_profile.ar_first_name }}! نرجو منك الاطّلاع على الإرشادات التالية قبل أن تبدأ في رحلتك في الإرشاد الطلابي!</p>

<h3><span>رسالة برنامج المرشد الطلابي</span></h3>
<p class="modal-intro">يهدف البرنامج لنشر التعاون والمساعدة بين الطلاب والطالبات، وتمكين الجميع من الاستفادة من خبرات زملائهم الأكاديمية واللا أكاديمية ممن سبقوهم تحت ظل عمل مؤسساتي يتبع نادي الطلاب.</p>

<h3><span>واجبات المرشد الطلابي</span></h3>
<ul class="modal-intro">
<li>العناية بمجموعته الطلابية والحرص على فتح أبواب للتواصل بشكل ميسر ومستمر.</li>
<li>عقد اجتماعات دورية تناقش احتياجاتهم وتعالج مشاكلهم الأكاديمية واللا أكاديمية (اجتماعين كحد أدنى في الفصل الدراسي الواحد).</li>
<li>الحرص على أن تكون اجتماعات المرشد مع مجموعته الطلابية نافذة تُنقل عبرها مشاكل وشكاوى الطلاب للمعنيين بذلك من المسؤولين.</li>
<li>رفع تقرير يلخص كل اجتماع ومُخرجاته عبر بوابة إنجاز.</li>
<li>تعزيز روح المشاركة في الأنشطة الطلابية وإدراج أكبر عدد ممكن من الطلاب في أنشطة نادي الطلاب وتعريفهم بها لما فيه تطوير لمهاراتهم الأكاديمية واللا أكاديمية.</li>
<li>حث مجموعته الطلابية على تعبئة الاستبيان الدوري الخاص ببرنامج المرشد الطلابي.</li>
</ul>
<h3><span>حقوق المرشد الطلابي</span></h3>
<ul class="modal-intro">
<li>الترشح لجوائز برنامج المرشد الطلابي في نهاية العام.</li>
<li>إمكانية اختياره مجموعته الطلابية بحسب اهتمامه (مثلًا: المجال البحثي، أو اللغة الإنجليزية .. إلخ) وبناء على ذلك يقبل أو يرفض الطلبات المقدمه له.</li>
<li>إمكانية حضور المحاضرات وورش العمل التطويرية التي ستقام لتطوير المرشدين الطلابيين.</li>
<li>الانسحاب من البرنامج.</li>
</ul>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="bulb-option end-guide-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>
{% endif %}
