<style>
.end-report-introduction{
    background: rgb(134, 213, 121);
}

.modal-footer{
    display: none;
}
</style>

<h2>أضف تقريرًا</h2>

<p class="modal-intro">مرحبًا {{ user.common_profile.ar_first_name }}! هنيئًا لك إتمام اجتماعك مع مجموعتك الطلابية. هنا تُرفع تقارير الاجتماعات، نرجو منك الإطلاع على الإرشادات التالية لرفع التقارير بصورة واضحة:</p>
<ul class="modal-intro">
<li>أن يكون التقرير واضح وبسيط يلخص النقاط الرئيسية للاجتماع والطلاب الذين حضروا الاجتماع.</li>
<li>مشاكل ونقاط لم يتم حلها.</li>
<li>مشاكل تم حلها خلال الاجتماع.</li>
<li>ملاحظات تخص سير الاجتماعات مع الطلاب والانطباع العام للبرنامج، وأي اقتراحات تُذكر لتطوير برنامج المرشد الطلابي.</li>
</ul>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="bulb-option end-report-introduction">
            <div class="icon"><i class="fa fa-rocket"></i></div>			
            <h3>انطلق</h3>
        </button>
    </div>
</div>
