{% load bootstrap3 %}
<form enctype="multipart/form-data" id="edit-request-form" action="post">
{% csrf_token %}
{% bootstrap_form form %}
</form>
<script type="text/javascript">
$(function () {

    // modify form submission behaviour to be ajaxy
    $("form#edit-request-form").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var formData = new FormData($(this)[0]); 
        {% if guide_request %}{# if a guide_request is passed, then post to edit_request url, otherwise to add_request #}
        var url = "{% url 'studentguide:edit_request' guide_request.guide.pk guide_request.pk %}";
        {% else %}
        var url = "{% url 'studentguide:add_request' guide.pk %}";
        {% endif %}

        /* Send the data */
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                if (data.message == "success") {

                    // show success message (using toastr)
                    toastr.options.positionClass = "toast-top-left";
                    {% if report %}
                    toastr.success("عدلت طلب الإرشاد بنجاح.");
                    {% else %}
                    toastr.success("أرسلت طلب الإرشاد بنجاح.");
                    {% endif %}

                    // hide modal
                    $("#edit-request-modal").modal('hide');
                     window.location.href= data.list_url;
                } else {
                    $("#edit-request-modal .modal-body").html(data);
                }}
        });

    });
});
</script>