{% extends "studentguide_base.html" %}{% load staticfiles %}
{% block title %}مؤشرات الإرشاد الطلابي{% endblock %}

{% block content %}
<h1>مؤشرات الإرشاد الطلابي</h1>
<div class="row">
    <div class="col-xs-12">
            <h3>المرشدون الطلابيون</h3>
            {% include "studentguide/partials/guide_table.html" %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <h3>التقارير</h3>
            {% include "studentguide/partials/report_table.html" %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <h3>طلبات إرشاد معتمدة</h3>
            <table id="accepted-requests" class="table datatable">
                <thead>
                    <tr>
                        <th>مقدم الطلب</th>
                        <th>بريد مقدم الطلب</th>
                        <th>المرشد</th>
                        <th>حالة مقدم الطلب</th>
                        <th>حالة المرشد</th>
                        <th>تاريخ الإضافة</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guide_request in requests.accepted %}
                    <tr>
                        <td>{{ guide_request.user.common_profile.get_ar_full_name }}</td>
                        <td class="english-field"><a href="mailto:{{ guide_request.user.email }}">{{ guide_request.user.email }}</a></td>
                        <td><a href="{% url 'studentguide:show_guide' guide_request.guide.pk %}">{{ guide_request.guide.user.common_profile.get_ar_full_name }}</a></td>
                        <td>{{ guide_request.get_requester_status_display }}</td>
                        <td>{{ guide_request.get_guide_status_display }}</td>
                        <td data-order="{{ guide_request.submission_date|date:"U" }}">{{ guide_request.submission_date|date:"j F Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>طلبات إرشاد معلقة</h3>
            <table id="pending-requests" class="table datatable">
                <thead>
                    <tr>
                        <th>مقدم الطلب</th>
                        <th>بريد مقدم الطلب</th>
                        <th>المرشد</th>
                        <th>تاريخ الإضافة</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guide_request in requests.pending %}
                    <tr>
                        <td>{{ guide_request.user.common_profile.get_ar_full_name }}</td>
                        <td class="english-field"><a href="mailto:{{ guide_request.user.email }}">{{ guide_request.user.email }}</a></td>
                        <td><a href="{% url 'studentguide:show_guide' guide_request.guide.pk %}">{{ guide_request.guide.user.common_profile.get_ar_full_name }}</a></td>
                        <td data-order="{{ guide_request.submission_date|date:"U" }}">{{ guide_request.submission_date|date:"j F Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>طلبات إرشاد ملغية أو مرفوضة</h3>
            <table id="canceled-requests" class="table datatable">
                <thead>
                    <tr>
                        <th>مقدم الطلب</th>
                        <th>بريد مقدم الطلب</th>
                        <th>المرشد</th>
                        <th>حالة مقدم الطلب</th>
                        <th>حالة المرشد</th>
                        <th>تاريخ الإضافة</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guide_request in requests.canceled %}
                    <tr>
                        <td>{{ guide_request.user.common_profile.get_ar_full_name }}</td>
                        <td class="english-field"><a href="mailto:{{ guide_request.user.email }}">{{ guide_request.user.email }}</a></td>
                        <td><a href="{% url 'studentguide:show_guide' guide_request.guide.pk %}">{{ guide_request.guide.user.common_profile.get_ar_full_name }}</a></td>
                        <td>{{ guide_request.get_requester_status_display }}</td>
                        <td>{{ guide_request.get_guide_status_display }}</td>
                        <td data-order="{{ guide_request.submission_date|date:"U" }}">{{ guide_request.submission_date|date:"j F Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <h3>التغذية الراجعة</h3>
            <table id="feedback" class="table datatable">
                <thead>
                    <tr>
                        <th>تاريخ الإضافة</th>
                        <th>المرسل</th>
                        <th>المرشد</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in feedback %}
                    <tr>
                        <td data-order="{{ post.submission_date|date:"U" }}"><a href="{% url 'studentguide:show_feedback' post.guide.pk post.pk %}">{{ post.submission_date|date:"j F Y" }}</a></td>
                        <td>{{ post.submitter.common_profile.get_ar_full_name }}</td>
                        <td><a href="{% url 'studentguide:show_guide' post.guide.pk %}">{{ post.guide.user.common_profile.get_ar_full_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}
{% block customscript %}
<link rel="stylesheet" href="{% static 'css/chartist.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'js/datatables/buttons/buttons.dataTables.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/buttons.html5.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/datatables/buttons/jszip.min.js' %}"></script>

<script src="{% static 'js/chartist.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        language = {% include 'js/dataTables-arabic.json' %};
        $("#guides").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
            ],
            "order": [[ 8, "desc" ]],
            "language": language,
        });
        $("#feedback").DataTable({
            "order": [[ 0, "desc" ]],
            "language": language,
        });
        $("#reports").DataTable({
            "order": [[ 1, "desc" ]],
            "language": language,
        });
        $("#accepted-requests, #canceled-requests").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
            ],
            "order": [[ 5, "desc" ]],
            "language": language,
        });
        $("#pending-requests").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
            ],
            "order": [[ 3, "desc" ]],
            "language": language,
        });
    });
</script>
<style>

    h2, h3{
        background-color: rgb(250, 250, 250);
        padding: 5px;
        margin-top: 25px;
    }
</style>
{% endblock %}