{% load staticfiles %}
<script type="text/javascript">
    $(function () {
        // initialize supervisor edit modal
        $('#edit-supervisor-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $("a#add-supervisor").click(function () {
            $("#edit-supervisor-modal").modal('show');

            $("#edit-supervisor-modal .modal-title").html("Add supervisor");
            $("#edit-supervisor-modal .modal-body").load("{% url 'researchhub:add_supervisor' %}", function(){
                $("#id_available_from").attr('data-start-view', '1').datepicker({minDate: 0});
                $("#id_available_until").attr('data-start-view', '1').datepicker({minDate: 0});
            });

            var $submitButton = $("#edit-supervisor-modal button.submit-button");
            $submitButton.off('click');
            $submitButton.click(function () {
                $("form#edit-supervisor-form").submit();
            });
        });
    });
{% include 'bulb/adjust_modal_size.js' %}
</script>

{% with modal_id='edit-supervisor-modal' %}
    {% include "researchhub/partials/common_edit_modal.html" %}
{% endwith %}
