{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block pageheaderurl %}{% url 'books:list' %}{% endblock %}
{% block pageheader %}الكتب{% endblock %}

{% block navbar %}

	{% if perms.books.add_book %}
		<li><a href="{% url 'books:contribute' %}"><span class="glyphicon glyphicon-plus"></span> ساهم بكتاب!</a></li>
		{% if user.is_authenticated %}
			<li><a href="{% url 'books:review_requests' %}"><span class="glyphicon glyphicon-list-alt"></span>  طلبات استعارة كتبي</a></li>
			<li><a href="{% url 'books:my_requests' %}"><span class="glyphicon glyphicon-star"></span> طلباتي</a></li>
		{% endif %}
	{% endif %}
    
{% endblock %}
{% block content %}
{% endblock %}  
